  {% extends "_base.html" %} {% block title %}Using the Offline Trace tool{% endblock %} {% block body %}

  <h2 id="whatistheofflinetracetool">What is the Offline Trace tool?</h2>

  <p>The Offline Trace tool lets you view and analyze trace sessions that were previously saved. A
  saved trace session is essentially a "recording" of a trace session, and can be useful for cases
  where troubleshooting and further analysis is required. The UI for the Offline Trace tool is
  similar to the "live" Trace tool. To learn about the Trace Tool UI and on saving trace
  sessions, see <a href="/api-platform/debug/using-trace-tool-0.html">Using the Trace tool</a>. </p>

  <p style="margin-left: 40px;"><img alt="" src="/api-platform/images/offline-trace.png"></p>

  <h2 id="downloadingatracesession">Downloading a trace session</h2>

  <p>To download a trace session:</p>

  <ol>
    <li>Open the Trace Tool, as described in <a href="/api-platform/debug/using-trace-tool-0.html">Using the Trace tool</a>.</li>

    <li>Perform a trace.</li>

    <li>When the trace is completed, select <strong>Download Trace Session</strong>. </li>
  </ol>

  <p style="margin-left: 40px;"><img alt="" src="/api-platform/images/download-trace-button-full.png"></p>

  <p>The downloaded trace is stored in XML format.</p>

  <h2 id="openingtheofflinetracetool">Opening the Offline Trace tool</h2>
<p>To open the Offline Trace tool using the <b>New Edge UI</b>, select <b>Develop > Offline Trace</b> in the side-navigation bar.</p>
<p><img alt="" src="/api-platform/images/offline-trace-menu.png" width="200"></p>
<p>To open the Offline Trace tool using the <b>Edge Classic UI</b>:</p>

  <ol>
    <li>Select <strong>APIs &gt; API Proxies</strong> from the main Apigee Edge menu.</li>

    <li>On the API Proxies page, click <strong>Offline Trace</strong>. </li>
  </ol>

  <p style="margin-left: 40px;"><img alt="" src="/api-platform/images/offline-trace-button-full.png"></p>

  <h2 id="loadingatracefile">Loading a trace file</h2>

  <p>In the Offline Trace tool, click <strong>Choose File</strong> and select a downloaded trace
  file from your system. </p>

  <p style="margin-left: 40px;"> </p>

  <p style="margin-left: 40px;"><img alt="" src="/api-platform/images/offline-trace-choose-2.png"></p>

  {% endblock %}
