  {% extends "_base.html" %} {% block title %}Audits: API, Product, and organization history{% endblock %} {% block body %}

  <p>Apigee Edge provides a "history" feature that can be helpful in troubleshooting problems as
  well as managing API usage. The history feature enables you to view the operations (create,
  update, read, delete, deploy, undeploy) that have been performed on your APIs and API products
  over time. You can see who performed each operation, when the operation was performed, the
  request URI, and the response code. For update operations, you can also view the request body
  that was as passed in the API call.</p>

  <h2 id="retrievingapihistory">Retrieving API history</h2>

  <p>To view the history of an API:</p>

  <ol>
    <li>Select the API from the summary list on the API proxies page.</li>

    <li>On the API detail page, click Project, and choose API Proxy History.

      <p>This displays the history for the API.</p>

      <p><img src="/api-platform/images/API-History.png" width="650"></p>
    </li>

    <li>You can change the date range for the history to the last day, week, 2 months, 3 months, or
    year, by selecting from the menu next to Showing data for last.</li>

    <li>You can view the request body for update operations by clicking Show in the Request Body
    column for the operation.

      <p><img src="/api-platform/images/History-Request-Body.png" width="650"><img src=
      "/api-platform/images/History-Request-Body.png" width="650"><img src=
      "/api-platform/images/History-Request-Body.png" width="650"></p>
    </li>

    <li>When you mouse over the DEPLOY or UNDEPLOY verbs in the list, a tooltip shows the actual
    operation that was used in the underlying deploy or undeploy call (CREATE or DELETE). <br>
    <img alt="" src="/api-platform/images/api_deploy_history.png"></li>
  </ol>

  <h2 id="retrievingapiproducthistory">Retrieving API product history</h2>

  <p>To view the history of an API product:</p>

  <ol>
    <li>Select History in the Actions column for the product on the Products page.

      <p><img src="/api-platform/images/Product-history-button.png" width="650"></p>

      <p>This displays the history for the API product.</p>

      <p><img src="/api-platform/images/Product-history.png" width="650"></p>
    </li>

    <li>You can change the date range for the history to the last day, week, 2 months, 3 months, or
    year, by selecting from the menu next to Date Range.</li>

    <li>You can view the request body for update operations by clicking Show in the Request Body
    column for the operation.</li>
  </ol>

  <h2 id="viewingorganizationhistory">Viewing organization history</h2>

  <p>To view organization-level changes (Organization Administrator role), perform the following
  steps.</p>

  <p><strong>In the New Edge experience</strong>:</p>

  <ol>
    <li>Select <strong>Admin &gt; Audit Logs</strong>. </li>

    <li>Click within a row to view more information about a particular log, such as the management
    API call that was made and the operation that was executed.</li>
  </ol>

  <div class="video">
    <p><strong>Video:</strong> Watch a short video to learn more about viewing the organization
    history in the New Edge experience.</p>

    <div style="text-align: left; margin:15px">
      <iframe allowfullscreen="" frameborder="0" height="480" src=
      "https://www.youtube.com/embed/huCIDWJYOuI" width="560"></iframe>
    </div>
  </div>

  <p><strong>In Classic Edge</strong>:</p>

  <ol>
    <li>Select <strong>Admin &gt; Organization History</strong>.</li>

    <li>Click <strong>Details</strong> in row to see more information about a particular change,
    such as the management API call that was made and the operation that was executed.</li>
  </ol>

  <p><img alt="" src="/api-platform/images/org_history.png"></p>

  {% endblock %}
