  {% extends "_base.html" %} {% block title %}Analyze API use{% endblock %} {% block body %}

  <p>Apigee Edge Analytics collects and analyzes information flowing through APIs. Use it to
  understand your APIs' traffic.</p>

  <h3><a href="/api-platform/analytics/analytics-services-overview.html">Analytics overview</a></h3>

  <p>Get introduced to Edge analytics, which you can use to refine your APIs according to usage
  data.</p>

  <h3><a href="/api-platform/analytics/analytics-dashboards.html">Analytics dashboards</a></h3>

  <p>Use this jumping-off point to get to learn about the Edge dashboards for monitoring your API's
  health.</p>

  <h3><a href="/api-platform/analytics/using-analytics-dashboards.html">Using the Analytics dashboards</a></h3>

  <p>Learn about dashboard common features, dashboard layout, and tricks and tips.</p>

  <h3><a href="/api-platform/analytics/create-custom-reports.html">Create custom reports</a></h3>

  <p>Learn to create reports that provide a view customized for what you want to see.</p>

  <h3><a href="/api-platform/analytics/importexport-custom-reports.html">Export/import report definitions</a></h3>

  <p>Export and import custom reports between Edge environments.</p>

  <h3><a href="/api-platform/analytics/subscribe-daily-analytics-emails.html">Daily analytics API</a></h3>

  <p>Learn about the daily analytics email you can receive as an organization admin.</p>

  <h3><a href="/api-platform/analytics/use-analytics-api-measure-api-program-performance.html">Use the analytics API</a></h3>

  <p>See examples of how to use the analytics APIs.</p>

  <h3><a href="/api-platform/analytics/analyze-api-message-content-using-custom-analytics.html">Analyze API message content</a></h3>

  <p>Use policies to extract statistical request data and feed it to the analytics system.</p>

  <h3><a href="/api-platform/analytics/analytics-case-study.html">Troubleshooting with analytics</a></h3>

  <p>Use analytics data to troubleshoot API issues.</p>

  {% endblock %}
