  {% extends "_base.html" %} {% block title %}Create and manage custom reports{% endblock %} {% block body %}

  <div class="video">
    <p>Watch a video to learn how to create custom reports using the <strong>classic Edge
    UI</strong>.</p>

    <div style="text-align: left;">
      <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/lTcuc2so4oI" width="560"></iframe>
    </div>
  </div>

  <div class="video">
    <p>Watch a video to learn how to create custom reports using the <strong>New Edge experience
    UI</strong>.</p>

    <div style="text-align: left;">
      <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/p91de5WkR98" width="560"></iframe>
    </div>
  </div>

  <h2 id="viewingallcustomreports">Viewing all custom reports</h2>

  <p>You can view a list of all custom reports by selecting <b>Analytics &gt; Reports</b> from the
  main menu.</p>

  <p>The custom reports page displays all custom reports that have been created for your
  organization, as shown in the following figure:</p>

  <p><img alt="Custom reports dashboard" src="/api-platform/images/custom-reports.png" width="800"></p>

  <p>As highlighted in the figure, the custom reports page enables you to:</p>

  <ul>
    <li>View a list of all custom reports.</li>

    <li><a href="#add">Add a custom report</a>.</li>

    <li>Run a custom report by clicking its name in the list. The report is run using the data
    collected over the last hour by default and the data is displayed in the custom report
    dashboard. See <a href="#dashboard">Exploring the custom reports dashboard</a>.</li>

    <li>Search the list of custom reports by entering all or part of a relevant string in the
    search box; all displayed fields are searched for the string.</li>

    <li><a href="#roles">Manage custom roles</a> to manage access to a custom report.</li>

    <li><a href="#delete">Delete a custom report.</a></li>
  </ul>

  <h2 id="add">Adding a custom report</h2>

  <p>By adding custom reports, you can create a set of charts that provide insight into every
  aspect of your API program.</p>

  <h4>To add a custom report:</h4>

  <ol>
    <li>Select <strong>Analytics &gt; Reports</strong>.</li>

    <li>Click <b>+ Custom Report</b>.</li>

    <li>In the Basic section, enter the following information:

      <table>
        <tbody>
          <tr>
            <td><strong>Field</strong></td>

            <td><strong>Description</strong></td>
          </tr>

          <tr>
            <td>Report Name</td>

            <td>Name of the report.</td>
          </tr>

          <tr>
            <td>Report Description</td>

            <td>Description of the report.</td>
          </tr>

          <tr>
            <td>Chart Type</td>

            <td>
              Select the style of chart to use to present your custom analytics data.

              <ul>
                <li>Column: X-axis represents groups designated by dimensions.</li>

                <li>Line: X-axis represents time.</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </li>

    <li>In the Metrics section:

      <ol type="a">
        <li>Select the <a href="#settingmetricsdimensionsandfilters">metric</a> that you want to
        analyze.</li>

        <li>Select an <b>Aggregate Function</b> to display the Sum, Average, Min, or Max
        values.</li>

        <li>Click <b>+ Metric</b> to add additional metrics.<br>
        <img alt="" src="/api-platform/images/NewReport_v1.png"></li>
      </ol>
    </li>

    <li>In the Dimensions section, click <b>+ Dimension</b> and select a <a href="#settingmetricsdimensionsandfilters">dimension</a>,
      such as "Proxy", to constrain the data set
    used to generate the reports. You can add additional dimensions to further constrain the
    data.<br>
    <img alt="Dimension" src="/api-platform/images/dimension2.png"></li>

    <li>In the Filters section, further narrow the data displayed by adding
      <a href="#settingmetricsdimensionsandfilters">filters</a> to your report definition. For example, you
    could add a filter that excludes data for the weather API proxy or developer
    jane@example.com.<br>
      <img alt="" src="/api-platform/images/Filters_v1.png">

      <ol type="a">
        <li>Click <b>+ Filter Condition</b> and select the entity you want to filter on, and
        construct an expression with the Operator and Value to include or exclude data in the
        report.</li>

        <li>Click <img alt="checkmark icon" src="/api-platform/images/checkmark2.png">
         to save the filter.</li>

        <li>Click <b>+ Filter Condition</b> to add additional filters, and select an AND or OR
        connector.</li>
      </ol>
    </li>

    <li>Click <b>Save</b>.</li>
  </ol>

  <p>The report is run using the data collected over the last hour by default and the data is
  displayed in the custom report dashboard. See <a href="#dashboard">Exploring the custom reports dashboard</a>.</p>

  <h2 id="settingmetricsdimensionsandfilters"><a id="CustomMetrics" name="CustomMetrics"></a>Setting metrics, dimensions, and filters</h2>

  <p>When building a custom report, you'll select the metrics (type of data) you want to see, group
  the data in meaningful ways (dimensions), and optionally limit the data returned according to
  specific characteristics (filters). For descriptions of metrics, dimensions, and filters, see the
  <a href="/api-platform/analytics/analytics-reference.html">Analytics metrics, dimensions, and filters reference</a>.</p>

  <h2 id="dashboard">Exploring the custom report dashboard</h2>

  <p>The custom report dashboard, shown in the following figure, displays the results of your
  custom report for a specific time range. When you initially create a report, the report is run
  using the data collected over the last hour.</p>

  <p><img alt="Custom reports dashboard" src="/api-platform/images/custom-reports-dashboard-classic.png"></p>

  <p>As highlighted in the previous figure, the custom report dashboard enables you to:</p>

  <ul>
    <li>View custom report data for selected time range.</li>

    <li>Select the organization and environment for which you want to view custom report data.</li>

    <li>Select a specific dimension to filter the custom report data.</li>

    <li>Select the Chart or Table view.<br>
    <b>Note</b>: If your custom report includes many rows in the Summary table at the bottom of the
    Chart view, click Table to view the tabular information only. Use the <strong>Show up
    to</strong> drop-down to control the number of rows you want to display in the table. You can
    display up to 200 rows at a time.</li>

    <li>Refresh the display.</li>

    <li>Analyze a specific metric by clicking <b>Analyze</b> in the row of the associated metric.
    View anomalies, and compare it to a previous period or to other metrics.</li>

    <li><a href="#run">Run the custom report</a> by clicking and setting the time range.</li>

    <li><a href="#download">Download the custom report</a>.</li>

    <li><a href="#edit">Edit the custom report</a>.</li>
  </ul>

  <p>{% dynamic include /includes/___reused-topic-analytics-delay-interval-receiving-data %}</p>

  <h2 id="run">Running a custom report</h2>

  <p>To run a custom report for a specific time range:</p>

  <ol>
    <li>From the custom report dashboard, click the time range.<br>
    <img alt="Time Range" src="/api-platform/images/timerange.png" width="50%"></li>

    <li>Select a predefined or custom time range from the <b>Range</b> drop-down.</li>

    <li>For custom ranges only:

      <ul>
        <li>Select a start date, duration, and time unit (if applicable) in the drop-down, or use
        the calendar to select start and end dates.

          <aside class="note"><b>Note:</b> The maximum duration of a custom report is 15 days.</aside>

       </li>

        <li>Click <b>Single Date</b> to restrict the date selection in the calendar to a single
        date.</li>
      </ul>
    </li>

    <li>Click <b>Apply</b>.</li>
  </ol>

  <p>The results will be displayed in the custom report dashboard after the report completes.</p>

  <h2 id="download">Downloading a custom report</h2>

  <p>To download a custom report as a CSV (comma-separated value) format, in the custom report
  dashboard:</p>

  <ul>
    <li>Click <b>Combined CSV</b> to download the full report. The file is named as follows:
    <code><i>customreportname</i>.csv</code>, where <code><i>customreportname</i></code> is the
    custom report name converted to all lower-case, with spaces replaced by underscores. For
    example: <code>proxyerrorstargeterrors.csv</code>.</li>

    <li>Click <b>CSV</b> associated with a specific dimension. The file is named as follows:
    <code><i>dimension</i>.csv</code>, where <code><i>dimension</i></code> is the dimension name
    with spaces replaced by underscores. For example: <code>sum_of_proxy_errors.csv</code>.</li>
  </ul>

  <h2 id="roles">Managing custom roles for a custom report</h2>

  <p>From the custom reports page you can view and edit custom roles that are defined for a custom
  report by clicking <b>Roles</b> in the Actions column for the custom report.</p>

  <aside class="note"><b>Note:</b> Before you can manage roles, you must create the custom roles
  for custom reports as described in <a href="/api-platform/system-administration/creating-custom-roles.html">Creating custom roles in the UI</a>
    or <a href="/api-platform/system-administration/managing-roles-api.html">Creating roles with the API</a>.</aside>

  <p>Click <b>Edit</b> to edit the custom role settings.</p>

  <p>For information about assigning custom roles to a user, see
    <a href="/api-platform/system-administration/understanding-roles.html">Assigning roles</a>.</p>

  <h2 id="edit">Editing a custom report</h2>

  <p>To edit a custom report:</p>

  <ol>
    <li>View all custom reports.</li>

    <li>Click the name of the report that you want to edit.<br>
    The custom report is run against data collected for the last hour and the results are
    displayed.</li>

    <li>Click <strong>Edit</strong> on the custom reports dashboard.</li>

    <li>Edit the custom report details.</li>

    <li>Click <strong>Save</strong>.</li>
  </ol>

  <div>
    You are returned to the custom report results.
  </div>

  <h2 id="delete">Deleting a custom report</h2>

  <p>To delete a custom report:</p>

  <ol>
    <li>View all custom reports.</li>

    <li>Click <b>Delete</b> in the Actions column for the custom report you want to delete.</li>

    <li>Click <b>Delete</b> to confirm the delete operation.</li>
  </ol>{% endblock %}
