  {% extends "_base.html" %} {% block title %}Error Code Analysis Dashboard{% endblock %} {% block body %}

  <h2 id="whatdoesthisdashboardtellme">What does this dashboard tell me?</h2>

  <p>The Error Code Analysis dashboard tells you about error rates for API proxies and targets.</p>

  <p><strong><span style="font-size: 12px;">The Error Code Analysis dashboard (partially
  shown)</span></strong></p>

  <p><img alt="" src="/api-platform/images/error-code-analysis2.png"></p>

  <p>{% dynamic include /includes/___reused-topic-analytics-delay-interval-receiving-data %}</p>
 <div class="video">
    <p><strong>Video: </strong>Watch a short video for an overview of the Error Code Analysis dashboard.</p>

    <div style="text-align: left;">
      <p><iframe allowfullscreen="" frameborder="0" height="315"  src=
      "https://www.youtube.com/embed/qfm4sinOyIU" width="560"></iframe></p>
    </div>
  </div>

  <h2 id="whatdoesthisdashboardmeasure">What does this dashboard measure?</h2>

  <ul>
    <li><a href="#errorcomposition">Error Composition</a></li>

    <li><a href="#proxyerrors">Proxy Errors</a></li>

    <li><a href="#targeterrors">Target Errors</a></li>

    <li><a href="#errorsbyproxy">Errors by Proxy</a></li>

    <li><a href="#errorsbytarget">Errors by Target</a></li>

    <li><a href="#proxybyresponsecode">Proxy Errors by Response Code</a></li>

    <li><a href="#targetbyresponsecode">Target Errors by Response Code</a></li>
  </ul>

  <h3 id="whatdoesthisdashboardmeasure-errorcomposition"><a id="errorcomposition" name=
  "errorcomposition"></a>Error Composition</h3>

  <table width="600px">
    <tbody>
      <tr>
        <td width="222"><strong>Metric</strong></td>

        <td width="366"><strong>Description</strong></td>
      </tr>

      <tr>
        <td><strong>Total Errors</strong></td>

        <td>The <strong>total number of proxy errors + target errors</strong> that resulted from
        all requests and responses seen in an Apigee Edge organization over the specified time
        period.</td>
      </tr>

      <tr>
        <td><strong>Proxy Errors</strong></td>

        <td>The total number of proxy errors seen in an Apigee Edge organization in the specified
        time period. Proxy errors are measured between the time an entire request is received by
        Apigee Edge from a client and the time the request is sent to the backend target.</td>
      </tr>

      <tr>
        <td><strong>Target Errors</strong></td>

        <td>The total number of target errors seen in an Apigee Edge organization in the specified
        time period. Target errors are measured between the time an entire request is sent by
        Apigee Edge to a backend target and the time the response is returned the client app.</td>
      </tr>
    </tbody>
  </table>

  <h3 id="proxyerrors">Proxy Errors</h3>

  <table width="600px">
    <tbody>
      <tr>
        <td width="226"><strong>Metric</strong></td>

        <td width="362"><strong>Description</strong></td>
      </tr>

      <tr>
        <td><strong>Total Proxy Errors</strong></td>

        <td>The <strong>total number of proxy errors</strong> seen in an Apigee Edge organization
        in the specified time period. Proxy errors are measured between the time an entire request
        is received by Apigee Edge from a client and the time the request is sent to the backend
        target.</td>
      </tr>

      <tr>
        <td><strong>4XX</strong></td>

        <td>Shows the number proxy errors that resulted in HTTP 4xx errors. For a complete list of
        HTTP status codes, see "<a href=
        "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html">Status Code Definitions</a>" in
        the HTTP specification.  </td>
      </tr>

      <tr>
        <td><strong>5XX</strong></td>

        <td>Shows the number API requests that resulted in HTTP 5xx errors. For a complete list of
        HTTP status codes, see "<a href=
        "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html">Status Code Definitions</a>" in
        the HTTP specification.</td>
      </tr>
    </tbody>
  </table>

  <h3 id="targeterrors">Target Errors</h3>

  <table width="600px">
    <tbody>
      <tr>
        <td width="228"><strong>Metric</strong></td>

        <td width="360"><strong>Description</strong></td>
      </tr>

      <tr>
        <td><strong>Total Target Errors</strong></td>

        <td>The <strong>total number of target errors</strong> seen in an Apigee Edge organization
        in the specified time period. Target errors are measured between the time an entire request
        is sent by Apigee Edge to a backend target and the time the response is returned the client
        app.</td>
      </tr>

      <tr>
        <td><strong>4XX</strong></td>

        <td>The number target errors that resulted in HTTP 4xx errors. For a complete list of HTTP
        status codes, see "<a href="https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html">Status
        Code Definitions</a>" in the HTTP specification.</td>
      </tr>

      <tr>
        <td><strong>5XX</strong></td>

        <td>The number target errors that resulted in HTTP 5xx errors. For a complete list of HTTP
        status codes, see "<a href="https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html">Status
        Code Definitions</a>" in the HTTP specification.</td>
      </tr>
    </tbody>
  </table>

  <h3 id="errorsbyproxy">Errors by Proxy</h3>

  <table width="600px">
    <tbody>
      <tr>
        <td width="230"><strong>Metric</strong></td>

        <td width="358"><strong>Description</strong></td>
      </tr>

      <tr>
        <td><strong>&lt;<em>Proxy name</em>&gt;</strong></td>

        <td>
          <p>The total number of proxy errors seen in an Apigee Edge organization in the specified
          time period <strong>for each individual proxy</strong>. Hover over the bars to see the
          number of errors that came from the each proxy request flow and from the target request
          flow, respectively. </p>

          <p>Proxy errors are measured between the time an entire request is received by Apigee
          Edge from a client and the time the request is sent to the backend target.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h3 id="errorsbytarget">Errors by Target</h3>

  <table width="600px">
    <tbody>
      <tr>
        <td width="230"><strong>Metric</strong></td>

        <td width="358"><strong>Description</strong></td>
      </tr>

      <tr>
        <td><strong>&lt;<em>Target name</em>&gt;</strong></td>

        <td>
          <p>The total number of target errors seen in an Apigee Edge organization in the specified
          time <strong>for each individual target</strong>. The number of error calls that did not
          reach any target are listed in the Target Not Contacted column.  Hover over the bars
          to see the number of errors that came from the each proxy response flow and from the
          target response flow, respectively. </p>

          <p>Target errors are measured between the time an entire request is sent by Apigee Edge
          to a backend target and the time the response is returned to the client app. The
          chart shows the number of errors that came from the proxy response flow and from the
          target response flow, respectively. </p>
        </td>
      </tr>
    </tbody>
  </table>

  <h3 id="proxybyresponsecode">Proxy Errors by Response Code</h3>

  <table width="600px">
    <tbody>
      <tr>
        <td width="230"><strong>Metric</strong></td>

        <td width="358"><strong>Description</strong></td>
      </tr>

      <tr>
        <td><strong>&lt;<em>Response Code</em>&gt;</strong></td>

        <td>
          <p>The total number of proxy errors seen in an Apigee Edge organization in the specified
          time <strong>that returned each response code</strong>. Hover over the bars to see
          the number of errors that returned each response code.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h3 id="targetbyresponsecode">Target Errors by Response Code</h3>

  <table width="600px">
    <tbody>
      <tr>
        <td width="230"><strong>Metric</strong></td>

        <td width="358"><strong>Description</strong></td>
      </tr>

      <tr>
        <td><strong>&lt;<em>Response Code</em>&gt;</strong></td>

        <td>
          <p>The total number of target errors seen in an Apigee Edge organization in the specified
          time <strong>that returned each response code</strong>. Hover over the bars to see
          the number of errors that returned each response code.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 id="whatelsedoineedtoknowaboutthisdashboard">What else do I need to know about this
  dashboard?</h2>

  <p>You can view metrics for all proxies or drill into specific proxies using the <strong>Proxy
  Dimension</strong> dropdown menu at the top of the dashboard.</p>

  <p>This dashboard uses standard controls, like the date and data aggregation selectors, hovering
  over graphs for more context, exporting data to CSV, and so on. To learn more, see <a href=
  "/api-platform/analytics/using-analytics-dashboards.html">Using the analytics dashboards</a>.</p>

  {% endblock %}
