  {% extends "_base.html" %} {% block title %}Latency analysis dashboard{% endblock %} {% block body %}

  <p>{% dynamic include /includes/___edge-price-plan-note %}</p>

  <h2 id="whatdoesthisdashboardtellme">What does this dashboard tell me?</h2>

  <p>The Latency Analysis dashboard can alert you to any latency issues your API proxies may be
  experiencing. It displays latency measurements down to the window of a minute, highlighting the
  median, 95th percentile, and 99th percentile values.</p>

  <p>The median value tells you the point at which half of your traffic is experiencing latency
  that is less than this value and half of your traffic is experiencing latency that is greater
  than this value. For example, if the median response time latency for your selected API proxy is
  62 ms, it means that half of the responses from this API proxy take less than 62 ms. It also
  means that half of the responses from this API proxy take more than 62 ms.</p>

  <p>The 95th percentile and 99th percentile values tell you the point at which 95% and 99% of your
  traffic is experiencing latency that is less than these values. Or rather more importantly, it
  can point out outlying behavior, telling you that 5% and 1% of your traffic is experiencing
  latency values that are out-of-range.</p>

  <h3 id="whatdoesthisdashboardtellme-thelatencyanalysisdashboard">The Latency Analysis
  dashboard</h3>

  <p><img alt="" src="/api-platform/images/latencyv2.png" width="700"></p>

  

  <p>{% dynamic include /includes/___reused-topic-analytics-delay-interval-receiving-data %}</p>

  <h3 id="whatdoesthisdashboardtellme-whatdoesthisdashboardmeasure">What does this dashboard
  measure?</h3>

  <p>See also this interesting article on the Apigee Community site: <a href=
  "https://community.apigee.com/articles/2695/when-can-the-average-total-response-time-be-less-t.html">When
  can the Average Total Response Time be less than the Average Target Response Time?</a></p>

  <table>
    <thead>
      <tr>
        <th scope="col">Metric</th>

        <th scope="col">Description</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Response Time</td>

        <td>Total number of milliseconds it took to respond to a call. This time includes the
        Apigee API proxy overhead and your target server time.</td>
      </tr>

      <tr>
        <td>Target Response Time</td>

        <td>Number of milliseconds it took your target server to respond to a call. This number
        tells you how your own servers are behaving.</td>
      </tr>

      <tr>
        <td>Request Processing Latency</td>

        <td>
          <p>Number of milliseconds from the time when a call reaches the selected API proxy to the
          time when Apigee sends the call to your target server.</p>

          <p>Add the request and response latencies to calculate the final overhead the API proxy
          added to the call.</p>
        </td>
      </tr>

      <tr>
        <td>Response Processing Latency</td>

        <td>
          <p>Number of milliseconds from the time when the API proxy receives your target
          server&#8217;s response to the time when Apigee sends the response to the original
          caller.</p>

          <p>Add the request and response latencies to calculate the final overhead the API proxy
          added to the call.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h3 id="whatdoesthisdashboardtellme-whatelsedoineedtoknowaboutthisdashboard">What else do I need
  to know about this dashboard?</h3>

  <p>Select the API proxy for which you want to display latency values:</p>

  <p>This dashboard uses standard controls, like the date aggregation selector, hovering over
  graphs for more context, exporting data to CSV, and so on. To learn more, see <a href=
  "/api-platform/analytics/using-analytics-dashboards.html">Using the analytics dashboards</a>.</p>

  <p>For Public Cloud customers in multiple regions, on the Latency analysis dashboard you select
  to view latency data for a specific region by selecting it from the Region drop-down.</p>{% endblock %}
