  {% extends "_base.html" %} {% block title %}Developer engagement{% endblock %} {% block body %}

  <h2 id="whatdoesthisdashboardtellme">What does this dashboard tell me?</h2>

  <p>The Developer Engagement dashboard tells you which of your registered app developers are
  generating the most API traffic. For each of your developers, you can find out who is generating
  the most API traffic and the most errors. For example, if a particular developer's app is
  generating a lot of errors relative to other developers, you can pro-actively address the problem
  with that developer. </p>

  <p><strong><span style="font-size: 12px;">The Developer Engagement dashboard</span></strong></p>

  <p><img alt="" src="/api-platform/images/developer-engagement2.png"></p>

  <p>{% dynamic include /includes/___reused-topic-analytics-delay-interval-receiving-data %}</p>

  <h2 id="whatdoesthisdashboardmeasure">What does this dashboard measure?</h2>

  <ul>
    <li><a href="#engagement">Engagement</a></li>

    <li><a href="#activedevelopers">Active Developers</a></li>

    <li><a href="#analyze">Analyze</a></li>
  </ul>

  <h3 id="whatdoesthisdashboardmeasure-engagement"><a id="engagement" name="engagement"></a>Engagement</h3>

  <table width="600px">
    <tbody>
      <tr>
        <td width="222"><strong>Metric</strong></td>

        <td width="366"><strong>Description</strong></td>
      </tr>

      <tr>
        <td>Total Developers</td>

        <td>The total number of developers associated with APIs deployed to an organization.</td>
      </tr>

      <tr>
        <td>Developers with Apps</td>

        <td>The total number of developers associated with apps in an organization.</td>
      </tr>

      <tr>
        <td>Active Developers</td>

        <td>The number of developers generating any amount of API traffic. Developers may exist in
        the organization and have apps, but if their apps aren't making any API calls, they're not
        active.</td>
      </tr>

      <tr>
        <td>Highly Active Developers</td>

        <td>The number of developers generating API traffic exceeding 50 transactions per
        hour.</td>
      </tr>
    </tbody>
  </table>

  <h3 id="activedevelopers">Active Developers</h3>

  <p>"Active developers" means the number of developers generating any amount of API traffic.
  Developers may exist in the organization and have apps, but if their apps aren't making any API
  calls, they're not active.</p>

  <table width="600px">
    <tbody>
      <tr>
        <td width="226"><strong>Metric</strong></td>

        <td width="362"><strong>Description</strong></td>
      </tr>

      <tr>
        <td>App Name</td>

        <td>The name of the app.</td>
      </tr>

      <tr>
        <td>Proxy Name</td>

        <td>The name of the API proxy associated with the app.</td>
      </tr>

      <tr>
        <td>Developer Email</td>

        <td>The email address of the developer who registered the app.</td>
      </tr>

      <tr>
        <td>Product Name</td>

        <td>The product name associated with the app.</td>
      </tr>

      <tr>
        <td>Traffic</td>

        <td>The amount of traffic generated by the app for the selected time period.</td>
      </tr>

      <tr>
        <td>TPH</td>

        <td>The transactions per hour generated by the app for the selected time period.</td>
      </tr>

      <tr>
        <td>Errors</td>

        <td>The total number of errors generated by the app for the selected time period.</td>
      </tr>

      <tr>
        <td>Error Rate</td>

        <td>The error percentage calculated by dividing total errors by total traffic for the
        selected time period.</td>
      </tr>

      <tr>
        <td>Actions</td>

        <td>Click the <strong>Analyze</strong> button to see more details about an app. See
        <a href="#analyze">Analyze developer engagement</a> for details.</td>
      </tr>
    </tbody>
  </table>

  <h3 id="analyze">Analyze developer engagement</h3>

  <p>In this view, select the metric you wish to view for the selected app.</p>

  <p><img alt="" src="/api-platform/images/developer-engagement3.png"></p>

  <table width="600px">
    <tbody>
      <tr>
        <td width="228"><strong>Metric</strong></td>

        <td width="360"><strong>Description</strong></td>
      </tr>

      <tr>
        <td>Proxies used by &lt;<em>App Name</em>&gt;</td>

        <td>Measures all APIs that have traffic generated by the selected app.</td>
      </tr>

      <tr>
        <td>Traffic level of other apps using the same proxies</td>

        <td>Measures the API traffic flowing through all apps using the same set of APIs as the
        currently selected app.</td>
      </tr>

      <tr>
        <td>Other Apps by Developer</td>

        <td>Measures other apps generating traffic registered by the same developer as the
        developer of the selected app.</td>
      </tr>

      <tr>
        <td>Other Apps using the same Proxies</td>

        <td>Measures other apps, from the same developer or not, that use the same set of APIs used
        by the selected app.</td>
      </tr>
    </tbody>
  </table>

  <h2 id="whatelsedoineedtoknowaboutthisdashboard">What else do I need to know about this
  dashboard?</h2>

  <p>You can view metrics for all proxies or drill into specific proxies using the
  <strong>Metric</strong> dropdown menu at the top of the dashboard.</p>

  <p>This dashboard uses standard controls, like the date and data aggregation selectors, hovering
  over graphs for more context, exporting data to CSV, and so on. To learn more, see
    <a href="/api-platform/analytics/using-analytics-dashboards.html">Using the analytics dashboards</a>.</p>

  {% endblock %}
