{% extends "_base.html" %}
{% block title %}Step 2: Configure the extension for testing{% endblock %}
{% block body %}

{{ extensions_availability }}

  <p>Now that you've <a href="/api-platform/tutorials/add-extension/add-new-extension">added an
  extension</a>, you can configure an instance of that extension for use in an environment.</p>

  <p><strong>To configure the extension:</strong></p>
  <ol>
    <li>In the <strong>Extensions &gt; (My extension name)</strong> page, click <strong>test</strong> to configure for the test environment.
      <p><img src="/api-platform/images/extensions-select-test-config.png" class="screenshot" width="80%"/></p>
      <p>The <strong>Configurations: test</strong> dialog box displays:
      <p><img src="/api-platform/images/extensions-extension-configure.png" class="screenshot" width="50%"/></p>
    </li>
    <li>Enter the following values to configure this extension for use with the Stackdriver Logging
      service:
      <table>
        <thead>
          <tr>
            <th>Field</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Version</strong></td>
            <td>Select the extension version number to use. You might have multiple versions of the
              same extension installed on the system.</td>
          </tr>
          <tr>
            <td><strong>GCP&nbsp;Project&nbsp;ID</strong></td>
            <td>Enter your GCP project ID. This is the project for which Stackdriver logging in
              enabled, and which has a service account assigned a Log Writer role. (Note that the
              project ID and name could be different.
              <p>In the image below, `my-gcp-project` is used an example. However, you'll need to use
              your own project ID for the example to log messages.</p>
              <p>To get your project ID, open the {{gcp_console}} and go to <strong>IAM &amp; Admin
              &gt; Settings</strong>.</p>
            </td>
          </tr>
          <tr>
            <td><strong>Credentials</strong></td>
            <td>Paste the contents of the Service Account JSON file that you downloaded as part of
              <a href="/api-platform/tutorials/add-extension/intro#prerequisites">the
              Prerequisites</a>. Edge automatically Base64-encodes the JSON content.</td>
          </tr>
        </tbody>
      </table>
    <li>Click the <strong>Save</strong> button.</li>
    <li>To deploy the extension to the test environment, click <strong>Deploy</strong> in the
      <strong>test</strong> row.
      <p>Deploying the extension makes it available for requests from API proxies deployed to the
      same environment. You'll make those requests through the {{extension_callout_policy}}.</p>
      <p>When you click <strong>Deploy</strong>, you'll see a message such as "Deploying... This
      will take a few minutes." Don't worry, it probably won't take that long.</p>
      <p>When Apigee Edge has finished deploying the extension, its status will change to
      <strong>Deployed</strong>, as the following example shows:</p>
      <p><img src="/api-platform/images/extensions-extension-deployed-click-save.png" width="25%" class="screenshot"/></p>
    </li>
    <li>To check that your extension is deployed, click the <strong>Extensions</strong> breadcrumb
      link at the top of the page, as the following example shows:
      <p><img src="/api-platform/images/extensions-breadcrumb.png" width="50%" class="screenshot"/></p>
      <p>The extension you just deployed should appear in the list. If the list is long,
      you can filter it by typing your extension's name in the filter box at the top of the page.</p>
      <p><img src="/api-platform/images/extensions-extension-in-list-deployed.png" width="100%" class="screenshot"/>
    </li>
</ol>

  <aside class="success"><h3>Congratulations!</h3> You've deployed your extension! Now you're ready
  to try it out from an API proxy with the {{extension_callout_policy}}.</aside>

  <h3>Next step</h3>
  <p><a class="button button-disabled" href="/api-platform/tutorials/add-extension/add-new-extension">Step 1</a>
  <a class="button button-disabled" href="/api-platform/tutorials/add-extension/configure-for-testing">Step 2</a>
  <a class="button button-primary" href="/api-platform/tutorials/add-extension/extension-callout-policy">Step 3: Use an ExtensionCallout policy</a>
  <a class="button button-disabled" href="/api-platform/tutorials/add-extension/proxy-deployment">Step 4</a>
  <a class="button button-disabled" href="/api-platform/tutorials/add-extension/xtra-credit">Step 5</a></p>

{% endblock %}
