{% extends "_base.html" %}
{% block title %}Tutorial: Using extensions{% endblock %}
{% block body %}

{{ extensions_availability }}

<p>An <a href="/api-platform/extensions/extensions-overview">extension</a> is a kind of bridge
between your API proxies and an external resource. This tutorial shows you what an extension is,
and guides you through the following processes:</p>
  <table class="columns">
    <tbody>
      <tr>
        <td><ul><li>Create an extension</li></ul></td>
        <td><ul><li>Add it to your organization</li></ul></td>
        <td><ul><li>(Extra credit) Log a message flow variable</li></ul></td>
      </tr>
      <tr>
        <td><ul><li>Use an {{extension_callout_policy}}</li></ul></td>
        <td><ul><li>Add it to your API proxy</li></ul></td>
      </tr>
    </tbody>
  </table>

<h2 id="prerequisites">Prerequisites</h2>

  <p>Before you start this tutorial, make sure you've done all of the following:</p>

  <table class="green">
    <tbody>
      <tr>
        <th>Area</th>
        <th>What needs doing</th>
        <th>Done?</th>
      </tr>
      <tr>
        <td class="alt"><strong>New Edge experience</strong></td>
        <td>Apigee must enable the extensions feature for your Apigee Public Cloud organization. If
          it is, you will see an <strong>Extensions</strong> menu item in the <strong>Admin</strong>
          menu of the New Edge experience.
          <p>If not, please contact {{support}}.</p>
        </td>
        <td><input type="checkbox" id="checkbox1"></td>
      </tr>
      <tr>
        <td class="alt"><strong>Google&nbsp;Cloud&nbsp;Platform</strong></td>
        <td>
          <ol>
            <li>Create a project on <a href="https://console.cloud.google.com/" class="external">Google
              Cloud Platform</a>, if you don't already have one. Your API proxy will write log entries
              using this project.</li>
            <li>Enable Stackdriver logging for your Google Cloud Platform (GCP) project, as
              described in <a href="https://cloud.google.com/monitoring/accounts/guide#setup-account"
              class="external">Creating a Stackdriver account</a>.</li>
          </ol>
        </td>
        <td><input type="checkbox" id="checkbox1"></td>
      </tr>
      <tr>
        <td class="alt"><strong>Service Account</strong></td>
        <td>
          <ol>
            <li>Create or choose a GCP Service Account (SA) with which we'll authenticate to
              GCP. You can create an SA in the GCP console at <strong>IAM &amp; Admin &gt; Service
              accounts</strong>.</li>
            <li>Assign the "Logs Writer" role to the SA in <strong>Logging &gt; Logs
              Writer</strong>. For more information, see
              <a href="https://cloud.google.com/iam/docs/granting-roles-to-service-accounts#granting_access_to_a_service_account_for_a_resource" class="external">Granting roles to a service account for specific resources</a>.
            <li>Download an SA JSON file for configuring the extension. For more information see
            <a href="https://cloud.google.com/iam/docs/creating-managing-service-account-keys" class="external">Creating and managing service account keys</a>.</li>
          </ol>
        </td>
        <td><input type="checkbox" id="checkbox1" unchecked></td>
      </tr>
    </tbody>
  </table>

<h2>Ready? Let's begin!</h2>

  <p>To use extensions with Apigee Edge:</p>
  <ol>
    <li><strong><a href="/api-platform/tutorials/add-extension/add-new-extension">Step 1: Add an extension to Edge</a>.</strong> </li>
    <li><strong><a href="/api-platform/tutorials/add-extension/configure-for-testing">Step 2: Configure and deploy for testing</a>.</strong> </li>
    <li><strong><a href="/api-platform/tutorials/add-extension/extension-callout-policy">Step 3: Use an ExtensionCallout policy</a>.</strong> </li>
    <li><strong><a href="/api-platform/tutorials/add-extension/proxy-deployment">Step 4: Deploy your proxy</a>.</strong> </li>
    <li><strong><a href="/api-platform/tutorials/add-extension/xtra-credit">Step 5: Log a message flow variable</a>.</strong> </li>
  </ol>

{% endblock %}
