{% extends "_base.html" %}
{% block title %}Step 5: Log a message flow variable{% endblock %}
{% block body %}

{{ extensions_availability }}

  <p>In the <a href="policy-deployment">previous step</a>, you logged a static message that said
  "This is a test". A more realistic use case is logging the value of a
  <a href="/api-platform/fundamentals/introduction-flow-variables">message flow variable</a> in an
  API proxy flow.</p>

  <p>In this step, you'll log your client IP address, which is a property of the {{client_object}}
  flow variable.</p>

  <p><strong>To log your client IP address with your extension:</strong></p>

  <ol>
    <li>In the API proxy editor, select the <strong>Develop</strong> tab.</li>
    <li>Click your extension logging policy and change the value of <code>message</code>:
      <pre><strong>FROM:</strong>
"message": "This is a test"
<strong>TO:</strong>
"message": "Client IP: {client.ip}"</pre>
    </li>
    <li><strong>Save</strong> the proxy.</li>
    <li>Select the <strong>Trace</strong> tab.</li>
    <li>Click <strong>Start Trace Session</strong>, and click <strong>Send</strong>.</li>
    <li>Open the GCP console and go to <strong>Logging</strong>.</li>
    <li>Select the following:
      <ul>
        <li><strong>Global</strong>
        <li><strong>example-log</strong>
        <li><strong>Last Hour</strong>
      </ul>
      <p>You should see a log entry with your client IP address.</p>
      <p><img src="/api-platform/images/extensions-proxy-client-ip.png" width="90%"/></p>
    </li>
    <li>To delete Stackdriver log entries and start fresh, see
      <a href="https://cloud.google.com/sdk/gcloud/reference/beta/logging/logs/delete" class="external">gcloud beta
      logging logs delete</a>.</li>
  </ol>

  <aside class="success"><h3>Congratulations!</h3> You've logged a message flow variable with an
  extension!</aside>

  <h3>Next step</h3>
  <p>That's it! You're done for now. Go get a snack.</p>

{% endblock %}
