  {% extends "_base.html" %} {% block title %}Managing app developers{% endblock %} {% block body %}
  <p>Register and manage your app developers, as described in the following sections. (App registration is a
  separate process, as described in <a href=
  "/api-platform/publish/creating-apps-surface-your-api.html">Register apps and manage API
  keys</a>).</p>
<h2 id="intro">Introduction</h2>
  <p>Edge provides many benefits that are completely dependent on knowing who's calling your APIs.
  For example, API security, traffic management, and a fair amount of analytics data depend on
  knowing who's calling. And how does Edge know who's calling your APIs? By reading unique
  information in each API call, such as a user ID, an API key, or an OAuth token. That unique
  information locks or unlocks the functionality you build into your API proxies, giving you full
  control over API access and behavior.</p>
  <p>That's why app developers need to register to use your APIs. Once added, developers register
  their apps, choose the APIs they want to use, and receive the unique API credentials (consumer
  keys and secrets) needed to access your APIs.</p>

  <aside class="warning"><b>Warning:</b> API security, traffic management, and developer/app
  analytics are dependent on proper API proxy configuration. For example, you need to add the right
  policies to your proxies, such as API key validation or OAuth access token verification, quota
  enforcement, and rate limiting. Those policies identify which specific developer and app is
  making the call, which in turn enables API security enforcement, developer- or app-specific
  traffic management, API analytics capture, and other functionality. Technically, you could
  develop open APIs that don't check for API keys or access tokens, which means you wouldn't really
  need to register developers. But we strongly discourage this, because you lose API security, lose
  control over performance (through good traffic management), lose out on analytics data, and miss
  out on other major benefits that Edge provides.</aside>
<h3 id="registration-methods">How to register app developers</h3>
  <p>Register app developers using one of the following methods:</p>
  <ul>
    <li>If you have a paid Edge account, developers can self-register through a developer portal. For more information,
      see one of the following sections based on the type of developer portal:
      <ul>
        <li>Integrated portal: <a href="https://docs-new.apigee.com/portal-interact#register" target="_blank">Registering an app developer account</a></li>
        <li>Drupal 8 (Beta): <a href="https://www.drupal.org/docs/8/modules/apigee-edge/how-app-developers-interact-with-the-apigee-edge-module#registering-an-app-developer-account" target="_blank">Register an app developer account</a></li>
        <li>Drupal 7: <a href="/api-platform/publish/drupal/add-and-manage-user-accounts.html">Add and
    manage user accounts</a></li>
      </ul>
    <li>By accessing a form that uses the Edge management API to register the developer. See
    <a href="/api-platform/publish/using-edge-management-api-publish-apis.html">Using the Edge
    management API to Publish APIs</a>.</li>
    <li>As a developer portal administrator, manage developers directly on your portal, as described in the following sections:
    <ul>
        <li>Integrated portal: <a href="https://docs-new.apigee.com/api-portal-users" target="_blank">Managing user accounts</a></li>
        <li>Drupal 8 (Beta): <a href="https://www.drupal.org/docs/8/modules/apigee-edge/how-app-developers-interact-with-the-apigee-edge-module" target="_blank">How app developers interact with the Apigee Edge module</a></li>
        <li>Drupal 7: <a href="/api-platform/publish/drupal/add-and-manage-user-accounts.html">Add and
    manage user accounts</a></li>
      </ul></li>
        <li>As an Edge administrator, manage developers using the Edge UI or API, as described in the following sections.</li>
  </ul>
<h3 id="drupal">Recommendations for managing app developers on Drupal-based developer portals</h3>
<p>If you use the Drupal-based developer portal, Apigee
  recommends that you manage app developers directly on your portal, not using Edge. Managing developers directly on the developer portal provides
  the following advantages:</p>
  <ul><li>When you add a developer through the
  administrator interface on the portal, you can set the developer's password for the portal and
    trigger an automated email message sent to the developer.<p>When adding or modifying a
  developer using Edge, no email is sent to the developer and you cannot set the password for the
  developer on the portal. Therefore, the developer must reset their password on the portal before
    they can sign in to the portal.</p></li>
    <li>Any changes made to the
      developer's account on the portal are automatically sent to Edge. </li>
</ul>
<p>If you decide to manage app developers using Edge, you must <a href="#synchronize-portal-edge">synchronize app developers between the portal and Edge</a>.</p>
  <h2 id="ui">Exploring the Developers page</h2>
<p>Access and explore the Developers page using the New Edge UI and Classic Edge UI.
  <div class="ds-selector-tabs">
    <section>
      <h3 class="two-line-tab">New Edge UI</h3>
<p>To access the Developers page:</p>
      <ol>
        <li>Sign in to <a href="https://apigee.com/edge" target="_blank">apigee.com/edge</a>.</li>
          <li>Select <strong>Publish > Developers</strong> in the left navigation bar.</li>
      </ol>
       <p>The Developers page is displayed.</p>
      <p><img src="/api-platform/images/developers-ue.png" width="800"></p>
<p>As highlighted in the figure, the Developers page enables you to: </p>
<ul>
  <li><a href="#add">Add a developer</a></li>
  <li><a href="#edit">View and edit developer details</a></li>
  <li><a href="#custom-attributes">Manage custom attributes</a></li>
  <li><a hrer="#status">Activate or deactivate a developer</a></li>
<li><a href="#export">Export publishing data</a></li>
  <li><a href="#delete">Delete a developer</a></li>
  <li>Search the list of developers</li>
</ul>
    </section>
    <section>
      <h3 class="two-line-tab">Classic Edge UI</h3>
<p>To access the Developers page:</p>
      <ol>
        <li>Sign in to <a href="https://enterprise.apigee.com" target="_blank">enterprise.apigee.com</a>.</li>
          <li>Select <strong>Publish > Developers</strong> in the top navigation bar.</li>
      </ol>
       <p>The Developers page is displayed.</p>
      <p><img src="/api-platform/images/developers-classic.png" width="800"></p>
<ul>
  <li>View the list of developers</li>
  <li><a href="#add">Add a developer</a></li>
  <li>Manage developer details, including custom attributes, and activate a developer</li>
  <li><a href="#export">Export publishing data</a></li>
  <li><a href="#delete">Delete a developer</a></li>
  <li>Search the list of developers</li>
  <li>View the connected <a href="/api-platform/publish/drupal/what-developer-portal">developer portal</a> (Drupal 7 only)</li>
</ul>
</section>
</div>
{{ ue_note }}

  <h2 id="add">Adding a developer</h2>
<p>To add a developer:</p>
  <ol>
    <li><a href="#ui">Access the Developers page.</a></li>
    <li>Click <strong>+ Developer</strong>.</li>
    <li>Enter the developer details, including first name, last name, email, and username.</li>
    <li>Click <b>Create</b>.</li>
</ol>

  <h2 id="edit">Viewing and editing developer details</h2>
<p>View and edit developer details. For Monetization-enabled organizations, you can edit
  the monetizations properties defined in <a href="#monetization-properties">Configuring monetization properties</a>.</p>
<p>To view and edit developer details:</p>
  <ol>
    <li><a href="#ui">Access the Developers page.</a></li>

    <li>Click the row of the developer that you want to view and edit to expand the details.</li>
    <li>In the Details section, edit the the developer details, as required.</li>
    <li>Activate or deactivate the developer in the Status field.<br>For more information, see <a href="#status">Activating and deactivating a developer</a>.</li>
     <li>Configure <a href="#monetization-properties">monetization properties</a>, as required.</li>
</ol>

{{ limit_cps_caching }}

  <h2 id="custom-attributes">Managing custom attributes for a developer</h2>
<p>Add up to 18 custom attributes for each developer.</p>
      <p>To manage custom attributes:
      <ol>
    <li><a href="#ui">Access the Developers page.</a></li>
     <li>Click the row of the developer for which you want to manage custom attributes to expand the details.</li>
        <li>Click <b>+</b> in the Custom Attributes section.</li>
        <li>Enter the attribute name and value.</li>
        <li>Click <img src="/api-platform/images/checkmark-green.png" width="15">.</li>
  <li>To delete a custom attribute, position your cursor over the attribute and click <img src="/api-platform/images/delete-icon.png" width="15"> in the actions menu.</li>
</ol>

  <h2 id="status">Activating and deactivating a developer</h2>
<p>When an app developer self-registers in your portal, you can configure whether or not they are active by default.</p>

  <p>When a developer is inactive, the developer can still sign in to the developer portal and create apps, but none of
  the corresponding API keys will work. The developer's apps still retain their approved (or other)
  status, as do the API keys, even though they're not valid while the developer is inactive.</p>

  <!--<p>When a developer is inactive, and you view the Developer App Details page for each of the
  developer's apps in the management UI, the status label on the app and API keys appears in
  strikethrough text (<strike>Approved</strike> or <strike>Revoked</strike>); and if you mouse over
  the label, the tooltip says the developer is inactive. If you reactivate a developer, the
  strikethrough disappears, and approved apps and API keys are valid again.</p>-->
<aside class="note">When you deactivate a developer, it may take a few minutes for the change to be updated on all message
  processors. Until then, some calls by the developer's app may succeed.</aside>

<p>To activate or deactivate a developer:</p>
  <ol>
    <li><a href="#ui">Access the Developers page.</a></li>
     <li>Click the row of the developer that you want to activate or deactivate to expand the details.</li>
    <li>In the Details section, set the <b>Status</b> field to Active or Inactive, as required.</li>
    <li>Repeat the steps if the developer is in multiple organizations.</li>
  </ol>
  <h2 id="export">Exporting publishing data</h2>
<p>Export the following publishing data as a comma-separated values (CSV) file:</p>
  <ul>
    <li>Developer details</li>
    <li>Developer, application, and API product details</li>
</ul>
<p>To export publishing data:</p>
      <ol>
    <li><a href="#ui">Access the Developers page.</a></li>
        <li>Click <b>Export CSV...</b></li>
        <li>Select <b>Developers</b> or <b>Developers, Apps, and Products</b> from the drop-down.</li>
 </ol>
<p>The selected publishing data is downloaded as a CSV file.</p>
  <h2 id="deletingadeveloper">Deleting a developer</h2>
 <aside class="warning"><b>Warning:</b> Deleting developers completely removes them and their
  related artifacts (such as apps and API keys) from your organization. To avoid permanently
  deleting developers and their artifacts, consider <a href="#status">deactivating
  developers</a> instead.</aside>
<p>To delete a developer:</p>
       <ol>
    <li><a href="#ui">Access the Developers page.</a></li>
     <li>Position your cursor over the row of the developer that you want to delete to display the actions menu.</li>
        <li>Click <img src="/api-platform/images/delete-icon.png" width="15">.</li>
         <li>Click <b>Delete</b> to confirm the deletion.</li>
</ol>

<h2 id="synchronize-portal-edge">Synchronizing app developers between the portal and Edge</h2>

  <p>If you are using a Drupal-based developer portal to publish your APIs, changes made to app developers
using Edge are not propagated to the portal. You must sign in to the portal as
  a portal administrator and synchronize the portal with Edge for those changes to appear on the
  portal.</p>

  <aside class="note"><b>Note:</b> If you use the Drupal-based developer portal, Apigee
  recommends that you manage app developers directly on your portal, not using Edge. See <a href="#drupal">Recommendations for managing app developers on Drupal-base portals.</a></aside>
<p>To synchronize your developer portal with the app developers defined on Edge, refer to the following sections:</p>
<ul>
  <li>Drupal 8 (Beta): <a href="https://www.drupal.org/docs/8/modules/apigee-edge/synchronize-developers-with-apigee-edge" target="_blank">Synchronize developers with Apigee Edge</a></li>
  <li>Drupal 7: <a href="/api-platform/publish/drupal/communicating-between-developer-services-portal-and-edge#synchronize-portal-edge">Synchronizing app developers between the portal and Edge</a></li>
</ul>

  <h2 id="companies">Grouping developers into companies</h2>

  <p>With monetization, a company is a collection of developers managed as a single entity. A
  company can be any grouping that is appropriate to your organization such as business unit,
  product line, or division. Grouping developers into companies is useful when your need to
  have multiple developers associated under a single corporate entity. For example, you may
  need to set up different companies for billing purposes. However, developers in your organization
  don't need to be associated with a company. Note that a developer is always a single entity,
  uniquely identified by the email element. If a developer is part of a company you'll see the
  Company name on the Developers page. </p>

  <p>For more information about managing companies and developers for monetization, see <a href=
  "/api-platform/monetization/manage-companies-developers.html">Manage companies and
    developers</a>.</p>

  <h2 id="monetization-properties">Configuring monetization properties</h2>

<p>When editing a developer using the <a href="#edit">UI</a> or creating or editing a developer using the <a href="#api">API</a>, you can configure the monetization properties defined in the following table.
Initially, you configure the monetization properties for the organization when <a href="/api-platform/monetization/edit-organization-profile">editing the organization profile</a>.</p>

  <aside class="note"><b>Note:</b> In order to subscribe to a rate plan, if the developer is not
  grouped with a company, then the following monetization attributes must be defined for the
  developer: Address and Legal Name.</aside>

  <table>
    <thead>
      <tr>
        <th width="150">Field</th>
       <th>Custom attribute</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
       <tr>
        <td>Address</td>
         <td><code>MINT_DEVELOPER_ADDRESS</code></td>
        <td>
          <p>Address of the developer, including the following fields: Address (lines 1 and 2), City, State, Zip Code, and Country.</p>

          <p><strong>Note</strong>: The address is required if the developer is not grouped with
          a company and wants to subscribe to a published rate plan.</p>
        </td>
      </tr>
      <tr>
        <td>Billing Profile</td>
         <td><code>MINT_BILLING_PROFILE</code></td>
        <td><p>Billing cycle for your organization. Valid values include:</p>
          <ul><li><code>PRORATED</code>: Billing is based on the number of days that an API product is used in a calendar month.</li>
            <li><code>CALENDAR_MONTH</code>: Billing is done monthly.</li></ul>
        </td>
      </tr>
      <tr>
        <td>Billing Type</td>
         <td><code>MINT_BILLING_TYPE</code></td>
        <td>
          {{ monetization_billing_type }}
        </td>
      </tr>
      <tr>
        <td>Category</td>
         <td><code>MINT_DEVELOPER_CATEGORY</code></td>
        <td>Developer category to which you want to add the developer. A developer category is a
        grouping of developers or companies with similar characteristics. For more information, see
        <a href="/api-platform/monetization/manage-developer-categories">Manage developer
        categories</a>.</td>
      </tr>
      <tr>
        <td>Company ID</td>
         <td><code>MINT_COMPANY_ID</code></td>
        <td>Company ID, if applicable. For more information, see <a href="#companies">Grouping
        developers into companies</a>.</td>
      </tr>
      <tr>
        <td>Developer Type</td>
         <td><code>MINT_DEVELOPER_TYPE</code></td>
        <td>Developer type. Valid values include: <code>TRUSTED</code> or
        <code>UNTRUSTED</code></td>
      </tr>
            <tr>
        <td>Is Broker</td>
         <td><code>MINT_IS_BROKER</code></td>
        <td>Flag that specifies whether the revenue is based on net.</td>
      </tr>
      <tr>
        <td>Legal name</td>
         <td><code>MINT_LEGAL_NAME</code></td>
        <td>Legal name of the developer that will be used in all reports.<br>
        <strong>Note</strong>: This attribute is required if the developer is not grouped with a
        company and wants to subscribe to a published rate plan.</td>
      </tr>
      <tr>
        <td>Self Billing</td>
         <td><code>MINT_HAS_SELF_BILLING</code></td>
        <td>Flag that specifies whether self-billing invoices are enabled. If enabled
        (<code>true</code>), monetization generates a self-billing invoice instead of a revenue
        share statement. A self-billing invoice is a financial document that details the amount due
        to the developer. It acts as an invoice to the API Provider on behalf of the
        developer.</td>
      </tr>
 <!--     <tr>
        <td>N/A</td>
        <td><code>MINT_SUPPORTED_CURRENCY</code></td>
        <td>Specifies the <a href="https://en.wikipedia.org/wiki/ISO_4217" target="new">ISO 4217
        code</a> for the "base" or accounting currency that the developer uses (such as USD for
        Unites States dollar).</td>
      </tr>-->

      <tr>
        <td>Tax Exempt Auth #</td>
         <td><code>MINT_TAX_EXEMPT_AUTH_NO</code></td>
        <td>Government tax exemption number, if applicable.</td>
      </tr>
           <tr>
        <td>Tax Rate</td>
          <td><code>MINT_APPROX_TAX_RATE</code></td>
        <td>Approximate tax rate for the developer. Specify a decimal value with a maximum number of 3 characters before the decimal and 4 characters after the decimal.</td>
      </tr>
    </tbody>
  </table>
<h2 id="api">Managing developers using the API</h2>
<p>Manage developers using the Edge Management <a href="https://apidocs.apigee.com/api/developers-0" target="_blank">Developer APIs</a>.</p>
<p>When creating and updating
  a developer, you can configure monetization properties by setting the custom attributes described in <a href="#monetization-properties">Configuring monetization properties</a>.</p>



  {% endblock %}
