  {% extends "_base.html" %} {% block title %}Attaching a policy to a ProxyEndpoint or
  TargetEndpoint Flow{% endblock %} {% block body %}

  <p>Policies are not executed until they are attached to a Flow. You can create a Policy
  attachment by naming a Policy in a Step configuration.</p>

  <p>The choice of attachment point is critical to the behavior of your API proxy. For example, if
  you attach the Quota policy to a response Flow, then the Quota would be enforced <i>after</i> the
  request message was sent to the backend service. That would defeat the purpose of applying a
  Quota policy! Therefore, you need to attach the Quota policy as a processing Step on the request
  Flow.</p>

  <p>The format of a policy attachment is:</p>
  <pre class="prettyprint">
&lt;Step&gt;
    &lt;Name&gt;{policy_name}&lt;/Name&gt;
&lt;/Step&gt;
</pre>

  <p>For example:</p>
  <pre class="prettyprint">
&lt;Step&gt;
    &lt;Name&gt;QuotaPolicy&lt;/Name&gt;
&lt;/Step&gt;
</pre>

  <aside class="note"><b>Note:</b> The <code>{policy_name}</code> variable must be the same as the
  <code>name</code> attribute in the policy (stored under /policies) that you want to attach. The
  names must match exactly, as name matching is case-sensitive.</aside>

  <p>A policy is attached to a Flow by adding the Step configuration to the appropriate request or
  response Flow element in a ProxyEndpoint or TargetEndpoint configuration.</p>

  <p>You can attach a policy to a request or response Flow. Request and response Flows are further
  subdivided in to PreFlow and PostFlow.</p>

  <p>The following example demonstrates the minimal ProxyEndpoint configuration, with no policy
  attachments. It simply defines the (inbound) HTTPProxyConnection and a RouteRule.</p>
  <pre class="prettyprint">
&lt;ProxyEndpoint name="default"&gt;
    &lt;HTTPProxyConnection&gt;
        &lt;BasePath&gt;/weather&lt;/BasePath&gt;
        &lt;VirtualHost&gt;default&lt;/VirtualHost&gt;
    &lt;/HTTPProxyConnection&gt;
    &lt;RouteRule name="default"&gt;
        &lt;TargetEndpoint&gt;default&lt;/TargetEndpoint&gt;
    &lt;/RouteRule&gt;
&lt;/ProxyEndpoint&gt;
</pre>

  <p>You must modify this configuration so that the ProxyEndpoint enforces a Quota policy (as a
  processing Step) before the API proxy performs any other processing. If a developer has exceeded
  a Quota, you don't want to waste any computational resources on additional requests.</p>

  <p>To enforce this configuration, you attach a processing Step to the request PreFlow as
  follows:</p>
  <pre class="prettyprint">
&lt;ProxyEndpoint name="default"&gt;
  &lt;PreFlow&gt;
    &lt;Request&gt;
      &lt;Step&gt;&lt;Name&gt;QuotaPolicy&lt;/Name&gt;&lt;/Step&gt;
    &lt;/Request&gt;
  &lt;/PreFlow&gt;
  &lt;HTTPProxyConnection&gt; 
    &lt;BasePath&gt;/weather&lt;/BasePath&gt; 
    &lt;VirtualHost&gt;default&lt;/VirtualHost&gt; 
  &lt;/HTTPProxyConnection&gt; 
  &lt;RouteRule name="default"&gt; 
    &lt;TargetEndpoint&gt;default&lt;/TargetEndpoint&gt; 
  &lt;/RouteRule&gt; 
&lt;/ProxyEndpoint&gt;
</pre>

  <p>Sometimes, you might want a policy to execute after some other initial processing on the
  ProxyEndpoint. For example, you want to check Quota in the PreFlow, then perform another set of
  processing after Quota is checked, such as converting the request from JSON to XML. To do so,
  attach a policy to the PostFlow request path. The following is a sample request PostFlow
  attachment. This policy would execute on the request message after all of the policies in the
  PreFlow (and any conditional flows) execute.</p>
  <pre class="prettyprint">
&lt;PostFlow&gt;
  &lt;Request&gt;
    &lt;Step&gt;&lt;Name&gt;JSONtoXMLPolicy&lt;/Name&gt;&lt;/Step&gt;
  &lt;/Request&gt;
&lt;/PostFlow&gt;
</pre>

  <p>The following is a sample response PostFlow attachment. This policy would execute on the
  response message. (The ProxyEndpoint response PostFlow is the final processing phase before the
  response is returned to the requesting client app.)</p>
  <pre class="prettyprint">
&lt;PostFlow&gt;
  &lt;Response&gt;
    &lt;Step&gt;&lt;Name&gt;XMLtoJSONPolicy&lt;/Name&gt;&lt;/Step&gt;
  &lt;/Response&gt;
&lt;/PostFlow&gt;
</pre>

  <aside class="key-point"><b>Tip:</b> You can also define conditional Flows that execute
  <i>between</i> the PreFlow and PostFlow phases. This is covered in the next topic, <a href=
  "/api-platform/fundamentals/flow-variables-and-conditions.html">Flow variables and
  conditions</a>.</aside>{% endblock %}
