  {% extends "_base.html" %} {% block title %}Incorporating procedural code{% endblock %} {% block body %}

  <p>You can add code in procedural languages such as JavaScript, Java, and Python, then call out
  to that code from other parts of an API proxy. Support for procedural code is designed to make it
  easier for you to implement complex handling of flow variables, faults, and request and response
  bodies.</p>

  <p>With procedural code, you can:</p>

  <ul>
    <li>Create or manipulate complex body values, such as request and response values.</li>

    <li>Rewrite URLs, such as to mask a target endpoint URL.</li>

    <li>Add other logic not available with included policies.</li>
  </ul>

  <h2 id="howitworks">How it works</h2>

  <p>You use a policy specific to the language in order to make calls from a proxy flow to your
  included code. For each of the supported languages, Apigee Edge includes a separate policy:
  <a href="/api-platform/reference/policies/javascript-policy.html">JavaScript policy</a>, <a href=
  "/api-platform/reference/policies/java-callout-policy.html">Java Callout policy</a>, and <a href=
  "/api-platform/reference/policies/python-script-policy.html">Python Script policy</a>.</p>

  <p>The following describes, at a high level, one way this works. Be sure to see the policy
  references for more details.</p>

  <ol>
    <li>In a separate file, write the code you're going to use.</li>

    <li>In your code, put the result of the code's processing into an Apigee Edge flow variable.

      <p>You'll retrieve the variable value elsewhere in your API proxy. For more about flow
      variables, see <a href="/api-platform/fundamentals/introduction-flow-variables.html">Managing
      proxy state with flow variables</a>.</p>
    </li>

    <li>Add your file (or JAR) as a resource file to your API proxy.

      <p>For more about resource files, see <a href=
      "/api-platform/develop/resource-files.html">Resource files</a>.</p>
    </li>

    <li>Add the policy corresponding to the language you're using.

      <p>Configure the policy to make a call to your code from the desired place in your API
      proxy's flow.</p>
    </li>

    <li>Use a policy to retrieve the code's value from the flow variable.</li>
  </ol>

  <h2 id="limitations">Limitations</h2>

  <p>The Apigee Edge security model does not permit system calls such as network I/O, filesystem
  read/writes, current user info, process list, and CPU/memory utilization. Although some such
  calls may be functional, they are unsupported and liable to be actively disabled at any time. For
  forward compatibility, you should avoid making such calls in your code.</p>

  <p>Other limitations may exist for each supported language, as described in the language's
  corresponding policy reference.</p>

  <h2 id="supportedlanguages">Supported languages</h2>

  <h3 id="supportedlanguages-javascript">JavaScript</h3>

  <p>Support for JavaScript includes a full object model for handling variables and values specific
  to an API proxy. For more, see <a href=
  "/api-platform/reference/javascript-object-model.html">JavaScript object model</a>.</p>

  <p>For policy reference information and examples, see <a href=
  "/api-platform/reference/policies/javascript-policy.html">JavaScript policy</a>.</p>

  <ul>
    <li><a href=
    "/api-platform/samples/cookbook/programming-api-proxies-javascript.html">Programming API
    proxies with JavaScript</a></li>

    <li><a href=
    "/api-platform/samples/cookbook/implementing-http-clients-javascript.html">Implementing HTTP
    clients in JavaScript</a></li>

    <li><a href="/api-platform/samples/cookbook/building-baas-service-nodejs.html">Using Node.js to
    communicate with a backend data store</a></li>
  </ul>

  <p>For sample code, search <a href="/api-platform/samples/samples-reference.html">Samples
  list</a> for those with JavaScript included.</p>

  <h3 id="supportedlanguages-java">Java</h3>

  <p>Use the <a href="/api-platform/reference/policies/java-callout-policy.html">Java Callout
  policy</a> to make calls to Java code from your proxy's flow. The policy reference topic includes
  examples.</p>

  <p>You might also be interested in the following topics:</p>

  <ul>
    <li><a href="/api-platform/samples/cookbook/how-create-java-callout.html">How to create a Java
    callout</a></li>

    <li><a href="/api-platform/samples/cookbook/how-handle-java-callout-errors.html">How to handle
    Java Callout errors</a></li>

    <li><a href="/api-platform/samples/cookbook/how-use-properties-java-callout.html">How to use
    properties in a Java callout</a></li>
  </ul>

  <p>For sample code, search <a href="/api-platform/samples/samples-reference.html">Samples
  list</a> for those with Java included.</p>

  <h3 id="supportedlanguages-python">Python</h3>

  <p>Use the <a href="/api-platform/reference/policies/python-script-policy.html">Python Script
  policy</a> to call out to Python code.</p>

  <p>For sample code, search <a href="/api-platform/samples/samples-reference.html">Samples
  list</a> for those with Python included.</p>{% endblock %}
