  {% extends "_base.html" %} {% block title %}Installing Edge Microgateway{% endblock %} {% block body %}

  <p style="text-align: right;"><em>Edge Microgateway v. 2.3.x</em></p>

  <h2 id="audience">Audience</h2>

  <p>Use this guide if you need to install or uninstall Edge Microgateway.</p>

  

  <aside class="warning">
    <b>Warning:</b> If you are considering upgrading to v.2.3.3: If you have configured an HTTP
    proxy server for your Edge Microgateway setup, <strong>we recommend that you do not upgrade to
    version 2.3.3</strong>. The <strong>HTTP_PROXY</strong> variable and the
    <strong>edge_config:proxy</strong> and <strong>edge_config:proxy_tunnel</strong> config
    settings do not work in v. 2.3.3.

    
  </aside>

  <h2 id="prerequisites">Prerequisites</h2>

  <aside class="note"><b>Note:</b> <strong>Important:</strong> Edge Microgateway does not work with
  <a href="https://apigee.com/about/pricing/apigee-edge-pricing-features">Free Trial
  organizations</a>. If you have a Trial org and want to use Edge Microgateway, <a href=
  "https://pages.apigee.com/contact-sales-reg.html?int_source=follow&amp;int_medium=website&amp;int_campaign=contact-us&amp;int_content=contact-us">
  contact Apigee sales</a> for more information. </aside>

  <ul>
    <li>You must have Node.js version 4.5 LTS or later installed on your system. See
    additional Node.js instructions below.</li>

    <li>Windows requires <a href="https://www.openssl.org/">OpenSSL</a> to be installed and added
    to the <span style="font-family:courier new,courier,monospace;">PATH</span>.</li>

    <li>If you are using Apigee Edge Private Cloud to configure with Edge Microgateway, you must be
    running Private Cloud version 4.15.07 or later. </li>
  </ul>

  <h2 id="installingnodejs">Installing Node.js</h2>

  <p>You must have Node.js version <strong>4.5 or later</strong> installed on your system. You
  can check by executing:</p>
  <pre class="prettyprint">
<strong>node -v</strong>
</pre>

  <p>There are many ways to obtain or update Node.js. For example, you can use HomeBrew, yum, or
  download it directly from the Node.js site: <code>https://nodejs.org/download.</code></p>

  <h2 id="installingedgemicrogatewayifyouhaveaninternetconnection">Installing Edge Microgateway if
  you have an internet connection</h2>

  <p>This section explains how to install Edge Microgateway and initialize a default
  configuration.</p>

  <ol>
    <li>Install the <strong>latest</strong> version of Edge Microgateway with <code>npm</code>
    using the following command. This command installs the software and puts
    the <code>edgemicro</code> executable in your path. To find out exactly where the
    following command installs Edge Microgateway, see <a href="#whereinstalled">Where is Edge
    Microgateway installed?</a>.
      <pre class="prettyprint">
npm install edgemicro -g
</pre>

      <p>To install a specific version of Edge Microgateway, you need to specify the
      <strong>version number</strong> in the installation command. <strong>If you do not specify
      the version number, the latest version will be installed.</strong> For example, to install
      version 2.3.1, use the following command. </p>

      <blockquote>
        <pre class="prettyprint">
npm install edgemicro@2.3.1 -g
</pre>
      </blockquote>
    </li>

    <li>Check the version number. For example, if you installed version 2.3.5:
      <pre class="prettyprint">
<strong>edgemicro --version</strong>
current nodejs version is v6.1.0
current edgemicro version is 2.3.5
</pre>
    </li>

    <li>Run this command to create a default configuration file in your home directory.
      <pre class="prettyprint">
<strong>edgemicro init</strong>
</pre>
    </li>

    <li>(Optional) A config file called <code>default.yaml</code> file was placed in your home
    directory in a subdirectory called <code>.edgemicro</code>. Check now to be sure this file
    exists:
      <pre class="prettyprint">
<strong>ls ~/.edgemicro
default.yaml</strong>
</pre>

      <p><strong>Note:</strong> In the Edge Microgateway docs, we refer to the home directory with
      the tilde (<code>~</code>), which is a UNIX shortcut. If you're on Windows, if you're running
      a shell that does not support the tilde, you will need to substitute the appropriate
      environment variable for the tilde in commands that reference the home directory. For
      example: <code>%USERPROFILE%/.edgemicro</code>.</p>
    </li>

    <li>Follow the steps in <a href=
    "/api-platform/microgateway/2.3.x/installing-edge-microgateway-v2.3.x.html">Installing Edge
    Microgateway</a>.</li>
  </ol>

  <h2 id="operatingedgemicrogatewayonwindowsasaservice">Operating Edge Microgateway on Windows as a
  Service</h2>

  <p>You can operate Edge Microgateway on Windows as a service. For details, see <a href=
  "https://community.apigee.com/questions/32916/best-practices-for-operational-management-of-micro.html">
  Best practices for operational management of Microgateway (edgemicro) on Windows</a> on the
  Apigee Community.</p>

  <h2 id="caniinstalledgemicrogatewaywithoutaninternetconnection">Can I install Edge Microgateway
  without an internet connection?</h2>

  <p>On sites that do not have ready internet access, it is possible for an administrator to
  install and maintain a <a href=
  "https://docs.npmjs.com/misc/registry#can-i-run-my-own-private-registry">private npm registry</a>
  on your internal network. Instructions for setting up a private <code>npm</code> registry are
  beyond the scope of this guide; however, you can search for and find helpful instructions. With a
  private <code>npm</code> registry installed, you can follow the installation instructions given
  above.</p>

  <h2 id="gettingstarted">Getting started</h2>

  <p>If you're new to Edge Microgateway, the <a href=
  "/api-platform/microgateway/2.3.x/installing-edge-microgateway-v2.3.x.html">Installing Edge
  Microgateway</a>  is the best place to start after you complete the install. The setup
  and configuration guide covers all the steps you need to do to install, configure, start, and use
  an instance of Edge Microgateway.</p>

  <h2 id="whereisedgemicrogatewayinstalled"><a id="whereinstalled" name="whereinstalled"></a>Where
  is Edge Microgateway installed?</h2>

  <p>When you use <code>npm</code> with the global option (<code>npm install -g edgemicro</code>),
  the software is installed in <code>[prefix]/lib/node_modules/edgemicro</code>. You can find the
  value of <code>[prefix]</code> with this command:</p>
  <pre class="prettyprint">
<strong>npm config get prefix</strong>
</pre>

  <p>The value of <code>[prefix]</code> is configurable. See <a href=
  "https://docs.npmjs.com/files/folders">npm-folders</a> for more information. </p>

  <h2 id="uninstallingedgemicrogateway">Uninstalling Edge Microgateway</h2>

  <p>If you need to remove Edge Microgateway:</p>

  <ol>
    <li>Delete or archive the installation directory
    <code><strong>[prefix]/lib/node_modules/edgemicro</strong></code>, where [prefix] is the npm
    prefix as explained in <a href=
    "/api-platform/microgateway/2.3.x/installing-edge-microgateway-v2.3.x.html#whereisedgemicrogatewayinstalled">
    Where is Edge Microgateway installed</a>?</li>

    <li>Delete or archive the log files. By default, <code><strong>edgemicro-*.log</strong></code>
    files are in <code><strong>/var/tmp/</strong></code>, but this location is configurable. Check
    configuration file if in doubt, as explained in "<a href=
    "/api-platform/microgateway/2.3.x/operation-and-configuration-reference-edge-microgateway-v2.3.x.html#managinglogfiles">Managing
    log files</a>."</li>

    <li>Delete or archive the runtime config and cache config files:
      <pre class="prettyprint">
<strong>~/.edgemicro/*.yaml</strong>
</pre>
    </li>
  </ol>{% endblock %}
