  {% extends "_base.html" %} {% block title %}About global users{% endblock %} {% block body %}

  <p>All Edge users are called global users because they are created outside of any Edge
  organization. Once created, a global user can then be assigned to one or more organizations:</p>

  <p><img alt="" src="/api-platform/images/globalUserRoles.png"></p>

  <p>When you assign a user to an organization, you must specify the user's role in that
  organization. The user's role determines the actions that the user is allowed to perform in that
  organization. For example, some users are allowed to create APIs, while others can view APIs but
  cannot modify them. </p>

  <p>A global user can also be assigned to the role of Edge system administrator or Edge read-only
  system administrator. A system administrator performs all administrative tasks required to
  maintain Edge, including creating new global users.</p>

  <aside class="note"><b>Private Cloud:</b> In a Cloud-based installation of Edge, Apigee functions
  in the role of <strong>system administrator</strong> and <strong>read-only system
  administrator</strong>. You can only assign global users to the system administrator role in an
  Edge for the Private Cloud installation. </aside>

  <h2 id="whatinformationdefinesauser">What information defines a user?</h2>

  <p>An Edge user is defined by a:</p>

  <ul>
    <li>First name</li>

    <li>Last name</li>

    <li>Email address</li>

    <li>Password</li>
  </ul>

  <p>The email address and password function as the user's credentials when logging in to the Edge
  management UI and when making requests through the Edge management API. </p>

  <h2 id="whatareroles">What are roles?</h2>

  <p>On its own, a global user cannot do anything in Edge. For a global user to be able to
  function, the user must be assigned to a role. That role can be either:</p>

  <ul>
    <li><strong>A system administrator role</strong>: For an Edge for the Private Cloud
    installation only, allows the user to perform all Edge administrative tasks.</li>

    <li><strong>An organization role</strong>: For an organization, determines the actions allowed
    by the user in that organization.  </li>
  </ul>

  <p>Roles are essentially CRUD-based permission sets. CRUD means "create, read, update, delete".
  For example, a user may be given a role in an organization that permits read, or "get", access to
  details about a protected entity, but not write permission to update or delete it. The
  organization administrator is the highest-level role in the organization, and can perform any
  CRUD operation on any entity in the organization.</p>

  <h3 id="whatareroles-aboutpredefinedorganizationroles">About predefined organization roles</h3>

  <p>All Edge organizations are created with the following roles with a <a href=
  "/api-platform/system-administration/edge-built-roles.html">predefined set of
  permissions</a>:</p>

  <ul>
    <li>Organization Administrator</li>

    <li>Read-only Organization Administrator</li>

    <li>Operations Administrator</li>

    <li>Business User</li>

    <li>User</li>
  </ul>

  <p>You can also create custom roles, with custom permissions, in your organization.</p>

  <p>For more, see <a href=
  "/api-platform/system-administration/creating-custom-roles.html">Creating custom roles in the
  UI</a> or <a href="/api-platform/system-administration/managing-roles-api.html">Creating roles
  with the API</a>.</p>

  <h3 id="whatareroles-aboutthesystemadministratorroles">About the system administrator roles</h3>

  <p>Edge supports the following system administrator roles:</p>

  <ul>
    <li><a href="/api-platform/system-administration/system-administrator-role.html">System
    administrator role</a></li>

    <li><a href=
    "/api-platform/system-administration/read-only-system-administrator-role.html">Read-only system
    administrator role</a></li>
  </ul>

  <p>When you install Edge for the Private Cloud, the installation script prompts you to create the
  global user who functions as the system administrator. After installation, you can assign
  additional global users to the system administrator role. </p>

  <p>An Edge system administrator can:</p>

  <ul>
    <li>Create organizations, environments, and virtual hosts</li>

    <li>Add additional components to an Edge installation</li>

    <li>Configure TLS/SSL on a virtual host</li>

    <li>Create additional system administrators</li>

    <li>Perform all other Edge administrative tasks</li>
  </ul>

  <aside class="note"><b>Note:</b> While it is not required, you can assign a system administrator
  to an organization, typically as an organization administrator. Unless assigned to an
  organization, the system administrator cannot log in to the Edge management UI.</aside>

  <p>For more on the actions allowed by the system administrator, see
  <a href="/private-cloud/latest/operations-and-configuration">Edge Operations and Configurations</a>
  in the Edge Private Cloud documentation.</p>

  <h2 id="assigningglobaluserstoanorganization">Assigning global users to an organization</h2>

  <p>The following image shows the structure of an Edge organization:</p>

  <p><img alt="" src="/api-platform/images/orgUserDev.png"></p>

  <p>An organization contains two distinct types of users:</p>

  <ul>
    <li><strong>Organization users</strong>: Create, modify, and deploy APIs, create and manage
    entities such as API products, developers, and developer apps, generate analytics reports, and
    perform other administrative tasks. <strong>Organization users are Edge global users</strong>
    assigned to an organization with a specific role.</li>

    <li><strong>Developers</strong>: Build the apps that make requests to your APIs. <strong>A
    developer is not an Edge global user.</strong> Think of developers as your API customers. To
    access the APIs in your organization, a developer must register with the organization and then
    request an <em>API key</em>. A developer can be registered with multiple organizations to
    consume APIs from different organizations. </li>
  </ul>

  <p>The big difference between users and developers in an organization is that <strong>users are
  Edge global users that build and maintain APIs</strong>, while <strong>developers are customers
  that build apps that consume those APIs</strong>. Developers typically do not have global user
  accounts on Edge, and cannot log in to the Edge management UI. The exception to this is an
  organization user who creates their own developer and developer apps for testing purposes.</p>

  <aside class="note"><b>Note:</b> There is actually one more type of user that you have to be
  concerned with - the <strong>app user</strong>. This is the person who uses the apps created by
  <strong>developers</strong>. However, app users are not defined or controlled by Edge. It is up
  to you to decide how to implement authentication and authorization for app users. For example, an
  app might require the app user to log in. How you process that log in is up to you, possibly by
  accessing a backend LDAP service or other type of authentication mechanism.  </aside>

  <p>For more on developers, see <a href=
  "/api-platform/publish/publishing-overview.html">Introduction to publishing</a>.</p>{% endblock %}
