{% extends "_base.html" %}
{% block title %}Configure the Developer Services portal for SAML{% endblock %}
{% block body %}

  <p>The Developer Services portal acts as a client for Edge. That means the portal does not
  function as a stand-alone system. Instead, much of the information used by the portal is actually
  stored on Edge. When necessary, the portal makes a request to retrieve information from Edge or
  to send information to Edge.</p>

  <p>See <a href=
  "/api-platform/publish/drupal/communicating-between-developer-services-portal-and-edge">Communicating
  between the portal and Edge</a> for more information on how the portal communicates with
  Edge.</p>

  <p>By default the connection between the portal and Edge uses Basic Auth. If you enable SAML
  authentication on Edge, then the portal must be updated to use SAML authentication to connect to
  Edge.</p>

  <aside class="note"><strong>Note:</strong> After you enable SAML on the portal, the portal
  connects to Edge by using SAML authentication. However, portal developers&mdash;meaning the
  developers building apps by using your APIs&mdash;continue to log in to the portal using Basic
  Auth as defined by the portal.</aside>

  <p>To enable SAML on the portal, you must coordinate with Apigee Support:</p>

  <ol>
    <li>Contact {{support}} to enable SAML as described below in
      <a href="#enablingsamlforedge">Enabling SAML for Edge</a>.
      <aside class="note"><strong>Note:</strong> If you customized any Drupal modules used by the
      portal, such as the edge-php-sdk and the Apigee Profile Installation module. the process of
      enabling SAML may take additional time. Inform Apigee Support if you modified any Drupal modules
      when requesting SAML.</aside>
    </li>
    <li>Apigee Support will request that you update your portal in Pantheon to install the Drupal
      modules required to support SAML.</li>
    <li>After you update your portal, Apigee Support configures the portal to connect to Edge using
      SAML authentication. You can view and edit the new fields added to the portal for SAML
      configuration by going to the <strong>Configuration &gt; Dev Portal</strong> menu item in
      Drupal:
      <p><img alt="" src="/api-platform/images/portal-saml-v2.png"></p>
    </li>
  </ol>

{% endblock %}
