  {% extends "_base.html" %} {% block title %}Configuring TLS access to an API for the Cloud{% endblock %} {% block body %}

  <p>A virtual host on Edge defines the domains and ports on which an API proxy is exposed, and, by
  extension, the URL that apps use to access an API proxy.</p>

  <p>A virtual host also defines whether the API proxy is accessed by using the HTTP protocol, or
  by the encrypted HTTPS protocol that uses TLS. When configuring a virtual host to use HTTPS and
  TLS, you configure the virtual host to use a <em>keystore</em> and/or a <em>truststore</em>.</p>

  <p>Because Cloud customers can only create virtual hosts that support TLS, see
  <a href="/api-platform/fundamentals/configuring-virtual-hosts-cloud">Configuring virtual hosts for the Cloud</a>
  for instructions on creating a virtual host.</p>

 <p><strong>Learn more:</strong></p>

  <ul>
    <li><a href="about-ssl">About TLS/SSL</a></li>
    <li><a href="using-ssl-edge">Using TLS with Edge</a></li>
    <li><a href="/api-platform/fundamentals/virtual-hosts">About virtual hosts</a></li>
    <li><a href="/api-platform/fundamentals/virtual-host-property-reference">Virtual host property reference</a></li>
    <li><a href="keystores-and-truststores">Keystores and Truststores</a></li>
  </ul>

{% endblock %}
