  {% extends "_base.html" %} {% block title %}Creating keystores and truststore using
  the Edge management API{% endblock %} {% block body %}

  <p>This document describes how to create, modify, and delete keystores and trustrores for Edge
  for the Cloud and for Edge for the Private Cloud versions 4.18.01 and later.</p>

  <aside class="note"><b>Note:</b> To create keystores and truststores for Private Cloud
    version 4.17.09 and earlier, see <a href="create-keystores-and-truststores-private-cloud">Create
  keystores and truststores for the Private Cloud 4.17.09 and earlier</a>. </aside>

  <aside class="note"><b>Note:</b> The API examples below make requests to the URL of the
    Edge management API for the Cloud: <code>https://api.enterprise.apigee.com</code>.
    For Private Cloud installations, replace that URL with <code>https://<var>MS_IP</var>:8080</code>,
    where <var>MS_IP</var> is the IP address of the Management Server.</aside>

  <h2 id="introduction">Introduction</h2>

  <p>To configure functionality that relies on public key infrastructure, such as TLS, you need to
  create keystores and truststores that provide the necessary keys and digital certificates.</p>

  <p>For an introduction to keystores, truststore, and aliases, see
    <a href="keystores-and-truststores">Keystores and Truststores</a>.</p>

  <aside class="note"><b>Note:</b> This document describes how to use APIs to create keystores and
  truststores for the Edge Cloud. These APIs are not yet available in the Private Cloud. For more
  on creating keystores and truststores for the Private Cloud,
  see <a href="create-keystores-and-truststores-private-cloud">Create keystores and truststores for the Private Cloud</a>.</aside>

  <h2 id="create-a-keystore">Create a keystore</h2>

  <p>A keystore is specific to an environment in your organization, for example the test or prod
  environment. Therefore, if you want to test the keystore in a test environment before deploying
  it to your production environment, you must create it in both environments.</p>

  <p>To create a keystore in an environment:</p>

  <ol>
    <li>Use the API call in this section to create the keystore.</li>

    <li>Create an alias and upload a cert/key pair to the alias. The way you upload the cert and
    key is based on the format of the cert/key pair. The following sections describe how to upload
    each type of cert/key pair:

      <ul>
        <li><a href="#create-a-keystore-uploadacertandkeyasajarfile">Upload a cert and key as a JAR
        file</a></li>

        <li><a href="#upload-a-cert-and-key-as-pem-files">Upload a cert and key as PEM
        files</a></li>

        <li><a href="#upload-a-cert-and-key-as-a-pkcs12-pfx-file">Upload a cert and key as a
        PKCS12/PFX file</a></li>

        <li><a href="#create-and-upload-a-self-signed-cert-and-key">Upload a self-signed cert and
        key</a></li>
      </ul>
    </li>
  </ol>

  <p>To create a keystore specify the keystore name to the <a href=
  "/management/apis/post/organizations/{org_name}/environments/{env_name}/keystores">Create a
  Keystore or Truststore</a> API. The keystore name can only contain alphanumeric characters:</p>
  <pre class="devsite-terminal">
curl -X POST -u <em><strong>orgAdminEmail:password</strong></em> -H "Content-Type: text/xml" \
https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores \
-d '&lt;KeyStore name="<em><strong>myKeystore</strong></em>"/&gt;'
</pre>

  <p>Sample response:</p>
  <pre class="prettyprint">
{
 "certs" : [ ],
 "keys" : [ ],
 "name" : "myKeystore"
}
</pre>

  <h3 id="createakeystore-uploadacertandkeyasajarfile">Upload a cert and key as a JAR file</h3>

  <p>You must first create a JAR file with your private key, certificate, and a manifest. The JAR
  file must contain the following files and directories:</p>
  <pre class="prettyprint">
/META-INF/descriptor.properties
myCert.pem
myKey.pem
</pre>

  <p>A keystore JAR can contain only one certificate. If you have a certificate chain, all certs in
  the chain must be appended into a single PEM file, where the last certificate is signed by a CA.
  The certs must be appended to the PEM file in the correct order, with an empty line between each
  cert, meaning:</p>
  <pre class="prettyprint">
cert -&gt; intermediate cert(1) -&gt; intermediate cert(2) -&gt; &#8230; -&gt; root
</pre>

  <p>In the directory containing your key pair and certificate, create a directory called
  <code>/META-INF</code>. Then, create a file called descriptor.properties in
  <code>/META-INF</code> with the following contents:</p>
  <pre class="prettyprint">
certFile={myCertificate}.pem
keyFile={myKey}.pem
</pre>

  <p>Generate the JAR file containing your key pair and certificate:</p>
  <pre class="devsite-terminal">
jar -cf myKeystore.jar myCert.pem myKey.pem
</pre>

  <p>Add <code>descriptor.properties</code> to
  your JAR file:</p>
  <pre class="devsite-terminal">
jar -uf myKeystore.jar META-INF/descriptor.properties
</pre>

  <p>You can now upload your JAR files that contain a cert and private key by using the <a href=
  "/management/apis/post/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/aliases">
  Create an alias from a JAR or PKCS file</a> API:</p>
  <pre class="devsite-terminal">
curl -u <em><strong>orgAdminEmail:password</strong></em> -X POST -H "Content-Type: multipart/form-data" -F file="@myKeystore.jar" -F password={<em><strong>key_pword</strong></em>} \
"https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores/{<em><strong>keystore_name</strong></em>}/aliases?alias={<em><strong>alias_name</strong></em>}&amp;format=keycertjar"
</pre>

  <p>where the -F option specifies the path to the JAR file.</p>

  <p>In this call, you specify:</p>

  <ul>
    <li><strong><code><em>alias_name</em></code></strong> - Identifies the certificate and key in
    the key store. When you create a virtual host, you reference the certificate and key by its
    alias name.</li>

    <li><strong><code><em>key_pword</em></code></strong> - The password for the private key. Omit
    this parameter if the private key has no password.</li>
  </ul>

  <p>Verify that your keystore uploaded properly:</p>
  <pre class="devsite-terminal">
curl -u <em><strong>orgAdminEmail:password</strong></em> -X GET\
https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores/{<em><strong>keystore_name</strong></em>}
</pre>

  <p>Sample response:</p>
  <pre class="prettyprint">
{  
 "certs" : [ "myCertificate" ],
 "keys" : [ "myKey" ],
 "name" : "myKeystore"
}
</pre>

  <h3 id="upload-a-cert-and-key-as-pem-files">Upload a cert and key as PEM files</h3>

  <p>Upload PEM files that contain a cert and private key by using the <a href=
  "/management/apis/post/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/aliases-2">
  Create an alias from a certificate PEM file</a> API:</p>
  <pre class="devsite-terminal">
curl -u <em><strong>orgAdminEmail:password</strong></em> -X POST -H "Content-Type: multipart/form-data" -F keyFile="@server.key" -F certFile="@signed.crt" \
-F password={key_pword} \
"https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores/{<em><strong>keystore_name</strong></em>}/aliases?alias={<em><strong>alias_name</strong></em>}&amp;format=keycertfile"
</pre>

  <p>where the <code>-F</code> option specifies the path to the JAR file.</p>

  <p>In this call, you specify:</p>

  <ul>
    <li><strong><code><em>alias_name</em></code></strong> - Identifies the certificate and key in
    the key store. When you create a virtual host, you reference the certificate and key by its
    alias name.</li>

    <li><strong><code><em>key_pword</em></code></strong> - The password for the private key. Omit
    this parameter if the private key has no password.</li>
  </ul>

  <p>Verify that your keystore uploaded properly:</p>
  <pre class="devsite-terminal">
curl -u <em><strong>orgAdminEmail:password</strong></em> -X GET\
https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores/{<em><strong>keystore_name</strong></em>}
</pre>

  <p>Sample response:</p>
  <pre class="prettyprint">
{  
 "certs" : [ "myCertificate" ],
 "keys" : [ "myKey" ],
 "name" : "myKeystore"
}
</pre>

  <h3 id="upload-a-cert-and-key-as-a-pkcs12-pfx-file">Upload a cert and key as a PKCS12/PFX
  file</h3>

  <p>Upload a PKCS12/PFX file that contains a cert and private key by using the <a href=
  "/management/apis/post/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/aliases">
  Create an alias from a JAR or PKCS file</a> API:</p>
  <pre class="devsite-terminal">
curl -u <em><strong>orgAdminEmail:password</strong></em> -X POST -H "Content-Type: multipart/form-data" \
-F file="@myKeystore.p12" -F password={<em><strong>key_pword</strong></em>} \
"https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores/{<em><strong>keystore_name</strong></em>}/aliases?alias={<em><strong>alias_name</strong></em>}&amp;format=pkcs12"
</pre>

  <p>where the <code>-F</code> option specifies the path to the P12 file.</p>

  <p>In this call, you specify:</p>

  <ul>
    <li><strong><code><em>alias_name</em></code></strong> - Identifies the certificate and key in
    the key store. When you create a virtual host, you reference the certificate and key by its
    alias name.</li>

    <li><strong><code><em>key_pword</em></code></strong> - The password for the private key. Omit
    this parameter if the private key has no password.</li>
  </ul>

  <p>Verify that your keystore uploaded properly:</p>
  <pre class="devsite-terminal">
curl -u <em><strong>orgAdminEmail:password</strong></em> -X GET\
https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores/{<em><strong>keystore_name</strong></em>}
</pre>

  <p>Sample response:</p>
  <pre class="prettyprint">
{  
 "certs" : [ "myCertificate" ],
 "keys" : [ "myKey" ],
 "name" : "myKeystore"
}
</pre>

  <h3 id="create-and-upload-a-self-signed-cert-and-key">Create and upload a self-signed cert and
  key</h3>

  <p>You can use the <a href=
  "/management/apis/post/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/aliases-1">
  Create an alias by generating a self-signed certificate</a> API to create a self-signed cert and
  key and upload them to an alias. The following call specifies only the required information to
  create the self-signed cert. You can modify this call to add additional information:</p>
  <pre class="devsite-terminal">
curl -u <em><strong>orgAdminEmail:password</strong></em> -X POST --header "Content-Type: application/json"  \
-d "{
    "alias": "selfsigned",
    "subject": {
        "commonName": "mycert"
    }
}" \
"https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores/{<em><strong>keystore_name</strong></em>}/aliases?format=selfsignedcert"
</pre>

  <p>The response should appear as:</p>
  <pre class="prettyprint">
{
  "alias": "selfsigned",
  "certsInfo": {
    "certInfo": [
      {
        "basicConstraints": "CA:FALSE",
        "expiryDate": 1491497204000,
        "isValid": "Yes",
        "issuer": "CN=mycert",
        "publicKey": "RSA Public Key, 2048 bits",
        "serialNumber": "00:d1:b4:78:e1",
        "sigAlgName": "SHA256withRSA",
        "subject": "CN=mycert",
        "subjectAlternativeNames": [],
        "validFrom": 1459961204000,
        "version": 3
      }
    ],
    "certName": "selfsigned-cert"
  },
  "keyName": "selfsigned"
}
</pre>

  <h2 id="create-a-truststore">Create a truststore</h2>

  <p>The APIs that you use to create a truststore is the same as used to create a keystore. The
  only difference is that you only upload a cert file, as a PEM file, to the truststore.</p>

  <p>If the cert is part of a chain, then you must either upload all certs in the chain separately
  to the truststore, or create a single file containing all the certs. You must insert an empty
  line between each cert in the file.</p>

  <p>The final certificate is typically signed by the certificate issuer. For example, in the
  truststore, you upload a client certificate,client_cert_1, and the client certificate issuer's
  certificate, ca_cert.</p>

  <p>During two-way TLS authentication, client authentication succeeds when the server sends
  client_cert_1 to the client as part of the TLS handshaking process.</p>

  <p>Alternatively, you have a second cert, client_cert_2, signed by the same cert, ca_cert.
  However, you do not upload client_cert_2 to the truststore. The truststore still contains
  client_cert_1 and ca_cert.</p>

  <p>When the server passes client_cert_2 as part of TLS handshaking, the request succeeds. This is
  because Edge allows TLS verification to succeed when client_cert_2 does not exist in the
  truststore but was signed by the a cert that exists in the truststore. If you remove the CA
  certificate, ca_cert, from the truststore then TLS verification fails.</p>

  <p>Create an empty truststore in the environment by using <a href=
  "/management/apis/post/organizations/{org_name}/environments/{env_name}/keystores">Create a
  Keystore or Truststore</a>, the same API that you use to create a keystore:</p>
  <pre class="devsite-terminal">
curl -u <em><strong>orgAdminEmail:password</strong></em> -X POST -H "Content-Type: text/xml" \
-d '&lt;KeyStore name="myTruststore"/&gt;' \
https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores
</pre>

  <p>After you create the truststore, upload the certificate as a PEM file to the truststore by
  using the <a href=
  "/management/apis/post/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/aliases-2">
  Create an alias from a certificate PEM file</a> API:</p>
  <pre class="devsite-terminal">
curl -u <em><strong>orgAdminEmail:password</strong></em> -X POST -H "Content-Type: multipart/form-data" -F certFile="@cert.pem" \
"https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores/myTruststore/aliases?alias=myTruststore&amp;format=keycertfile"
</pre>

  <p>where the <code>-F</code> option specifies the path to the PEM file.</p>

  <h2 id="get-details-about-an-existing-keystore-or-truststore">Get details about an existing
  keystore or truststore</h2>

  <p>Check your environment for any existing keystores by using the <a href=
  "/management/apis/get/organizations/{org_name}/environments/{env_name}/keystores">List Keystores
  and Truststores</a> API:</p>
  <pre class="devsite-terminal">
curl -u <em><strong>orgAdminEmail:password</strong></em> -X GET \
https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores
</pre>

  <p>For cloud customers, a default keystore is provided for free trial organizations in both the
  test and prod environments. You should see the following results for this call for both
  environments:</p>
  <pre class="prettyprint">
[ "freetrial" ]
</pre>

  <p>You can use this default keystore to test your APIs, and push your APIs to production, but you
  typically create your own keystore, with your own cert and key, before you deploy to
  production.</p>

  <p>For Private Cloud customers, the returned array is empty until you create your first
  keystore.</p>

  <p>Check the contents of the keystore by using the <a href=
  "/management/apis/get/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}">
  Get a Keystore or Truststore</a> API. For a cloud customer, you should see a single server TLS
  certificate--the default certificate that Apigee Edge provides for free trial accounts.</p>
  <pre class="devsite-terminal">
curl -u <em><strong>orgAdminEmail:password</strong></em> -X GET\
https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores/freetrial
</pre>

  <p>The response should appear as:</p>
  <pre class="prettyprint">
{
 "certs" : [ "wildcard.apigee.net.crt" ],
 "keys" : [ "freetrial" ],
 "name" : "freetrial"
}
</pre>

  <h2 id="get-details-about-an-alias">Get details about an alias</h2>

  <p>Get a list of all aliases for an keystores by using the <a href=
  "/management/apis/get/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/aliases">
  List aliases</a> API:</p>
  <pre class="devsite-terminal">
curl -u <em><strong>orgAdminEmail:password</strong></em> -X GET \
"https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores/{keystore_name}/aliases"
</pre>

  <p>The response should appear as:</p>
  <pre class="prettyprint">
[
  "alias1",
  "alias2",
  "alias3",
]
</pre>

  <p>To get all information about an alias, such as expiration date and issuer, use the <a href=
  "/management/apis/get/organizations/{org_name}/environment/{env_name}/keystores/{keystore_name}/aliases/{alias_name}">
  Get alias</a> API and specify the alias name:</p>
  <pre class="devsite-terminal">
curl  -u <em><strong>orgAdminEmail:password</strong></em> -X GET \
"https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores/{keystore_name}/aliases/{<em><strong>alias_name</strong></em>}"
</pre>

  <p>The response should appear as:</p>
  <pre class="prettyprint">
{
  "alias": "alias1",
  "certsInfo": {
    "certInfo": [
      {
        "basicConstraints": "CA:TRUE",
        "expiryDate": 1459371335000,
        "isValid": "No",
        "issuer": "EMAILADDRESS=foo@bar.com, CN=smg, OU=doc, O=Internet Widgits Pty Ltd, L=noho, ST=Some-State, C=AU",
        "publicKey": "RSA Public Key, 1024 bits",
        "serialNumber": "00:86:a0:9b:5b:91:a9:fe:92",
        "sigAlgName": "SHA256withRSA",
        "subject": "EMAILADDRESS=foo@bar.com, CN=smg, OU=doc, O=Internet Widgits Pty Ltd, L=noho, ST=Some-State, C=AU",
        "subjectAlternativeNames": [],
        "validFrom": 1456779335000,
        "version": 3
      }
    ],
    "certName": "new\-cert"
  },
  "keyName": "newssl20"
}
</pre>

  <p>To download the cert for an alias, use the <a href=
  "/management/apis/get/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/aliases/{alias_name}/certificate">
  Export a certificate for an alias</a> API:</p>
  <pre class="devsite-terminal">
curl -u orgAdminEmail:password -X GET \
"https://api.enterprise.apigee.com/v1/e/{org_name}/e/{env_name}/keystores/{keystore_name}/aliases/{<em><strong>alias_name</strong></em>}/certificate"
</pre>

  <p>The response should appear as:</p>
  <pre class="prettyprint">
-----BEGIN CERTIFICATE-----
MIIDojCCAwugAwIBAgIJAIagm1uRqf6SMA0GCSqGSIb3DQEBCwUAMIGTMQswCQYD
...
RBUkaTe/570sLHY0tvkIm5tEX36ESw==
-----END CERTIFICATE-----
</pre>

  <p>If you have an expired cert and want to renew it, you can download a Certificate Signing
  Request (CSR). You then send the CSR to your CA to obtain a new cert. To generate a CSR for an
  alias, use the <a href=
  "/management/apis/get/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/aliases/{alias_name}/csr">
  Generate a CSR for an alias</a> API:</p>
  <pre class="devsite-terminal">
curl -u orgAdminEmail:password -X GET \
"https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores/{keystore_name}/aliases/{<em><strong>alias_name</strong></em>}/csr"
</pre>

  <p>The response should appear as:</p>
  <pre class="prettyprint">
-----BEGIN CERTIFICATE REQUEST-----
MIIB1DCCAT0CAQAwgZMxCzAJBgNVBAYTAkFVMRMwEQYDVQQIEwpTb21lLVN0YXRl
...
RF5RMytbkxkvPxIE17mDKJH0d8aekv/iEOItZ+BtQg+EibMUkkjTzQ==
-----END CERTIFICATE REQUEST-----
</pre>

  <h2 id="delete-a-keystore-truststore-or-alias">Delete a keystore/truststore or alias</h2>

  <p>You must use caution when deleting a keystore/truststore or alias. If you delete a keystore,
  truststore, or alias that is being used by a virtual host, target endpoint, or target server, all
  API calls through the virtual host or target endpoint/target server will fail.</p>

  <p>Typically, the process you use to delete a keystore/truststore or alias is:</p>

  <ol>
    <li>Create a new keystore/truststore or alias as described above.</li>

    <li>For <strong>inbound connections</strong>, meaning an API request into Edge, update the
    virtual host configuration to reference the the new keystore and key alias.</li>

    <li>For <strong>outbound connections</strong>, meaning from Apigee to a backend server:

      <ol>
        <li>Update the TargetEndpoint configuration for any API proxies that referenced the old
        keystore and key alias to reference the new keystore and key alias. If your TargetEndpoint
        references a TargetServer, update the TargetServer definition to reference the new keystore
        and key alias.</li>

        <li>If the keystore and truststore are referenced directly from the TargetEndpoint
        definition, then you must redeploy the proxy. If the TargetEndpoint references a
        TargetServer definition, and the TargetServer definition references the keystore and
        truststore, then no proxy redeployment is necessary.</li>

        <li>Confirm that your API proxies are functioning correctly.</li>

        <li>Delete the keystore/truststore or alias.</li>
      </ol>
    </li>
  </ol>

  <p>See <a href=
  "/management/apis/put/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/aliases/{alias_name}">
  Update the certificate in an alias</a> for more.</p>

  <h3 id="delete-a-keystore-or-truststore">Delete a keystore or truststore</h3>

  <p>You can delete a keystore or truststore by using the <a href=
  "/management/apis/delete/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}">
  Delete a Keystore or Truststore</a> API:</p>
  <pre class="devsite-terminal">
curl -u orgAdminEmail:password -X DELETE \
https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores/myKeystoreName
</pre>

  <p>If you delete and recreate a keystore or truststore that is being used by a virtual host, then
  you must redeploy your API proxies.</p>

  <h3 id="delete-an-alias">Delete an alias</h3>

  <p>You can delete an alias in a keystore or truststore by using the <a href=
  "/management/apis/delete/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/aliases/{alias_name}">
  Delete alias</a> API:</p>
  <pre class="devsite-terminal">
curl -u orgAdminEmail:password -X DELETE \
https://api.enterprise.apigee.com/v1/o/{org_name}/e/{env_name}/keystores/myKeystoreName/aliases/{<em><strong>alias_name</strong></em>}
</pre>

  {% endblock %}
