  {% extends "_base.html" %} {% block title %}Creating keystores and truststore using
  the Edge UI{% endblock %} {% block body %}

  <p>This document describes how to create, modify, and delete keystores and truststores for Edge
  for the Cloud and for Edge for the Private Cloud versions 4.18.01 and later.</p>

  <aside class="note"><b>Note:</b> Private Cloud version 4.17.09 and earlier do not let you create
  keystores and truststore in the Edge UI. To create keystores and truststores for a Private Cloud deployment of
  Edge version 4.17.09 and earlier, see <a href="create-keystores-and-truststores-private-cloud">Create
  keystores and truststores for the Private Cloud 4.17.09 and earlier</a>.</aside>

  <h2 id="implementingkeystoresandtruststoresinedge">Implementing keystores and truststores in
  Edge</h2>

  <p>To configure functionality that relies on public key infrastructure, such as TLS, you need to
  create keystores and truststores that contain the necessary keys and digital certificates.</p>

  <p>In Edge, keystores and truststores are both represented by a <strong>keystore</strong> entity
  that contain one or more <strong>aliases</strong>. That is, there is no implementation difference
  between a keystore and a truststore on Edge.</p>

  <p>The difference between keystores and truststore is derived from the kinds of entries that they
  contain and how they are used in TLS handshaking:</p>

  <ul>
    <li>keystore - a <strong>keystore</strong> entity that contains one or more
    <strong>aliases</strong>, where each alias contains a cert/key pair.</li>

    <li>truststore - a <strong>keystore</strong> entity that contains one or more
    <strong>aliases</strong>, where each alias contains a cert only.</li>
  </ul>

  <p>When configuring TLS for a virtual host or target endpoint, keystores and truststores provide
  different roles in the TLS handshaking process. When configuring a virtual host or target
  endpoint, you specify keystores and truststores separately in the <code>&lt;SSLInfo&gt;</code>
  tag, as shown below for a virtual host:</p>
  <pre class="prettyprint">
&lt;VirtualHost name="myTLSVHost"&gt; 
    &lt;HostAliases&gt; 
        &lt;HostAlias&gt;apiTLS.myCompany.com&lt;/HostAlias&gt; 
    &lt;/HostAliases&gt; 
    &lt;Interfaces/&gt; 
    &lt;Port&gt;9006&lt;/Port&gt; 
    <strong>&lt;SSLInfo&gt; 
        &lt;Enabled&gt;true&lt;/Enabled&gt; 
        &lt;ClientAuthEnabled&gt;false&lt;/ClientAuthEnabled&gt; 
        &lt;KeyStore&gt;ref://keystoreref&lt;/KeyStore&gt; 
        &lt;KeyAlias&gt;myKeyAlias&lt;/KeyAlias&gt; 
    &lt;/SSLInfo&gt;</strong>
&lt;/VirtualHost&gt;
</pre>

  <p>In this example, you specify the name of the keystore and alias used by the virtual host for
  its TLS keystore. You use a reference to specify the keystore name so that you can change it
  later when the cert expires. The alias contains a cert/key pair used to identify the virtual host
  to an TLS client accessing the virtual host. In this example, there is no truststore
  required.</p>

  <p>If a truststore is required, for example for a 2-way TLS configuration, use the
  <code>&lt;TrustStore&gt;</code> tag to specify the truststore:</p>
  <pre class="prettyprint">
&lt;VirtualHost name="myTLSVHost"&gt; 
    &lt;HostAliases&gt; 
        &lt;HostAlias&gt;apiTLS.myCompany.com&lt;/HostAlias&gt; 
    &lt;/HostAliases&gt; 
    &lt;Interfaces/&gt; 
    &lt;Port&gt;9006&lt;/Port&gt; 
    &lt;SSLInfo&gt; 
        &lt;Enabled&gt;true&lt;/Enabled&gt; 
        &lt;ClientAuthEnabled&gt;true&lt;/ClientAuthEnabled&gt; 
        &lt;KeyStore&gt;ref://keystoreref&lt;/KeyStore&gt; 
        &lt;KeyAlias&gt;myKeyAlias&lt;/KeyAlias&gt; 
       <strong> &lt;TrustStore&gt;ref://truststoreref&lt;/TrustStore&gt;</strong>
    &lt;/SSLInfo&gt;
&lt;/VirtualHost&gt;
</pre>

  <p>In this example, the <code>&lt;TrustStore&gt;</code> tag references a keystore only, it does
  not specify a specific alias. Each alias in the keystore contains a cert, or a cert chain, that
  is used as part of the TLS handshaking process.</p>

  <h2 id="using-the-default-apigee-keystore-and-cert-in-a-free-trial-organization">Using the
  default Cloud keystore and cert in a free trial organization</h2>

  <p>For all Cloud free trial organizations, Apigee creates a default keystore and alias. You
  should see a keystore named <code>freetrial</code> that contains an alias named
  <code>freetrial</code>. This alias contains the default certificate that Apigee provides for free
  trial accounts.</p>

  <p>Free trial organizations can use this default keystore and alias to test APIs, and even push
  APIs to production.</p>

  <div class="note&quot;">
    <p>Free trial organizations cannot use their own certs. They have to use the default keystore
    and Apigee-supplied cert. You can only upload your own certs after transitioning to a paid
    account.</p>
  </div>

  <p>After you transition to a paid account,you can:</p>

  <ul>
    <li>Create your own keystores</li>

    <li>Create your own truststores</li>

    <li>Upload your own certs and keys</li>

    <li>Configure your APIs to use your keystores/truststore/certs/keys</li>
  </ul>

  <h2 id="about-implementing-an-alias">About implementing an alias</h2>

  <p>On Edge, a <strong>keystore</strong> contains one or more <strong>aliases</strong>, where each
  alias contains:</p>

  <ul>
    <li>TLS certificate as a PEM or PKCS12/PFX file - either a certificate signed by a certificate
    authority (CA), a file containing a chain of certificates where the last certificate is signed
    by a CA, or a self-signed cert.</li>

    <li>Private key as a PEM or PKCS12/PFX file. Edge supports key sizes up to 2048 bits. A
    passphrase is optional.</li>
  </ul>

  <p>On Edge, a <strong>truststore</strong> contains one or more <strong>aliases</strong>, where
  each alias contains a:</p>

  <ul>
    <li>TLS certificate as a PEM file - either a certificate signed by a certificate authority
    (CA), a chain of certificates where the last certificate is signed by a CA, or a self-signed
    cert.</li>
  </ul>

  <p>Edge provides a UI and API that you use to create keystores, create aliases, upload cert/key
  pairs, and update certs. The UI and API that you use to create a truststore are the same as you
  use to create a keystore. The difference is that when you create a truststore, you create aliases
  that contain only a cert.</p>

  <h3 id="about-the-format-of-the-cert-and-key-files">About the format of the cert and key
  files</h3>

  <p>You can represent certs and keys as PEM files or as PKCS12/PFX files. PEM files comply with
  the X.509 format. If your cert or private key is not defined by a PEM file, you can convert it to
  a PEM file by using utilities such as <code>openssl</code>.</p>

  <p>However, many .crt files and .key files are already in the PEM format. If these files are text
  files, and are enclosed in:</p>
  <pre class="prettyprint">
-----BEGIN CERTIFICATE-----
-----END CERTIFICATE-----
</pre>

  <p>or:</p>
  <pre class="prettyprint">
-----BEGIN ENCRYPTED PRIVATE KEY-----
-----END ENCRYPTED PRIVATE KEY-----
</pre>

  <p>Then the files are compatible with the PEM format and you can use them in a keystore or
  truststore without converting them to a PEM file.</p>

  <h3 id="about-cert-chains">About cert chains</h3>

  <p>If a cert is part of a chain, you handle it differently based on whether the cert is used in a
  keystore or in a truststore:</p>

  <ul>
    <li>Keystore If a cert is part of a chain, then you must create a single file containing all
    the certs in the chain. The certs have to be in order and the last cert must be a root
    certificate or an intermediate cert signed by a root certificate.</li>

    <li>Truststore If a cert is part of a chain, then you must either create a single file
    containing all the certs and upload that file to an alias, or upload all certs in the chain
    separately to the truststore using a different alias for each cert. If you upload them as a
    single cert, the certs have to be in order and the last cert must be a root certificate or an
    intermediate cert signed by a root certificate.</li>

    <li>If you create a single file that contains multiple certs, you must insert an empty line
    between each cert.</li>
  </ul>

  <p>For example, you can combine all of the certs into a single PEM file. The certs have to be in
  order and the last cert must be a root certificate or an intermediate cert signed by a root
  certificate:</p>
  <pre class="prettyprint">
-----BEGIN CERTIFICATE----- 
(Your Primary TLS certificate) 
-----END CERTIFICATE----- 

-----BEGIN CERTIFICATE----- 
(Intermediate certificate) 
-----END CERTIFICATE-----
 
-----BEGIN CERTIFICATE----- 
(Root certificate or intermediate certificate signed by a root certificate) 
-----END CERTIFICATE-----
</pre>

  <p>If your certs are represented as PKCS12/PFX files, you can use the <code>openssl</code>
  command to create a PKCS12/PFX file from chain of certs, as shown below:</p>
  <pre class="devsite-terminal">
openssl pkcs12 -export -out certificate.pfx -inkey privateKey.key -in certificate.crt -certfile CACert.crt
</pre>

  <p>When working with cert cert chains in a truststore, you do not always have to upload all the
  certs in the chain. For example, you upload a client certificate, <code>client_cert_1</code>, and
  the client certificate issuer's certificate, <code>ca_cert</code>.</p>

  <p>During two-way TLS authentication, client authentication succeeds when the server sends
  <code>client_cert_1</code> to the client as part of the TLS handshaking process.</p>

  <p>Alternatively, you have a second cert, <code>client_cert_2</code>, signed by the same cert,
  <code>ca_cert</code>. However, you do not upload <code>client_cert_2</code> to the truststore.
  The truststore still contains only <code>client_cert_1</code> and <code>ca_cert</code>.</p>

  <p>When the server passes <code>client_cert_2</code> as part of TLS handshaking, the request
  succeeds. This is because Edge allows TLS verification to succeed when <code>client_cert_2</code>
  does not exist in the truststore but was signed by the a cert that exists in the truststore. If
  you remove the CA certificate, <code>ca_cert</code>, from the truststore then TLS verification
  fails.</p>

  <h2 id="view-an-alias">View an alias</h2>

  <p>To view information about an alias:</p>

  <ol>
    <li>Login to the Edge management UI at <a href=
    "https://enterprise.apigee.com/">https://enterprise.apigee.com</a>.</li>

    <li>In the Edge management UI menu, select the name of your organization.</li>

    <li>Depending on your version of the Edge UI:

      <ol style="list-style: lower-alpha outside">
        <li>If you are using the <strong>Classic Edge UI</strong>: Select <strong>APIs &gt;
        Environment Configuration</strong>.</li>

        <li>If you are using the <strong>New Edge UI</strong>: Select <strong>Admin &gt;
        Environment</strong>.</li>
      </ol>
    </li>

    <li>Select the Environment (typically <code>prod</code> or <code>test</code>).</li>

    <li>Select the <strong>TLS Keystores</strong> tab. The following screen appears:<br>
    <img alt="" src="/api-platform/images/keystores_new_ui_v1.png"></li>

    <li>Select an alias name under a keystore. For example, select "freetrial". The following
    pop-up appears showing details about the cert and key:<br>
    <img alt="" src="/api-platform/images/cert_pop_up_v1.png"><br>
    You can see all information about the alias, including the expiration date.</li>

    <li>Use the buttons at the bottom of the pop-up to:

      <ol style="list-style: lower-alpha outside">
        <li>Download the cert as a PEM file.</li>

        <li>Generate a CSR. If you have an expired cert and want to renew it, you can download a
        Certificate Signing Request (CSR). You then send the CSR to your CA to obtain a new
        cert.</li>

        <li>Update a certificate. <strong>Caution</strong>: If you update a certificate that is
        currently being used by a virtual host or target server/target endpoint then you must
        contact <a href="https://community.apigee.com/content/apigee-customer-support">Apigee
        Support</a> to restart the Routers and Message Processors. The recommended way to update a
        cert is to:

          <ol>
            <li>Create a new keystore or truststore.</li>

            <li>Add the new cert to the new keystore or truststore.</li>

            <li>Update the reference in the virtual host or target server/target endpoint to the
            keystore or truststore. See <a href=
            "https://docs.google.com/a/google.com/document/d/1P_MZVtmikPWT7N3hrKTK_jOf-uUdG-oTtTKswQFleWQ/edit?usp=sharing">
            Update a TLS certificate for the Cloud</a> for more.</li>

            <li>Delete the alias. <strong>Note</strong>: If you delete an alias, and it is
            currently being used by a virtual host or target endpoint, then the virtual host or
            target endpoint will fail.</li>
          </ol>
        </li>
      </ol>
    </li>
  </ol>

  <h2 id="create-a-keystore-truststore-and-alias">Create a keystore/truststore and alias</h2>

  <p>You can create a keystore for use as either an TLS keystore or an TLS truststore. A keystore
  is specific to an environment in your organization, for example the test or prod environment.
  Therefore, if you want to test the keystore in a test environment before deploying it to your
  production environment, you must create it in both environments.</p>

  <p>To create a keystore in an environment, you only need to specify the keystore name. After you
  create a named keystore in an environment, you can then create aliases and upload a cert/key pair
  (keystore) or upload a cert only (truststore) to the alias.</p>

  <p>To create a keystore:</p>

  <ol>
    <li>Login to the Edge management UI at <a href=
    "https://enterprise.apigee.com/">https://enterprise.apigee.com</a>.</li>

    <li>In the Edge management UI menu, select the name of your organization.</li>

    <li>Depending on your version of the Edge UI:

      <ol style="list-style: lower-alpha outside">
        <li>If you are using the <strong>Classic Edge UI</strong>: Select <strong>APIs &gt;
        Environment Configuration</strong>.</li>

        <li>If you are using the <strong>New Edge UI</strong>: Select <strong>Admin &gt;
        Environment</strong>.</li>
      </ol>
    </li>

    <li>Select the Environment (typically <code>prod</code> or <code>test</code>).</li>

    <li>Select the <strong>TLS Keystores</strong> tab.</li>

    <li>Select the <strong>+ Keystore</strong> button.</li>

    <li>Specify the keystore name. The name can only contain alphanumeric characters.</li>

    <li>Click <strong>Add</strong>. The new keystore appears in the UI.</li>

    <li>Use one of the following procedures to add an alias:

      <ol style="list-style: lower-alpha outside">
        <li><a href="#creating-an-alias-from-a-cert-truststore-only">Creating an alias from a cert
        (truststore only)</a></li>

        <li><a href="#creating-an-alias-from-a-jar-file-keystore-only">Creating an alias from a JAR
        file (keystore only)</a></li>

        <li><a href="#creating-an-alias-from-a-cert-and-key-keystore-only">Create an alias</a>
        <a href="#creating-an-alias-from-a-cert-and-key-keystore-only">from a cert and key
        (keystore only)</a></li>

        <li><a href="#creating-an-alias-from-a-pkcs12-pfx-file-keystore-only">Create an alias from
        a PKCS12/PFX file (keystore only)</a></li>

        <li><a href="#creating-an-alias-from-a-self-signed-certificate-keystore-only">Creating an
        alias from a self-signed certificate (keystore only)</a></li>
      </ol>
    </li>
  </ol>

  <h3 id="creating-an-alias-from-a-cert-truststore-only">Creating an alias from a cert (truststore
  only)</h3>

  <p>To create an alias from a cert:</p>

  <ol>
    <li>For the desired keystore, select the <strong>+</strong> button to add an alias.</li>

    <li>Specify the <strong>Alias Name</strong>.</li>

    <li>Select <strong>Certificate Only</strong> for <strong>Certificate Type</strong>.</li>

    <li>Select the <strong>Choose File</strong> button. A pop-up window opens to let you select the
    PEM file containing the cert.</li>

    <li>By default, the API checks to make sure the certificate hasn't expired. Optionally select
    <strong>Allow Expired Certificate</strong> to skip validation.</li>

    <li>Select <strong>Save</strong> to upload the cert and create the alias.</li>
  </ol>

  <h3 id="creating-an-alias-from-a-jar-file-keystore-only">Creating an alias from a JAR file
  (keystore only)</h3>

  <p>To create an alias from a JAR file:</p>

  <ol>
    <li>For the desired keystore, select the <strong>+</strong> button to add an alias.</li>

    <li>Specify the <strong>Alias Name</strong>.</li>

    <li>Select <strong>JAR file</strong> for <strong>Certificate Type</strong>.</li>

    <li>Select the <strong>Choose File</strong> button next to <strong>Key File</strong>. A pop-up
    window opens to let you select the JAR file containing the cert and key.</li>

    <li>If the key has a password, specify the <strong>Password</strong>. if the key has no
    password, leave this field blank.</li>

    <li>By default, the API checks to make sure the certificate hasn't expired. Optionally select
    <strong>Allow Expired Certificate</strong> to skip validation.</li>

    <li>Select <strong>Save</strong> to upload the key and cert and create the alias.</li>
  </ol>

  <h3 id="creating-an-alias-from-a-cert-and-key-keystore-only">Creating an alias from a cert and
  key (keystore only)</h3>

  <p>To create an alias from a key and cert:</p>

  <ol>
    <li>For the desired keystore, select the <strong>+</strong> button to add an alias.</li>

    <li>Specify the <strong>Alias Name</strong>.</li>

    <li>Select <strong>Key and Certificate</strong> for <strong>Certificate Type</strong>.</li>

    <li>Select the <strong>Choose File</strong> button next to <strong>Key File</strong>. A pop-up
    window opens to let you select the PEM file containing the key.</li>

    <li>If the key has a password, specify the <strong>Key Password</strong>. if the key has no
    password, leave this field blank.</li>

    <li>Select the <strong>Choose File</strong> button next to <strong>Certificate File</strong>. A
    pop-up window opens to let you select the PEM file containing the cert.</li>

    <li>By default, the API checks to make sure the certificate hasn't expired. Optionally select
    <strong>Allow Expired Certificate</strong> to skip validation.</li>

    <li>Select <strong>Save</strong> to upload the key and cert and create the alias.</li>
  </ol>

  <h3 id="creating-an-alias-from-a-pkcs12-pfx-file-keystore-only">Creating an alias from a
  PKCS12/PFX file (keystore only)</h3>

  <p>To create an alias from a PKCS12 file containing the cert and key:</p>

  <ol>
    <li>For the desired keystore, select the <strong>+</strong> button to add an alias.</li>

    <li>Specify the <strong>Alias Name</strong>.</li>

    <li>Select <strong>PKCS12/PFX</strong> for <strong>Certificate Type</strong>.</li>

    <li>Select the <strong>Choose File</strong> button. A pop-up window opens to let you select the
    file containing the key and cert.</li>

    <li>If the key has a password, specify the <strong>Password</strong> for the PKCS12/PFX file.
    if the key has no password, leave this field blank.</li>

    <li>By default, the API checks to make sure the certificate hasn't expired. Optionally select
    <strong>Allow Expired Certificate</strong> to skip validation.</li>

    <li>Select <strong>Save</strong> to upload the file and create the alias.</li>
  </ol>

  <h3 id="creating-an-alias-from-a-self-signed-certificate-keystore-only">Creating an alias from a
  self-signed certificate (keystore only)</h3>

  <p>To create an alias that uses a self-signed certificate, you fill in a form with the necessary
  information required to create the cert. Edge then creates the cert and a private key pair and
  uploads them to the alias.</p>

  <p>To create an alias from a self-signed cert:</p>

  <ol>
    <li>For the desired keystore, select the <strong>+</strong> button to add an alias.</li>

    <li>Specify the <strong>Alias Name</strong>.</li>

    <li>Select <strong>Self-Signed Certificate</strong> for <strong>Certificate Type</strong>.</li>

    <li>Fill in the form by using the table below.</li>

    <li>Select <strong>Save</strong> to create the cert and private key pair and to upload them to
    the alias.</li>
  </ol>

  <p>In the generated certificate, you will see the following additional fields:</p>

  <ul>
    <li><strong>Issuer</strong><br>
    The entity that signed and issued the certificate. For a self-signed certificate, this is the
    CN you specified when you created the cert.</li>

    <li><strong>Validity</strong><br>
    The certificate validity period represented as two dates: the date on which the certificate
    validity period begins and the date on which the certificate validity period ends. Both can be
    encoded as UTCTime or GeneralizedTime values.</li>
  </ul>

  <p>The following table describes the form fields:</p>

  <table>
    <thead>
      <tr>
        <th>Form Field</th>

        <th>Description</th>

        <th>Default</th>

        <th>Required</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alias Name</td>

        <td>Alias name. Maximum length is 128 characters.</td>

        <td>N/A</td>

        <td>Yes</td>
      </tr>

      <tr>
        <td>Key Size</td>

        <td>Size of the key, in bits. Default and maximum value is 2048 bits.</td>

        <td>2048</td>

        <td>No</td>
      </tr>

      <tr>
        <td>Certificate Validity (# of days)</td>

        <td>Validity duration of certificate, in days. Accepts positive non zero value.</td>

        <td>365</td>

        <td>No</td>
      </tr>

      <tr>
        <td>Signature Algorithm</td>

        <td>Signature algorithm to generate private key. Valid values are "SHA512withRSA",
        "SHA384withRSA" and "SHA256withRSA" (default).</td>

        <td>SHA256withRSA</td>

        <td>No</td>
      </tr>

      <tr>
        <td>Common Name</td>

        <td>
          Common Name (CN) of the organization identifies the fully qualified domain name(s)
          associated with the certificate. It is typically composed by a host and a domain name.
          For example, api.enterprise.apigee.com, www.apigee.com, etc. Max length is 64 characters.

          <p>Depending on the <a href=
          "https://support.dnsimple.com/articles/ssl-certificates-types/">certificate type</a>, the
          CN can be one or more hostnames belonging to the same domain (e.g. example.com,
          www.example.com), a wildcard name (e.g. *.example.com) or a list of domains. Do not
          include any protocol (http:// or https://), port number, or resource path.</p>

          

          <p>The certificate is valid only if the request hostname matches at least one of the
          certificate common names.</p>
        </td>

        <td>N/A</td>

        <td>Yes</td>
      </tr>

      <tr>
        <td>Email</td>

        <td>Email address. Maximum length is 255 characters.</td>

        <td>N/A</td>

        <td>No</td>
      </tr>

      <tr>
        <td>Org Unit Name</td>

        <td>Organization team name. Maximum length is 64 characters.</td>

        <td>N/A</td>

        <td>No</td>
      </tr>

      <tr>
        <td>Org Name</td>

        <td>Organization name. Maximum length is 64 characters.</td>

        <td>N/A</td>

        <td>No</td>
      </tr>

      <tr>
        <td>Locality</td>

        <td>City/Town name. Maximum length is 128 characters.</td>

        <td>N/A</td>

        <td>No</td>
      </tr>

      <tr>
        <td>State/Province</td>

        <td>State/Province name. Maximum length is 128 characters.</td>

        <td>N/A</td>

        <td>No</td>
      </tr>

      <tr>
        <td>Country</td>

        <td>Two letter country code. Example, IN for India, US for United States of America.</td>

        <td>N/A</td>

        <td>No</td>
      </tr>

      <tr>
        <td>Alternate Names</td>

        <td>
          List of alternative host names. Allows additional identities to be bound to the subject
          of the certificate. Defined options include an Internet electronic mail address, a DNS
          name, an IP address, and a uniform resource identifier (URI).

          <p>Max of 255 characters for each value. You can separate names by comma, or by pressing
          the Enter key after each name.</p>
        </td>

        <td>N/A</td>

        <td>No</td>
      </tr>
    </tbody>
  </table>

  <h2 id="test-a-keystore-or-truststore">Test a keystore or truststore</h2>

  <p>You can test your truststore and keystore in the Edge UI to verify that they are configured
  properly. The Test Ui validates a TLS request from Edge to a backend service. The backend service
  can be configured to support one-way or two-way TLS.</p>

  <p>To test one-way TLS:</p>

  <ol>
    <li>Login to the Edge management UI at <a href=
    "https://enterprise.apigee.com/">https://enterprise.apigee.com</a>.</li>

    <li>In the Edge management UI menu, select the name of your organization.</li>

    <li>Depending on your version of the Edge UI:

      <ol style="list-style: lower-alpha outside">
        <li>If you are using the <strong>Classic Edge UI</strong>: Select <strong>APIs &gt;
        Environment Configuration</strong>.</li>

        <li>If you are using the <strong>New Edge UI</strong>: Select <strong>Admin &gt;
        Environment</strong>.</li>
      </ol>
    </li>

    <li>Select the Environment (typically <code>prod</code> or <code>test</code>).</li>

    <li>Select the <strong>TLSKeystores</strong> tab.</li>

    <li>For the desired truststore, select the <strong>Test</strong> button. The following dialog
    box appears showing the name of the truststore:<br>
    <img alt="" src="/api-platform/images/test_1_way_v1.png"></li>

    <li>Enter the hostname of the backend service.</li>

    <li>Enter the TLS port number (typically 443).</li>

    <li>Optionally specify any Protocols or Ciphers.</li>

    <li>Select <strong>Test</strong>.</li>
  </ol>

  <p>To test two-way TLS:</p>

  <ol>
    <li>For the desired truststore, select the <strong>Test</strong> button.</li>

    <li>In the dialog box, select <strong>Two Way</strong> for the <strong>SSL Test Type</strong>.
    The following dialog box appears:<br>
    <img alt="" src="/api-platform/images/test_2_way-tls.png"></li>

    <li>Specify the name of the keystore used in two-way TLS.</li>

    <li>Specify the alias name in the keystore containing the cert and key.</li>

    <li>Enter the hostname of the backend service.</li>

    <li>Enter the TLS port number (typically 443).</li>

    <li>Optionally specify any Protocols or Ciphers.</li>

    <li>Select <strong>Test</strong>.</li>
  </ol>

  <h2 id="delete-a-keystore-truststore-or-alias">Delete a keystore/truststore or alias</h2>

  <p>You must use caution when deleting a keystore/truststore or alias. If you delete a keystore,
  truststore, or alias that is being used by a virtual host, target endpoint, or target server, all
  API calls through the virtual host or target endpoint/target server will fail.</p>

  <p>Typically, the process you use to delete a keystore/truststore or alias is:</p>

  <ol>
    <li>Create a new keystore/truststore or alias as described above.</li>

    <li>For <strong>inbound connections</strong>, meaning an API request into Edge, update the
    virtual host configuration to reference the the new keystore and key alias.</li>

    <li>For <strong>outbound connections</strong>, meaning from Apigee to a backend server:

      <ol style="list-style: lower-alpha outside">
        <li>Update the TargetEndpoint configuration for any API proxies that referenced the old
        keystore and key alias to reference the new keystore and key alias. If your TargetEndpoint
        references a TargetServer, update the TargetServer definition to reference the new keystore
        and key alias.</li>

        <li>If the keystore and truststore are referenced directly from the TargetEndpoint
        definition, then you must redeploy the proxy. If the TargetEndpoint references a
        TargetServer definition, and the TargetServer definition references the keystore and
        truststore, then no proxy redeployment is necessary.</li>
      </ol>
    </li>

    <li>Confirm that your API proxies are functioning correctly.</li>

    <li>Delete the keystore/truststore or alias.</li>
  </ol>

  <h3 id="delete-a-keystore">Delete a keystore</h3>

  <p>You can delete a keystore or truststore by selecting the "<strong>X</strong>" icon to the
  right of the name on the TLS Keystore tab. If you delete a keystore or truststore that is being
  used by a virtual host or target endpoint/target server, all API calls through the virtual host
  or target endpoint/target server will fail.</p>

  <p><strong>Caution</strong>: You should not delete a keystore until you have converted your
  virtual hosts and target endpoints/target servers to use a new keystore.</p>

  <h3 id="delete-an-alias">Delete an alias</h3>

  <p>You can delete an alias by selecting the "<strong>X</strong>" icon to the right of the alias
  name on the TLS Keystore tab. If you delete an alias that is being used by a virtual host or
  target endpoint/target server, all API calls through the virtual host or target endpoint/target
  server will fail.</p>

  <p><strong>Caution</strong>: You should not delete an alias until you have converted your virtual
  hosts and target endpoints/target servers to use a new keystore and alias.</p>{% endblock %}
