  {% extends "_base.html" %} {% block title %}Create keystores and truststores for the Private
  Cloud  version 4.17.09 and earlier{% endblock %} {% block body %}

  <p>This document describes how to create, modify, and delete keystores and truststores for Edge
  for the Private Cloud version 4.17.09 and earlier.</p>

  <aside class="note"><b>Private Cloud:</b>
  To create keystores and truststores for Private Cloud versions 4.18.01 and later, see <a href=
  "creating-keystores-and-truststore-cloud-using-edge-ui">Creating
  keystores and truststore using the Edge UI</a> or <a href=
  "creating-keystores-and-truststore-cloud-using-edge-management-api">
  Creating keystores and truststore using the Edge management API</a>.</aside>

  <h2 id="aboutkeystoresandtruststores">About keystores and truststores</h2>

  <p>Keystores and truststores define repositories of security certificates used for TLS
  encryption. The main difference between the two is where they are used in the TLS handshaking
  process:</p>

  <ul>
    <li>A <strong>keystore</strong> contains a TLS certificate and private key used to identify the
    entity during TLS handshaking.<br>
    <br>
    In one-way TLS, when a client connects to the TLS endpoint on the server, the server's keystore
    presents the server's certificate (public cert) to the client. The client then validates that
    certificate with a Certificate Authority (CA), such as Symantec or VeriSign.<br>
    <br>
    In two-way TLS, both the client and the server maintain a keystore with their own cert and
    private key used for mutual authentication.</li>

    <li>A <strong>truststore</strong> contains certificates used to verify certificates received as
    part of TLS handshaking. <br>
    <br>
    In one-way TLS, a truststore is not required if the cert is signed by a valid CA. If the
    certificate received by a TLS client is signed by a valid CA, then the client makes a request
    to the CA to authenticate the certificate. A TLS client typically uses a truststore to validate
    self-signed certificates received from the TLS server, or certificates that are not signed by a
    trusted CA. In this scenario, the client populates its truststore with certificates that it
    trusts. Then, when the client receives a server certificate, the incoming certificate is
    validated against the certificates in its truststore. <br>
    <br>
    For example, a TLS client connects to a TLS server where the server uses a self-signed
    certificate. Because it is a self-signed certificate, the client cannot validate it with a CA.
    Instead, the client preloads the server's self-signed certificate into its truststore. Then,
    when the client attempts to connect to the server, the client uses its truststore to
    validate the certificate received from the server.<br>
    <br>
    For two-way TLS, both the TLS client and the the TLS server can use a truststore. A truststore
    is required when performing two-way TLS when Edge acts as the TLS server.  </li>
  </ul>

  <aside class="note"><b>Note:</b> See <a href="about-ssl">About TLS/SSL</a> for diagrams showing the
  use of keystores and truststores in TLS handshaking.</aside>

  <p>Certificates can be issued by a certificate authority (CA), or they can be self-signed by the
  private key that you generate. If you have access to a CA, follow instructions provided by your
  CA for generating keys and issuing certificates. If you do not have access to a CA, you can
  generate a self-signed certificate using one of the many publicly available free tools, such as
  openssl.</p>

  <h3 id="aboutkeystoresandtruststores-implementingakeystoreandtruststoreonedge">Implementing a
  keystore and truststore on Edge</h3>

  <p>On Edge, a keystore contains one or more JAR files, where the JAR file contains a:</p>

  <ul>
    <li>TLS certificate as a PEM file - either a certificate signed by a certificate authority
    (CA), a chain of certificates where the last certificate is signed by a CA, or a self-signed
    cert. </li>

    <li>Private key as a PEM file. Edge supports key sizes up to 2048 bits. A passphrase is
    optional.</li>
  </ul>

  <p>A truststore is similar to a keystore except that it contains only certs as a PEM file, but no
  private keys.</p>

  <p>If the cert is part of a chain, then the keystore/truststore must contain all certs in the
  chain, either as individual PEM files or as a single file. If you use a single file, then the
  certs must be in order where the first cert in the file is the certificate used for TLS followed
  by the chain of certs, in order, to the CA certificate. You must insert an empty line between
  each cert in the file. </p>

  <p>Edge provides an API that you use to create keystores and truststores. The actual APIs are the
  same. The difference is that when you create a keystore, you pass a JAR file that contains the
  cert and private key. When you create a truststore, you pass only the cert as a PEM file.</p>

  <h3 id="aboutkeystoresandtruststores-abouttheformatofthecertandkeyfiles">About the format of the
  cert and key files</h3>

  <p>The examples in this document show the TLS cert and key defined as PEM files, which comply
  with the X.509 format. If your cert or private key is not defined by a PEM file, you can convert
  it to a PEM file by using utilities such as openssl.</p>

  <p>However, many .crt files and .key files are already in the PEM format. If these files are text
  files, and are enclosed in:</p>
  <pre class="prettyprint">
-----BEGIN CERTIFICATE-----
-----END CERTIFICATE-----
</pre>

  <p>or:</p>
  <pre class="prettyprint">
-----BEGIN ENCRYPTED PRIVATE KEY-----
-----END ENCRYPTED PRIVATE KEY-----
</pre>

  <p>Then the files are compatible with the PEM format and you can use them in a keystore or
  truststore without converting them to a PEM file.</p>

  <p>If you have a certificate chain, and want to use that chain in a keystore or truststore, then
  you can combine all of the certs into a single PEM file with a new line between each cert. The
  certs have to be in order and the last cert must be a root certificate or an intermediate cert
  signed by a root certificate:</p>
  <pre class="prettyprint">
-----BEGIN CERTIFICATE-----
(Your Primary TLS certificate)
-----END CERTIFICATE-----

-----BEGIN CERTIFICATE-----
(Intermediate certificate)
-----END CERTIFICATE-----

-----BEGIN CERTIFICATE-----
(Root certificate or intermediate certificate signed by a root certificate)
-----END CERTIFICATE-----
</pre>

  <h2 id="getdetailsaboutanexistingkeystore">Get details about an existing keystore</h2>

  <p>Check your environment for any existing keystores by using the <a href=
  "/management/apis/get/organizations/{org_name}/environments/{env_name}/keystores">List Keystores
  and Truststores</a> API:</p>
  <pre class="devsite-terminal">
curl -X GET \
https://api.enterprise.apigee.com/v1/o/{org_name}/environments/{env_name}/keystores \
-u email:password
</pre>

  <p>For cloud customers, a default keystore is provided for free trial organizations in both the
  test and prod environments. You should see the following results for this call for both
  environments:</p>
  <pre class="prettyprint">
[ "freetrial" ]
</pre>

  <p>You can use this default keystore to test your APIs, and push your APIs to production, but you
  typically create your own keystore, with your own cert and key, before you deploy to production.
   </p>

  <p>For Private Cloud customers, the returned array is empty until you create your first
  keystore.</p>

  <p>Check the contents of the keystore by using the <a href=
  "/management/apis/get/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}">
  Get a Keystore or Truststore</a> API. For a cloud customer, you should see a single server TLS
  certificate--the default certificate that Apigee Edge provides for free trial accounts.</p>
  <pre class="devsite-terminal">
curl https://api.enterprise.apigee.com/v1/o/{org_name}/environments/{env_name}/keystores/freetrial \
-u email:password
</pre>

  <p>The response should appear as:</p>
  <pre class="prettyprint">
{
 "certs" : [ "wildcard.apigee.net.crt" ],
 "keys" : [ "freetrial" ],
 "name" : "freetrial"
}
</pre>

  <p>You can also view this information in the Edge management UI:</p>

  <ol>
    <li>Login to the Edge management UI at <a href=
    "https://enterprise.apigee.com">https://enterprise.apigee.com</a> (cloud) or <code>http://&lt;ms-ip&gt;:9000</code> (on-premises),
    where <code>&lt;ms-ip&gt;</code> is the IP
    address of the Management Server node.</li>

    <li>In the Edge management UI menu, select <strong>Admin &gt; TLS Certificates</strong>.</li>
  </ol>

  <h2 id="gettlscertificatedetails">Get TLS certificate details</h2>

  <p>You can use the <a href=
  "/management/apis/get/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/certs/{cert_name}">
  Get Cert Details from a Keystore or Truststore</a> API to view details about TLS certificates in
  the keystore, such as expiration date and issuer. First, obtain the name of the certificate in
  which you are interested. This example fetches information for the keystore called
  "freetrial".</p>
  <pre class="devsite-terminal">
curl https://api.enterprise.apigee.com/v1/o/{org_name}/environments/{env_name}/keystores/freetrial \
-u email:password
</pre>

  <p>Sample response:</p>
  <pre class="prettyprint">
{
 "certs" : [ "wildcard.apigee.net.crt" ],
 "keys" : [ "freetrial" ],
 "name" : "freetrial"
}
</pre>

  <p>Then, use the value of the certs property to get the certificate details:</p>
  <pre class="devsite-terminal">
curl https://api.enterprise.apigee.com/v1/o/{org_name}/environments/{env_name}/keystores/freetrial/certs/wildcard.apigee.net.crt \
-u email:password
</pre>

  <p>Sample response:</p>
  <pre class="prettyprint">
{
 "certInfo" : [ {
   "expiryDate" : "Wed, 23 Apr 2014 20:50:02 UTC",
   "isValid" : "Yes",
   "issuer" : "CN=Go Daddy Secure Certificate Authority - G2, OU=http://certs.godaddy.com/repository/, O=&amp;quot;GoDaddy.com, Inc.&amp;quot;, L=Scottsdale, ST=Arizona, C=US",
   "subject" : CN=*.example.apigee.net, OU=Domain Control Validated",
   "subjectAlternativeNames" : ["*.example.apigee.net","*.example.apigee.net" ],
   "validFrom" : "Tue, 15 Apr 2014 09:17:03 UTC",
   "version" : 3
 } ],
 "name" : "example.apigee.net.crt"
}
</pre>

  <p>You can also view this information in the Edge management UI:</p>

  <ol>
    <li>Login to the Edge management UI at <a href=
    "https://enterprise.apigee.com">https://enterprise.apigee.com</a> (cloud)
    or <code>http://&lt;ms-ip&gt;:9000</code> (on-premises),
    where <code>&lt;ms-ip&gt;</code> is the IP
    address of the Management Server node.</li>

    <li>In the Edge management UI menu, select <strong>Admin &gt; TLS
    Certificates</strong>.</li>
  </ol>

  <p>In the Edge UI, you can specify how far in advance Edge indicates that a certificate is going
  to expire. By default, the UI highlights any certificates scheduled to expire in the next 10
  days.  </p>

  <h2 id="createakeystore">Create a keystore</h2>

  <aside class="note"><b>Note:</b> A keystore should only contain a single cert/key pair. Do not
  upload more than one cert/key pair to the keystore.</aside>

  <p>A keystore is specific to an environment in your organization, for example the test or prod
  environment. Therefore, if you want to test the keystore in a test environment before deploying
  it to your production environment, you must create it in both environments.</p>

  <p>Creating a keystore is a two-step process:</p>

  <ol>
    <li>Create a JAR file containing your cert and private key.</li>

    <li>Create the keystore and upload the JAR File.</li>
  </ol>

  <h3 id="createakeystore-createajarfilecontainingyourcertandprivatekey">Create a JAR file
  containing your cert and private key</h3>

  <p>Create a JAR file with your private key, certificate, and a manifest. The JAR file must
  contain the following files and directories:</p>
  <pre class="prettyprint">
/META-INF/descriptor.properties
myCert.pem
myKey.pem
</pre>

  <aside class="note">
    <b>Note:</b> A keystore JAR can contain only one certificate. If you have a certificate chain,
    all certs in the chain must be appended into a single PEM file, where the last certificate is
    signed by a CA, and each cert is separated by a new line. The certs must be appended to the PEM
    file in the correct order, meaning:
    <pre class="prettyprint">
cert -&gt; intermediate cert(1) -&gt; intermediate cert(2) -&gt; &#8230; -&gt; root
</pre>
  </aside>

  <p>In the directory containing your key pair and certificate, create a directory called
  <code>/META-INF</code>. Then, create a file
  called <code>descriptor.properties</code> in
  <code>/META-INF</code> with the following
  contents:</p>
  <pre class="prettyprint">
certFile={myCertificate}.pem
keyFile={myKey}.pem
</pre>

  <p>Generate the JAR file containing your key pair and certificate:</p>
  <pre class="devsite-terminal">
jar -cf myKeystore.jar myCert.pem myKey.pem
</pre>

  <p>Add descriptor.properties to your JAR file:</p>
  <pre class="devsite-terminal">
jar -uf myKeystore.jar META-INF/descriptor.properties
</pre>

  <h3 id="createakeystore-createthekeystoreanduploadthejarfile">Create the keystore and upload the
  JAR file</h3>

  <p>To create a keystore in an environment, you only need to specify the keystore name to the
  <a href="/management/apis/post/organizations/{org_name}/environments/{env_name}/keystores">Create
  a Keystore or Truststore</a> API. The name can only contain alphanumeric characters:</p>
  <pre class="devsite-terminal">
curl -X POST -H "Content-Type: text/xml" \
https://api.enterprise.apigee.com/v1/o/{org_name}/environments/{env_name}/keystores \
-d '&lt;KeyStore name="myKeystore"/&gt;' -u email:password
</pre>

  <p>Sample response:</p>
  <pre class="prettyprint">
{
 "certs" : [ ],
 "keys" : [ ],
 "name" : "myKeystore"
}
</pre>

  <p>After you create a named keystore in an environment, you can upload your JAR files that
  contain a cert and private key by using the <a href=
  "/management/apis/post/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/keys">
  Upload a JAR file to a Keystore</a> API:</p>
  <pre class="devsite-terminal">
curl -X POST -H "Content-Type: multipart/form-data" \
-F file="@myKeystore.jar" \ "https://api.enterprise.apigee.com/v1/o/{org_name}/environments/{env_name}/keystores/{myKeystore}/keys?alias={key_alias}&amp;password={key_pass}" \
-u email:password
</pre>

  <p>where the <code>-F</code> option specifies
  the path to the JAR file.</p>

  <p>In this call, you specify two query parameters:</p>

  <ul>
    <li><code>alias</code> - Identifies the
    certificate and key in the key store. When you create a virtual host, you reference the
    certificate and key by its alias name.</li>

    <li><code>password</code> - The password for
    the private key. Omit this parameter if the private key has no password.</li>
  </ul>

  <p>Verify that your keystore uploaded properly:</p>
  <pre class="devsite-terminal">
curl https://api.enterprise.apigee.com/v1/o/{org_name}/environments/{env_name}/keystores/myKeystore \
-u email:password
</pre>

  <p>Sample response:</p>
  <pre class="prettyprint">
{  
 "certs" : [ "myCertificate" ],
 "keys" : [ "myKey" ],
 "name" : "myKeystore"
}
</pre>

  <h2 id="createatruststore">Create a truststore</h2>

  <p>The APIs that you use to create a truststore are the same as used to create a keystore. The
  only difference is that you pass the cert file as a PEM file instead of a JAR file.</p>

  <aside class="note"><b>Note:</b> You must create a truststore on Edge as part of configuring
  two-way TLS between a TLS client and Edge, where Edge acts as the TLS server. When you configure
  the truststore on Edge, upload the cert that you received from the client. During TLS
  handshaking, Edge uses the cert in its truststore to validate the cert that it receives from the
  client.   </aside>

  <p>If the cert is part of a chain, then you must either upload all certs in the chain separately
  to the truststore, or create a single file containing all the certs, Include a new line between
  each cert in the file. The final certificate is typically signed by the certificate issuer. For
  example, in the truststore, you upload a client certificate, <code>client_cert_1</code>, and the client certificate
  issuer's certificate, <code>ca_cert</code>.</p>

  <p>During two-way TLS authentication, client authentication succeeds when the server sends
  <code>client_cert_1</code> to the client as
  part of the TLS handshaking process.</p>

  <p>Alternatively, you have a second cert, <code>client_cert_2</code>, signed by the same cert,
  <code>ca_cert</code>. However, you do not
  upload <code>client_cert_2</code> to the
  truststore. The truststore still contains <code>client_cert_1</code> and <code>ca_cert</code>.</p>

  <p>When the server passes <code>client_cert_2</code> as part of TLS handshaking, the
  request succeeds. This is because Edge allows TLS verification to succeed when <code>client_cert_2</code> does not exist in the
  truststore but was signed by the a cert that exists in the truststore. If you remove the CA
  certificate, <code>ca_cert</code>, from the
  truststore then TLS verification fails.</p>

  <p>Create an empty truststore in the environment by using <a href=
  "/management/apis/post/organizations/{org_name}/environments/{env_name}/keystores">Create a
  Keystore or Truststore</a>, the same API that you use to create a keystore:</p>
  <pre class="devsite-terminal">
curl -X POST -H "Content-Type: text/xml" -d \
'&lt;KeyStore name="myTruststore"/&gt;' \
https://api.enterprise.apigee.com/v1/o/{org_name}/environments/{env_name}/keystores \
-u email:password
</pre>

  <p>Upload the certificate as a PEM file to the truststore by using the <a href=
  "/management/apis/post/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/certs">
  Upload a Certificate to a Truststore</a> API:</p>
  <pre class="devsite-terminal">
curl -X POST -H "Content-Type: multipart/form-data" -F file="@trust.pem" \
https://api.enterprise.apigee.com/v1/o/{org_name}/environments/{env_name}/keystores/myTruststore/certs?alias=myTruststore \
-u email:password
</pre>

  <p>where the <code>-F</code> option specifies
  the path to the PEM file.</p>

  <h2 id="deleteakeystoreortruststore">Delete a keystore or truststore</h2>

  <p>You can delete a keystore or truststore by using the <a href=
  "/management/apis/delete/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}">
  Delete a Keystore or Truststore</a> API:</p>
  <pre class="devsite-terminal">
curl -X DELETE \
https://api.enterprise.apigee.com/v1/o/{org_name}/environments/{env_name}/keystores/myKeystoreName \
-u email:password
</pre>

  <p>Sample response:</p>
  <pre class="prettyprint">
{
 "certs" : [ ],
 "keys" : [ ],
 "name" : "myKeystoreName"
}
</pre>

  <p>If you delete a keystore or truststore that is being used by a virtual host or target
  endpoint/target/server, all API calls through the virtual host or target endpoint/target server
  will fail..</p>{% endblock %}
