  {% extends "_base.html" %} {% block title %}TLS/SSL{% endblock %} {% block body %}

  <p>Welcome to the home page for TLS on Apigee Edge. This landing page provides links to
  documentation, samples, and other resources related to using TLS on Apigee Edge.</p>

  <h2 id="gettingstartedwithtls">Getting Started with TLS</h2>

  <table>
    <colgroup>
      <col width="350px">
      <col width="350px">
    </colgroup>

    <tbody>
      <tr>
        <td>
          <h3><a href="/api-platform/system-administration/about-ssl.html">About TLS/SSL</a></h3>

          <p>Get a basic overview of TLS and TLS terminology.</p>
        </td>

        <td>
          <h3><a href="/api-platform/system-administration/using-ssl-edge.html">Using TLS with
          Edge</a></h3>

          <p>Get an overview of where Edge uses TLS in both the cloud and on-premises (Apigee Edge
          for Private Cloud).</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 id="configuringtlsonedge">Configuring TLS on Edge</h2>

  <table>
    <colgroup>
      <col width="350px">
      <col width="350px">
    </colgroup>

    <tbody>
      <tr>
        <td>
          <h3><a href=
          "/api-platform/system-administration/configuring-ssl-cloud-based-edge-installation.html">Using
          TLS in a cloud-based Edge installation</a></h3>

          <p>Learn about configuring TLS with Edge in the cloud.</p>
        </td>

        <td>
          <h3><a href=
          "/api-platform/system-administration/configuring-ssl-premises-edge-installation.html">Using
          TLS in a Private Cloud installation</a></h3>

          <p>Learn about configuring TLS with Edge for Private Cloud.</p>
        </td>
      </tr>

      <tr>
        <td>
          <h3><a href=
          "/api-platform/system-administration/keystores-and-truststores.html">Keystores and
          Truststores</a></h3>

          <p>Learn how to create and configure keystores and truststores.</p>
        </td>

        <td>
          <h3><a href="/api-platform/system-administration/creating-virtual-host.html">Configuring
          TLS access to an API for the Private Cloud</a></h3>

          <p>Learn how to create a virtual host using HTTP or HTTPS in Edge for Private Cloud.</p>
        </td>
      </tr>

      <tr>
        <td>
          <h3><a href=
          "/api-platform/system-administration/configuring-ssl-edge-backend-service.html">Configuring
          TLS from Edge to the backend (Cloud and Private Cloud)</a></h3>

          <p>Learn how to configure an TLS connection<br>
          from Edge to a backend server.</p>
        </td>

        <td>
          <h3><a href="/api-platform/system-administration/using-ssl-portal.html">Using TLS on the
          portal</a></h3>

          <p>Learn how to configure TLS for the Developer Services Portal.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 id="additionaltlsresources">Additional TLS resources</h2>

  <table>
    <colgroup>
      <col width="350px">
      <col width="350px">
    </colgroup>

    <tbody>
      <tr>
        <td>
          <h3><a href="/api-platform/fundamentals/virtual-hosts.html">About virtual hosts
          (Beta)</a></h3>

          <p>Get more information about using virtual<br>
          hosts on Edge.</p>
        </td>

        <td>
          <h3>Edge for Private Cloud Operations Guide</h3>

          <p>Edge for Private Cloud customers should refer to the <em>Operations Guide</em> for
          information on configuring TLS for some areas of Edge, which is available from your
          private FTP account or on the <a href=
          "https://apigee.com/about/support/portal">Apigee Support
          Portal</a> under <strong>Libraries</strong> (Edge for Private Cloud version
          4.16.01 and earlier) and online at <a href=
          "/private-cloud/latest/configuring-ssl-edge-premises.html">Configuring TLS/SSL for Edge
          On Premises</a> (version 4.16.05 and later).</p>
        </td>
      </tr>
    </tbody>
  </table>

  {% endblock %}
