  {% extends "_base.html" %} {% block title %}System administrator role{% endblock %} {% block body %}

  <aside class="note"><b>Private Cloud:</b> <b>Edge on-premises installation only. </b>In a
  Cloud-based installation of Edge, Apigee functions in the role of system administrator. You can
  only assign global users to the system administrator role in an Edge for the Private Cloud
  installation.</aside>

  <p>An <strong>Edge system administrator</strong> can:</p>

  <ul>
    <li>Perform the operations of the
      <a href="/api-platform/system-administration/edge-built-roles.html">Edge built-in roles</a>
      for all organizations</li>

    <li>Create global users</li>

    <li>Create organizations, environments, and virtual hosts</li>

    <li>Add additional components to an Edge installation</li>

    <li>Configure TLS/SSL on a virtual host</li>

    <li>Create additional system administrators</li>

    <li>Perform all other Edge administrative tasks</li>
  </ul>

  <aside class="note"><b>Note:</b> While it is not required, you can assign a system administrator
  to an organization, typically as an organization administrator. Unless assigned to an
  organization, the system administrator cannot log in to the Edge management UI.</aside>

  <p>For more on the actions allowed by the system administrator, see
  <a href="/private-cloud/latest/operations-and-configuration">Edge Operations and Configurations</a>
  in the Edge Private Cloud documentation.</p>

  {% endblock %}
