  {% extends "_base.html" %} {% block title %}Accessing the quota service in Node.js{% endblock %}
  {% block body %}

  <h2 id="introduction">Introduction</h2>

  <p>This topic explains how to use the <code>apigee-access</code> to access the Apigee Edge quota
  service from a Node.js application. With apigee-access, you can <a href="#apply">apply</a> and
  <a href="#reset">reset</a> quota values.</p>

  <aside class="note"><b>Note:</b> On Apigee Edge, a quota is an allotment of request messages that
  an app is allowed to submit to an API over the course of an hour, a day, a week, or a month. To
  learn more about quotas and their use cases, see <a href=
  "/api-platform/reference/policies/quota-policy.html">Quota policy</a>.</aside>

  <h2 id="example">Example</h2>
  <pre class="prettyprint">
var apigee = require('apigee-access');
var quota = apigee.getQuota();
quota.apply({ identifier: 'Foo', allow: 10, timeUnit: 'hour' },
    function(err, result) {
         console.log('Quota applied: %j', result);
    });
</pre>

  <aside class="key-point"><b>Tip:</b> When working with apigee-access to use the quota service,
  you are restricted to working only with the service that runs inside Apigee Edge. For another
  quota implementation that works in multiple environments (in addition to Edge), you may wish to
  use the Volos.js quota feature. See "<a href=
  "https://github.com/apigee-127/a127-documentation/wiki/Understanding-Volos.js">Understanding
  Volos.js</a>" for details.</aside>

  <h2 id="methods">Methods</h2>

  <ul>
    <li><a href="#apply">apply</a></li>

    <li><a href="#reset">reset</a></li>
  </ul>
  <hr>

  <h3 id="methods-apply"><a id="apply" name="apply"></a>apply</h3>

  <p>Modifies the settings on a Quota object. Use this method to increment or decrement the quota,
  change time intervals, and make other configurations.</p>

  <h4>Usage</h4>
  <pre class="prettyprint">
var apigee = require('apigee-access');
var quota = apigee.getQuota();
quota.apply({parameters}, callback);
</pre>

  <h4>Example</h4>
  <pre class="prettyprint">
var apigee = require('apigee-access');
var quota = apigee.getQuota();

        // Apply a quota of 100 requests per hour
        quota.apply({
         identifier: 'Foo',
         timeUnit: 'hour',
         allow: 100
        }, quotaResult);
                
                function quotaResult(err, r) {
                 if (err) { console.error('Quota failed'); }
                }       
</pre>

  <h4>Parameters</h4>

  <p>The apply() method takes two parameters, an object and a function:</p>

  <p style="margin-left: 40px;">(1) The first parameter is a JSON object with these fields:</p>

  <ul>
    <li style="margin-left: 40px;"><strong>identifier</strong> (string, required): A unique
    identifier of the quota bucket. In practice it might be an application ID, IP address, or
    username.</li>

    <li style="margin-left: 40px;"><strong>timeUnit</strong> (string, required): How long the quota
    bucket will accumulate until it is reset. Valid values are "minute," "hour," "day," "week," and
    "month."</li>

    <li style="margin-left: 40px;"><strong>allow</strong> (number, required): The maximum value for
    the quota bucket. This value will be combined with the current value to return whether the
    quota has succeeded.</li>

    <li style="margin-left: 40px;"><strong>interval</strong> (number, optional): Combined with the
    "timeUnit" to determine how long before the quota is reset. The default is 1. Set to a larger
    value to allow quotas such as "two hours," "three weeks," and so on.</li>

    <li style="margin-left: 40px;"><strong>weight</strong> (number, optional): The value to
    increment the quota by. Default is 1.</li>
  </ul>

  <p style="margin-left: 40px;">(2) The second argument is a callback function with these two
  arguments:</p>

  <ul>
    <li style="margin-left: 40px;">The first argument is an Error object if the quota cannot be
    incremented, or undefined if the operation succeeded.</li>

    <li style="margin-left: 40px;">The second is an object that contains the following fields:

      <ul>
        <li style="margin-left: 40px;"><strong>used</strong> (number): The current value of the
        quota bucket.</li>

        <li style="margin-left: 40px;"><strong>allowed</strong> (number): The maximum value of the
        quota bucket before the quota is considered to be exceeded. The same value was passed as
        "allow" in the request object.</li>

        <li style="margin-left: 40px;"><strong>isAllowed</strong> (boolean): If there is room left
        in the quota -- true as long as "used" is less than or equal to "allowed."</li>

        <li style="margin-left: 40px;"><strong>expiryTime</strong> (long): The timestamp, in
        milliseconds since 1970 format, when the quota bucket will be reset.</li>

        <li style="margin-left: 40px;"><strong>timestamp</strong> (long): The timestamp at which
        the quota was updated.</li>
      </ul>
    </li>
  </ul>

  <h4>Example</h4>
  <pre class="prettyprint">
var apigee = require('apigee-access');
var quota = apigee.getQuota();
 

// Apply a quota of 100 requests per hour
quota.apply({
  identifier: 'Foo',
  timeUnit: 'hour',
  allow: 100
}, quotaResult);
 

// Apply a quota of 500 requests per five minutes
quota.apply({
  identifier: 'Bar',
  timeUnit: 'minute',
  interval: 5,
  allow: 500
}, quotaResult);


// Increment the quota by a value of 10
quota.apply({
  identifier: 'Foo',
  timeUnit: 'hour',
  allow: 100,
  weight: 10
}, quotaResult);


function quotaResult(err, r) {
  if (err) { console.error('Quota failed'); }
}
</pre>
  <hr>

  <h3 id="methods-reset"><a id="reset" name="reset"></a>reset</h3>To reset the quota to zero, call
  quota.reset(). This method takes two parameters:<br>

  <ul>
    <li>
      <strong>A JSON object with these fields:</strong>

      <ul>
        <li><strong>identifier</strong> (string, required): A unique identifier of the quota
        bucket. In practice it might be an application ID, IP address, or username.</li>

        <li><strong>timeUnit</strong> (string, required): How long the quota bucket will accumulate
        until if it is reset. Valid values are "minute," "hour," "day," "week," and "month."</li>

        <li><strong>interval</strong> (number, optional): Combined with the "timeUnit" to determine
        how long before the quota is reset. The default is 1. Set to a larger value to allow reset
        times such as "two hours," "three weeks," and so on.</li>
      </ul>
    </li>

    <li>
      <strong>A callback function:</strong>

      <ul>
        <li>The callback takes an Error object as the first parameter if the reset fails.</li>
      </ul>
    </li>
  </ul>

  

  <h2 id="advancedquotausecase">Advanced Quota use case</h2>When creating a quota, you can include
  an optional "options" object. This object has one optional parameter:

  <ul>
    <li><strong>syncInterval</strong> (number, optional): The number of seconds that the
    distributed quota implementation syncs its state across the network. The default is 10.</li>
  </ul>Use this parameter to optimize performance of the distributed quota across the network. Keep
  in mind that a lower setting will degrade performance and dramatically increase the latency of
  the "apply" operation. The default setting of 10 seconds is a good setting for many applications.
  The interval may be set as low as zero, which means that the state is synchronized every time
  "apply" is called. Performance will be much worse in this case. {% endblock %}
