  {% extends "_base.html" %} {% block title %}Getting started with Node.js on Apigee Edge{% endblock %} {% block body %}

<aside class="warning"><p><strong>Deprecated feature:</strong> The traditional Node.js support on
  Apigee Edge Cloud, as described in this topic, is deprecated. For details on the deprecation, see the <a href="/release/deprecated-features">Deprecations
  and retirements page</a>. This feature will be retired in the future.</p>

  <p>If you are on Apigee Cloud, Apigee recommends that
  you use <a href="/api-platform/hosted-targets/hosted-targets-overview">Hosted Targets</a> for new
  Node.js development and deployment to Apigee Edge. For information on migrating existing proxies that use Apigee's traditional
    Node.js deployment approach, see <a href="/api-platform/hosted-targets/hosted-targets-tutorials#migrating-an-existing-nodejs-proxy-to-a-hosted-targets-proxy">Migrating an existing Node.js proxy to a Hosted Targets proxy</a>.</p>
</aside>

  <p>This topic explains the simplest way to wrap a Node.js application in an API proxy using the
  management UI.</p>



  <h2 id="introduction">Introduction</h2>

  <p>Chances are, the first Node.js app you ever created was an HTTP server that responds to
  requests with "Hello World!" The simplest way to try out Node.js on Apigee Edge is to do
  something very similar. With just a few mouse clicks, you'll have a functioning, proxied Node.js
  HTTP server running on Edge. After that, you can use the code editor in the UI to modify the
  Node.js app, add additional Node.js files, add policies, and so on. </p>

  <h2 id="creatingthesamplehelloworldapiproxy">Creating the sample Hello World! API proxy</h2>This
  section explains how to create an Edge API proxy that interacts with a Node.js HTTP server. The
  Node.js HTTP server code is already written for you and is automatically deployed to Edge when
  you follow these simple steps.<br>

  <aside class="note"><b>Note:</b> If you have not done so, you need to set up an account on
  <a href="https://accounts.apigee.com/accounts/sign_up">Apigee Edge</a> before you can try out
  this example. You can find a working sample of the proxy described in this tutorial in the
  <a href=
  "https://github.com/apigee/api-platform-samples/tree/master/doc-samples/nodejs-hello">Apigee
  samples repo on GitHub</a>. </aside>

  <ol>
    <li>In the Build a Proxy wizard, select <strong>Node.js App</strong>.</li>

    <li>Click <strong>Next</strong>.</li>

    <li>Follow the Build a Proxy wizard and make the following selections.<br>

      <table width="865">
        <colgroup>
          <col width="25%">
          <col width="25%">
          <col width="50%">
        </colgroup>

        <thead>
          <tr>
            <th width="94">Field</th>

            <th width="481">Selection</th>
          </tr>
        </thead>

        <tbody>
          <tr colspan="3">
            <td><strong>Details</strong></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td>Proxy Name</td>

            <td>Enter <code>Nodejs-Hello</code>. The name displayed for your API. </td>
          </tr>

          <tr>
            <td>Proxy Base Path</td>

            <td>Enter nodejs-hello</td>
          </tr>

          <tr>
            <td>Source</td>

            <td>Select <span style="font-weight: bold;">"Hello World" Sample</span>. (We'll discuss
            the other options later in this topic.)</td>
          </tr>

          <tr>
            <td>Description</td>

            <td>Enter a description of the API.</td>
          </tr>
        </tbody>

        <tbody>
          <tr colspan="3">
            <td><b>Security</b></td>
            <td></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td>Pass through (none)</td>

            <td>Select <strong>Pass through (none)</strong>. Creates a simple pass through
            proxy. </td>
          </tr>

        </tbody>

        <tbody>
          <tr colspan="3">
            <td><b>Virtual Hosts</b></td>
            <td></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td>default, secure</td>

            <td>Do not change the defaults. To learn about virtual hosts, see <a href=
            "/api-platform/fundamentals/virtual-hosts.html">About virtual hosts (Beta)</a>.</td>
          </tr>
        </tbody>

        <tbody>
          <tr colspan="3">
            <td><b>Build</b></td>
            <td></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td>Deploy Environments</td>

            <td>Select <strong>test</strong>. </td>
          </tr>
        </tbody>
      </table>
    </li>

    <li>Click <strong>Build and Deploy</strong><br>
    In response, you should see an acknowledgment that your new API proxy was successfully created
    and deployed in the 'test' environment.</li>

    <li>Click<strong> View the &lt;proxy name&gt; proxy in the editor</strong> to display
    the details page for the API proxy.</li>
  </ol>

  <h2 id="invokingthehelloproxy">Invoking the hello proxy</h2>When you call the <code>hello</code>
  proxy, the Node.js application executes automatically, responding with "Hello, World!". Note that
  unless you specified otherwise, the Node.js application is deployed to the environment called
  <span style="font-weight: bold;">test</span>. Here's the basic call using Curl (substitute your
  organization name for <span style="font-style: italic;">myorg</span>). <br>
  <pre class="terminal">
$ curl http://<span style="font-style: italic;">myorg</span>-test.apigee.net/nodejs-hello
Hello, World!
</pre>

  <h2 id="viewingandeditingthenodejscode">Viewing and editing the Node.js code</h2>

  <p>Let's look at the Node.js code that was added to the API proxy. Go to the summary page for the
  Hello World proxy and click <span style="font-weight: bold;">Develop</span>.</p>

  <p><img alt="" src="/api-platform/images/proxy_editor_develop_tab.png"><br>
  <br>
  This opens the Develop view which includes a code editor. You can edit the code there
  directly.</p>

  <p><img alt="" src="/api-platform/images/node_hello_world_code.png"></p>

  <p>For example, change the response from <code>Hello, World!</code> to something else, like
  <code>Hello, Node!</code>, then click <span style="font-weight: bold;">Save</span>. The proxy is
  saved and redeployed.</p>

  <p>Finally, re-invoke the proxy to verify the change:</p>
  <pre class="terminal">
$ curl http://<span style="font-style: italic;">myorg</span>-test.apigee.net/nodejs-hello
Hello, Node!
</pre>

  <h2 id="moreaboutrunningnodejsapplicationsonapigeeedge">More about running Node.js applications
  on Apigee Edge</h2>

  <p>Like all Node.js applications, Node.js applications running on Apigee Edge run in a single
  thread of control. There is no need (and in fact no ability) to start another thread, or
  synchronize variables between threads. Since Node.js enforces non-blocking programming, a single
  script can support thousands of concurrent requests because the script gives up the CPU whenever
  it has to wait for something, and it is notified later when it happens.</p>

  <p>To use Node.js on Apigee Edge, you need to specify a main Node.js script file. This script
  must be configured to handle incoming requests, which you typically do by using
  the <code>http</code> or <code>https</code> modules, creating a client, and
  so on. (If the main script is not configured this way, it will simply execute and exit after it
  is deployed.) Within Apigee Edge, each Node.js application script is started from the beginning
  when the proxy is deployed, and stopped when the proxy is undeployed. In between it will wait for
  new requests and process them. For more information, see "Invoking an imported Node.js file" in
  <a href="/api-platform/nodejs/deploying-standalone-nodejs-app.html">Deploying a standalone
  Node.js app</a>.</p>

  <h2 id="nextsteps">Next Steps</h2>

  <p>You can also create and deploy standalone Node.js applications directly from your file system.
  The next topic, <a href="/api-platform/nodejs/deploying-standalone-nodejs-app.html">Deploying a
  standalone Node.js app</a>, explains how to use the <code>apigeetool</code> command to deploy a
  Node.js app from the command line.</p>

  {% endblock %}
