{# PRODUCT/FEATURE NAMES #}
{% setvar am %}<code>apigee-monit</code>{% endsetvar %}
{% setvar cwc %}<a href="/private-cloud/latest/how-configure-edge">Code with config (CwC)</a>{% endsetvar %}
{% setvar portal_1st_use %}Apigee Developer Services portal (or simply, <em>the portal</em>){% endsetvar %}
{% setvar edge %}Apigee Edge{% endsetvar %}
{% setvar edge_short %}Edge{% endsetvar %}
{% setvar edge_long %}Apigee Edge Public Cloud{% endsetvar %}
{% setvar cloud %}Apigee Edge Public Cloud{% endsetvar %}
{% setvar opdk %}Apigee Edge for Private Cloud{% endsetvar %}
{% setvar opdk_short %}Edge for Private Cloud{% endsetvar %}
{% setvar sense %}Apigee Sense{% endsetvar %}
{% setvar sense_short %}Sense{% endsetvar %}
{% setvar sonar %}Apigee Sonar{% endsetvar %}
{% setvar sonar_short %}Sonar{% endsetvar %}
{% setvar credentials_vault %}Apigee Credentials Vault{% endsetvar %}
{% setvar credentials_vault_short %}Credentials Vault{% endsetvar %}
{% setvar ue %}New Edge experience{% endsetvar %}

{# COMMON LINKS #}

{% setvar acurl %}<a href="/api-platform/system-administration/using-acurl"><code>acurl</code></a>{% endsetvar %}
{% setvar apibaas_eol %}<aside class="note">API BaaS will reach end-of-life (EOL) on June 30, 2019.
  Users of the push notifications feature should plan to migrate off API BaaS for that functionality
  before April 11, 2019. For more information, see <a href="/release/deprecated-features#api-baas">Apigee
  deprecations, retirements, and CPS changes</a>.</aside>{% endsetvar %}
{% setvar apiref %}<a href="https://apidocs.apigee.com" class="external">Apigee Management API Reference</a>{% endsetvar %}
{% setvar proxy_configuration_reference %}<a href="/api-platform/reference/api-proxy-configuration-reference">API Proxy Configuration Reference</a>{% endsetvar %}
{% setvar auth %}<a href="/api-platform/system-administration/management-api-overview">Access the management API</a>{% endsetvar %}
{% setvar community %}<a href="https://community.apigee.com" class="external">Apigee Community</a>{% endsetvar %}
{% setvar community_article %}https://community.apigee.com/articles{% endsetvar %}
{% setvar conditions_reference %}<a href="/api-platform/reference/conditions-reference">Conditions reference</a>{% endsetvar %}
{% setvar endpoint_properties_reference %}<a href="/api-platform/reference/endpoint-properties-reference">Endpoint properties reference</a>{% endsetvar %}
{% setvar flow_configuration_reference %}<a href="/api-platform/reference/flow-configuration-reference">Flow Configuration Reference</a>{% endsetvar %}
{% setvar ftp %}<a href="ftp://ftp.apigee.com/">ftp://ftp.apigee.com/</a>{% endsetvar %}
{% setvar gcp_console %}<a href="https://console.cloud.google.com/" class="external">GCP console</a>{% endsetvar %}
{% setvar get_token %}<a href="/api-platform/system-administration/using-gettoken"><code>get_token</code></a>{% endsetvar %}
{% setvar gs_tutorial %}<a href="/api-platform/get-started/get-started">Get Started with Apigee Edge tutorial</a>{% endsetvar %}
{% setvar javascript_object_model %}<a href="/api-platform/reference/javascript-object-model">JavaScript object model</a>{% endsetvar %}
{% setvar jom %}<a href="/api-platform/reference/javascript-object-model">JavaScript object model</a>{% endsetvar %}
{% setvar managementapi_basepath %}https://api.enterprise.apigee.com/v1{% endsetvar %}
{% setvar message_reference %}<a href="/api-platform/reference/variables-reference#message"><code>message</code> variable reference</a>{% endsetvar %}
{% setvar mgmt_api_basepath %}https://api.enterprise.apigee.com/v1{% endsetvar %}
{% setvar mgmt_ui %}<a href="https://apigee.com/edge" class="external">Edge Management UI</a>{% endsetvar %}
{% setvar orders %}<a href="mailto:orders@apigee.com">orders@apigee.com</a>{% endsetvar %}
{% setvar pricing %}<a href="https://apigee.com/api-management/#/pricing" class="external">Apigee&nbsp;Edge&nbsp;Pricing</a>{% endsetvar %}
{% setvar request_reference %}<a href="/api-platform/reference/variables-reference#request"><code>request</code> variable reference</a>{% endsetvar %}
{% setvar response_reference %}<a href="/api-platform/reference/variables-reference#response"><code>response</code> variable reference</a>{% endsetvar %}
{% setvar sales %}<a href="https://pages.apigee.com/contact-sales-reg.html">Apigee Sales</a>{% endsetvar %}
{% setvar shared_flow_bundle_configuration_reference %}<a href="/api-platform/reference/shared-flow-bundle-configuration-reference">Shared flow bundle configuration reference</a>{% endsetvar %}
{% setvar status %}<a href="https://status.apigee.com" class="external">Apigee Release Schedule</a>{% endsetvar %}
{% setvar support %}<a href="http://support.apigee.com/" class="external">Apigee Support</a>{% endsetvar %}
{% setvar support_portal %}<a href="https://apigee.com/about/support/portal" class="external">Apigee Support</a>{% endsetvar %}
{% setvar trace %}<a href="/api-platform/debug/using-trace-tool-0">Trace tool</a>{% endsetvar %}
{% setvar ts_guide %}<a href="/files/ApigeeEdgeTroubleshootingGuide.pdf">Edge Private Cloud Troubleshooting Guide</a>{% endsetvar %}
{% setvar variables_reference %}<a href="/api-platform/reference/variables-reference">Flow variables reference</a>{% endsetvar %}
{% setvar cps %}<a href="/api-platform/reference/cps">CPS</a>{% endsetvar %}

{# COMMON LINKS/Private Cloud #}
{% setvar topologies %}<a href="installation-topologies">Installation topologies</a>{% endsetvar %}

{# FLOW VARIABLES (link) #}
{% setvar apigee_object %}<a href="/api-platform/reference/variables-reference#apigee"><code>apigee</code></a>{% endsetvar %}
{% setvar apiproxy_object %}<a href="/api-platform/reference/variables-reference#apiproxy"><code>apiproxy</code></a>{% endsetvar %}
{% setvar application_object %}<a href="/api-platform/reference/variables-reference#application"><code>application</code></a>{% endsetvar %}
{% setvar client_object %}<a href="/api-platform/reference/variables-reference#client"><code>client</code></a>{% endsetvar %}
{% setvar current_object %}<a href="/api-platform/reference/variables-reference#current"><code>current</code></a>{% endsetvar %}
{% setvar environment_object %}<a href="/api-platform/reference/variables-reference#environment"><code>environment</code></a>{% endsetvar %}
{% setvar error_object %}<a href="/api-platform/reference/variables-reference#error"><code>error</code></a>{% endsetvar %}
{% setvar is_object %}<a href="/api-platform/reference/variables-reference#is"><code>is</code></a>{% endsetvar %}
{% setvar loadbalancing_object %}<a href="/api-platform/reference/variables-reference#loadbalancing"><code>loadbalancing</code></a>{% endsetvar %}
{% setvar message_object %}<a href="/api-platform/reference/variables-reference#message"><code>message</code></a>{% endsetvar %}
{% setvar messageid_object %}<a href="/api-platform/reference/variables-reference#messageid"><code>messageid</code></a>{% endsetvar %}
{% setvar organization_object %}<a href="/api-platform/reference/variables-reference#organization"><code>organization</code></a>{% endsetvar %}
{% setvar proxy_object %}<a href="/api-platform/reference/variables-reference#proxy"><code>proxy</code></a>{% endsetvar %}
{% setvar request_object %}<a href="/api-platform/reference/variables-reference#request"><code>request</code></a>{% endsetvar %}
{% setvar response_object %}<a href="/api-platform/reference/variables-reference#response"><code>response</code></a>{% endsetvar %}
{% setvar route_object %}<a href="/api-platform/reference/variables-reference#route"><code>route</code></a>{% endsetvar %}
{% setvar router_object %}<a href="/api-platform/reference/variables-reference#router"><code>router</code></a>{% endsetvar %}
{% setvar servicecallout_object %}<a href="/api-platform/reference/variables-reference#servicecallout"><code>servicecallout</code></a>{% endsetvar %}
{% setvar system_object %}<a href="/api-platform/reference/variables-reference#system"><code>system</code></a>{% endsetvar %}
{% setvar target_object %}<a href="/api-platform/reference/variables-reference#target"><code>target</code></a>{% endsetvar %}
{% setvar variable_object %}<a href="/api-platform/reference/variables-reference#variable"><code>variable</code></a>{% endsetvar %}
{% setvar virtualhost_object %}<a href="/api-platform/reference/variables-reference#virtualhost"><code>virtualhost</code></a>{% endsetvar %}

{# VARIABLES LINKS/API Monitoring #}
{% setvar monitoring_logs_api %}<a href="https://apidocs.apigee.com/api-reference/content/api-monitoring-apis#logapis">Logs API</a>{% endsetvar %}
{% setvar monitoring_metrics_api %}<a href="https://apidocs.apigee.com/api-reference/content/api-monitoring-apis#metricsapis">Metrics API</a>{% endsetvar %}
{% setvar monitoring_alerts_api %}<a href="https://apidocs.apigee.com/api-reference/content/api-monitoring-apis#alertapis">Alerts API</a>{% endsetvar %}
{% setvar monitoring_collections_api %}<a href="https://apidocs.apigee.com/api-reference/content/api-monitoring-apis#collectionapis">Collections API</a>{% endsetvar %}

{# POLICY REFERENCE #}
{% setvar displayname %}<code>&lt;DisplayName&gt;</code>{% endsetvar %}
{% setvar displayname_link %}<a href="#displayname"><code>&lt;DisplayName&gt;</code></a>{% endsetvar %}

{# "Initialize" the variables used in the default value table and other includes #}
{% setvar dvt_default_value %}null{% endsetvar %}
{% setvar dvt_required %}null{% endsetvar %}
{% setvar dvt_type %}null{% endsetvar %}
{% setvar dvt_parent %}null{% endsetvar %}
{% setvar dvt_children %}null{% endsetvar %}
{% setvar callout_body %}null{% endsetvar %}

{# API PROXY CONFIGURATION REFERENCE #}
{% setvar apiproxy_reference %}<a href="/api-platform/reference/api-proxy-configuration-reference">API Proxy Configuration Reference</a>{% endsetvar %}
{% setvar apiproxy %}<code>&lt;APIProxy&gt;</code>{% endsetvar %}
{% setvar apiproxy_link %}<a href="/api-platform/reference/api-proxy-configuration-reference#baseconfiguration"><code>&lt;APIProxy&gt;</code></a>{% endsetvar %}
{% setvar basepath %}<code>&lt;BasePath&gt;</code>{% endsetvar %}
{% setvar basepath_link %}<a href="/api-platform/reference/api-proxy-configuration-reference#baseconfiguration"><code>&lt;BasePath&gt;</code></a>{% endsetvar %}
{% setvar condition %}<code>&lt;Condition&gt;</code>{% endsetvar %}
{% setvar condition_link %}<a href="/api-platform/reference/flow-segments-reference#condition"><code>&lt;Condition&gt;</code></a>{% endsetvar %}
{% setvar defaultfaultrule %}<code>&lt;DefaultFaultRule&gt;</code>{% endsetvar %}
{% setvar defaultfaultrule_link %}<a href="/api-platform/reference/api-proxy-configuration-reference#defaultfaultrule"><code>&lt;DefaultFaultRule&gt;</code></a>{% endsetvar %}
{% setvar description %}<code>&lt;Description&gt;</code>{% endsetvar %}
{% setvar description_link %}<a href="/api-platform/reference/flow-segments-reference#description"><code>&lt;Description&gt;</code></a>{% endsetvar %}
{% setvar faultrules %}<code>&lt;FaultRules&gt;</code>{% endsetvar %}
{% setvar faultrules_link %}<a href="/api-platform/reference/api-proxy-configuration-reference#faultrules"><code>&lt;FaultRules&gt;</code></a>{% endsetvar %}
{% setvar flow %}<code>&lt;Flow&gt;</code>{% endsetvar %}
{% setvar flow_link %}<a href="/api-platform/reference/flow-segments-reference#flow"><code>&lt;Flow&gt;</code></a>{% endsetvar %}
{% setvar flows %}<code>&lt;Flows&gt;</code>{% endsetvar %}
{% setvar flows_link %}<a href="/api-platform/reference/flow-segments-reference#flows"><code>&lt;Flows&gt;</code></a>{% endsetvar %}
{% setvar httpproxyconnection %}<code>&lt;HTTPProxyConnection&gt;</code>{% endsetvar %}
{% setvar httpproxyconnection_link %}<a href="/api-platform/reference/api-proxy-configuration-reference#httpproxyconnection"><code>&lt;HTTPProxyConnection&gt;</code></a>{% endsetvar %}
{% setvar name %}<code>&lt;Name&gt;</code>{% endsetvar %}
{% setvar name_link %}<a href="/api-platform/reference/flow-segments-reference#name"><code>&lt;Name&gt;</code></a>{% endsetvar %}
{% setvar postflow %}<code>&lt;PostFlow&gt;</code>{% endsetvar %}
{% setvar postflow_link %}<a href="/api-platform/reference/flow-segments-reference#postflow"><code>&lt;PostFlow&gt;</code></a>{% endsetvar %}
{% setvar preflow %}<code>&lt;PreFlow&gt;</code>{% endsetvar %}
{% setvar preflow_link %}<a href="/api-platform/reference/flow-segments-reference#preflow"><code>&lt;PreFlow&gt;</code></a>{% endsetvar %}
{% setvar postclientflow %}<code>&lt;PostClientFlow&gt;</code>{% endsetvar %}
{% setvar postclientflow_link %}<a href="/api-platform/reference/flow-segments-reference#postclientflow"><code>&lt;PostClientFlow&gt;</code></a>{% endsetvar %}
{% setvar proxyendpoint %}<code>&lt;ProxyEndpoint&gt;</code>{% endsetvar %}
{% setvar proxyendpoint_link %}<a href="/api-platform/reference/api-proxy-configuration-reference#proxyendpoint"><code>&lt;ProxyEndpoint&gt;</code></a>{% endsetvar %}
{% setvar request %}<code>&lt;Request&gt;</code>{% endsetvar %}
{% setvar request_link %}<a href="/api-platform/reference/flow-segments-reference#request"><code>&lt;Request&gt;</code></a>{% endsetvar %}
{% setvar response %}<code>&lt;Response&gt;</code>{% endsetvar %}
{% setvar response_link %}<a href="/api-platform/reference/flow-segments-reference#response"><code>&lt;Response&gt;</code></a>{% endsetvar %}
{% setvar routerule %}<code>&lt;RouteRule&gt;</code>{% endsetvar %}
{% setvar routerule_link %}<a href="/api-platform/reference/api-proxy-configuration-reference#proxyendpoint-proxyendpointconfigurationelements"><code>&lt;RouteRule&gt;</code></a>{% endsetvar %}
{% setvar sslinfo %}<code>&lt;SSLInfo&gt;</code>{% endsetvar %}
{% setvar sslinfo_link %}<a href="/api-platform/reference/api-proxy-configuration-reference#tlsssltargetendpointconfiguration"><code>&lt;SSLInfo&gt;</code></a>{% endsetvar %}
{% setvar step %}<code>&lt;Step&gt;</code>{% endsetvar %}
{% setvar step_link %}<a href="/api-platform/reference/flow-segments-reference#step"><code>&lt;Step&gt;</code></a>{% endsetvar %}
{% setvar targetendpoint %}<code>&lt;TargetEndpoint&gt;</code>{% endsetvar %}
{% setvar targetendpoint_link %}<a href="/api-platform/reference/api-proxy-configuration-reference#targetendpoint"><code>&lt;TargetEndpoint&gt;</code></a>{% endsetvar %}

{# LIMITS #}
  {% include "includes/_localvars_limits.html" %}
{# POLICY DOC LINKS #}
  {% include "includes/_localvars_policies.html" %}
{# POLICY REFERENCE ELEMENTS #}
  {% include "includes/policy_reference/_localvars_assignmessage.html" %}
  {% include "includes/policy_reference/_localvars_messagevalidation.html" %}

  {% include "includes/policy_reference/_localvars_accesscontrol.html" %}
  {% include "includes/policy_reference/_localvars_accessentity.html" %}
  {% include "includes/policy_reference/_localvars_basicauthentication.html" %}
  {% include "includes/policy_reference/_localvars_concurrentratelimit.html" %}
  {% include "includes/policy_reference/_localvars_decodejwt.html" %}
  {% include "includes/policy_reference/_localvars_deleteoauthv1info.html" %}
  {% include "includes/policy_reference/_localvars_deleteoauthv2info.html" %}
  {% include "includes/policy_reference/_localvars_extensioncallout.html" %}
  {% include "includes/policy_reference/_localvars_extractvariables.html" %}
  {% include "includes/policy_reference/_localvars_flowcallout.html" %}
  {% include "includes/policy_reference/_localvars_generatejwt.html" %}
  {% include "includes/policy_reference/_localvars_getoauthv1info.html" %}
  {% include "includes/policy_reference/_localvars_getoauthv2info.html" %}
  {% include "includes/policy_reference/_localvars_invalidatecache.html" %}
  {% include "includes/policy_reference/_localvars_javacallout.html" %}
  {% include "includes/policy_reference/_localvars_javascript.html" %}
  {% include "includes/policy_reference/_localvars_jsonthreatprotection.html" %}
  {% include "includes/policy_reference/_localvars_jsontoxml.html" %}
  {% include "includes/policy_reference/_localvars_keyvaluemapoperations.html" %}
  {% include "includes/policy_reference/_localvars_ldap.html" %}
  {% include "includes/policy_reference/_localvars_lookupcache.html" %}
  {% include "includes/policy_reference/_localvars_messagelogging.html" %}
  {% include "includes/policy_reference/_localvars_oauthv2.html" %}
  {% include "includes/policy_reference/_localvars_populatecache.html" %}
  {% include "includes/policy_reference/_localvars_pythonscript.html" %}
  {% include "includes/policy_reference/_localvars_quota.html" %}
  {% include "includes/policy_reference/_localvars_raisefault.html" %}
  {% include "includes/policy_reference/_localvars_regularexpressionprotection.html" %}
  {% include "includes/policy_reference/_localvars_resetquota.html" %}
  {% include "includes/policy_reference/_localvars_samlassertion.html" %}
  {% include "includes/policy_reference/_localvars_responsecache.html" %}
  {% include "includes/policy_reference/_localvars_servicecallout.html" %}
  {% include "includes/policy_reference/_localvars_setoauthv2info.html" %}
  {% include "includes/policy_reference/_localvars_spikearrest.html" %}
  {% include "includes/policy_reference/_localvars_statisticscollector.html" %}
  {% include "includes/policy_reference/_localvars_verifyapikey.html" %}
  {% include "includes/policy_reference/_localvars_verifyjwt.html" %}
  {% include "includes/policy_reference/_localvars_xmlthreatprotection.html" %}
  {% include "includes/policy_reference/_localvars_xmltojson.html" %}
  {% include "includes/policy_reference/_localvars_xsltransform.html" %}

{# ICONS and BULLETS #}
{% setvar deprecated_icon %}<span class="material-icons" title="Deprecated"><span style="color:gray">not_interested</span></span>{% endsetvar %}
{% setvar burger %}<span class="material-icons" title="Menu">menu</span>{% endsetvar %}
{% setvar custom_bullet_1 %}&#9675;{% endsetvar %}
{% setvar custom_bullet_2 %}&#9657;{% endsetvar %}
{% setvar hot_hockey %}<span class="material-icons" title="Hot hockey!">whatshot</span>{% endsetvar %}
{% setvar kebab %}<span class="material-icons" title="horizontal line">more_vert</span>{% endsetvar %}
{% setvar nbh %}&#9675;{% endsetvar %}
{% setvar no %}<span class="compare-no"></span>{% endsetvar %}
{% setvar whopper %}<span class="material-icons" title="Hot hockey!">whatshot</span>{% endsetvar %}
{% setvar yes %}<span class="compare-yes"></span>{% endsetvar %}
{% setvar bigquote %}<p style="text-align: center;"><span style="color:green;"><span class="material-icons" data-tooltip="Quote" style="font-size:42px;">format_quote</span></span></p>{% endsetvar %}

{# SHORTCUTS #}
{% setvar dt %}devsite-terminal{% endsetvar %}
{% setvar dc2c %}devsite-disable-click-to-copy{% endsetvar %}

{# BLURBS #}

{% setvar topologies_info_intro %}<p><strong>Additional notes:</strong></p>{% endsetvar %}

{% setvar b_auth_blurb %}
  <p>This example shows <a href="/api-platform/system-administration/basic-auth">Basic</a> syntax
  for authentication. You may be able to use other types of authentication, such as
  <a href="/api-platform/system-administration/using-oauth2">Oauth2</a> or
  <a href="/api-platform/system-administration/enabling-saml-authentication-edge">SAML</a>.</p>
{% endsetvar %}

{% setvar a_auth_blurb %}
  <p>This example shows <a href="/api-platform/system-administration/using-oauth2">OAuth2</a> for
  authentication. You may be able to use other types of authentication, such as
  <a href="/api-platform/system-administration/basic-auth">Basic</a> or
  <a href="/api-platform/system-administration/enabling-saml-authentication-edge">SAML</a>.</p>
{% endsetvar %}

{% setvar acurl_blurb %}
  <p>This example uses the {{acurl}} utility, which passes in an OAuth2 access token in the request
  header to authenticate you with the management API server. With <code>acurl</code>, you do not
  need to include your credentials in the request.</p>
{% endsetvar %}

{% setvar community_blurb %}
  <p>The {{community}} is a free resource where you can contact Apigee as
  well as other Apigee customers with questions, tips, and other issues. Before posting to the
  community, be sure to first search existing posts to see if your question has already been
  answered.</p>
{% endsetvar %}

{% setvar curl_blurb %}
  <aside class="note">
    <h4>NOTE</h4>
    The examples in this section use <code>curl</code> to make API requests. You should consider
    using {{acurl}}, Apigee's utility that acts as a convenience wrapper around <code>curl</code>.
    <code>acurl</code> passes in the access tokens and refreshes them for you when the tokens
    expire.
  </aside>
{% endsetvar %}

{% setvar curl_formdata %}
To set form data to the empty string in <code>curl</code>, you use the <code>-d</code> option, as
the following example shows:
<pre class="devsite-terminal">curl <strong><code>-d</code> ""</strong> ...</pre>
{% endsetvar %}

{% setvar curl_header %}
To set a header in <code>curl</code>, use the <code>-H</code> option, as the following example shows:
<pre class="devsite-terminal">curl <strong><code>-H</code> "Content-Type: application/x-www-form-urlencoded"</strong> ...</pre>
{% endsetvar %}

{% setvar curl_verb %}
To set the HTTP verb in <code>curl</code>, use the <code>-X</code> option, as the following example
shows:
<pre class="devsite-terminal">curl <strong><code>-X</code> POST</strong> ...</pre>
{% endsetvar %}

{% setvar custom_dimensions_delay %}
  <aside class="note">
  <h4>NOTE</h4>
  It takes about 30 minutes for a new custom dimension to be added to the database
  after the <a href="/api-platform/reference/policies/statistics-collector-policy">Statistics
  Collector policy</a> is invoked for the first time, for each environment. For example, if a
  Statistics Collector proxy is invoked in the <code>test</code> environment, data for that custom
  dimension starts to be available in the <code>test</code> environment 30 minutes later,
  and the custom dimension will appear in the
  <a href="/api-platform/analytics/create-custom-reports">custom reports</a> Dimensions
  drop-down list.
  <p>If that Statistics Collector proxy is then called from the <code>prod</code>
  environment, it will be about 30 minutes before data for that custom dimension starts being
  available in the <code>prod</code> environment. From then on, data is available after the same
  time interval as other dimensions.</p>
  </aside>
{% endsetvar %}

{% setvar user_limit_blurb %}
  <aside class="caution"><h4>IMPORTANT</h4>
    Your ability to add new users may depend on your account type. For more information,
    see {{pricing}}.
  </aside>
{% endsetvar %}

{% setvar portal_note %}
  <aside class="note">
  <h4>NOTE</h4>
  Do not install the portal on the same servers as Apigee Edge.
  </aside>
{% endsetvar %}

{% setvar hosted_targets_availability %}
  <aside class="note">
    Apigee Hosted Targets are available to Apigee Edge Cloud Enterprise customers in the new
    Edge Experience UI. Hosted Targets are not available in the Classic Edge UI.
  </aside>
{% endsetvar %}

{% setvar extensions_availability %}
  <aside class="note">
    Apigee Extensions are available to Apigee Edge Cloud Enterprise customers in the new
    Edge Experience UI. Extensions are not available in the Classic Edge UI.
  </aside>
{% endsetvar %}

{% setvar extensions_beta %}
  <aside class="warning">
  This is the Beta release of Extensions. To learn more, see
  <a href="/release/release-stages">Apigee Release Stages</a>.
    Apigee Extensions is currently available to Apigee Edge Cloud Enterprise customers in the new
    Edge UI only. Apigee Extensions is not available in the Classic Edge UI.
  </aside>
{% endsetvar %}

{% setvar build_number_blurb %}
  <section class="expandable">
    <h3 class="showalways hide-from-toc"><sup>*</sup>About the build numbers</h3>
    <aside class="note">
      The <strong>Build Number</strong> column in the table specifies the earliest version of the
      component that contains the fix. Use that build number to determine if you already have the fix
      installed, or if you need to perform an update.
      <p>To find out the build number of a currently installed component, use the
      <code>apigee-service</code> utility with the following syntax:</p>
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service <var>component</var> version</pre>
      <p>Where <var>component</var> is the name of the component without the build number extension.
      For example:</p>
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-setup version</pre>
      <p>You can get the build number of <em>all components</em> with the <code>apigee-all</code>
      utility:</p>
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-all version</pre>
    </aside>
  </section>
{% endsetvar %}
{% setvar monetization_tax_model %}
<p><b>Note:</b> Applies only if you set up revenue sharing rate plans and you want
to generate billing documents.</p>
<p>Tax model for revenue sharing rate plans that identifies the type of billing documents required. </p>
<p>Valid values include:</p>
<ul>
   <li>Disclosed: API provider acts as a disclosed agent of the
   developer. The gross revenue (including sales taxes) collected from the end user is
   passed to the developer. The API provider&#8217;s commission is collected from the
   developer in the form of a commission invoice. The API provider does not handle the
   sales tax collected from the end user, and it is the developer&#8217;s responsibility
   to report the sales tax.</li>

   <li>Undisclosed: API provider acts as an undisclosed agent of
   the developer, and deducts the tax collected from the end users and pays it to the
   local tax authorities. The developer invoices the API provider for the net revenue
   share due to the developer (less sales taxes and the API provider&#8217;s
   commission).</li>

   <li>Hybrid: API provider acts as a disclosed agent of the
   developer. However, the API provider pays the sales tax collected from their
   subscribers to the local tax authorities on the developer&#8217;s behalf. The API
   provider passes the remaining revenue to the developer, and then invoices for
   commission charges.</li>
</ul>
{% endsetvar %}

{% setvar monetization_billing_type %}
<p>Developer payment model used for billing. The value can be one of the following:</p>
<ul>
  <li><b>PREPAID</b>: Developer pays in advance for the use of an API product. Funds are
   deducted from the developer's balance when the API product is used. The developer must
   maintain a prepaid balance sufficient to purchase the API product.</li>

  <li><b>POSTPAID</b>: Developer is billed monthly (through an invoice) for the use of API
   products. The developer pays for the use of API products based on the payment terms set
   by the plan(s) included on the invoice.</li>

  <li><b>BOTH</b>: Supports either billing type. Defaults to PREPAID.</li>
</ul>
<p>See <a href="billing-types">Configuring prepaid and postpaid billing types</a>.
{% endsetvar %}
{% setvar monetization_billing_type_definition %}
<p>Developer accounts can be configured to use the following billing types: prepaid, postpaid, or both.</p>
<p>With <b>prepaid accounts</b>, developers pay in advance for the use of your APIs.
  Funds are deducted from the developer's prepaid balance that is maintained through an integrated payment provider.
  The developer must maintain a prepaid balance sufficient to purchase the APIs.</p>
<p>With <b>postpaid accounts</b>, developers are billed monthly (through an invoice) at the end of the month.
  The developer pays for the use of API products based on the payment terms set by the plan(s) included on the invoice.</p>
{% endsetvar %}
{% setvar ue_note %}
<aside class="note">The steps in the topics that follow are specific to the New Edge UI. The Classic Edge UI steps are similar to those described.</aside>
{% endsetvar %}

{% setvar amstop %}
<aside class="note">
<strong>NOTE (version 4.19.01 or later)</strong><p>If <code>apigee-monit</code> is
running, you must stop monitoring the component in addition to stopping the component itself:</p>
<pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-monit stop-component -c <var>component_name</var></pre>
<p>To restart the component and resume monitoring, use the following command:</p>
<pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-monit start-component -c <var>component_name</var></pre>
<p>For more information, see <a href="apigee-monit#stop">Stop and start monitoring a component</a>.</p>
</aside>
{% endsetvar %}

{% setvar amstopstep %}
<li>
  (<em>Version 4.19.01 or later</em>) If you are using {{am}}, stop <em>monitoring</em> the
  component in addition to stopping the component itself. Apigee recommends using the
  <code>stop-component</code> option as described in
  <a href="/private-cloud/latest/apigee-monit#stop">Stop and start monitoring components</a>.
</li>
{% endsetvar %}

{% setvar amstartstep %}
<li>
  (<em>Version 4.19.01 or later</em>) If you are using {{am}}, resume <em>monitoring</em> the
  component in addition to restarting the component itself. Apigee recommends using the
  <code>start-component</code> option as described in
  <a href="/private-cloud/latest/apigee-monit#stop">Stop and start monitoring components</a>.
</li>
{% endsetvar %}
