  {% extends "_base.html" %} {% block title %}Hosted Targets FAQ{% endblock %} {% block body %}

{{ hosted_targets_availability }}

<h3>Is there management API support for Hosted Target proxies?</h3>

<p>No new management APIs were created or existing APIs changed to support Hosted
Targets; however, you can use existing management APIs to deploy and manage proxies that use Hosted
Targets, as long as the Hosted Target proxies are properly constructed. See also <a href="/api-platform/hosted-targets/hosted-targets-tutorials#about-the-directory-structure-of-your-nodejs-app">
Required directory struture for your Node.js app</a>.</p>

   <h3>Can I use IP whitelisting to secure my target backend?</h3>

   <p>The technology upon which Hosted Targets is built, <a href="https://cloud.google.com/appengine/docs/">Google App Engine</a> (GAE), does not provide
     a way to give a static IP address to an app. GAE uses an IP pool range; therefore, it may be
     possible to whitelist a range of IP addresses. For more information, refer to this GAE FAQ entry,
     <a href="https://cloud.google.com/appengine/kb#static-ip">Static IP Addresses and App Engine apps</a>.

   <h3>Can I put multiple &lt;HostedTarget&gt; target endpoints in one proxy?</h3>

   <p>You can specify multiple <code>&lt;HostedTarget&gt;</code> elements in the target endpoint
     of a proxy; however, only one Hosted Target is deployed per proxy. This is the application
     in the proxy's<strong> resources/hosted</strong> directory. Any route rules to different instances
     of <code>&lt;HostedTarget&gt;</code> will route them to the same deployed Hosted Target application.</p>

   <h3>Is it possible to work around the lack of apigee-access?</h3>

<p>You cannot use the <code>apigee-access</code> module in Hosted Targets apps.</a>
If you use traditional, embedded Node.js with <code>apigee-access</code>
and want to migrate to Hosted Targets, consider the following possibilities:</p>
   <ul>
     <li><strong>Use Edge policies</strong> - Where possible, use standard Edge policies to replace
       what your existing <code>apigee-access</code> code does.
     <li><strong>Use headers</strong> -&nbsp;You can put KVM values and flow variables to your Node.js
       application in HTTP request headers. This strategy works for KVM values or flow variables that
       are available in the request flow of the API proxy.
      </li>
      <li><strong>Use environment variables</strong> -&nbsp;You can set environment variables whose
        values are provided by the KVM. This is documented in the <a href="./hosted-targets-reference#about-the-manifest-file">manifest file</a>&nbsp;portion of the user guide.</li>
   </ul>

   <h3>Can I use Java Keystores (JKS) Files for TLS?</h3>

   <p>Hosted Targets does not support JKS for TLS as a replacement for PEM files, see previous
     documentation <a href="https://github.com/apigee/trireme#tlsssl-and-https">here</a>. Hosted Targets
     uses native Node.js and thus uses OpenSSL natively. Please refer to the <a href="https://nodejs.org/dist/latest-v6.x/docs/api/tls.html">TLS (SSL) documentation</a>&nbsp;provided by Node.js docs when setting up TLS/SSL connections.</p>

   <h3>What's the best way to manage temporary files?</h3>

   <p>Always delete temporary files. Local disk storage in the temporary directory is an in-memory filesystem. All files that you
     write consume memory available&nbsp;to your function. Files that you write are usually available
     at consecutive invocations, therefore failing to delete these files may eventually lead to an
     out-of-memory error and a subsequent cold start.</p>
   <p>Do not attempt to write outside of the temporary directory. Also, use platform-independent
     methods such as <strong>os.tmpdir()</strong>&nbsp;and <strong>path.join()</strong>&nbsp;to
     construct the temporary file path, so that your functions also work on the emulator on any platform.</p>

   <p>For more information, see <a href="https://cloud.google.com/functions/docs/bestpractices/tips">this Google Cloud document</a>.</p>
   <h3>Can I deploy multiple proxy revisions?</h3>

   <p>Apigee Edge allows you to deploy multiple revisions of a proxy to an environment with different
     basepaths; however, this behavior is not supported for Hosted Targets.</p>

<h3>Is there a limit on request header size?</h3>

<p>For the most recent versions of Node.js (11.3.0+) as well as
  <a href="https://github.com/nodejs/Release#release-schedule">LTS versions</a> including 6.14.0+, 8.14.0+, and 11.3.0+,
  the maximum request header size that you can use in a Node.js
  application is 8 KB. If you want to pass headers that are bigger that 8 KB, specify another version of
  Node.js that is not on the above list. You can do this in the application's <code>package.json</code> file. For example:</p>

  <pre>
  runtime: node
  <strong>runtimeVersion:6.4.1</strong>
  application:my-express-app
  env:
    - name: NODE_ENV
      value: production
    - name: LOG_LEVEL
      value: 3
  </pre>

{% endblock %}
