  {% extends "_base.html" %} {% block title %}Hosted Targets reference{% endblock %} {% block body %}

{{ hosted_targets_availability }}

<h2>Environment variable limits</h2>

<p>Hosted Targets limits the size and number of environment variables
            that you can set in the Hosted Targets runtime environment.</p>

            <ul>
              <li>1000: Maximum length of a single environment variable.</li>
              <li>100: Maximum number of environment variables that you can set.</li>
            </ul>
<p>For information about setting environment variables, see
  <a href="/api-platform/hosted-targets/hosted-targets-reference#the-manifest-file">The manifest file</a>.

  <h2>Environment variables set in the application runtime</h2>

<p>When you deploy a Hosted Targets application, the following environment variables are set and
  are available to your application at runtime:</p>

<ul>
  <li><code>APIGEE_ENVIRONMENT</code> - The environment where the Hosted Target proxy is deployed.</li>
  <li><code>APIGEE_ORGANIZATION</code> - The organization where the Hosted Target proxy is deployed.</li>
  <li><code>PORT</code> - The port where the Hosted Target application must listen.</li>
</ul>

<h2>System resource allocation</h2>
   <p>Each Hosted Targets instance receives the following resources:</p>

   <ul>
      <li>256 MB memory</li>
      <li>1.2 GHz CPU</li>
   </ul>



   <h2>Scaling</h2>

This section describes how Hosted Targets applications scale, depending on the type of Edge account
you have.

   <ul>
      <li>A Trial version of Apigee Edge is limited to one Hosted Targets instance per proxy.</li>
     <li>Paid Apigee Edge accounts receive automatic scaling based on request rate, response latencies,
       and other application metrics per proxy.<br />
     </li>
      <li>Hosted Targets apps deployed to both paid and trial versions of Apigee Edge scale to zero on periods of inactivity.
     In this case, you may notice slower response times for a brief period. See also
        <a href="/api-platform/hosted-targets/hosted-targets-reference#known-issues">Known issues</a></li>
   </ul>



   <h2>The manifest file</h2>

   <p>To gather runtime information for building and deploying the hosted application, Edge looks for
     a manifest file  named <strong>app.yaml</strong> in the <strong>resources/hosted</strong>&nbsp;directory.
     This file contains information necessary to build and deploy the Hosted Targets application.</p>

<h3>Maniest file syntax</h3>

<pre class="prettyprint">
runtime: node
runtimeVersion: <var>version_number</var>
command: <var>command_name</var>
args: <var>argument_array</var>
env:
  - name: <var>variable_name</var>
    value: <var>literal_value</var>
  - name: <var>variable_name</var>
    valueRef:
      name: <var>kvm_name</var>
      key: <var>kvm_value</var></pre>

<h3>Manifest file elements</h3>

   <p>A <strong>app.yaml</strong>&nbsp;manifest file includes these elements:</p>

      <ul>
      <li><strong>runtime</strong> - (Required) Specifies the type of application you are deploying.
        You must specify <code>node</code>.</li>

      <li><strong>runtimeVersion</strong>&nbsp;- (Optional) The version of the runtime that
        your application uses. Default: Node.js LTS (v8.x). Refer to the <a href="https://hub.docker.com/r/library/node/tags/">Docker official repository for Node</a>
            for other options.</li>

      <li><strong>command</strong> - (Optional) Lets you specify a command to run other than the
        default command used to start your application. Default: <code>Node.js=npm</code>

      <li><strong>args</strong> - (Optional) Array of command line arguments to pass to the
        application (specified in standard YAML array syntax). Typically, these are added to the default command.
        The default is <strong>start</strong>. For example, by default the Node.js app will be passed the command
          <code>npm start</code>.</li>

        <li><strong>env</strong> - (Optional) An array of environment variables (name/value pairs)
          to set in the Hosted Targets runtime environment. These variables are available to your
     deployed Hosted Targets app.

          <aside class="note"><p>Hosted Targets limits the size and number of environment variables
            that you can set. See <a href="/api-platform/hosted-targets/hosted-targets-reference#limits">Limits</a></p>
          </aside>
     </li>

   <ul>
      <li><strong>name</strong>&nbsp;- The variable name.</li>

      <li><strong>value | valueRef</strong> - You have two options. You can set a <b>literal value</b>
        or reference a value stored in a <b>Key Value Map</b>. The Key Value Map must
        already exist in your Edge environment. See <a href="http://docs.apigee.com/api-services/content/key-value-maps">Working with Key Value Maps</a>
        <ul>
        <li>If you use <strong>value</strong>, then you must
          specify a variable <code>name</code> and a literal <code>value</code>. For example:
<pre class="prettyprint">
runtime:&nbsp;node
env:
 - name:&nbsp;NODE_ENV
   value:&nbsp;production</pre>
          </li>
        <li>If you use <strong>valueRef</strong>,
          then you must supply the <b>name</b> of a <a href="/api-platform/cache/creating-and-editing-environment-keyvalue-maps.html">Key Value Map</a> (KVM) that you previously created in Edge and a <b>key</b>.
          For example:
          <pre class="prettyprint">
runtime:&nbsp;node
env:
  - name:&nbsp;DB_ENV
    value:&nbsp;production
  - name:&nbsp;DB_PASSWORD
    valueRef:
      name:&nbsp;hosted-kvm
      key:&nbsp;db-password</pre>
<aside class="note">The KVM lookup is scoped to the environment. KVM organization and application/proxy
scope are not supported. The KVM values are injected into the KVM once when the Node.js app starts.
          Modifying the KVM later will have no effect. The KVM option let you store sensitive information
     in the Edge encrypted KVM, rather than placing it in the proxy bundle itself.
          See <a href="http://docs.apigee.com/api-services/content/key-value-maps">Working with Key Value Maps</a>.</aside></li>
</ul>
        </ul>

   <h3>Example manifest files</h3>

        <p>This section contains example manifest files for Node.js
     applications. A manifest file is required to deploy a Hosted Targets app, and must be located
     in the <code>apiproxy/resources/hosted</code>&nbsp;directory, and the filename must be <code>app.yaml</code>. </p>

        <aside class="note">Remember that you do not need to include a <code>node_modules</code> directory with a Hosted Targets
          Node.js app. Upon deployment, Hosted Targets runs <code>npm install</code> to pull in any dependencies
          specified in the <code>package.json</code> file.</aside>

   <p>Following are example <code>app.yaml</code>&nbsp;(manifest) files for Node.js apps.</p>

   <p>Example that specifies an literal environment variable: </p>

 <pre class="prettyprint">
 runtime:&nbsp;node
 env:
   - name:&nbsp;NODE_ENV
     value:&nbsp;production</pre>

   <p>Example with a start command, command-line arguments, and an environment variable.</p>

 <pre class="prettyprint">
 runtime:&nbsp;node
 command: ./node_modules/pm2/bin/pm2
 env:
   - name:&nbsp;NODE_ENV
     value:&nbsp;production
 args:
   -&nbsp;app.js</pre>



   <p><br />Example that specifies a Key Value Map (KVM) reference:</p>
<p>For more information about KVM access, see <a href="#the-manifest-file">The Manifest file</a>.</p>

<pre class="prettyprint">
runtime:&nbsp;node
env:
  - name:&nbsp;DB_ENV
    value:&nbsp;production
  - name:&nbsp;DB_PASSWORD
    valueRef:
      name:&nbsp;hosted-kvm
      key:&nbsp;db-password</pre>




   <h2>Sample Hosted Targets applications on GitHub</h2>

   <p>Apigee provides sample proxies on GitHub with Hosted Targets applications written
     in Node.js. You can clone this repo and follow the README instructions to
     deploy any of the proxies.</p>

   <h3>Prerequisites</h3>

   <p>To deploy the samples, you must have two tools installed on your system:</p>

   <ul>
      <li><a href="https://www.npmjs.com/package/apigeetool">apigeetool</a>&nbsp;-- A command line
        tool for deploying Edge proxies.</li>
      <li><a href="https://apidocs.apigee.com/api-reference/content/using-oauth2-security-apigee-edge-management-api#installingtheacurlandgettokenscripts">get_token</a>&nbsp;- A command line tool for obtaining an authorization token required by apigeetool.</li>
   </ul>

   <p>If you want to test samples locally, you must also have you must have Node.js installed.</p>

   <h3>Obtaining the sample repo</h3>

   <ol>
      <li>In a browser, go to <a href="https://github.com/apigee/api-platform-samples">https://github.com/apigee/api-platform-samples</a>.</li>
      <li>Click <strong>Clone or download</strong>&nbsp;and pull the repo to your local system, using
        your preferred method.</li>
      <li><strong>cd</strong>&nbsp;to <strong>&lt;your install dir&gt;/api-platform-samples/doc-samples/hosted-targets</strong></li>
      <li>Once the repo is downloaded, you can cd&nbsp;to any of the sample directories and follow the
        README instructions to deploy a sample proxy to Edge. The deploy command is shown below. Simply
        replace the indicated parameters with ones for your Apigee account:</li>

<pre class="prettyprint">get_token &amp;&amp;&nbsp;apigeetool deployproxy \
  -o YOUR_ORGANIZATION \
  -e YOUR_ENVIRONMENT \
  --json \
  --token "$(&lt; ~/.sso-cli/valid_token.dat)"\
  --api NAME_OF_THE_PROXY \
  --directory .</pre>
</ol>

<h3>Example: Executing a sample app</h3>

<h4>Clone the samples repository</h4>

<pre class="prettyprint">
<code class=devsite-terminal>cd ~/myhome</code>
<code class=devsite-terminal>git clone https://github.com/apigee/api-platform-samples.git</code>
<code class=devsite-terminal>cd ~/myhome/api-platform-samples/hosted-targets</code>
<code class=devsite-terminal>cd node-hosted-hello</code></pre>

<h4>Test the application locally</h4>
<p>You must have Node.js installed to do this local test.</p>

<pre class="prettyprint">
 <code class=devsite-terminal>PORT=8081&nbsp;node apiproxy/resources/hosted/index.js</code>
 <code class=devsite-terminal>curl http://localhost:8081</code>
</pre>
<p>Example output:</p>
<pre>{"date":"2018-03-12T21:45:22.161Z","msg":"Hello, World!"}</pre>

        <h4> Deploy the proxy</h4>

 <pre class="devsite-terminal">
 get_token &amp;&amp;&nbsp;apigeetool deployproxy \
   -o myorg \
   -e test \
   --json \
   --token "$(&lt; ~/.sso-cli/valid_token.dat)"\
   --api node-hosted-hello \
   --directory .</pre>

<h4>Test the deployment</h4>
<p>The deployment may take a few minutes to complete. If you get a deployment error, execute
  the deploy command again.</p>

<pre class="devsite-terminal">
curl http://myorg-test.apigee.net/node-hosted-hello</pre>
<p>Example output:</p>
<pre>{"date":"2018-03-23T18:59:18.668Z","msg":"Hello, World!"</pre>


   <h2>Known Issues</h2>

   <ul>
      <li><strong>Network Latencies</strong>&nbsp;- Now that the Node.js application no longer runs
        in the MP&rsquo;s JVM, there is now a network hop between the MP and the deployment. Of course
        this comes at a cost but initial benchmarks show it to be well within a reasonable amount</li>
      <li><strong>Slow API Responses</strong>&nbsp;- The infrastructure running your applications
        automatically scales based on need. This means your application can actually scale down to
        zero instances and if that is the case, the next API request will take a little longer than
        typical API requests since the infrastructure is spinning up the instance(s) to process the
        request(s).</li>
      <li><strong>Deployment error</strong>&nbsp;- If you receive a deployment error when deploying a
        Hosted Targets proxy, try redeploying the proxy. In some cases, the deployment can time out
        and if you redeploy, the problem will resolve itself.</li>
   </ul>




{% endblock %}
