{% extends "_base.html" %}
{% block title %}Get started tutorial{% endblock %}
{% block body %}

  <p><strong>What you'll learn</strong></p>

  <p>Through this tutorial, you'll learn to:</p>

  <ul>
    <li>Create a new evaluation account.</li>
    <li>Create an API proxy.</li>
    <li>Change your proxy's target endpoint.</li>
    <li>Add a policy to your proxy.</li>
  </ul>

  <p><strong>What you'll need</strong></p>

  <ul>
    <li><a href="https://curl.haxx.se/" class="external">curl</a> installed on your machine to
      make API calls from the command line.</li>
  </ul>

  <p>To build and deploy your first API proxy:</p>
  <ol>
    <li><strong><a href="/api-platform/get-started/create-account">Create an Apigee account</a>.</strong> You have to do this
      before you can go any further. Or is it <em>farther</em>?</li>
    <li><strong><a href="/api-platform/get-started/create-proxy">Create an API proxy</a></strong> using the Edge management
      UI. You'll connect your proxy to a mock endpoint so you can see how it works.</li>
    <li><strong><a href="/api-platform/get-started/test-proxy">Test your new proxy</a></strong> to make sure you're on
      track.</li>
    <li><strong><a href="/api-platform/get-started/change-endpoint">Change your target endpoint</a></strong> so your
      policy has more interesting data to play with.</li>
    <li><strong><a href="/api-platform/get-started/add-policy">Add a policy</a></strong> to convert the response from
      XML to JSON. Policies are at the heart of your proxy's reqest-response flow.</li>
  </ol>


{% endblock %}
