  {% extends "_base.html" %} {% block title %}Secure an API with OAuth{% endblock %} {% block body %}

  <div class="tutorial-container">
    <div class="tutorial-learn">
      <p><strong>What you'll learn</strong></p>

      <ul>
        <li>Download and deploy a sample API proxy.</li>

        <li>Create an OAuth-protected API proxy.</li>

        <li>Create a product, developer, and app.</li>

        <li>Exchange credentials for an OAuth access token.</li>

        <li>Call an API with an access token.</li>
      </ul>
    </div>

    <div class="tutorial-section">
      <p>This tutorial shows you how to secure an API with OAuth 2.0.</p>

      <p>OAuth is an authorization protocol that enables apps to access information on behalf of
      users without requiring users to divulge their username and password.</p>

      <p>With OAuth, security credentials (such as username/password or key/secret) are exchanged
      for an access token. For example:</p>

      <p><code>joe:joes_password</code> (username:password) or<br>
      <code>Nf2moHOASMJeUmXVdDhlMbPaXm2U7eMc:unUOXYpPe74ZfLEb</code> (key:secret)</p>

      <p>becomes something like:</p>

      <p><code>b0uiYwjRZLEo4lEu7ky2GGxHkanN</code></p>

      <p>The access token is a random string of characters and is temporary (it should expire after
      a relatively short time), so passing it around to authenticate a user in an app workflow is
      much more secure than passing around actual credentials.</p>

      <p>The <a href="https://tools.ietf.org/html/rfc6749" target="_blank">OAuth 2.0
      specification</a> defines different mechanisms, called "grant types," for distributing access
      tokens for apps. The most basic grant type defined by OAuth 2.0 is called "client
      credentials." In this grant type, OAuth access tokens are generated in exchange for client
      credentials, which are consumer key/consumer secret pairs, like the example above.</p>

      <aside class="note"><b>Note:</b> The consumer key is also what Edge apps use for an API key
      when API key security is implemented, often in conjunction with some type of OAuth.</aside>

      <p>The client credentials grant type in Edge is implemented using policies in API proxies. A
      typical OAuth flow in involves two steps:</p>

      <ul>
        <li><strong>Call API proxy 1</strong> to generate an OAuth access token from client
        credentials. An OAuth v2.0 policy on the API proxy handles this.</li>

        <li><strong>Call API proxy 2</strong> to send the OAuth access token in an API call. The
        API proxy verifies the access token using an OAuth v2.0 policy.</li>
      </ul>
    </div>

    <div class="tutorial-section">
      <h2 id="whatyoullneed">What you'll need</h2>

      <ul>
        <li>An Apigee Edge account. If you don't have one yet, you can sign up with the directions
        at <a href="/api-platform/get-started/creating-apigee-edge-account.html">Creating an Apigee
        Edge account</a>.</li>

        <li><a href="https://curl.haxx.se/" target="_blank">cURL</a> installed on your machine to
        make API calls from the command line.</li>
      </ul>
    </div>

    <div class="tutorial-section">
      <h2 id="downloadanddeployatokengeneratingapiproxy">Download and deploy a token-generating API
      proxy</h2>

      <p>In this step, you'll create the API proxy that generates an OAuth access token from a
      consumer key and consumer secret sent in an API call. Apigee provides a sample API proxy that
      does this. You'll download and deploy the proxy now, then use it later in the tutorial. (You
      could build this API proxy easily yourself. This download and deploy step is for convenience
      and to show you how easy it is to share proxies that have already been created.)</p>

      <ol>
        <li><a href=
        "https://github.com/apigee/api-platform-samples/blob/master/default-proxies/oauth/oauth.zip?raw=true">
        Download the 'oauth' sample API proxy</a> ZIP file to any directory on your file
        system.</li>

        <li>Go to <a href="https://enterprise.apigee.com" target=
        "_blank">https://enterprise.apigee.com</a> and log in. This is the Edge management UI.</li>

        <li>Click <strong>APIs</strong> in the top menu.<br>
          <img src="/api-platform/images/apis_menu.png"><br>

          <aside class="note"><b>Note:</b> Before you continue, scroll through your list of API
          proxies. If you already have one called <strong>oauth</strong>, click it and skip to the
          next section to make sure it's configured the same as what's described. If yours is
          different, either delete it and continue these steps, or modify it to match the
          configuration described.</aside>
        </li>

        <li>Click the add <strong>(+) API Proxy</strong> button.<br>
        <img src="/api-platform/images/api_proxy_button.png"></li>

        <li>In the Build a Proxy wizard, select <strong>Proxy bundle</strong> and click
        <strong>Next</strong>.</li>

        <li>Choose the <strong>oauth.zip</strong> file you downloaded, and click
        <strong>Next</strong>.</li>

        <li>Click <strong>Build</strong>.</li>

        <li>After the build completes, click the <strong>oauth</strong> link to view the new proxy
        in the API proxy editor.</li>

        <li>On the API Proxy editor Overview page, click the <strong>Deployment</strong> drop-down
        and select <strong>test</strong>. This is the test environment in your organization.<br>
        <img src="/api-platform/images/tutorial_oauth_deploy_oauth.png"><br>
        At the confirmation prompt, click <strong>Deploy</strong>.<br>
        When you click the Deployment drop-down again, a green icon indicates that the proxy is
        deployed to the test environment.<br>
        <img src="/api-platform/images/tutorial_oauth_deploy_oauth_success.png"></li>
      </ol>

      <p>Way to go! You've successfully downloaded and deployed an access token-generating API
      proxy to your Edge organization.</p>
    </div>

    <div class="tutorial-section">
      <h2 id="viewtheoauthflowandpolicy">View the OAuth flow and policy</h2>

      <p>Let's take a closer look at what the API proxy contains.</p>

      <ol>
        <li>In the API proxy editor, click the <strong>Develop</strong> tab. In the left Navigator
        pane, you'll see two policies. You'll also see two POST flows in the Proxy Endpoints
        section.</li>

        <li>
          <p>Click <strong>AccessTokenClientCredential</strong> under Proxy Endpoints.<br>
          <img src="/api-platform/images/tutorial_oauth_token_flow.png"></p>

          <p>In the XML code view, you'll see a <code>Flow</code> called
          <code>AccessTokenClientCredential</code>:</p>
          <pre class="prettyprint">
&lt;Flow name="AccessTokenClientCredential"&gt;
    &lt;Description/&gt;
    &lt;Request&gt;
        &lt;Step&gt;
            &lt;Name&gt;<strong>GenerateAccessTokenClient</strong>&lt;/Name&gt;
        &lt;/Step&gt;
    &lt;/Request&gt;
    &lt;Response/&gt;
    <strong>&lt;Condition&gt;(proxy.pathsuffix MatchesPath "/accesstoken") and (request.verb = "POST")&lt;/Condition&gt;</strong>
&lt;/Flow&gt;
</pre>

          <p>A flow is a processing step in an API proxy. In this case, the flow is triggered when
          a certain condition is met (it's called a "conditional flow"). The condition, defined in
          the <code>&lt;Condition&gt;</code> element, says that if the API proxy call is made to
          the <code>/accesstoken</code> resource, and the request verb is <code>POST</code>, then
          execute the <code>GenerateAccessTokenClient</code> policy, which generates the access
          token.</p>
        </li>

        <li>
          <p>Now let's look at the policy the conditional flow will trigger. Click the
          <strong>GenerateAccessTokenClient</strong> policy icon in the flow diagram.<br>
          <img src="/api-platform/images/tutorial_oauth_generate_policy.png"><br>
          The following XML configuration is loaded into the code view:</p>
          <pre class="prettyprint">
&lt;OAuthV2 name="GenerateAccessTokenClient"&gt;
    &lt;!-- This policy generates an OAuth 2.0 access token using the client_credentials grant type --&gt;
    <strong>&lt;Operation&gt;GenerateAccessToken&lt;/Operation&gt;</strong>
    &lt;!-- This is in millseconds, so expire in an hour --&gt;
    <strong>&lt;ExpiresIn&gt;3600000&lt;/ExpiresIn&gt;</strong>
    &lt;SupportedGrantTypes&gt;
        &lt;!-- This part is very important: most real OAuth 2.0 apps will want to use other
         grant types. In this case it is important to NOT include the "client_credentials"
         type because it allows a client to get access to a token with no user authentication --&gt;
        <strong>&lt;GrantType&gt;client_credentials&lt;/GrantType&gt;</strong>
    &lt;/SupportedGrantTypes&gt;
    &lt;GrantType&gt;request.queryparam.grant_type&lt;/GrantType&gt;
    &lt;GenerateResponse/&gt;
&lt;/OAuthV2&gt;
</pre>

          <p>The configuration includes the following:</p>

          <ul>
            <li>The <code>&lt;Operation&gt;</code>, which can be one of several predefined values,
            defines what the policy is going to do. In this case, it's going to generate an access
            token.</li>

            <li>The token will expire 1 hour (3600000 milliseconds) after being generated.</li>

            <li>In <code>&lt;SupportedGrantTypes&gt;</code>, the OAuth
            <code>&lt;GrantType&gt;</code> expected to be used is <code>client_credentials</code>
            (exchanging a consumer key and secret for an OAuth token).</li>

            <li>The second <code>&lt;GrantType&gt;</code> element tells the policy where to look in
            the API call for the grant type parameter, as required by the OAuth 2.0 specification.
            (You'll see this in the API call later). The grant type could also be sent in the HTTP
            header (<code>request.header.grant_type</code>) or as a form parameter
            (<code>request.formparam.grant_type</code>).</li>
          </ul>
        </li>
      </ol>

      <p>You don't need to do anything else with the API proxy at the moment. In later steps,
      you'll use this API proxy to generate an OAuth access token. But first, you need to do a few
      more things:</p>

      <ul>
        <li>Create the API proxy you actually want to secure with OAuth.</li>

        <li>Create a few more artifacts that will result in the consumer key and consumer secret
        you need to exchange for an access token.</li>
      </ul>

      <aside class="note"><b>Note:</b> The RefreshAccessToken flow and policy in the API proxy
      isn't used in this tutorial and isn't supported with the OAuth client credentials grant
      type.</aside>
    </div>

    <div class="tutorial-section">
      <h2 id="createtheoauthprotectedapiproxy">Create the OAuth-protected API proxy</h2>

      <div class="tutorial-sidebar">
        <p><strong>About the 'mocktarget'</strong></p>

        <p>The <strong>mocktarget</strong> service is hosted at Apigee and returns simple data. In
        fact, you can access it in a web browser. Try it out by clicking the following:</p>

        <p><a href="https://mocktarget.apigee.net/ip" target=
        "_blank">http://mocktarget.apigee.net/ip</a></p>

        <p>The target returns what you should see when you eventually call this API proxy.</p>

        <p>You can also hit <a href="https://mocktarget.apigee.net/help" target=
        "_blank">http://mocktarget.apigee.net/help</a> to see other API resources that are
        available in the mocktarget.</p>
      </div>

      <p>Now you're going to create the API proxy you want to protect. This is the API call that
      returns something you want. In this case, the API proxy will call Apigee's mocktarget service
      to return your IP address. BUT, you'll get to see it only if you pass a valid OAuth access
      token with your API call.</p>

      <p>The API proxy you create here will include a policy that checks for an OAuth token in the
      request.</p>

      <ol>
        <li>Click <strong>APIs</strong> in the top menu.<br>
        <img src="/api-platform/images/apis_menu.png"></li>

        <li>Click the add <strong>(+) API Proxy</strong> button.<br>
        <img src="/api-platform/images/api_proxy_button.png"></li>

        <li>In the Build a Proxy wizard, select <strong>Reverse proxy (most common)</strong>, and
        click <strong>Next</strong>.</li>

        <li>Configure the proxy with the following:<br>

          <table>
            <thead>
              <tr>
                <th>In this field</th>

                <th>do this</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><strong>Proxy Name</strong></td>

                <td>Enter: <code>helloworld_oauth2</code></td>
              </tr>

              <tr>
                <td><strong>Project Base Path</strong></td>

                <td>
                  <p>Change to: <code>/hellooauth2</code></p>

                  <p>The Project Base Path is part of the URL used to make requests to the API
                  proxy.</p>
                </td>
              </tr>

              <tr>
                <td><strong>Existing API</strong></td>

                <td>
                  <p>Enter: <code>https://mocktarget.apigee.net/ip</code></p>

                  <p>This defines the target URL that Apigee Edge invokes on a request to the API
                  proxy.</p>
                </td>
              </tr>

              <tr>
                <td><strong>Description</strong></td>

                <td>Enter: <code>hello world protected by OAuth</code></td>
              </tr>
            </tbody>
          </table>
        </li>

        <li>Click <strong>Next</strong>.</li>

        <li>On the <strong>Security</strong> page:

          <table>
            <thead>
              <tr>
                <th>In this field</th>

                <th>do this</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><strong>Authorization</strong></td>

                <td>
                  Select:

                  <ul>
                    <li><strong>OAuth 2.0</strong></li>

                    <li><strong>Publish API Product</strong></li>
                  </ul>

                  <p>These options are very handy. They'll automatically add two policies to your
                  API proxy and create an API product.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </li>

        <li>On the Virtual Hosts page, click <strong>Next</strong>.</li>

        <li>On the Build page, make sure the <strong>test</strong> environment is selected, and
        click <strong>Build and Deploy</strong>.</li>

        <li>On the Summary page, you see an acknowledgment that your new API proxy and an API
        product were created successfully, and that the API proxy was deployed to your test
        environment.</li>

        <li>Click <strong>View the helloworld_oauth2 proxy in the editor</strong> to display the
        Overview page for the API proxy.<br>
        Notice that this time the API proxy is automatically deployed. Click the Deployment
        drop-down to make sure there's a green deployment dot next to the "test" environment.</li>
      </ol>
    </div>

    <div class="tutorial-section">
      <div class="tutorial-sidebar">
        <p><strong>About the API product</strong></p>

        <p>Without getting into too much detail for this tutorial, an API product in Edge (among
        other nifty features) generates consumer keys and secrets for developers; or more
        accurately, for the apps developers register with Edge.</p>

        <p>If you're curious, you can view the API product that was automatically created when your
        API proxy was generated. Select <strong>Publish &gt; Products &gt;
        helloworld_oauth2-Product</strong> in the UI.</p>

        <p>Notice that the <strong>Key Approval Type</strong> is <strong>Automatic</strong>. That
        means developers get an API key automatically when they register an app, as opposed to you
        manually approving keys before they're given to developers.</p>
      </div>

      <h2 id="viewthepolicies">View the policies</h2>

      <p>Let's take a closer look at what you've created.</p>

      <ol>
        <li>In the API proxy editor, click the <strong>Develop</strong> tab. You'll see that two
        policies have been added to the request flow of the API proxy:

          <ul>
            <li><strong>Verify OAuth v2.0 Access Token</strong> &#8211; Checks the API call to make
            sure a valid OAuth token is present.</li>

            <li><strong>Remove Header Authorization</strong> &#8211; An Assign Message policy that
            removes the access token after it's checked, so that it doesn't get passed to the
            target service. (If the target service needed the OAuth access token, you wouldn't use
            this policy).</li>
          </ul>
        </li>

        <li>
          <p>Click the <strong>Verify OAuth v2.0 Access Token</strong> icon in the flow view and
          look at the XML below it in the code pane.</p>

          <p><img src="/api-platform/images/tutorial_oauth_policies_2.png"></p>
          <pre class="prettyprint">
&lt;OAuthV2 async="false" continueOnError="false" enabled="true" name="verify-oauth-v2-access-token"&gt;
    &lt;DisplayName&gt;Verify OAuth v2.0 Access Token&lt;/DisplayName&gt;
    <strong>&lt;Operation&gt;VerifyAccessToken&lt;/Operation&gt;</strong>
&lt;/OAuthV2&gt;
</pre>

          <p>Notice that the <code>&lt;Operation&gt;</code> is <code>VerifyAccessToken</code>. The
          Operation defines what the policy is supposed to do. In this case, it's going to check
          for a valid OAuth token in the request.</p>
        </li>
      </ol>
    </div>

    <div class="tutorial-section">
      <h2 id="addadeveloperandapptoyourorganization">Add a developer and app to your
      organization</h2>

      <p>Next, you're going to simulate the workflow of a developer signing up to use your APIs.
      Ideally, developers register themselves and their apps through your developer portal. In this
      step, though, you'll add a developer and an app as an administrator.</p>

      <p>A developer will have one or more apps that call your APIs, and each app gets a unique
      consumer key and consumer secret. This key/secret-per-app also gives you, the API provider,
      more granular control over access to your APIs and more granular analytics reporting on API
      traffic, because Edge knows which developer and app belong to which OAuth token.</p>

      <h3 id="addadeveloperandapptoyourorganization-createadeveloper">Create a developer</h3>

      <p>Let's create a developer named Nigel Tufnel.</p>

      <ol>
        <li>Select <strong>Publish &gt; Developers</strong> in the menu.</li>

        <li>Click <strong>+ Developer</strong>.</li>

        <li>Enter the following in the New Developer window:<br>

          <table>
            <thead>
              <tr>
                <th>In this field</th>

                <th>do this</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><strong>First Name</strong></td>

                <td>Enter: <code>Nigel</code></td>
              </tr>

              <tr>
                <td><strong>Last Name</strong></td>

                <td>Enter: <code>Tufnel</code></td>
              </tr>

              <tr>
                <td><strong>Email</strong></td>

                <td>Enter: <code>nigel@example.com</code></td>
              </tr>

              <tr>
                <td><strong>Username</strong></td>

                <td>Enter: <code>nigel</code></td>
              </tr>
            </tbody>
          </table>
        </li>

        <li>Click <strong>Save</strong>.</li>
      </ol>

      <h3 id="addadeveloperandapptoyourorganization-registeranapp">Register an app</h3>

      <p>Let's create an app for Nigel.</p>

      <ol>
        <li>Select <strong>Publish &gt; Developer Apps</strong>.</li>

        <li>Click <strong>+ Developer App</strong>.</li>

        <li>Enter the following in the New Developer App window:<br>

          <table>
            <thead>
              <tr>
                <th>In this field</th>

                <th>do this</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><strong>Name</strong> and <strong>Display Name</strong></td>

                <td>Enter: <code>nigel_app</code></td>
              </tr>

              <tr>
                <td><strong>Developer</strong></td>

                <td>Select: <code>Nigel Tufnel (nigel@example.com)</code></td>
              </tr>

              <tr>
                <td><strong>Callback URL</strong> and <strong>Notes</strong></td>

                <td>Leave blank</td>
              </tr>
            </tbody>
          </table>
        </li>

        <li>Under <strong>Products</strong>, click <strong>+ Product</strong>.</li>

        <li>Select <strong>helloworld_oauth2 Product</strong>.</li>

        <li>Click <strong>Save</strong>.</li>
      </ol>

      <h3 id="addadeveloperandapptoyourorganization-gettheconsumerkeyandconsumersecret">Get the
      consumer key and consumer secret</h3>

      <p>Now you'll get the consumer key and consumer secret that will be exchanged for an OAuth
      access token.</p>

      <ol>
        <li>On the Developer Apps page (Publish &gt; Developer Apps), click
        <strong>nigel_app</strong>.</li>

        <li>
          <p>On the nigel_app page, click <strong>Show</strong> in the <strong>Consumer
          Key</strong> and <strong>Consumer Secret</strong> columns. Notice that the key/secret are
          associated with the "helloworld_oauth2 Product" that was automatically created
          earlier.</p>

          <p><img src="/api-platform/images/tutorial_oauth_consumer_key_secret.png"></p>
        </li>

        <li>Select and copy the Consumer Key and Consumer Secret. <strong>Paste them in a temporary
        text file</strong>. You'll use them in a later step, where you call the API proxy that will
        exchange these credentials for an OAuth access token.</li>
      </ol>
    </div>

    <div class="tutorial-section">
      <h2 id="trycallingtheapitogetyouripaddressfail">Try calling the API to get your IP address
      (fail!)</h2>

      <p>Just for kicks, try calling the protected API proxy that is supposed to return your IP
      address. Execute the following cURL command in a terminal window, substituting your Edge
      organization name (remove the curly braces). The word <code>test</code> in the URL is your
      organization's test environment, the one you deployed your proxies to. Notice that you are
      <em>not</em> passing an OAuth access token in the call.</p>
      <pre class="prettyprint">
curl https://{org-name}-test.apigee.net/hellooauth2
</pre>

      <p>Because the API proxy has the <strong>Verify OAuth v2.0 Access Token</strong> policy
      checking for a valid OAuth token in the request, the call should fail with the following
      message:</p>
      <pre class="prettyprint">
{"fault":{"faultstring":"Invalid access token","detail":{"errorcode":"oauth.v2.InvalidAccessToken"}}}
</pre>

      <p>In this case, failure is good! It means your API proxy is much more secure. Only trusted
      apps with a valid OAuth access token can successfully call this API.</p>
    </div>

    <div class="tutorial-section">
      <h2 id="getanoauthaccesstoken">Get an OAuth access token</h2>

      <p>Now we get to the big payoff. You're about to use the Consumer Key and Consumer Secret you
      copied and pasted into a text file and exchange them for an OAuth access token. You're now
      going to make an API call to the API sample proxy you imported, <strong>oauth</strong>, which
      will generate an API access token.</p>

      <p>Using that key and secret, make the following cURL call (note that the protocol is
      <code>https</code>), substituting your Edge organization name, your consumer key, and your
      consumer secret where indicated (be sure to remove the curly braces):</p>
      <pre class="prettyprint">
curl -X POST -H "Content-Type: application/x-www-form-urlencoded" \
https://<strong>{org-name}</strong>-test.apigee.net/oauth/client_credential/accesstoken?grant_type=client_credentials \
-d 'client_id=<strong>{consumer-key}</strong>&amp;client_secret=<strong>{consumer-secret}</strong>'
</pre>

      <p>You should get a response like this:</p>
      <pre class="prettyprint">
{
  "issued_at" : "1466025769306",
  "application_name" : "716bbe61-f14a-4d85-9b56-a62ff8e0d347",
  "scope" : "",
  "status" : "approved",
  "api_product_list" : "[helloworld_oauth2-Product]",
  "expires_in" : "3599", //--in seconds
  "developer.email" : "nigel@example.com",
  "token_type" : "BearerToken",
  "client_id" : "xNnREu1DNGfiwzQZ5HUN8IAUwZSW1GZW",
  <strong>"access_token" : "GTPY9VUHCqKVMRB0cHxnmAp0RXc0",</strong>
  "organization_name" : "myOrg",
  "refresh_token_expires_in" : "0", //--in seconds
  "refresh_count" : "0"
}
</pre>

      <p>You got your OAuth access token! Copy the access_token value (without the quote marks) and
      paste it into your text file. You'll use it in a moment.</p>

      <p>What just happened?</p>

      <p>Remember previously when you looked at that "conditional flow" in the
      <strong>oauth</strong> proxy, the one that said if the resource URI is
      <code>/accesstoken</code> and the request verb is <code>POST</code>, to execute the
      <code>GenerateAccessTokenClient</code> OAuth policy that generates an access token? Your cURL
      command met those conditions, so the OAuth policy was executed. It verified your consumer key
      and consumer secret and exchanged them for an OAuth token that expires in 1 hour.</p>
    </div>

    <div class="tutorial-section">
      <h2 id="calltheapiwithanaccesstokensuccess">Call the API with an access token (success!)</h2>

      <p>Now that you have an access token, you can use it to call the API proxy. Make the
      following cURL call. Substitute your Edge organization name and the access token (remove the
      curly braces).</p>
      <pre class="prettyprint">
curl https://{org-name}-test.apigee.net/hellooauth2 -H "Authorization: Bearer {access-token}"
</pre>

      <p>You should now get a successful call to the API proxy that returns your IP address. For
      example:</p>
      <pre class="prettyprint">
{"ip":"::ffff:192.168.14.136"}
</pre>

      <p>You can repeat that API call for close to an hour, after which time the access token will
      expire. To make the call after an hour, you'll need to generate a new access token using the
      previous steps.</p>

      <p>Congratulations! You've created an API proxy and protected it by requiring that a valid
      OAuth access token be included in the call.</p>
    </div>

    <div class="tutorial-section">
      <h2 id="relatedtopics">Related topics</h2>

      <ul>
        <li><a href="/api-platform/security/oauth/oauth-home.html">OAuth home</a></li>

        <li><a href="/api-platform/reference/policies/oauthv2-policy.html">OAuthV2 policy</a></li>

        <li><a href="/api-platform/fundamentals/download-api-proxies.html">Download API proxies</a>
        (which shows how to bundle an API proxy into a ZIP file like the one you downloaded)</li>
      </ul>
    </div>
  </div>

  {% endblock %}
