  {% extends "_base.html" %} {% block title %}Developer Portal Troubleshooting Overview{% endblock %} {% block body %}

<aside class="note">Was this troubleshooting playbook helpful? Please let us know
  by clicking <a href="" class="google-feedback"
   data-p="1636213" data-b="docsite" data-context="troubleshooting-feedback">
  Send Feedback
</a>.</aside>

  <p>As an API provider, you need a way to expose your APIs, educate developers about your APIs,
  sign up developers, and let developers register apps. Apigee Edge provides you with a Developer
  Services portal that you can use to build and launch your own customized website to provide these
  services to your development community. To learn more about developer portal, see
  <a href="http://docs.apigee.com/developer-services/content/what-developer-portal">What is a developer portal?</a></p>

  <p>The following sections describe key concepts that you should understand before troubleshooting
  issues with your developer portal.</p>

  <h2 id="howsmartdocsworks">How SmartDocs works</h2>

  <p>An OpenAPI (JSON or YAML) or WADL specification describing your API can be imported into
  SmartDocs and used to publish API reference documentation to your portal. The API reference
  documentation appears under the APIs tab on your portal automatically. Developers discover
  the API documentation through the portal and can make live API requests. As the API requests
  originate from a browser, CORS (Cross-Origin Resource Sharing) support is needed to allow them to
  succeed. CORS support is provided by the "smartdocs" proxy on Edge (in the "VALIDATE" org) that
  acts as the proxy for all SmartDocs requests to the intended endpoint. The "smartdocs" proxy is
  created when you <a href="/private-cloud/latest/install-smartdocs">install SmartDocs</a>.</p>

  <p>For example:</p>

  <p><img alt="" src="/api-platform/images/Portal-Img-7.png"></p>

  <p>The URL of the smartdocs proxy is exposed as a configurable property at Configuration -&gt;
  SmartDocs -&gt; SmartDocs proxy URL. You may need to modify this URL if your API is on a private
  network and live API requests using SmartDocs from your portal are failing.</p>

  <p><br>
  <img alt="" src="/api-platform/images/Portal-Img-5.png"></p>

  <h2 id="howthedeveloperportalcommunicateswithedge">How the Developer Portal Communicates with
  Edge</h2>

  <p>The developer portal stores and retrieves most of the information it displays from Edge
  including Smartdocs, developers, products, and developer apps. Edge org information and devadmin
  credentials are configurable by using the menu command Configuration -&gt; Devportal.</p>

  <p>For more information, see <a href="">Communicating between the portal and Edge</a>.</p>{% endblock %}
