  {% extends "_base.html" %} {% block title %}Content-based security{% endblock %} {% block body %}

  <p>Message content is a significant attack vector used by malicious API consumers. API Services
  provides a set of Policy types to mitigate the potential for your backend services to be
  compromised by attackers or by malformed request payloads.</p>

  <p>The following video provides an overview and focuses on protecting against SQL injection
  attacks.</p>

  <p><iframe allowfullscreen="" frameborder="0" height="390" src=
  "https://www.youtube.com/embed/rC8kZJgwBFM" width="640"></iframe></p>

  <h2 id="jsonthreatprotection">JSON threat protection</h2>

  <p>JSON attacks attempt to use structures that overwhelm JSON parsers to crash a service and
  induce application-level denial-of-service attacks.</p>

  <p>Such attacks can be mitigated using the JSONThreatProtection Policy type.</p>

  <p>See <a href="/api-platform/reference/policies/json-threat-protection-policy.html">JSON Threat
  Protection policy</a>.</p>

  <h2 id="xmlthreatprotection">XML threat protection</h2>

  <p>XML attacks attempt to use structures that overwhelm XML parsers to crash a service and induce
  application-level denial-of-service attacks.</p>

  <p>Such attacks can be mitigated using the XMLThreatProtection Policy type.</p>

  <p>See <a href="/api-platform/reference/policies/xml-threat-protection-policy.html">XML Threat
  Protection policy</a>.</p>

  <h2 id="generalcontentprotection">General content protection</h2>

  <p>Some content-based attacks use specific constructs in HTTP headers, query parameters, or
  payload content to attempt to execute code. An example is SQL-injection attacks. Such attacks can
  be mitigated using the RegularExpressionProtection Policy type.</p>

  <p>See <a href="/api-platform/reference/policies/regular-expression-protection.html">Regular
  Expression Protection policy</a>.</p>

  <h2 id="gethelp">Get help</h2>

  <p>For help, see <a href="https://community.apigee.com/content/apigee-customer-support">Apigee
  Customer Support</a>.</p>{% endblock %}
