  {% extends "_base.html" %} {% block title %}What's new in Edge?{% endblock %} {% block body %}

  <p>Apigee is proud to announce a major update to its API management user interface. This New Edge
  experience builds on the existing features of the Apigee Edge platform, and includes enhancements
  particularly in the areas of Design and Publishing.</p>

  <div class="video">
    <p>This video provides a quick overview of the New Edge experience, highlighting the features
    and enhancements made to the existing Edge API management platform.</p><iframe allowfullscreen=
    "" frameborder="0" height="315" src=
    "https://www.youtube.com/embed/rAfgeq88SKE?rel=0&amp;vq=hd1080" width="560"></iframe>
  </div>

  <p>New users will be opted-in to the New Edge experience by default. For now, existing users can
  opt-in to the New Edge experience and may switch back to the Classic Edge experience at any
  time. Eventually, the New Edge experience will become the only option for all users, but at
  the beginning of this transition, all users may opt-in/out as they prefer. </p>

  <aside class="note"><b>Note:</b> If you are an existing Edge user, you'll find the New Edge
  interface to be very familiar to you. See <a href="#classic-note">Note to existing Edge
  users</a> below. </aside>

  <p>For more information about the New Edge experience, its features and enhancements, how it
  compares to the Classic Edge experience, and how to switch between the two interfaces, see
  <a href="https://docs-new.apigee.com/new-versus-classic-edge" target="_blank">Introducing the New
  Edge experience</a> and the <a href="https://docs-new.apigee.com" target="_blank">New Edge
  experience documentation</a>.</p>

  <h2 id="classic-note">Note to existing Edge users</h2>

  <p>The New Edge experience brings new features and enhancements to the Edge API management
  platform to which you have grown accustomed. It supports full backwards compatibility. Your
  existing API proxies and applications will just work; no migration is required. In many areas,
  you won't notice a lot of functional difference between the New Edge and Classic Edge
  experience.</p>

  <p>Though the Classic Edge experience will continue to be supported for users that are
  comfortable with the classic interface for the near term, it is recommended that you give New
  Edge a try. You don't even have to make a commitment - you can switch between New Edge and
  Classic Edge at anytime during your API proxy management lifecycle.</p>

  <h2>About the new Apigee doc site</h2>

    <p>If you've used the Apigee documentation before, don't worry, you're in the
    right place. You've probably noticed our new look and feel. The content is
    the same, but the navigation has changed, and there are a couple of
    great new features.</p>

    <p>Note that the topic URLs are slightly different than the previous URLs, but we have
    redirects in place to handle that. If you find that a bookmarked URL to your favorite
    doc topic is broken, just click "Send Feedback" and let us know.</p>

    <p><strong>Navigation</strong>: You can find major product and topic areas
    across the top navigation bars, while specific topics are listed in the left
    navigation area to provide a cleaner, less-cluttered look.</p>

    <p><strong>API docs</strong>: Our <a href="https://apidocs.apigee.com/api-reference/content/introduction" class="exernal">
    interactive management API docs</a> are hosted externally on our previous
    doc site to ensure they leverage the SmartDocs interactive API framework.</p>

    <p><strong>Filtered search</strong>: When you use search on the doc site, the initial
    search results are for the doc site only. To see additional results from the
    Apigee Community, click "Search All" at the top of the search results page.</p>

    <p><strong>Style code blocks, copy code blocks</strong>: On code blocks in the docs,
    icons in the upper right of the code block let you change the style of the
    block and click to copy the code to your clipboard.</p>

    <p><strong>Automatic device rendering</strong>: The doc content dynamically
    switches to the appropriate layout on devices of different sizes.</p>

    <p><strong>Feedback</strong>: You can still leave feedback on our docs
    (we love it when you send us feedback!), and the "Send Feedback" link is
    in the upper right of the screen in the menu bar.</p>

{% endblock %}
