h3.two-line-tab.kd-tabbutton {
    max-height: 43px;
    line-height: 20px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    white-space: normal;
}
