  {% extends "_base.html" %} {% block title %}Introduction to playbooks{% endblock %} {% block body %}

<p>The act of troubleshooting is both an art and a science. The constant effort of Apigee
  technical support teams has been to demystify the art and expose the science behind problem
  identification and resolution.</p>

<h2>What are playbooks?</h2>
   <p>Developed in collaboration with Apigee Technical Support teams,
    Apigee troubleshooting <strong>playbooks</strong> are designed to provide quick and effective solutions to
  errors or other issues that you may encounter when working with Apigee products.</p>

<p>To find troubleshooting playbooks, you can try searching for specific error messages using the Search box at the top of this page, or use the TOC on the left to navigate the playbook library.</p>

  <h2 id="audience">Audience</h2>

  <p>Troubleshooting playbooks are intended for readers with a high-level understanding of Apigee Edge
  and its architecture, as well as some understanding of basic Edge concepts such as policies,
  analytics, and monetization.

  <p>Some problems can be diagnosed and solved only by Apigee Private
  Cloud users and may require knowledge of internal Edge components such such as Cassandra and
    Postgres datastores, Zookeeper, and the Edge Router.</p>

  <p>If you are on Apigee Public Cloud, then we
  clearly specify when you can perform the indicated troubleshooting steps and when you need to
  call <a href="http://support.apigee.com">Apigee Support</a> for assistance.</p>

  <h2 id=""> </h2>{% endblock %}
