  {% extends "_base.html" %} {% block title %}Developer Services Portal{% endblock %} {% block body %}

  <aside class="note"><b>Note:</b> This topic applies to cloud customers only. If you're an Edge
  for Private Cloud customer, you'll install and configure your own portal locally. For information
  on where to download the product installers, see the <a href=
  "/release/notes/apigee-release-notes.html">Apigee Release Notes</a>.</aside>

  <h2 id="prerequisites">Prerequisites</h2>

  <p>You must have an Apigee Edge account, as described in <a href=
  "/api-platform/get-started/creating-apigee-edge-account.html">Creating an Apigee Edge
  account</a>.</p>

  <p>For the number and types of Developer Services Portal environments available to you,
  see <a href="https://apigee.com/about/pricing/apigee-edge-pricing-features">Apigee Edge
  Pricing &amp; Features</a>.</p>

  <h2 id="createaportalinstantlyinthenewedgeexperienceui">Create a portal instantly in the New Edge
  experience UI</h2>

  <p>If you're a cloud customer, you can create a lightweight developer portal right away in the
  New Edge experience UI. Navigate to <a href=
  "https://apigee.com/edge">https://apigee.com/edge</a>, sign-in, and select <strong>Publish &gt;
  Portals</strong> in the side navigation bar of the New Edge experience UI. For complete details,
  see <a href="/api-platform/publish/portal/building-your-developer-portal.html">Building your
  developer portal (New Edge)</a>.</p>

  <h2 id="createadrupalbasedportal">Create a Drupal-based portal</h2>

  <p>Drupal is the original Edge developer portal framework. It provides a rich set of
  functionality and all the CMS capabilities of Drupal with additional Apigee-developed Drupal
  modules. However, implementing a Drupal-based portal requires more time and effort.</p>

  <p>Current support for portal development using Drupal is available by request for paid accounts
  only. For more information, see <a href=
  "/api-platform/publish/drupal/creating-developer-portal.html">Creating a developer
  portal</a>. Contact Apigee Support for assistance if you wish to use Drupal for your portal
  development.</p>

  {% endblock %}
