<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

  {% extends "_base.html" %} {% block title %}Apigee Edge backups{% endblock %} {% block body %}

  <p>The Apigee Edge platform as a whole is redundant and provides live/live services within each
  region as a first layer of redundancy. In the event of a regional outage (which would directly
  impact single-region customers) or a malicious act that compromises data across multiple regions,
  a backup of each region and of the entire platform is taken and stored in the cloud.</p>

  <p>Backups are taken at a minimum of once a day, and some services and data repositories are done
  multiple times per day. Specific backup schedules of individual services are not shared
  externally.</p>

  <p>Apigee Edge Cloud platform is backed up inside of the cloud. Backups never leave the cloud,
  they are never put to tape, or transported by or to a third-party service. The backups in the
  cloud are kept under the same security as our production customer services, with restricted
  access using tools equal to or identical to those used in securing Edge Cloud platform.</p>

  <p>Backups are kept within the same geographic area as the source data. For example, backups for
  EU services in Ireland are kept within the EU but not only within Ireland.</p>

  <p>Backup restores are tested as part of our operational excellence. Testing of backups occurs
  quarterly and are included in the Apigee audit reports that we share with customers (e.g.,
  SOC).</p>

  <p>If a customer experiences an incident where all redundancies are lost, it is possible for
  Apigee to restore their data back into their Edge organization. This should be considered a
  fail-safe setup of last resort and not a standard operational practice or expectation by the
  customer.</p>

  <p>Customers are encouraged to have a full software development lifecycle (SDLC) plan for their
  work inside of Edge. Versioning, change management, and authorization should all be managed by
  the customer.</p>

  <p>While Apigee can restore customer-specific data and configurations into the platform, it is
  possible that older versions may not be available without limitation. A configuration not used
  for x months may not be recoverable during a "fail-safe restore" by Apigee.</p>{% endblock %}
