  {% extends "_base.html" %} {% block title %}DDoS defense in Edge{% endblock %} {% block body %}

  <p>Distributed denial-of-service (DDoS) attacks are becoming larger and more common. Recent
  attacks have seen record-setting levels of traffic and predictions are it will continue to get
  worse. The sheer size of these attacks have caused everyone to re-evaluate their defenses. By
  using compromised IoT devices, DDoS attacks are now much larger than previously possible.</p>

  <p>The goal of DDoS defenses for Apigee is to protect customer APIs in each customer's data
  center. Apigee Edge Cloud is built to accept large volumes of traffic and be the filter that
  keeps real requests flowing through to a customer data center and their API interfaces while at
  the same time dropping malicious traffic, watching for spikes, managing rate limiting, and
  keeping our customers online through the attack.</p>

  <p>Apigee can detect spikes in traffic volume, but we cannot determine if that spike is an
  attack, a successful campaign, or a new application released to end users. Apigee does not
  actively look inside of the API calls to determine which calls are legitimate and which are
  probably attacks. It is possible to look at API calls, but doing so isn't part of Apigee's normal
  operations. We do not review customer payloads, because that would be a privacy invasion for most
  traffic, customers, and end users. Apigee doesn't know if a particular spike on Tuesday afternoon
  is due to an attack or a sudden successful adoption of the customers app and services. Apigee can
  see the spike, but without additional details and context that are obvious to customers but is
  not available to Apigee, we would not know how to respond. A worst-case scenario would be if
  Apigee blocked an attack only to discover it was a major marketing success that Apigee had just
  killed by blocking the app during its hot period.</p>

  <h2 id="howdoesapigeeapproachddosdefense">How does Apigee approach DDoS defense?</h2>

  <p>Apigee Edge is a tool in the security toolbox. The tool is available for the customer to
  configure as needed to block malicious traffic, limit valid but excessive traffic, or process
  loads faster than the customer's backend can respond and prevent the customer's data center from
  being overwhelmed. Apigee Edge provides capabilities that allow our customers to create very
  specific security policies to defend the actual API services behind Apigee. Edge is a defensive
  layer that can scale as needed to absorb large traffic spikes (such as a DDoS attack) while
  limiting the impact to the backend (customers' data centers).</p>

  <p>Since Apigee does not manage and interrogate the payload of every call for every customer, the
  ability to identify an attack rests with the customer. But the response to an attack should be
  coordinated with both the customer and Apigee. Apigee can even involve the cloud provider (GCP or
  AWS) if needed.</p>

  <p>Apigee, GCP, and AWS will not blackhole traffic destined to a customer. If Apigee does
  determine that the traffic is malicious, we will communicate with the customer and offer to
  assist. However, because of the scale of Apigee Edge, the simple volume of traffic is not a
  trigger to block traffic.</p>

  <p>Customers can use Edge to create policies that protect against attacks (included DDoS). These
  policies do not come prebuilt out of the box. That would imply that there is nothing unique about
  each customer's APIs or data or services. Apigee cannot enable these policies without input from
  the customer. That would mean Apigee is reviewing the customer's data and making decisions about
  what is valid and what is not.</p>

  <p>Edge is a tool to be used, and it can be used to do the things customers need to defend their
  APIs. But API defense takes some work by the customer.</p>

  <p>The goal is to protect customer API services. That is one of the features and capabilities of
  Edge Cloud.</p>

  <h2 id="othercommonquestions">Other common questions</h2>

  <p><strong>Can Apigee do blacklisting of (ip|country|url)?</strong></p>

  <p>Yes, if the policy is created, configured, and enabled in Edge within the customer's Edge
  organization.</p>

  <p><strong>Can Apigee detect bots or similar malicious activities?</strong></p>

  <p>Apigee offers a bot detection service called Sense.</p>

  <p><strong>Should I use a Web Application Firewall in front of Apigee Edge?</strong></p>

  <p>There are a few customers who use a third-party WAF in front of Apigee, but it is the
  exception and not the norm. In discussions with these customers, it is generally done because it
  is a requirement, not because it is providing value.</p>

  <p><strong>Will Apigee blackhole traffic for me?</strong></p>

  <p>Apigee will not blackhole traffic destined to a customer. If Apigee can determine that the
  traffic is malicious, we will communicate with the customer and offer to assist. However, because
  of the scale of Apigee Edge and our cloud providers (GCP and AWS), the sheer volume of traffic is
  not a trigger to block traffic.</p>

  <h2 id="detailedddosdefenseinformation">Detailed DDoS defense information</h2>

  <ol>
    <li>GCP and AWS offer DDoS assistance at the network level as/when needed (a very large
    attack).

      <ul>
        <li>Apigee maintains security contacts at GCP and AWS for escalations and response if GCP
        or AWS assistance is needed to respond to an attack.</li>
      </ul>
    </li>

    <li>Apigee Edge can be used for implementing policies that protect customer APIs from attack.

      <ul>
        <li>Rate limiting.</li>

        <li>Spike arrests.</li>

        <li>XML payload attack detection.</li>

        <li>Other policies can be written to defend against specific attacks.</li>
      </ul>
    </li>

    <li>Edge uses auto-scaling as a capability in our defense.</li>

    <li>Apigee and the customer (and GCP or AWS) need to work together during a DDoS attack. Open
    communications are important, and Apigee has security resources on call to our support team at
    all times.</li>
  </ol>

  <p>The first response to a DDoS is to use Apigee Edge to help in the attack: enabling spike
  arrest, rate limiting, and even blacklisting source IP addresses. There are many tools available
  within Edge to defend against a DDoS attack.</p>

  <p>If the attack is of large enough volume, Apigee can work with the customer to escalate to the
  appropriate cloud provider for "upstream assistance." Since each DDoS attack is unique, the
  response will be determined during the attack. However, best practices and details needed to help
  in the escalation are documented in <a href=
  "https://aws.amazon.com/answers/networking/aws-ddos-attack-mitigation/" target="_blank">Denial of
  Service Attack Mitigation on AWS</a>.</p>

  <p>Remember that the key is:</p>

  <p><strong>Create a plan for attacks.</strong> Don't forget, we are in this together. Customers
  who suspect they are under attack should immediately request the assistance of Apigee and the
  cloud providers. Before asking for escalation, gather the following:</p>

  <ul>
    <li>AWS Account Number</li>

    <li>IDs of affected resources (instances, IP addresses, load balancers, CloudFront
    distributions, etc.)</li>

    <li>Nature of the attack (Increased volume? SYN flood? UDP flood?)</li>

    <li>If the affected resources are accessible</li>

    <li>If the sources have anything in common (Same IP? Contiguous IP addresses? Same
    country?)</li>

    <li>If the traffic can be blocked using a NACL, Security Group, or black-hole routing without
    impacting customer traffic</li>

    <li>The type(s) of traffic you are comfortable to have AWS block</li>
  </ul>

  <h2 id="gcp">GCP</h2>

  <p>Apigee uses defenses provided by GCP as stated in the <a href=
  "https://cloud.google.com/files/GCPDDoSprotection-04122016.pdf" target="_blank">Best Practices
  for DDoS Protection and Mitigation</a>, such as:</p>

  <ul>
    <li>Virtual networks</li>

    <li>Firewall rules</li>

    <li>Load balancing</li>
  </ul>

  <h2 id="aws">AWS</h2>

  <p>AWS publishes their <a href=
  "https://d0.awsstatic.com/whitepapers/Security/DDoS_White_Paper.pdf" target="_blank">Best
  practices for DDoS resiliency</a> and <a href=
  "https://aws.amazon.com/blogs/security/how-to-help-prepare-for-ddos-attacks-by-reducing-your-attack-surface/"
  target="_blank">How to prepare for DDoS attacks by reducing your attack surface</a>. Apigee uses
  several of these that are applicable to our environment:</p>

  <ul>
    <li>VPC</li>

    <li>Security groups</li>

    <li>ACLs</li>

    <li>Route53</li>

    <li>Load balancing</li>
  </ul>{% endblock %}
