  {% extends "_base.html" %} {% block title %}Edge Microgateway FAQ{% endblock %} {% block body %}

  <h2 id="generalquestions">General questions</h2>

  <h3 id="generalquestions-howdoiobtainedgemicrogateway">How do I obtain Edge Microgateway?</h3>

  <p>See <a href="/api-platform/microgateway/2.5.x/installing-edge-microgateway.html">Installing
  Edge Microgateway</a>.</p>

  <aside class="note"><b>Note:</b> Edge Microgateway ZIP files are no longer available. You must
  use <code>npm</code> to download and install the software, as explained in the installation
  guide.</aside>

  <h3 id="generalquestions-howdoiinstalledgemicrogateway">How do I install Edge Microgateway</h3>

  <p>See <a href="/api-platform/microgateway/2.5.x/installing-edge-microgateway.html">Installing
  Edge Microgateway</a>.</p>

  <h3 id="generalquestions-wherecanifinddocumentationforolderversionsofedgemicrogateway">Where can
  I find documentation for older versions of Edge Microgateway?</h3>

  <p>Previous versions of Edge Microgateway documentation are maintained right here, on the
  <a href="https://apigee.com/docs">Apigee Edge doc site</a>. </p>

  <h3 id="generalquestions-whatarethetypicalusecasesforedgemicrogateway">What are the typical use
  cases for Edge Microgateway?</h3>

  <p>See <a href="/api-platform/microgateway/2.5.x/overview-edge-microgateway.html">Overview of
  Edge Microgateway</a>.</p>

  <h3 id="generalquestions-whatenvironmentsaresupportedforedgemicrogateway">What environments are
  supported for Edge Microgateway?</h3>

  <p>See <a href="/api-platform/microgateway/2.5.x/overview-edge-microgateway.html">Overview of
  Edge Microgateway</a>.</p>

  <h3 id="generalquestions-whatchangesonedgerequirearestartofedgemicrogateway">What changes on Edge
  require a restart of Edge Microgateway?</h3>

  <ul>
    <li>If you add or remove an Edge Microgateway-aware proxy.</li>

    <li>If you change the basepath or target endpoint of an Edge Microgateway-aware proxy.</li>

    <li>If you add or remove Products or Developer Apps from your Apigee Edge organization.</li>
  </ul>

  <h3 id="generalquestions-canideployedgemicrogatewayonsameserverwheremyapiisrunning">Can I deploy
  Edge Microgateway on same server where my API is running?</h3>

  <p>Yes. Edge Microgateway is a lightweight process that can run close to your API, including on
  the same machine.</p>

  <h3 id=
  "generalquestions-canideployanexistingproxybundlebothinedgecloudorprivatecloudandalsoasanedgemicrogatewaydeployment">
  Can I deploy an existing proxy bundle both in Edge (Cloud or Private Cloud) and also as an Edge
  Microgateway deployment?</h3>

  <p>No. See "<a href=
  "/api-platform/microgateway/2.5.x/setting-and-configuring-edge-microgateway.html#part2createentitiesonapigeeedge">Part
  2: Create entities on Apigee Edge</a>" </p>

  <h3 id=
  "generalquestions-isthereanyconfigurationtoenablefailoverbetweenanedgeproxybundledeploymentandedgemicrogatewaydeploymentforthesameapiproxy">
  Is there any configuration to enable &#8216;failover&#8217; between an Edge proxy bundle
  deployment and Edge Microgateway deployment for the same API Proxy?</h3>

  <p>No. Edge Microgateway does not know about non-microgateway API proxy deployments on Apigee
  Edge.</p>

  <h3 id="generalquestions-whatisthehighavailabilitydeploymentmodelforedgemicrogateway">What is the
  high availability deployment model for Edge Microgateway?</h3>

  <p>For a good discussion of how to run Edge Microgateway using NGINX as a load balancer, see
  <a href=
  "https://apigee.com/about/blog/developer/managing-apis-apigee-edge-microgateway-and-nginx">Managing
  APIs with Apigee Edge Microgateway and NGINX</a>.</p>

  <h3 id="generalquestions-whichloadbalancerscaniusewithedgemicrogateway">Which load balancers can
  I use with Edge Microgateway?</h3>

  <p>Edge Microgateway can work with any load balancer.  </p>

  <h3 id="generalquestions-istherealimitonhowmanyproxiesicanmanage">Is there a limit on how many
  proxies I can manage?</h3>

  <p>There is no limit to the number of Microgateway-aware proxies you can deploy in an Apigee Edge
  organization and environment and call through Edge Microgateway.</p>

  <h3 id="generalquestions-doineedtobeanorgadministratortoconfigureanddeployedgemicrogateway">Do I
  need to be an org administrator to configure and deploy Edge Microgateway?</h3>

  <p>Yes. You need to have org admin credentials to configure and deploy Edge Microgateway.</p>

  <h3 id="generalquestions-doineedtobeanorgadministratortorunedgemicrogateway">Do I need to be an
  org administrator to run Edge Microgateway?</h3>

  <p>No. Edge Microgateway is a Node.js application, and can be run by anyone with permission to
  run such applications on a given machine.</p>

  <h3 id="generalquestions-cananyofmyorgusersuseedgemicrogateway">Can any of my &#8216;org&#8217;
  users use Edge Microgateway?</h3>

  <p>You do not need to be an Apigee Edge organization user to make API calls through Edge
  Microgateway. However, you must have org-level permissions to create or change Edge Microgateway
  aware proxies that are deployed on Edge.</p>

  <h3 id="generalquestions-whataretheperformanceconsiderationsforusingedgemicrogateway">What are
  the performance considerations for using Edge Microgateway?</h3>

  <p>If running Edge Microgateway collocated with the target application, be sure the server has
  sufficient capacity.</p>

  <h3 id="generalquestions-caniassociatetoaspecificorgorenvformyedgemicrogatewaydeployment">Can I
  associate to a specific org or env for my Edge Microgateway deployment?</h3>

  <p>When you configure an instance of Edge Microgateway you must associate it with a specific Edge
  organization and environment.</p>

  <h3 id=
  "generalquestions-caniassociatetoaspecificregionifiamamultiregioncustomerformyedgemicrogatewaydeployment">
  Can I associate to a specific region (if I am a multi-region customer) for my Edge Microgateway
  deployment?</h3>

  <p>Edge Microgateway automatically picks the best region for its interaction with Apigee Edge.
  You can deploy Edge Microgateway instances in each region that you want to service.</p>

  <h3 id="generalquestions-doesedgemicrogatewayworkwithmyedgeforprivatecloud">Does Edge
  Microgateway work with my Edge for Private Cloud?</h3>

  <p>Yes. For details, see <a href=
  "/api-platform/microgateway/2.5.x/setting-and-configuring-edge-microgateway.html#part1settingupandconfiguringedgemicrogateway-apigeeprivatecloudconfigurationsteps">
  Apigee Private Cloud configuration steps</a>.</p>

  <h3 id="generalquestions-howdoidifferentiatebetweenproxydeployedonedgevsproxyonmicrogateway">How
  do I differentiate between proxy deployed on Edge vs proxy on Microgateway?</h3>

  <p>When you configure Edge Microgateway, a list of microgateway-aware proxies deployed on Apigee
  Edge are downloaded to the local configuration of Edge Microgateway. Microgateway-aware proxies
  are ones named with the prefix <strong>edgemicro_</strong>.</p>

  <h3 id="generalquestions-doineedanydatabasetorunmicrogateway">Do I need any database to run
  Microgateway?</h3>

  <p>APIs proxied through Edge Microgateway may interact with database running as part of a target
  service. However, Edge Microgateway operates independently of any database or backend data
  store.</p>

  <h3 id="generalquestions-howisquotaenforcedwithedgemicrogateway">How is Quota enforced with Edge
  Microgateway?</h3>

  <p>You can optionally add a quota plugin to your instance of Edge Microgateway. For details see
  <a href="/api-platform/microgateway/2.5.x/use-plugins.html#usingthequotaplugin">Using the quota
  plugin</a> in the documentation.</p>

  <h3 id="generalquestions-howisspikearrestenforcedwithedgemicrogateway">How is Spike Arrest
  enforced with Edge Microgateway?</h3>

  <p>You can optionally add a spike arrest plugin to your instance of Edge Microgateway. For
  details see <a href=
  "/api-platform/microgateway/2.5.x/use-plugins.html#usingthespikearrestplugin">Using the spike
  arrest plugin</a> in the documentation.</p>

  <h3 id="generalquestions-arethereotherwaystowritepluginsotherthannodejsforedgemicrogateway">Are
  there other ways to write plugins other than Node.js for Edge Microgateway?</h3>

  <p>No. Plugins must be written in Node.js.</p>

  <h3 id="generalquestions-whathappenswhenedgemicrogatewayisnotabletouploadanalyticsdatatoedge">
  What happens when Edge Microgateway is not able to upload Analytics data to Edge?</h3>

  <p>Edge Microgateway has an in-memory buffer. If the buffer fills up, older payloads are dropped
  to let API traffic flow smoothly.</p>

  <h3 id="generalquestions-caniaddpoliciestoedgemicrogateway">Can I add policies to Edge
  Microgateway?</h3>

  <p>Edge Microgateway plugins serve a function similar as policies in Apigee Edge. You can add
  functionality by using existing plugins or writing custom ones.</p>

  

  <h4>See also</h4>

  <p>These Apigee Community posts and blogs discuss additional plugin use cases:</p>

  <ul>
    <li>
      <p><a href=
      "https://community.apigee.com/questions/15825/how-to-override-default-url-on-edge-micro-gateway.html">
      How to override the default URL on Edge Microgateway</a></p>
    </li>

    <li>
      <p><a href=
      "https://community.apigee.com/questions/14983/how-do-i-get-quota-working-in-microgateway.html">
      How to get Quota working in Edge Microgateway</a></p>
    </li>

    <li>
      <p><a href=
      "https://apigee.com/about/blog/developer/tutorial-writing-custom-transform-plugin-apigee-edge-microgateway">
      Writing a custom transform plugin for Edge Microgateway</a> (blog)</p>
    </li>

    <li>
      <p><a href=
      "https://apigee.com/about/blog/developer/tutorial-adding-logger-plugin-apigee-edge-microgateway">
      Adding a logger plugin to Edge Microgateway</a> (blog)</p>
    </li>
  </ul>

  <h3 id="generalquestions-whataremyoptionsforloggingwithedgemicrogateway">What are my options for
  logging with Edge Microgateway?</h3>

  <p>Edge Microgateway has a built-in logging feature. For details, see <a href=
  "/api-platform/microgateway/2.5.x/operation-and-configuration-reference-edge-microgateway.html#managinglogfiles">
  Managing log files</a> in the Edge Microgateway docs.</p>

  <p>You can also write <a href=
  "https://apigee.com/about/blog/developer/tutorial-adding-logger-plugin-apigee-edge-microgateway">a
  custom plugin</a> to use a third-party logging service with Edge Microgateway.</p>

  <aside class="note"><b>Note:</b> Because of the way Edge Microgateway works, you cannot use the
  Apigee Edge <a href="/api-platform/reference/policies/message-logging-policy.html">Message
  Logging policy</a> to log messages for Edge Microgateway.</aside>

  <h3 id="generalquestions-howdoiconfigureedgemicrogatewaytostartupinaproductionenvironment">How do
  I configure Edge Microgateway to start up in a production environment</h3>

  <p>You can set the environment variables <code>EDGEMICRO_KEY</code> and
  <code>EDGEMICRO_SECRET</code> to the key/secret pair required by the Microgateway startup
  command.</p>

  <aside class="note"><b>Note:</b> In version 2.0 two more environment variables were added:
  <code>EDGEMICRO_ORG</code> and <code>EDGEMICRO_ENV</code>. With these variables you can start
  Edge Microgateway with the single command <strong>edgemicro start</strong>. See also <a href=
  "/api-platform/microgateway/2.5.x/operation-and-configuration-reference-edge-microgateway.html#settingenvironmentvariables">
  Setting environment variables</a>. </aside>

  <h4>See also</h4>

  <ul>
    <li>
      <p><a href=
      "https://community.apigee.com/questions/15116/apigee-edge-microgateway-vertical-and-horizontal-s.html">
      Apigee Edge Microgateway Vertical and Horizontal scaling for 1000 TPS and beyond</a> on the
      Apigee Community</p>
    </li>
  </ul>

  <h3 id="generalquestions-whatarebestpracticesforrunningedgemicrogatewayatscale">What are best
  practices for running Edge Microgateway at scale?</h3>

  <p>Apigee recommends running multiple instances of Edge Microgateway on different servers fronted
  by load balancers like <a href="https://www.nginx.com/resources/wiki/#">NGINX</a>.</p>

  <h4>See also</h4>

  <ul>
    <li><a href=
    "https://apigee.com/about/blog/developer/managing-apis-apigee-edge-microgateway-and-nginx">Managing
    APIs with Apigee Edge Microgateway and NGINX</a></li>

    <li><a href=
    "https://community.apigee.com/questions/15116/apigee-edge-microgateway-vertical-and-horizontal-s.html">
    This post</a> on the Apigee Community.</li>
  </ul>

  <h3 id="generalquestions-caniusecustomproductordeveloperappattributeswithedgemicrogateway">Can I
  use custom product or developer app attributes with Edge Microgateway?</h3>

  <p>No. By default, Edge Microgateway only acts on attributes related to basic routing and
  security. However, as workarounds, you have these possible options:</p>

  <ol>
    <li>
      <p>Add custom attributes to the edgemicro-auth proxy that Edge Microgateway deploys to Apigee
      Edge. These attributes will be available when using API Key or OAuth token security.</p>
    </li>

    <li>
      <p>Modify oauth plugin to act on those attributes.</p>
    </li>
  </ol>

  <h2 id="businessandlicensingquestions">Business and licensing questions</h2>

  <h3 id=
  "businessandlicensingquestions-whatistherelationshipbetweenapigee127andedgemicrogatewaysupportmodels">
  What is the relationship between Apigee-127 and Edge Microgateway support models?</h3>

  <p>Apigee-127 is an open source software project that is supported in the open source model. That
  is, you can raise issues in the GitHub project and make a pull request if you attempt to fix
  something. Apigee-127 does not require or include any Software Licenses Agreements with
  Apigee.</p>

  <p>Edge Microgateway, on the other hand, is an Enterprise product that is supported by Apigee for
  Apigee customers. That is, Apigee customers can create support tickets, feature requests, and bug
  reports using the <a href="https://apigee.com/about/support/portal">Apigee Support
  portal</a>.</p>

  <p>Note: Edge Microgateway is not in any way based on Apigee-127. They are completely different
  projects with different goals. The only similarity is that both are implemented in Node.js. You
  must not assume any other commonality.</p>

  <h2 id="securityquestions">Security questions</h2>

  <h3 id="securityquestions-howcanirenewanexpiredaccesstoken">How can I renew an expired access
  token?</h3>

  <p>Currently, you cannot renew the JWT token for a given Edge Microgateway instance.</p>

  <h4>Workaround</h4>

  <p>Each JWT token has an exp attribute that states the expiration date of the token. An app can
  calculate the expiration time and request a new token by making an API call directly to the
  edgemicro-auth token endpoint. For example, you can make an API call like this:</p>

  <p><code>POST https: //{your_org}-{your_env}.apigee.net/edgemicro-auth/token</code></p>

  <p>... with a JSON body like this:</p>

  <p><code>{  "client_id": {your_id},  "client_secret": {your_secret},
   "grant_type": "client_credentials" }</code></p>

  <p>See also</p>

  <p>"<a href=
  "/api-platform/microgateway/2.5.x/setting-and-configuring-edge-microgateway.html#part4secureedgemicrogateway">Secure
  the API with either an OAuth token or an API key</a>" in the Edge Microgateway docs.</p>

  <p>"<a href=
  "https://community.apigee.com/questions/11285/whats-the-process-for-renewing-bearer-tokens-when.html">What's
  the process for renewing bearer tokens when they expire</a>" on the Apigee Community.
    </p>

  <h3 id="securityquestions-configuringsslonwindows">Configuring SSL on Windows</h3>

  <p>If you are running Edge Microgateway on Windows, <a href=
  "https://www.openssl.org/">OpenSSL</a> must be installed on the machine and added to the PATH.
  Not all Windows machine are shipped with OpenSSL. Refer to the <a href=
  "https://www.openssl.org/docs/">OpenSSL documentation</a> for information about downloading and
  installing OpenSSL.</p>

  <h3 id=
  "securityquestions-caniwhitelistapiresourcesusingtheapiproductassociatedwithanedgemicroawareproxy">
  Can I white-list API resources using the API product associated with an Edge Micro-aware
  proxy?</h3>

  <p>Currently, only the basepath is checked to determine if an API is approved for API Products
  associated with a particular OAuth token.</p>

  <h4>For example:</h4>

  <p>1. You create an <strong>edgemicro_</strong> prefixed proxy with base path and target.</p>

  <p>2. You add this proxy to a product. Let's call it <strong>edgemicro-prod1</strong>.</p>

  <p>3. When an API call is made through Edge Microgateway using either an API key or an OAuth
  token, Edge Microgateway checks if the basepath of the API matches with the basepath of
  <strong>edgemicro_*</strong> proxy that is approved for list of products approved for that key or
  token.</p>

  <p>See also</p>

  <ul>
    <li>
      <p><a href=
      "https://community.apigee.com/questions/15626/when-using-the-edgemicro-gateway-in-the-products-w.html">
      This post on the Apigee Community</a></p>
    </li>
  </ul>

  <h3 id="securityquestions-caniusecustomsslcertificateswithedgemicrogateway">Can I use custom SSL
  certificates with Edge Microgateway?</h3>

  <p>Only the <a href="/api-platform/system-administration/using-ssl-edge.html">default Apigee SSL
  cert</a> is currently supported. Custom SSL certs are not supported at this time.</p>

  <h4>Workarounds</h4>

  <p>If you wish to use a custom (non-Apigee default) SSL cert, you have these options:</p>

  <ul>
    <li>
      <p>Use a non-SSL <code>jwt_public_key</code> endpoint. Modify Edge Microgateway configuration
      file to use <code>http://{org}-{env}.apigee.net/edgemicro-auth/publicKey</code> -or-</p>
    </li>

    <li>
      <p>Before starting Edge Microgateway, set this environment variable: export
      <code>NODE_TLS_REJECT_UNAUTHORIZED ="0"</code></p>
    </li>
  </ul>

  <p><strong>Note:</strong> Also be sure you are using the supported version of Node.js for your
  version of Edge Microgateway. See <a href=
  "/api-platform/microgateway/2.5.x/installing-edge-microgateway.html#prerequisites">Prerequisites</a>
  in the Install doc for Edge Microgateway.</p>

  <h4>See also</h4>

  <ul>
    <li><a href=
    "https://community.apigee.com/questions/14877/verify-edge-micro-install-errors-on-ssl-cert.html">
    Verify Edge Micro install errors on SSL cert</a> on the Apigee Community.</li>
  </ul>

  <h3 id="securityquestions-caniavoidusingorgadminaccountswithedgemicrogateway">Can I avoid using
  Org Admin accounts with Edge Microgateway?</h3>

  <p>The Edge Microgateway configuration script deploys an edgemicro-auth proxy to Edge, and this
  deployment requires Org Admin credentials.</p>

  <p>However, after this initial deployment, you should be able to do the remaining setup and
  configuration without needed Org Admin credentials.</p>

  <h4>See also</h4>

  <ul>
    <li>
      <p><a href=
      "https://community.apigee.com/questions/17901/do-you-guys-have-any-guidance-on-how-to-set-up-an.html">
      This Apigee Community post</a>.</p>
    </li>
  </ul>

  <h3 id="securityquestions-caniusemyownoauthtokenwithedgemicrogateway">Can I use my own OAuth
  token with Edge Microgateway?</h3>

  <p>You can use your own token, but first, you must turn off the built-in authorization for Edge
  Microgateway. To do this:</p>

  <ol>
    <li>
      <p>Open the config file for Edge Microgateway.</p>
    </li>

    <li>
      <p>Change the two oauth settings to true, as follows:</p>
    </li>
  </ol>
  <pre class="prettyprint">
oauth:
    allowNoAuthorization: true
    allowInvalidAuthorization: true
</pre>

  <h3 id="securityquestions-iamgettinganaccessdeniederrorwhenstartingedgemicrogateway">I am getting
  an access denied error when starting Edge Microgateway</h3>

  <p>If you get an access denied error when starting Edge Microgateway with this command:</p>

  <p><code>edgemicro start -o [org] -e [env] -k [key] -s [secret]</code></p>

  <p>It is possible the key and secret are not valid for some reason. The best thing to do is
  regenerate the key and secret with the <a href="">edgemicro genkeys command</a>.</p>

  <h2 id="testinganddebuggingquestions">Testing and debugging questions</h2>

  <h3 id="testinganddebuggingquestions-howdoipreventtoomanyfileopenerrorsduringloadtesting">How do
  I prevent "too many file open" errors during load testing?</h3>

  <p>In some cases, your system may run into a situation where too many open file connections, and
  this can cause Edge Micro to crash. The default logging requires two HTTP connections for
  incoming and outgoing transactions through the Microgateway.</p>

  <p>For testing and benchmarking purposes, Apigee recommends setting your system's ulimit command
  to unlimited: <code>ulimit -n unlimited</code></p>

  <h4>See also</h4>

  <p><a href=
  "https://community.apigee.com/questions/15162/edge-microgateway-error-during-load-testing.html">Edge
  Microgateway error during load testing</a> on the Apigee Community</p>

  <h3 id="testinganddebuggingquestions-tipsforrapiddevelopmentanddebugging">Tips for rapid
  development and debugging</h3>

  <p>If you are developing plugins for Edge Microgateway, you may find that support for rapid
  development is limited. Apigee plans to add pluggable debugging and other features in the future
  to help with this.</p>

  <p>For now, here are some tips:</p>

  <ul>
    <li>
      <p>For starting Edge Microgateway, you can set  the environment variables EDGEMICRO_KEY
      and EDGEMICRO_SECRET to the key/secret pair required by the Microgateway startup command.
      This allows you to start Edge Microgateway without entering the key/secret at the command
      line. See also <a href=
      "/api-platform/microgateway/2.5.x/operation-and-configuration-reference-edge-microgateway.html#settingenvironmentvariables">
      Setting environment variables</a> in the Edge Microgateway docs.</p>
    </li>

    <li>
      <p>Start Edge Microgateway in DEBUG mode to see additional output in the command terminal:
      <code>DEBUG=* edgemicro start -o [org] -e [env] -k [key] -s [secret]</code></p>
    </li>
  </ul>

  <h3 id=
  "testinganddebuggingquestions-canireusekeysecretcombinationsbetweeninstancesofedgemicrogateway">
  Can I reuse key/secret combinations between instances of Edge Microgateway?</h3>

  <p>As long as the organization and environment are same for the Microgateway instances, you can
  reuse the key/secret pair that get generated during configuration.</p>

  <h3 id=
  "testinganddebuggingquestions-whataretheedgemicrogatewaytpsbydefaultwhatarehardwarerequirementsrequiredforamicrogatewayinstance">
  What are the Edge Microgateway TPS by default &amp; what are Hardware Requirements required for a
  Microgateway instance</h3>

  <p>Please refer to <a href=
  "https://community.apigee.com/questions/40062/what-are-the-microgateway-tps-by-default-what-are.html">
  this post</a> in the Apigee Community. </p>{% endblock %}
