<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

  {% extends "_base.html" %} {% block title %}Performance testing{% endblock %} {% block body %}

  <p>Performance Testing or Stress testing is sending through a heavy load of normal traffic
  (either high volume or large size payload). There is no prohibition against this type of testing
  in Edge Public Cloud. This traffic will be counted against any API call budget or limits the
  customer may have in their agreement.</p>

  <p>In order to best support the customer, Apigee appreciates being notified prior to these tests.
  To notify Apigee Edge operations of your planned performance testing, open a Support ticket at
  least 1 business day before the start of testing and provide the following information:</p>

  <ol>
    <li>Test Plan

      <ol type="a">
        <li>What will be tested (Destination URLs and IP addresses)?</li>

        <li>What is the Source (IP addresses) of the test traffic?</li>

        <li>Duration of the test window (start &amp; Stop date/time/Timezone).</li>
      </ol>
    </li>

    <li>Tester Info

      <ol type="a">
        <li>Who will be doing the testing?</li>

        <li>Contact details for the tester.</li>
      </ol>
    </li>

    <li>Test Limits

      <ol type="a">
        <li>Is there an upper limit to the testing? A max TPS?</li>

        <li>Is there a max payload size for the test?</li>
      </ol>
    </li>
  </ol>

  <p>Clarification should be made with Sales or Operations for the max TPS that was purchased. A
  conflict may exist between the requested testing limit and the customer purchased limit. This
  could be a concern or cause an incident.</p>{% endblock %}
