{% extends "_base.html" %}
{% block title %}Privacy &amp; Security settings{% endblock %}
{% block body %}
<p>Configure the following settings under Privacy &amp; Security.</p>
<aside class="note">
<strong>Note</strong>: These features are available in the new Edge UI only. They are not available in the Classic UI.
</aside>
<p>
<h2>Data Protection Officer and EU Representative</h2>
<p>
For customers subject to the General Data Protection Regulation (GDPR), Apigee Edge allows you to identify your <strong>Data Protection Officer</strong> and an <strong>EU Representative</strong>, including the name and contact information. For more guidance, refer to GDPR <a href="https://gdpr-info.eu/art-27-gdpr/" target="_blank">Article 27</a> and <a href="https://gdpr-info.eu/art-37-gdpr/" target="_blank">Article 37</a>.
</p>
<p>
To identify a Data Protection Officer or an EU Representative:
</p><ol>

<li>Log in to the new Edge UI at <a href="https://apigee.com/edge" target="_blank">https://apigee.com/edge</a>.
<li>Select <strong>Admin > Privacy &amp; Security</strong> in the left navigation bar.
<li>To identify your <strong>Data Protection Officer</strong>, enter the name and contact information, and click <strong>Update</strong>.
<li>To identify your <strong>EU Representative</strong>, enter the name and contact information, and click <strong>Update</strong>.</li></ol>

<h2 id="apigee-support">Apigee Support use of Trace</h2>
<aside class="note">
  <b>Note</b>: To learn more about Trace, see <a href="/api-platform/debug/using-trace-tool-0">Using the Trace tool</a>.
</aside>
  {% dynamic include /includes/___apigee-support-trace %}
{% endblock %}
