<html devsite>
  <!-- Include global local variables -->
  {% include "_localvars.html" %}
  <!-- Include local variables for this book -->
  {% include "private-cloud/v4.19.01/_localvars-41901.html" %}
  <head>
    <!-- Define name of title that you must set in the files that use this template -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="project_path" value="/private-cloud/v4.19.01/_project.yaml" />
    <meta name="book_path" value="/private-cloud/v4.19.01/_book.yaml" />
    <link rel="stylesheet" type="text/css" href="/css/apigee-custom.css">
  </head>
  <body>
    <p style="text-align: right;"><span style="background-color: #F0F0F0;"><em>Edge for Private Cloud v4.19.01</em></span></p>
    <!-- Define name of the body that you define in the files that use this template -->
    {% block body %}{% endblock %}
  </body>
</html>

