  {% extends "private-cloud/v4.18.01/_base.html" %} {% block title %}Adding a Router or Message
  Processor node{% endblock %} {% block body %}

  <p>You can add a Router or Message Processor node to an existing installation. For a list of the
  system requirements for a Router or Message Processor, see <a href=
  "installation-requirements.html">Installation Requirements</a>.</p>

  <h2 id="addarouter">Add a Router</h2>

  <p>After you install Edge on the node, use the following procedure to add the Router:</p>

  <ol>
    <li>Install Edge on the node using the internet or non internet procedure as described in the
    Edge Installation manual.</li>

    <li>At the command prompt, run the <span style=
    "font-family:courier new,courier,monospace;">apigee-setup.sh</span> script:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-setup/bin/setup.sh -p r -f
    <strong><em>configFile</em></strong></span> <br>
    <br>
    The &#8220;-p r&#8221; option specifies to install the Router. See <a href=
    "install-edge-components-node.html">Install Edge components on a node</a> for information on
    creating a <em><strong>configFile</strong></em>.</li>

    <li>When the installation completes, the script displays the UUID of the Router.  If you
    need to determine the UUID later, use the following cURL command on the host where you
    installed the Router:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; curl
    http://&lt;router_IP&gt;:8081/v1/servers/self</span></li>

    <li>To check the configuration, you can run the following cURL command:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; curl -v -u adminEmail:pword
    "http://&lt;ms_IP&gt;:8080/v1/servers?pod=&lt;<em><strong>pod_name</strong></em>&gt;" </span><br>

    <br>
    where <em><strong>pod_name</strong></em> is gateway or your custom pod name. You should see the
    UUIDs of all Routers, including the Router that you just added.<br>
    <br>
    If the Router UUID does not appear in the output, run the following cURL command to add it:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; curl -v -u adminEmail:pword
     -X POST <br>
    http://&lt;<em><strong>ms_IP</strong></em>&gt;:8080/v1/regions/&lt;<em><strong>region_name</strong></em>&gt;/pods/&lt;<em><strong>pod_name</strong></em>&gt;/servers
    -d "action=add&amp;uuid={router_UUID}&amp;type=router" </span><br>
    <br>
    Replace <em><strong>ms_IP</strong></em> with the IP address of the Management Server,
    <em><strong>region_name</strong></em> with the default region name of dc-1 or your custom
    region name, and <em><strong>pod_name</strong></em> with gateway or your custom pod name.</li>

    <li>To test the router, you should be able to make requests to your APIs through the IP address
    or DNS name of the Router. For example:<br>
    <span style=
    "font-family:courier new,courier,monospace;">http://&lt;newRouter_IP&gt;:&lt;port&gt;/v1/apiPath</span><br>

    <br>
    For example, if you completed the first tutorial where you created the weather API:<br>
    <span style=
    "font-family:courier new,courier,monospace;">http://&lt;newRouter_IP&gt;:&lt;port&gt;/v1/weather/forecastrss?w=12797282</span></li>
  </ol>

  <h2 id="addamessageprocessor">Add a Message Processor</h2>

  <p>After you install Edge on the node, use the following procedure to add a Message
  Processor:</p>

  <ol>
    <li>Install Edge on the node using the internet or non internet procedure as described in the
    Edge Installation manual.</li>

    <li>At the command prompt, run the <span style=
    "font-family:courier new,courier,monospace;">apigee-setup.sh</span> script:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-setup/bin/setup.sh -p mp -f configFile </span><br>
    <br>
    The &#8220;-p mp&#8221; option specifies to install the Message Processor. See <a href=
    "install-edge-components-node.html">Install Edge components on a node</a> for information on
    creating a <em><strong>configFile</strong></em>.</li>

    <li>When the installation completes, the script displays the UUID of the Message Processor.
    Note that UUID as you need it to complete the configuration process. If you need to
    determine the UUID, use the following cURL command on the host where you installed the Message
    Processor:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; curl
    http://&lt;mp_IP&gt;:8082/v1/servers/self</span></li>

    <li>For each environment in each organization in your installation, use the following cURL
    command to associate the Message Processor with the environment:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; curl -v -u
    adminEmail:pword <br>
    -H "Content-Type: application/x-www-form-urlencoded" -X POST
    "http://&lt;<em><strong>ms_IP</strong></em>&gt;:8080/v1/o/{<em><strong>org_name</strong></em>}/e/{<em><strong>env_name</strong></em>}/servers"
    -d "action=add&amp;uuid={<em><strong>mp_UUID</strong></em>}" </span><br>
    <br>
    Replace <em><strong>ms_IP</strong></em> with the IP address of the Management Server and
    <em><strong>org_name</strong></em> and <em><strong>env_name</strong></em> with the organization
    and environment associated with the Message Processor.</li>

    <li>To check the configuration, you can run the following cURL command:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; curl -v -u adminEmail:pword
    "http://&lt;ms_IP&gt;:8080/v1/o/{<em><strong>org_name</strong></em>}/e/{<em><strong>env_name</strong></em>}/servers" </span><br>

    <br>
    where <em><strong>org_name</strong></em> is the name of your organization, and
    <em><strong>env_name</strong></em> is the environment. You should see the UUIDs of all Message
    Processors associated with the organization and environment, including the Message Processor
    that you just added.</li>
  </ol>

  <h2 id="addbotharouterandamessageprocessor">Add both a Router and a Message Processor</h2>

  <p>After you install Edge on the node, us the following procedure to add a router and Message
  Processor at the same time:</p>

  <ol>
    <li>At the command prompt, run the <span style=
    "font-family:courier new,courier,monospace;">apigee-setup</span> script:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-setup/bin/setup.sh -p rmp -f configFile</span><br>
    <br>
    The &#8220;-p rmp&#8221; option specifies to install the Router and Message Processor. See
    <a href="install-edge-components-node.html">Install Edge components on a node</a> for
    information on creating a configFile.</li>

    <li>Follow the procedures above to configure the Router and Message Processor.</li>
  </ol>

  <div>
     
  </div>{% endblock %}
