  {% extends "private-cloud/v4.18.01/_base.html" %} {% block title %}Configuration required for
  different sysadmin credentials{% endblock %} {% block body %}

  <p>When you first installed Edge, a special kind of user was created called a sysadmin user, and
  at the same time some additional config files were updated with this user&#8217;s details. If you
  configure your external LDAP to authenticate using a non-email address username and / or you have
  a different password in your external LDAP for this sysadmin user, then you will need to make the
  changes described in this section.</p>

  <p>There are two locations that need to be updated:</p>

  <ul>
    <li>The Edge UI logs into the Management Server using credentials that are stored encrypted in
    a configuration file on the Edge UI. This update is required when either/both username or
    password for your sysadmin user is different. </li>

    <li>Edge stores the sysadmin username in another file which is used when running various
    utility scripts. This update is only required when the username of your sysadmin user is
    different.</li>
  </ul>

  <h2 id="changingtheedgeuipassword">Changing the Edge UI password</h2>

  <p>The way you change the Edge UI password depends on how your external LDAP server represents
  usernames:</p>

  <ul>
    <li>If usernames are email addresses, use the <span style=
    "font-family:courier new,courier,monospace;">setup.sh</span> utility to update the Edge
    UI </li>

    <li>If the usernames are IDs, instead of an email address, use API calls and
    propertiy files to update the Edge UI</li>
  </ul>

  <p>Both procedures are described below.</p>

  <h3 id="changingtheedgeuipassword-changingtheedgeuicredentialforanemailaddress">Changing the Edge
  UI credential for an email address</h3>

  <ol>
    <li>Edit the silent config file that you used to install the Edge UI to set the following
    properties:<br>
    <span style="font-family:courier new,courier,monospace;"><strong>ADMIN_EMAIL=newUser<br>
    APIGEE_ADMINPW=newPW</strong><br>
    SMTPHOST=smtp.gmail.com<br>
    SMTPPORT=465<br>
    SMTPUSER=foo@gmail.com<br>
    SMTPPASSWORD=bar<br>
    SMTPSSL=y<br>
    SMTPMAILFROM="My Company &lt;myco@company.com&gt;"</span><br>
    <br>
    Note that you have to include the SMTP properties when passing the new password because all
    properties on the UI are reset.</li>

    <li>Use the apigee-setup utility to reset the password on the Edge UI from the config file:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-setup/bin/setup.sh -p ui -f <em><strong>configFile</strong></em></span></li>
  </ol>

  <h3 id="changingtheedgeuipassword-changingtheedgeuicredentialsforauserid">Changing the Edge UI
  credentials for a user ID</h3>

  <ol>
    <li>Encrypt the user ID and password:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; java -cp
    "/opt/apigee/edge-ui/conf:/opt/apigee/edge-ui/lib/*" utils.EncryptUtil
    '<em><strong>userName:PWord</strong></em>'</span></li>

    <li>Open the <span style="font-family:courier new,courier,monospace;">ui.properties</span> file
    in an editor. If the file does not exist, create it:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; vi
    /opt/apigee/customer/application/ui.properties</span></li>

    <li>In <span style="font-family:courier new,courier,monospace;">ui.properties</span>, set the
    <span style=
    "font-family:courier new,courier,monospace;">conf_apigee_apigee.mgmt.credential</span> token to
    the value returned by the call in Step 1:<br>
    <span style=
    "font-family:courier new,courier,monospace;">conf_apigee_apigee.mgmt.credential="<em><strong>STRING_RETURNED_IN_STEP_1</strong></em>"</span></li>

    <li>Set the owner of <span style=
    "font-family:courier new,courier,monospace;">ui.properties</span> to 'apigee':<br>
    <span style="font-family:courier new,courier,monospace;">&gt; chown apigee:apigee
    /opt/apigee/customer/application/ui.properties</span></li>

    <li>Restart the Edge UI:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/?apigee/apigee-service/bin/apigee-service edge-ui restart</span></li>
  </ol>

  <h3 id="changingtheedgeuipassword-testingtheconfiguration">Testing the configuration</h3>

  <ol>
    <li>Open the management UI in a browser at:<br>
    <span style=
    "font-family:courier new,courier,monospace;">http://&lt;management-server-IP&gt;:9000/</span><br>

    <br>
    For example:<br>
    <span style=
    "font-family:courier new,courier,monospace;">http://192.168.52.100:9000/</span></li>

    <li>Log in using the new credentials. If the login succeeds, the configuration is
    correct. </li>
  </ol>

  <h2 id="editingtheedgesysadminusernamestoreforapigeeutilityscripts">Editing the Edge sysadmin
  username store for Apigee utility scripts</h2>

  <ol>
    <li>Edit the silent config file that you used to install the Edge UI to set the following
    property to change the value of ADMIN_EMAIL to the username you will be using for your sysadmin
    user in your external LDAP:<br>
    <span style=
    "font-family:courier new,courier,monospace;">APIGEE_EMAIL=<em><strong>newUser</strong></em><br>
    ?IS_EXTERNAL_AUTH="true"</span><br>
    <br>
    The <span style="font-family:courier new,courier,monospace;">IS_EXTERNAL_AUTH</span> property
    configures Edge to support an account name, rather than an email address, as the
    username. </li>

    <li>Use the <span style="font-family:courier new,courier,monospace;">apigee-setup</span>
    utility to reset the username on all Edge component from the config file:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-setup/bin/setup.sh -p edge -f
    <em><strong>configFile</strong></em></span><br>
    <br>
    You must run this command on all Edge component on all Edge nodes, including: Management
    Server, Router, Message Processor, Qpid, Postgres.</li>
  </ol>

  <h3 id="editingtheedgesysadminusernamestoreforapigeeutilityscripts-testingtheconfiguration">
  Testing the configuration</h3>

  <p>Verify that you can access the central POD. On the Management Server, run the following CURL
  command:</p>
  <pre class="prettyprint">
&gt; curl -u sysAdminEmail:password http://localhost:8080/v1/servers?pod=central
</pre>

  <p>You should see output in the form:</p>
  <pre class="prettyprint">
[ {
 "internalIP" : "192.168.1.11",
 "isUp" : true,
 "pod" : "central",
 "reachable" : true,
 "region" : "dc-1",
 "tags" : {
   "property" : [ ]
 },
 "type" : [ "application-datastore", "scheduler-datastore", "management-server", "auth-datastore", "apimodel-datastore", "user-settings-datastore", "audit-datastore" ],
 "uUID" : "d4bc87c6-2baf-4575-98aa-88c37b260469"
}, {
 "externalHostName" : "localhost",
 "externalIP" : "192.168.1.11",
 "internalHostName" : "localhost",
 "internalIP" : "192.168.1.11",
 "isUp" : true,
 "pod" : "central",
 "reachable" : true,
 "region" : "dc-1",
 "tags" : {
   "property" : [ {
     "name" : "started.at",
     "value" : "1454691312854"
   }, ... ]
 },
 "type" : [ "qpid-server" ],
 "uUID" : "9681202c-8c6e-4da1-b59b-23e3ef092f34"
} ]
</pre>{% endblock %}
