{% extends "private-cloud/v4.18.05/_base.html" %}
{% block title %}Allow longer custom reports in the Edge UI{% endblock %}
{% block body %}

  <p>By default, the Edge UI only lets you create custom reports for a maximum of 14 days.</p>

  <p>To override this default and set it to 183 days:</p>
  <ol>
    <li>Open the <code>ui.properties</code> file in an editor. If the file does not exist, create
    it.
      <pre class="devsite-terminal">vi /opt/apigee/customer/application/ui.properties</pre>
    </li>
    <li>Set the following property to "true":
      <pre class="prettyprint">conf_apigee-base_apigee.feature.enableforcerangelimit="false"</pre>
    </li>
    <li>Save your changes to <code>ui.properties</code>.</li>
    <li>Restart the Edge UI:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui restart</pre>
    </li>
  </ol>

{% endblock %}
