{% extends "private-cloud/v4.18.05/_base.html" %}
{% block title %}Configure apigee-sso for HTTPS access{% endblock %}
{% block body %}

  <p><a href="install-and-configure-edge-sso">Install and configure Edge SSO</a> describes how
  to install and configure the Edge SSO module to use HTTP on port 9099, as specified by the
  following property in the config file:</p>

  <pre class="prettyprint">SSO_TOMCAT_PROFILE=DEFAULT</pre>

  <p>Alternatively, you can set <code>SSO_TOMCAT_PROFILE</code> to one of the following
  values to enable HTTPS access:</p>

  <ul>
    <li><strong>SSL_PROXY</strong> - Configures <code>apigee-sso</code> in proxy mode, meaning you have
      installed a load balancer in front of <code>apigee-sso</code> and terminated TLS on the load
      balancer. You then specify the port used on <code>apigee-sso</code> for requests from the load
      balancer.</li>
    <li><strong>SSL_TERMINATION</strong> - Enabled TLS access to
      <code>apigee-sso</code>, the Edge SSO module, on the
      port of your choice. You must specify a keystore for this mode that contains a cert signed by a
      CA. You cannot use a self-signed cert.</li>
  </ul>

  <p>You can choose to enable HTTPS at the time you initially install and configure
  <code>apigee-sso</code>, or you can enable it later.</p>

  <p>Enabling HTTPS access to <code>apigee-sso</code> using either mode disables HTTP
  access. That is, you cannot access <code>apigee-sso</code> using both HTTP and HTTPS
  concurrently.</p>

  <aside class="note"><strong>Note:</strong> If you configure HTTPS access to
  <code>apigee-sso</code>, ensure that you update any URLs
  used by the Edge UI and by your IDP to to use HTTPS. Also, if you choose to enable HTTPS on a
  port other than 9099, make sure you update the UI and IDP to use the correct port number.</aside>

  <h2 id="enablessl_proxymode">Enable SSL_PROXY mode</h2>

  <p>In <code>SSL_PROXY</code> mode, your system
  uses a load balancer in front of the Edge SSO module and terminates TLS on the load balancer. In
  the following figure, the load balancer terminates TLS on port 443, and then forwards requests to
  the Edge SSO module on port 9099:</p>

  <p><img alt="" src="/private-cloud/images/EdgeSAML_lb_2.png"></p>

  <p>In this configuration, you trust the connection from the load balancer to the Edge SSO module
  so there is no need to use TLS for that connection. However, external entities, such as the SAML
  IDP, now must access the Edge SSO module on port 443, not on the unprotected port of 9099.</p>

  <p>The reason to configure the Edge SSO module in <code>SSL_PROXY</code> mode is that the Edge SSO module
  auto-generates redirect URLs used externally by the IDP as part of the authentication process.
  Therefore, these redirect URLs must contain the external port number on the load balancer, 443 in
  this example, and not the internal port on the Edge SSO module, 9099.</p>

  <p><strong>Note</strong>: You do not have to create a TLS cert and key for
  <code>SSL_PROXY</code> mode because the connection from the load balancer to the Edge SSO module
  uses HTTP.</p>

  <p>To configure the Edge SSO module for <code>SSL_PROXY</code> mode:</p>

  <ol>
    <li>Add the following settings to your config file:
    <pre># Enable SSL_PROXY mode.
SSO_TOMCAT_PROFILE=SSL_PROXY

# Specify the apigee-sso port, typically between 1025 and 65535.
# Typically ports 1024 and below require root access by apigee-sso.
# The default is 9099.
SSO_TOMCAT_PORT=9099

# Specify the port number on the load balancer for terminating TLS.
# This port number is necessary for apigee-sso to auto-generate redirect URLs.
SSO_TOMCAT_PROXY_PORT=443
SSO_PUBLIC_URL_PORT=443

# Set public access scheme of apigee-sso to https.
SSO_PUBLIC_URL_SCHEME=https</pre>
    </li>

    <li>Configure the Edge SSO module:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-sso setup -f <var>configFile</var></pre>
    </li>

    <li>Update your IDP configuration to now make an HTTPS request on port 443 of the load
      balancer to access Edge SSO. See <a href="configure-your-saml-idp">Configure your SAML
      IDP</a> for more.</li>
    <li>Update your Edge UI configuration for HTTPS by setting the following properties in the config file:<br>
      <pre>SSO_PUBLIC_URL_PORT=443
SSO_PUBLIC_URL_SCHEME=https</pre>
      <p>Then update the Edge UI:</p>
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui configure-sso -f <var>configFile</var></pre>
      <p>See <a href="enable-saml-edge-ui">Enable SAML on the Edge UI</a> for more.</p>
    </li>
    <li>If you installed the {{portal_1st_use}}, update it to use HTTPS to
      access Ede SSO. For more, see
      <a href="configuring-developer-services-portal-use-saml-communicate-edge">Configuring the portal to use SAML to communicate with Edge</a></li>
  </ol>

  <h2 id="enablessl_terminationmode">Enable SSL_TERMINATION mode</h2>

  <p>For <code>SSL_TERMINATION</code> mode, you must:</p>
  <ul>
    <li>Generated a TLS cert and key and store them in a keystore file. <strong>You cannot use a
    self-signed certificate. You must generate a cert from a CA.</strong>
    </li>
    <li>Update the configuration settings for <code>apigee-sso.</code></li>
  </ul>

  <p>To create a keystore file from your cert and key:</p>
  <ol>
    <li>Create a directory for the JKS file:
      <pre class="devsite-terminal">sudo mkdir -p /opt/apigee/customer/application/apigee-sso/tomcat-ssl/</pre>
    </li>
    <li>Change to the new directory:
      <pre class="devsite-terminal">cd /opt/apigee/customer/application/apigee-sso/tomcat-ssl/</pre>
    </li>
    <li>Create a JKS file containing the cert and key. You must specify a keystore for this mode
      that contains a cert signed by a CA. You cannot use a self-signed cert. For an example of
      creating a JKS file, see <a href="configuring-ssl-edge-premises">Configuring TLS/SSL for
      Edge On Premises</a>.</li>
    <li>Make the JKS file owned by the "apigee" user:<br>
      <pre class="devsite-terminal">sudo chown -R apigee:apigee /opt/apigee/customer/application/apigee-sso/tomcat-ssl</pre>
    </li>
  </ol>

  <p>To configure the Edge SSO module:</p>

  <ol>
    <li>Add the following settings to your config file:
    <pre># Enable SSL_TERMINATION mode.
SSO_TOMCAT_PROFILE=SSL_TERMINATION

# Specify the path to the keystore file.
SSO_TOMCAT_KEYSTORE_FILEPATH=/opt/apigee/customer/application/apigee-sso/tomcat-ssl/keystore.jks

SSO_TOMCAT_KEYSTORE_ALIAS=sso

# The password specified when you created the keystore.
SSO_TOMCAT_KEYSTORE_PASSWORD=<var>keystorePassword</var>

# Specify the HTTPS port number between 1025 and 65535.
# Typically ports 1024 and below require root access by apigee-sso.
# The default is 9099.
SSO_TOMCAT_PORT=9443
SSO_PUBLIC_URL_PORT=9443

# Set public access scheme of apigee-sso to https.
SSO_PUBLIC_URL_SCHEME=https</pre>
    </li>
    <li>Configure the Edge SSO module:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-sso setup -f <var>configFile</var></pre>
    </li>
    <li>Update your IDP configuration to now make an HTTPS request on port 9443 of the load
    balancer to access Edge SSO. See <a href="configure-your-saml-idp">Configure your SAML
    IDP</a> for more.</li>
    <li>Update your Edge UI configuration for HTTPS by setting the following properties:
      <pre>SSO_PUBLIC_URL_PORT=9443
SSO_PUBLIC_URL_SCHEME=https</pre>
      <p>See <a href="enable-saml-edge-ui">Enable SAML on the Edge UI</a> for more.</p>
    </li>
    <li>If you installed the Developer Services portal, update it to use HTTPS to
    access Ede SSO. For more, see <a href=
        "configuring-developer-services-portal-use-saml-communicate-edge">Configuring the
        Developer Services portal to use SAML to communicate with Edge</a>.</li>
  </ol>

  <h3 id="enablessl_terminationmode-settingsso_tomcat_proxy_portwhenusingssl_terminationmode">
  Setting SSO_TOMCAT_PROXY_PORT when using SSL_TERMINATION mode</h3>

  <p>You might have a load balancer in front of the Edge SSO module that terminates TLS on the load
  balancer but also enable TLS between the load balancer and Edge SSO. In the figure above
  for <code>SSL_PROXY</code> mode, this means the connection from the load balancer to Edge SSO uses
  TLS.</p>

  <p>In this scenario, you configure TLS on Edge SSO just as you did above for
  <code>SSL_TERMINATION</code> mode. However, if the load
  balancer uses a different TLS port number than Edge SSO uses for TLS, then you must also specify
  the <code>SSO_TOMCAT_PROXY_PORT</code> property in the config file. For example:</p>

  <ul>
    <li>The load balancer terminates TLS on port 443</li>

    <li>Edge SSO terminates TLS on port 9443</li>
  </ul>

  <p> Make sure to include the following setting in the config file:</p>

  <pre># Specify the port number on the load balancer for terminating TLS.
# This port number is necessary for apigee-sso to generate redirect URLs.
SSO_TOMCAT_PROXY_PORT=443
SSO_PUBLIC_URL_PORT=443</pre>

  <p>The configure the IDP and Edge UI to make HTTPS requests on port 443.</p>{% endblock %}
