  {% extends "private-cloud/v4.18.01/_base.html" %} {% block title %}Configuring TLS for API BaaS{% endblock %} {% block body %}

  <p>TLS (Transport Layer Security, whose predecessor is SSL) is the standard security technology
  for for ensuring secure, encrypted messaging across your API environment. You can configure TLS
  on API BaaS Portal and API BaaS Stack nodes. </p>

  <p>The following image shows a typical deployment diagram for API BaaS with a single BaaS Portal
  node and three API BaaS Stack nodes. </p>

  <p><img alt="" src="/private-cloud/images/arch_ports_baas_16_01_large_v4.png"></p>

  <p>Developers use a browser to make requests to the Portal. By default, the requests use the HTTP
  protocol on  port 9000 of the Portal node.  </p>

  <aside class="note"><b>Note:</b> The API BaaS Portal never makes requests directly to an BaaS
  Stack node. When a developer logs into the Portal, the Portal app is downloaded to the browser.
  The Portal app running in the browser then makes requests to the BaaS Stack nodes.</aside>

  <p>This deployment includes a load balancer between the Portal and Stack nodes. In this
  configuration, the Portal makes HTTP requests to the load balancer, and the load balancer then
  forwards the requests to one of the the Stack nodes. This is the recommended deployment
  environment for a production system.</p>

  <h2 id="tlsconfigurationoptions">TLS configuration options</h2>

  <p>When configuring TLS for API BaaS, you have several options:</p>

  <ul>
    <li>Configure TLS on the Portal and on the load balancer for the Stack nodes<br>
    <br>
    In this configuration, developers use the HTTPS protocol to access the Portal, and the Portal
    running in the browser uses HTTPS to make requests to the Stack nodes through the load
    balancer. The load balancer uses HTTP to access the Stack nodes. </li>

    <li>Configure TLS on the Portal, load balancer, and Stack nodes<br>
    <br>
    For added security, configure the load balancer to use TLS to access the Stack nodes.</li>

    <li>Configure TLS on the Portal and on a single Stack node<br>
    <br>
    In a small environment, such as in a testing or development environment, you might only have a
    single Stack node, meaning there is no need to include a load balancer. In this configuration,
    configure TLS on both the Portal and the Stack nodes.</li>

    <li>Configure TLS on a load balancer for the Portal<br>
    <br>
    One option not shown above is to use a load balancer in front of the Portal node. In that
    configuration,  you can configure TLS on the load balancer, and optionally on the
    connection between the load balancer and the Portal.</li>
  </ul>

  <aside class="note"><b>Note:</b> Because the Portal runs as a browser app, if you configure TLS
  access to the Portal, then requests from the Portal to the Stack nodes must also use TLS.
  Therefore, either the load balancer for the Stack nodes must be configured to support TLS or, if
  you omit the load balancer, then the Stack node must be configured to support TLS. </aside>

  <h2 id="ensurethatthetlsportisopen">Ensure that the TLS port is open</h2>

  <p>The procedures below configures TLS on the default Portal port of 9000 and Stack node of 8080.
  However, you can change this port if desired. </p>

  <p>Regardless of the port that you use, you must ensure that the port is open on the node. For
  example, you can use the following command to open port 8443:</p>
  <pre class="prettyprint">
$ iptables -A INPUT -m state --state NEW -m tcp -p tcp --dport 8443 -j ACCEPT --verbose
</pre>

  <aside class="note">
    <b>Note:</b> This example uses port 8080 and 9443 for the TLS port, and not the more common
    port 443. The reason is that ports below 1024 are typically protected by the operating system
    and require the process that accesses them to have root access. The Portal and Stack run as the
    "apigee" user and therefore typically do not have access to ports below 1024.

    

    <p>One alternative it to use a load balancer and terminate TLS on the load balancer on port
    443. You can then use either HTTP or HTTPS between the load balancer and the Portal and
    Stack. </p>

    

    <p>Another alternative is to use <span style=
    "font-family:courier new,courier,monospace;">iptables</span> to forward requests. For example,
    to forward request to port 443 to port 9443:</p>
    <pre class="prettyprint">
iptables -A PREROUTING -t nat -i eth0 -p tcp --dport 443 -j REDIRECT --to-port 9443 
</pre>
  </aside>

  <h2 id="configuringtlsontheapibaasstack">Configuring TLS on the API BaaS Stack</h2>

  <p>By default, TLS is disabled for the API BaaS Stack. You then access the BaaS API over HTTP by
  using the IP address or DNS name of the Stack node and port 8080. For example:</p>
  <pre class="prettyprint">
http://stack_IP:8080
</pre>

  <p>Alternatively, you can configure TLS access to the BaaS API so that you can access it in the
  form:</p>
  <pre class="prettyprint">
https://stack_IP:8080
</pre>

  <p>In this example, you configure TLS access to use port 8080. However, port 8080 is not required
  - you can configure the Stack to use a different port. The only requirement is that your firewall
  allows traffic over the specified port.  </p>

  <p>The Stack can only support one type of request (HTTP or HTTPS) over a single port. Therefore,
  if you configure HTTPS access on port 8080, you cannot use HTTP to access port 8080. If you
  configure the Stack to use port 8443 with HTTPS, then the Stack will no longer listen on port
  8080. </p>

  <p>Use the following procedure to configure TLS access to the Stack:</p>

  <ol>
    <li>Generate the keystore JKS file containing your TLS certification and private key. For more
    see <a href="configuring-ssl-edge-premises.html">Configuring TLS/SSL for Edge On
    Premises</a>.<br>
    <strong>Note</strong>: Ensure that the password on the keystore and for key are the same.</li>

    <li>Copy the keystore JKS file to a directory on the Stack node, such as <span style=
    "font-family: &quot;courier new&quot;, courier, monospace;">/opt/apigee/customer/application</span>.
    The directory must be accessible to the 'apigee' user.</li>

    <li>Change ownership of the JKS file to the 'apigee' user:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; chown apigee:apigee
    /opt/apigee/customer/application/keystore.jks</span><br>
    <br>
    where <span style="font-family:courier new,courier,monospace;">keystore.jks</span> is the name
    of your keystore file.</li>

    <li>Edit the <span style=
    "font-family:courier new,courier,monospace;">/opt/apigee/customer/application/usergrid.properties</span>
    file to set the following properties, including the path to the JKS file and the password on
    the keystore and key. If that file does not exist, create it:<br>
    <span style="font-family:courier new,courier,monospace;">tomcat-server_scheme=https<br>
    tomcat-server_secure=true<br>
    tomcat-server_ssl.enabled=true<br>
    tomcat-server_keystore.type=JKS<br>
    tomcat-server_keystore.file=<em><strong>/opt/apigee/customer/application/keystore.jks</strong></em><br>

    tomcat-server_keystore.password=<em><strong>password</strong></em><br>
    tomcat-server_keyalias=<em><strong>keystore_alias</strong></em><br>
    tomcat-server_clientauth.enabled=false<br>
    tomcat-server_ssl.protocols=TLSv1,TLSv1.1,TLSv1.2<br>
    # By default, TLS access uses port 8080.<br>
    # Use this property to specify a different port.<br>
    # tomcat-server_port=8080</span><br>
    <br>
    <strong>Warning</strong>: The <em><strong>password</strong></em> value has to be in clear text.
    Therefore you should protect <span style=
    "font-family:courier new,courier,monospace;">usergrid.properties</span> from unauthorized
    access. <br>
    <br>
    Use the <span style="font-family:courier new,courier,monospace;">tomcat-server_keyalias</span>
    property to specify the keystore alias. You set the key alias at the time you created the key.
    For example, you can set it by using the <span style=
    "font-family:courier new,courier,monospace;">-alias</span> option to the <span style=
    "font-family:courier new,courier,monospace;">keytool</span> command.<br>
    <br>
    Use <span style="font-family:courier new,courier,monospace;">tomcat-server_ssl.protocols</span>
    to set the TLS protocols supported by the Stack. For a list of protocols supported by Java 8,
    see <a href=
    "https://docs.oracle.com/javase/8/docs/technotes/guides/security/StandardNames.html#jssename">http://docs.oracle.com/javase/8/docs/technotes/guides/security/StandardNames.html#jssename</a>.</li>

    <li>Configure the Stack node:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service baas-usergrid configure</span></li>

    <li>Restart the BaaS Stack:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service baas-usergrid restart</span></li>

    <li>Confirm that TLS is working by running the following cURL command on the Stack node using
    HTTPS:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; curl -k
    https://localhost:8080/status -v</span><br>
    <br>
    If TLS is configured correctly, you should see a response containing status information.<br>
    <br>
    If you configured TLS access over a port other than 8080, modify the command above to use the
    correct port. </li>

    <li>Repeat on all Stack nodes.</li>

    <li><strong>If you have a load balancer in front of the Stack nodes</strong>, configure the
    load balancer to make requests to the Stack nodes over HTTPS. See the documentation on your
    load balancer for more information. <br>
    <br>
    <strong>If the Portal makes direct requests to the Stack</strong>, configure the Portal to
    access the Stack over HTTPS as described in the following section. </li>

    <li>Use the procedure below in "Configure API BaaS Stack nodes for TLS on the Stack or Portal"
    to ensure that the Stack node has the correct TLS URLs when generating user
    responses.</li>
  </ol>

  <h3 id="configuringtlsontheapibaasstack-configuringtheportaltoaccessthestackovertls">Configuring
  the Portal to access the Stack over TLS</h3>

  <p>The BaaS Portal running in a browser functions by making API calls to the BaaS Stack. If you
  configure the BaaS Stack to use TLS, then you must also configure the Portal to make those calls
  over HTTPS. </p>

  <p>An API BaaS installation is typically configured to either: </p>

  <ul>
    <li><strong>Use a load balancer between the Portal and Stack nodes</strong><br>
    <br>
    Configure the load balancer to make requests to the Stack nodes over HTTPS. See the
    documentation on your load balancer for more information.  <br>
    <br>
    In this configuration, the Portal can access the load balancer over HTTP or HTTPS, depending on
    how you configure the load balancer. If the load balancer uses TLS, use the procedure below to
    configure the Portal to make requests to the load balancer of HTTPS.</li>

    <li><strong>Have the Portal make direct requests to the Stack</strong><br>
    <br>
    Configure the Portal to access the Stack over HTTPS as described below. </li>
  </ul>

  <p>Use the following procedure to configure the API BaaS Portal to make API calls over HTTPS:</p>

  <ol>
    <li>Configure TLS access on the BaaS Stack as described above, or on the load balancer for the
    Stack nodes as described in the documentation for your load balancer.</li>

    <li>Edit <span style=
    "font-family:courier new,courier,monospace;">/opt/apigee/customer/application/portal.properties</span>
    to set the following property. If that file does not exist, create it:<br>
    <span style=
    "font-family:courier new,courier,monospace;">baas.portal.config.overrideUrl=https://<em><strong>stackIP:port</strong></em></span><br>

    <br>
    Specify as the value of this property the IP address or DNS name and port of the API Stack node
    for a single node installation, or of the load balancer if you have a load balancer in front of
    the API BaaS Stack nodes.</li>

    <li>Configure the Portal node:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service baas-portal configure</span></li>

    <li>Restart the Portal by using the command:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service baas-portal restart </span></li>

    <li><strong>If you used a self-signed cert when configuring TLS access to the Stack
    above</strong>, your browser might not allow requests to the Stack from the Portal. If you see
    an error in the browser that HTTPS access to the Stack is not allowed, request the following
    URL in your browser, and add a security exception to allow access:<br>
    <span style=
    "font-family:courier new,courier,monospace;">https://<em><strong>stackIP:port</strong></em>/status</span><br>

    <br>
    Specify the IP address or DNS name and port of the API Stack node or load balancer.</li>
  </ol>

  <h2 id="configuringtlsontheapibaasportal">Configuring TLS on the API BaaS Portal</h2>

  <p>By default, users access the Portal by making unencrypted HTTP requests over port 9000 on the
  Portal server. You can configure the portal to use HTTPS to encrypt the data send to and from the
  portal. </p>

  <aside class="note"><b>Note:</b> Because the Portal runs as a browser app, if you configure TLS
  access to the Portal, then requests from the Portal to the Stack nodes <strong>must</strong> also
  use TLS. Therefore, either the load balancer for the Stack nodes must be configured to support
  TLS or, if you omit the load balancer, then the Sack node must be configured to support
  TLS. </aside>

  <p>By default, you access the Portal over HTTP by using the IP address or DNS name of the Portal
  node and port 9000. For example:</p>
  <pre class="prettyprint">
http://portal_IP:9000
</pre>

  <p>Alternatively, you can configure TLS access to the Portal so that you can access it in the
  form:</p>
  <pre class="prettyprint">
https://portal_IP:9443
</pre>

  <p>In this example, you configure TLS access to use port 9443. However, port 9443 is not required
  - you can configure the Portal to use a different port. </p>

  <p>The Portal can only support one type of request (HTTP or HTTPS) over a single port. Therefore,
  if you configure HTTPS access on port 9000, you cannot use HTTP to access port 9000. If you
  configure the Portal to use port 9443 with HTTPS, then the Portal will no longer listen on port
  9000. </p>

  <p>To configure TLS for the Portal: </p>

  <ol>
    <li>Create a key file and cert file in PEM format.<br>
    <strong>Note</strong>: Ensure that there is no password/passphrase on the key or cert.</li>

    <li>Copy the PEM files to a directory on the Portal node, such as <span style=
    "font-family: &quot;courier new&quot;, courier, monospace;">/opt/apigee/customer/application</span>.
    The directory must be accessible to the 'apigee' user.</li>

    <li>Change ownership of the PEM files to the 'apigee' user:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; chown apigee:apigee
    /opt/apigee/customer/application/*.PEM</span></li>

    <li>Edit the <span style=
    "font-family:courier new,courier,monospace;">/opt/apigee/customer/application/portal.properties</span>
    file to set the following properties. If that file does not exist, create it: <br>
    <span style="font-family:courier new,courier,monospace;">baas.portal.ssl=on<br>
    baas.portal.ssl.certificate=<em><strong>/opt/apigee/customer/application/defaultcert.pem</strong></em><br>

    baas.portal.ssl.key=<em><strong>/opt/apigee/customer/application/defaultkey.pem</strong></em><br>

    baas.portal.ssl.protocols=TLSv1 TLSv1.1 TLSv1.2<br>
    # By default, TLS access uses port 9000.<br>
    # Use this property to specify a different port.<br>
    # baas.portal.listen=9000</span><br>
    <br>
    Use baas.<span style="font-family:courier new,courier,monospace;">portal.ssl.protocols</span>
    to set the TLS protocols supported by the Portal. For a list of supported protocols, see the
    list of SSL protocol names defined by Nginx: <a href=
    "https://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_protocols">http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_protocols</a>.</li>

    <li>Configure the Portal node:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service baas-portal configure</span></li>

    <li>Restart the Portal:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service baas-portal restart</span></li>

    <li>Use the procedure below in "Configure API BaaS Stack nodes for TLS on the Stack or Portal"
    to ensure that the Stack node has the correct TLS URL for the Portal.</li>
  </ol>

  <h2 id="configureapibaasnodesfortlsonthestackorportal">Configure API BaaS nodes for TLS on the
  Stack or Portal</h2>

  <p>If you include a load balancer in front of the Stack or Portal nodes, or if you enable TLS
  directly on the Portal or Stack node, you have to configure the nodes with the correct URLs to
  access the Stack and Portal. For example, the Stack nodes require this information when:</p>

  <ul>
    <li>Including a URL in responses in BaaS API requests.</li>

    <li>Adding links in email templates when resetting a password, or sending other
    notifications. </li>

    <li>Redirecting users to specific Portal pages.</li>
  </ul>

  <p>If you use a load balancer in front of the Stack nodes or configure TLS on the Stack node, set
  the following property in <span style=
  "font-family:courier new,courier,monospace;">/opt/apigee/customer/application/usergrid.properties</span>: </p>
  <pre class="prettyprint">
usergrid-deployment_usergrid.api.url.base=<strong>http://localhost:8080</strong>
</pre>

  <p>Replace <em><strong>http://localhost:8080</strong></em> with the URL of the load
  balancer. If the load balancer is configure to use TLS, use the HTTPS protocol. You only
  need to include the port if you are using a non-standard port, meaning something other than port
  80 for HTTP and port 443 for HTTPS. </p>

  <p>You also have to set the following property in <span style=
  "font-family: &quot;courier new&quot;, courier, monospace;">/opt/apigee/customer/application/portal.properties </span>if
  you use a load balancer in front of the Stack nodes:</p>
  <pre class="prettyprint">
baas.portal.config.overrideUrl=<strong>http://localhost:8080</strong>
</pre>

  <p>Replace <em><strong>http://localhost:8080</strong></em> with the URL of the
  load balancer for the Stack.</p>

  <p>If you use a load balancer in front of the Portal node or configure TLS on the Stack node, set
  the following properties in <span style=
  "font-family: &quot;courier new&quot;, courier, monospace;">usergrid.properties</span>: </p>
  <pre class="prettyprint">
usergrid-deployment_portal.url=<strong>http://localhost:9000</strong>
</pre>

  <p>Replace <em><strong>http://localhost:9000</strong></em> with the URL of the
  load balancer. If the load balancer is configure to use TLS, use the HTTPS protocol. You
  only need to include the port if you are using a non-standard port, meaning something other than
  port 80 for HTTP and port 443 for HTTPS. </p>

  <p>After editing <span style=
  "font-family:courier new,courier,monospace;">usergrid.properties</span>:</p>

  <ol>
    <li>Configure the Stack node:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service baas-usergrid configure</span></li>

    <li>Restart the BaaS Stack:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service baas-usergrid restart</span></li>

    <li>If you modified <span style=
    "font-family: &quot;courier new&quot;, courier, monospace;">portal.properties</span>, configure
    the Portal node:??<br>
    <span style="font-family: &quot;courier new&quot;, courier, monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service baas-portal configure</span></li>

    <li>Restart the BaaS Portal:<br>
    <span style="font-family: &quot;courier new&quot;, courier, monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service baas-portal restart</span></li>
  </ol>{% endblock %}
