{% extends "private-cloud/v4.19.01/_base.html" %}
{% block title %}Configure your SAML IDP{% endblock %}
{% block body %}

  <p>When SAML is enabled, the principal (an Edge UI user) requests access to the service provider
  (Edge SSO). Edge SSO then requests and obtains an identity assertion from the SAML identity
  provider (IDP) and uses that assertion to create the OAuth2 token required to access the Edge UI.
  The user is then redirected to the Edge UI.</p>

  <p>Edge supports many IDPs, including Okta and the Microsoft Active Directory Federation Services
  (ADFS). For information on configuring ADFS for use with Edge, see <a href=
  "/api-platform/system-administration/configuring-edge-relying-party-adfs-idp">Configuring
  Edge as a Relying Party in ADFS IDP</a>. For Okta, see the following section.</p>

  <p>To configure your SAML IDP, Edge requires an email address to identify the user. Therefore,
  the identity provider must return an email address as part of the identity assertion.</p>

  <p>in addition, you might require some or all of the following:</p>

  <table>
    <thead>
      <tr>
        <th>Setting</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Metadata URL</strong></td>
        <td>
          <p>The SAML IDP might require the metadata URL of Edge SSO. The metadata URL is in the
          form:</p>
          <pre><var>protocol</var>://<var>apigee_sso_IP_DNS</var>:<var>port</var>/saml/metadata</pre>
          <p>For example:</p>
          <pre>http://<var>apigee_sso_IP_or_DNS</var>:9099/saml/metadata</pre>
        </td>
      </tr>
      <tr>
        <td><strong>Assertion Consumer Service URL</strong></td>
        <td>
          <p>Can be used as the redirect URL back to Edge after the user enters their IDP
          credentials, in the form:</p>
          <pre><var>protocol</var>://<var>apigee_sso_IP_DNS</var>:<var>port</var>/saml/SSO/alias/apigee-saml-login-opdk</pre>
          <p>For example:</p>
          <pre>http://<var>apigee_sso_IP_or_DNS</var>:9099/saml/SSO/alias/apigee-saml-login-opdk</pre>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Single logout URL</strong></p>
        </td>
        <td>
          <p>You can configure Edge SSO to support single logout. See
          <a href="configure-single-sign-out-edge-ui">Configure single sign-out from the Edge UI</a>
          for more. The Edge SSO single logout URL has the form:</p>
          <pre><var>protocol</var>://<var>apigee_sso_IP_DNS</var>:<var>port</var>/saml/SingleLogout/alias/apigee-saml-login-opdk</pre>
          <p>For example:</p>
          <pre>http://<var>apigee_sso_IP_DNS</var>:9099/saml/SingleLogout/alias/apigee-saml-login-opdk</pre>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>The SP entity ID (or Audience URI)</strong></p>
        </td>
        <td>
          <p>For Edge SSO:</p>
          <pre>apigee-saml-login-opdk</pre>
          <aside class="note"><b>Note: </b>You must use <code>apigee-saml-login-opdk</code> as the
            SPI entity ID. You cannot change it.</aside>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 id="configuringokta">Configuring Okta</h2>

  <p>To configure Okta:</p>
  <ol>
    <li>Log in to Okta.</li>
    <li>Select <strong>Applications</strong> and then select your SAML application.</li>
    <li>Select the <strong>Assignments</strong> tab to add any users to the application. These user
      will be able to log in to the Edge UI and make Edge API calls. However, you must first add each
      user to an Edge organization and specify the user's role. See <a href=
      "register-new-edge-users">Register new Edge users</a> for more.</li>
    <li>Select the <strong>Sign on</strong> tab to obtain the Identity Provider metadata URL. Store
      that URL because you need it to configure Edge.</li>
    <li>Select the <strong>General</strong> tab to configure the Okta application, as shown in the
      table below:</li>
  </ol>

  <table>
    <thead>
      <tr>
        <th>Setting</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Single sign on URL</strong></td>
        <td>Specifies the redirect URL back to Edge for use after the user enters their Okta
          credentials. This URL is in the form:
          <pre>http://<var>apigee_sso_IP_DNS</var>:9099/saml/SSO/alias/apigee-saml-login-opdk</pre>
          <p>If you plan to enable TLS on <code>apigee-sso</code>:</p>
          <pre>https://<var>apigee_sso_IP_DNS</var>:9099/saml/SSO/alias/apigee-saml-login-opdk</pre>
          <p>Where <var>apigee_sso_IP_DNS</var> is the IP address or DNS name of the
          node hosting <code>apigee-sso</code>.</p>
          <p>Note that this URL is case sensitive and <strong>SSO</strong> must appear in caps.</p>
          <p>If you have a load balancer in front to <code>apigee-sso</code>,then specify the IP
          address or DNS name of <code>apigee-sso</code> as referenced through the
          load balancer.</p>
        </td>
      </tr>
      <tr>
        <td><strong>Use this for Recipient URL and Destination URL</strong></td>
        <td>Set this checkbox.</td>
      </tr>
      <tr>
        <td><strong>Audience URI (SP Entity ID)</strong></td>
        <td>Set to <code>apigee-saml-login-opdk</code></td>
      </tr>
      <tr>
        <td><strong>Default RelayState</strong></td>
        <td>Can leave blank.</td>
      </tr>
      <tr>
        <td><strong>Name ID format</strong></td>
        <td>Specify <code>EmailAddress</code>.</td>
      </tr>
      <tr>
        <td><strong>Application username</strong></td>
        <td>Specify <code>Okta username</code>.</td>
      </tr>
      <tr>
        <td><strong>Attribute Statements (Optional)</strong></td>
        <td>Specify <code>FirstName</code>, <code>LastName</code>, and
        <code>Email</code> as shown in the image below.</td>
      </tr>
    </tbody>
  </table>

  <p>The SAML settings dialog box should appear as below once you are done:</p>

  <p><img alt="" src="/private-cloud/images/okta_main_config.png"></p>

{% endblock %}
