  {% extends "private-cloud/v4.18.01/_base.html" %} {% block title %}Developer Services Portal
  Overview{% endblock %} {% block body %}

  <p>Apigee Developer Channel Services is a template portal for content and community management.
  It is based on the open source Drupal (www.drupal.org) project. The default setup allows creating
  and managing API documentation, forums, and blogs. A built-in test console allows testing of APIs
  in real time from within the portal. </p>

  <p>Apart from content management, Developer Channel Services has various features for community
  management such as manual/automatic user registration and moderating user comments. Role-Based
  Access Control (RBAC) model controls the access to features on the Developer Channel Services.
  For example, you can enable controls to allow registered user to create forum posts, use test
  consoles, and so on.  </p>

  <p>This version of this document has details specific to version <strong>4.18.01</strong>. Any
  references that are specific to previous versions are oversights and should be reported as
  bugs. </p>

  <h2 id="accesstheapigeecommunityforyourquestions">Access the Apigee Community for your
  questions </h2>

  <p>The <a href="https://community.apigee.com/">Apigee Community</a> is a free resource where you
  can contact Apigee as well as other Apigee customers with questions, tips, and other issues.
  Before posting to the community, be sure to first search existing posts to see if your question
  has already been answered. </p>

  <h2 id="supportednetworktopologies">Supported Network Topologies</h2>

  <p>The components of the Apigee Developer Channel Services can be installed in different network
  configurations, or topologies, including:</p>

  <ul>
    <li><strong>Single machine</strong> - All Apigee Developer Channel Services components
    installed on a single machine.</li>

    <li><strong>Small</strong> - The Drupal database is installed on a separate machine from the
    other components.</li>
  </ul>

  <aside class="note"><b>Note:</b> These topologies are the only topologies supported by Apigee. If
  you use a different network topology, Apigee might not be able to support it. Contact your
  account manager or <a href="https://community.apigee.com/content/apigee-customer-support">Apigee
  Support</a> if you require a custom solution. </aside>

  <p>The following figure shows the single-machine topology where all components of the Apigee
  Developer Channel Services are installed on a single machine:</p>

  <p><img alt="" src="/private-cloud/images/oneMachineFinal_v7.png"></p>

  <aside class="note">
    <b>Note:</b>

    <ul>
      <li>On a new install of 4.18.01, the installation script installs Postgres and Nginx.
       </li>

      <li>On an update to 4.18.01 from an install that uses Postgres and Nginx, the installation
      script updates Postgres and Nginx.  </li>

      <li>On an update to 4.18.01 from an install that uses MySQL/MariaDB/Apache, you
      <strong>must</strong> first convert your installation to Postgres/Nginx before you
      can update to 4.18.01. </li>
    </ul>
  </aside>

  <p>In this figure, the Public core contains the components that are publicly accessible. The
  Private core contains components that are not publicly accessible. </p>

  <table>
    <tbody>
      <tr>
        <td>
          <p><strong>Component</strong></p>
        </td>

        <td>
          <p><strong>Description</strong></p>
        </td>

        <td>
          <p><strong>Installed by</strong></p>
        </td>
      </tr>

      <tr>
        <td>
          <p>ELB</p>
        </td>

        <td>
          <p>An Enterprise Load Balancer (ELB).</p>
        </td>

        <td>
          <p>Your network provider.</p>

          <p>For example, both Amazon and Rackspace provide Enterprise load balancers for use with
          their instances.</p>
        </td>
      </tr>

      <tr>
        <td>Nginx 1.10.1</td>

        <td>The Nginx web server used for installations of 4.18.01. </td>

        <td>Apigee</td>
      </tr>

      <tr>
        <td>
          <p>Apache Server Version 2.2</p>
        </td>

        <td>
          <p>The Apache web server used in previous versions of the portal.</p>
        </td>

        <td>
          <p>Apigee</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>Postgres 9.6</p>
        </td>

        <td>
          <p>The database used by Drupal for new installations of 4.18.01. </p>
        </td>

        <td>
          <p>Apigee, or connect to an existing installation.</p>

          <p>If you want to connect to a remote Postgres installation, it must be version 9.6.</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>MySQL 5.0.15 or later</p>
        </td>

        <td>
          <p>The database used in previous versions of the portal on RedHat 6.x
          or CentOS 6.x. </p>
        </td>

        <td>
          <p>Apigee, or connect to an existing installation. If MySQL is installed by the Apigee
          installer, it installs the latest version available for your OS.</p>

          <p>If you want to connect to a remote MySQL installation, it must be version 5.0.15 or
          later.</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>MariaDB 5.1.38 or later</p>
        </td>

        <td>
          <p>The database used in previous versions of the portal on RedHat 7.x
          or CentOS 7.x.</p>
        </td>

        <td>
          <p>Apigee, or connect to an existing installation. If MariaDB is installed by the Apigee
          installer, it installs the latest version available for your OS.</p>

          <p>If you want to connect to a remote MariaDB installation, it must be version 5.1.38 or
          later.</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>Drupal shared storage</p>
        </td>

        <td>
          <p>The shared storage area used by Drupal for uploaded files, static scripts, and other
          information.</p>
        </td>

        <td>
          <p>Apigee</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>Drush 6.2</p>
        </td>

        <td>
          <p>The Drupal command line interface.</p>
        </td>

        <td>
          <p>Apigee</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>PHP 7.0</p>
        </td>

        <td>
          <p>Server-side scripting engine.</p>
        </td>

        <td>
          <p>Apigee</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>Apache Solr</p>
        </td>

        <td>
          <p>The Drupal search server. Apache Solr uses the Apache Lucene search library.</p>
        </td>

        <td>
          <p>Apigee, but it is not enabled by default. Only enable it if you have a large amount of
          data on the portal. See <a href="developer-services-portal-installation.html">Developer
          Services portal installation</a> for instructions on enabling it.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <p>Shown below is the small topology where the MySQL server resides on a separate machine:</p>

  <p><img alt="" src="/private-cloud/images/smallTopo_v7.png"></p>{% endblock %}
