{% extends "private-cloud/v4.18.05/_base.html" %}
{% block title %}Enabling the consent banner{% endblock %}
{% block body %}

  <p>You can display a consent banner when a user first accesses the Edge UI. The consent banner
  displays HTML-formatted text and a button that the user selects to proceed to the log in screen.
  For example:</p>

  <p><img alt="" src="/private-cloud/images/consentBanner.png" width="80%"></p>

  <p>To add a consent banner:</p>

  <ol>
    <li>Open the <code>ui.properties</code> file in an editor. If the file does not exist, create
      it:
      <pre class="devsite-terminal">vi /opt/apigee/customer/application/ui.properties</pre>
    </li>
    <li>Set the following properties:
      <pre># Enable the consent banner:
conf_apigee-base_apigee.feature.enableconsentbanner="true"
# Set the button text:
conf_apigee-base_apigee.consentbanner.buttoncaption="I Agree"
# Set the HTML text:
conf_apigee-base_apigee.consentbanner.body="&lt;h1&gt;Notice and Consent Banner&lt;/h1&gt;
&lt;div&gt;&lt;p&gt;Enter your consent text here.&lt;/p&gt;&lt;/div&gt;"</pre>
    </li>
    <li>Save your changes.</li>
    <li>Restart the Edge UI:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui restart</pre>
    </li>
  </ol>

  <p>When you next open the Edge UI in a browser, you will have to accept the consent agreement
  before you can log in.</p>

{% endblock %}
