{% extends "private-cloud/v4.18.05/_base.html" %}
{% block title %}Enable Cassandra authentication{% endblock %}
{% block body %}

  <p>By default, Cassandra installs without authentication enabled. That means anyone can access
  Cassandra. You can enable authentication after installing Edge, or as part of the installation
  process.</p>

  <p>If you decide to enable authentication on Cassandra, it uses the following default
  credentials:</p>
  <ul>
    <li>username = 'cassandra' </li>
    <li>password = 'cassandra' </li>
  </ul>

  <p>You can use this account, set a different password for this account, or create a new Cassandra
  user. Add, remove, and modify users by using the Cassandra CREATE/ALTER/DROP USER
  statements.</p>

  <p>For more information, see <a href=
  "https://www.datastax.com/documentation/cql/3.0/cql/cql_reference/cqlCommandsTOC.html" class="external">http://www.datastax.com/documentation/cql/3.0/cql/cql_reference/cqlCommandsTOC.html</a>.</p>

  <h2 id="enablecassandraauthenticationduringinstallation">Enable Cassandra authentication during
  installation</h2>

  <p>You can enable Cassandra authentication as install time. However, while you can enable
  authentication when you install Cassandra, you cannot change the default username and password.
  You have to perform that step manually after installation of Cassandra completes.</p>

  <aside class="note"><strong>Note</strong>: Use this procedure when installing Cassandra by using
  the "-p c", "-p ds", "-p sa", "-p aio", "-p asa", and "-p ebp" options.</aside>

  <p>To enable Cassandra authentication at install time, include the <code>CASS_AUTH</code>
  property in the configuration file for all Cassandra nodes:</p>

  <pre class="prettyprint">CASS_AUTH=y # The default value is n.</pre>

  <p>The following Edge components access Cassandra:</p>

  <ul>
    <li>Management Server</li>
    <li>Message Processors </li>
    <li>Routers</li>
    <li>Qpid servers</li>
    <li>Postgres servers</li>
  </ul>

  <p>Therefore, when you install these components, you must set the following properties in the
  configuration file to specify the Cassandra credentials:</p>

  <pre class="prettyprint">CASS_USERNAME=cassandra
CASS_PASSWORD=cassandra</pre>

  <p>You can change the Cassandra credentials after installing Cassandra. However, if you have
  already installed the Management Server, Message Processors, Routers, Qpid servers, or Postgres
  servers, you must also update those components to use the new credentials.</p>

  <p>To change the Cassandra credentials after installing Cassandra:</p>

  <ol>
    <li>Log into any one Cassandra node using the <code>cqlsh</code> tool and the default
      credentials. You only have to change the password on one node and it will be broadcast to all
      Cassandra nodes in the ring:
      <pre class="devsite-terminal">/opt/apigee/apigee-cassandra/bin/cqlsh <var>cassIP</var> <var>9042</var> -u cassandra -p cassandra</pre>
      <p>Where:</p>
      <ol>
        <li><var>cassIP</var> is the IP address of the Cassandra node.</li>
        <li><var>9042</var> is the default Cassandra port.</li>
        <li>The default user is <code>cassandra</code>.</li>
        <li>The default password is <code>cassandra</code>. If you changed the password
          previously, use the current password.</li>
      </ol>
    </li>
    <li>Run the following command at the <code>cqlsh&gt;</code> prompt to update the password:
      <pre class="devsite-terminal" data-terminal-prefix="cqlsh&gt; ">ALTER USER cassandra WITH PASSWORD '<var>NEW_PASSWORD</var>';</pre>
    </li>
    <li>Exit the cqlsh tool:
      <pre class="devsite-terminal" data-terminal-prefix="cqlsh&gt; ">exit</pre>
    </li>
    <li><strong>If you have not yet</strong> installed the Management Server, Message Processors,
      Routers, Qpid servers, or Postgres servers, set the following properties in the
      config file and then install those components:
      <pre>CASS_USERNAME=cassandra
CASS_PASSWORD=<var>NEW_PASSWORD</var></pre>
    </li>
    <li><strong>If you have already installed</strong> the Management Server, Message
    Processors, Routers, Qpid servers, or Postgres servers, then see <a href=
    "resetting-passwords">Resetting Edge Passwords</a> for the procedure to update those
    components to use the new password.</li>
  </ol>

  <h2 id="enablecassandraauthenticationpostinstallation">Enable Cassandra authentication post
  installation</h2>

  <p>To enable authentication:</p>
  <ul>
    <li>Update all Edge components that connect to Cassandra with the Cassandra username and
      password.</li>
    <li>On all Cassandra nodes, enable authentication.</li>
    <li>Set the Cassandra username and password on any one node. You only have to change the
      credentials on one Cassandra node and they will be broadcast to all Cassandra nodes in the
      ring.</li>
  </ul>

  <p>Use the following procedure to update all Edge components that communicate with Cassandra
  with the new credentials. Note that you do this step before you actually update the Cassandra
  credentials:</p>

  <ol>
    <li>On the Management Server node, run the following command:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-management-server
  store_cassandra_credentials -u CASS_USERNAME -p CASS_PASSWORD</pre>
      <p>Optionally, you can pass a file to the command containing the new username and password:</p>
      <pre class="devsite-terminal">apigee-service edge-management-server store_cassandra_credentials  -f <var>configFile</var></pre>
      <p>Where the <var>configFile</var> contains the following:</p>
      <pre>CASS_USERNAME=cassandra
CASS_PASSWORD=<var>CASS_PASSWROD</var></pre>
      <p>This command automatically restarts the Management Server.</p>
    </li>
    <li>Repeat step 1 on:
      <ul>
        <li>All Message Processors </li>
        <li>All Routers</li>
        <li>All Qpid servers (edge-qpid-server)</li>
        <li>Postgres servers (edge-postgres-server)</li>
      </ul>
    </li>
  </ol>

  <p>Use the following procedure to enable Cassandra authentication and set the username and
  password:</p>
  <ol>
    <li>Log in to the first Cassandra node.</li>
    <li>Run the following command:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-cassandra
  enable_cassandra_authentication -e y</pre>
      <p>This command enables authentication and restarts Cassandra.</p>
    </li>
    <li>Repeat steps 1 and 2 on all Cassandra nodes.</li>
    <li>Log into any one Cassandra node using the <code>cqlsh</code> tool and the default
      credentials. You only have to change the password on one Cassandra node and it will be
      broadcast to all Cassandra nodes in the ring:
      <pre class="devsite-terminal">/opt/apigee/apigee-cassandra/bin/cqlsh <var>cassIP</var> <var>9042</var> -u cassandra -p cassandra</pre>
      <p>Where</p>
      <ul>
        <li><var>cassIP</var> is the IP address of the Cassandra node.</li>
        <li><var>9042</var> is the Cassandra port.</li>
        <li>The default user is <code>cassandra</code>.</li>
        <li>The default password is <code>cassandra</code>. If you changed the password
        previously, use the current password.</li>
      </ul>
    </li>
    <li>Run the following command at the <code>cqlsh&gt;</code> prompt to update the
      password:
      <pre class="devsite-terminal" data-terminal-prefix="cqlsh&gt; ">ALTER USER cassandra WITH PASSWORD '<var>NEW_PASSWORD</var>';</pre>
    </li>
    <li>Run the following command at the <code>cqlsh&gt;</code> prompt to ensure that the keyspace
      is always available.

      <aside class="note"><b>Note: </b>The commands below all set the replication factor to "3",
        indicating three Cassandra nodes in the cluster. Modify this value as necessary for your
        installation. </aside>

      For a single data center:

      <pre class="devsite-terminal" data-terminal-prefix="cqlsh&gt; ">ALTER KEYSPACE system_auth WITH replication = {'class': 'NetworkTopologyStrategy', 'dc-1': '3'};</pre>

      For a two data centers:

      <pre class="devsite-terminal" data-terminal-prefix="cqlsh&gt; ">ALTER KEYSPACE system_auth WITH replication = {'class': 'NetworkTopologyStrategy', 'dc-1': '3', 'dc-2': '3'};</pre>

    </li>
    <li>Exit the <code>cqlsh</code> tool:
      <pre class="devsite-terminal" data-terminal-prefix="cqlsh&gt; ">exit</pre>
    </li>

    <li>Run <code>nodetool repair</code> to make sure that the change is propagated to all Cassandra nodes:
      <pre class="devsite-terminal">/opt/apigee/apigee-cassandra/bin/nodetool repair system_auth</pre>
    </li>
</ol>

{% endblock %}
