  {% extends "private-cloud/v4.18.01/_base.html" %} {% block title %}Important Data to Remember
  From the Installation Process{% endblock %} {% block body %}

  <p>Before you can perform any maintenance tasks, you need to know a few things about your Apigee
  Edge environment that are set during the system installation process.  Be sure that you have
  the following information available to your operations team: </p>

  <ul>
    <li>Gateway pod name (default "gateway")</li>

    <li>Central pod name (default "central")</li>

    <li>Analytics pod name (default "analytics")</li>

    <li>Region name (default "dc-1")</li>

    <li>Administrative user ID and password</li>
  </ul>

  <p>Other important information, such as the Apigee version number or the unique identifiers
  (UUIDs) of an Apigee component, can be found as follows:</p>

  <ul>
    <li>Use the following command to display the status of all Edge components installed on the
    node:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-all status</span></li>

    <li>Use the following command to display the version numbers of all Edge components installed
    on the node:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-all version</span></li>

    <li>Use the following API call to display the UUID of install Edge components:<br>
      <span style="font-family:courier new,courier,monospace;">&gt; curl
      http://&lt;<em><strong>ms_IP</strong></em>&gt;:&lt;<em><strong>port_num</strong></em>&gt;/v1/servers/self
      -u $ADMINEMAIL:$PW  </span><br>
      where <em><strong>ms_IP</strong></em> is the IP address or DNS name of the Management server
      node, and <em><strong>port_num</strong></em> is:

      <ul>
        <li>8081 for the Router</li>

        <li>8082 for the Message Processor</li>

        <li>8083 for Qpid </li>

        <li>8084 for Postgres</li>
      </ul>
    </li>
  </ul>

  <div>
     
  </div>{% endblock %}
