{% extends "private-cloud/v4.18.05/_base.html" %}
{% block title %}Installation and configuration of SAML for Edge{% endblock %}
{% block body %}

  <p>The process for installing and configuring SAML support on Edge for Private Cloud requires
  that you perform some tasks on your SAML IDP and some on Edge. The general process is:</p>

  <ol>
    <li>Install Edge and ensure that your installation is working properly. See
      <a href="installing-edge-private-cloud">Installing Edge for Private Cloud</a>.</li>
    <li>Configure your SAML IDP. This process requires that you configure your IDP to use email
      addresses as the user ID, and specify the redirect URL to the Edge UI which is used after a
      successful login. See <a href="configure-your-saml-idp">Configure your SAML IDP</a>.</li>
    <li>Install and configure <code>apigee-sso</code>, the Edge SSO module. Configuring
      <code>apigee-sso</code> enables SAML on the Edge management API. As part of configuring
      <code>apigee-sso</code>, you can optionally enable TLS access. See
      <a href="install-and-configure-edge-sso">Install and configure Edge SSO</a>.</li>
    <li>Enable SAML on the Edge UI. See <a href="enable-saml-edge-ui.html">Enable SAML on the Edge
      UI</a>.</li>
    <li>For each user in the IDP that corresponds to an Edge user, create an Edge user account and
      assign that user a role in an Edge organization. The Edge user must have the same email address
      as is stored for the user in the IDP. See <a href="register-new-edge-users">Register new
      Edge users</a>.</li>
  </ol>

{% endblock %}
