{% extends "private-cloud/v4.19.01/_base.html" %}
{% block title %}Edge Installation Overview{% endblock %}
{% block body %}

  <p>A typical Edge installation consists of Edge components distributed across multiple nodes.
  After you install Edge on a node, you then install and configure one or more Edge components on
  the node.</p>

  <h2 id="installationprocess">Installation process</h2>

  <p>Installing Edge on a node is a multi-step process:</p>

  <ol>
    <li>Disable SELinux on the node or set it to permissive mode. See
      <a href="install-edge-apigee-setup-utility">Install the Edge apigee-setup utility</a> for
      more.</li>
    <li>Decide if you want to enable Cassandra authentication.</li>
    <li>Decide if you want to set up master-standby replication for Postgres.</li>
    <li>Select your Edge configuration from the list of recommended topologies. For example, you
      can install Edge on a single node for testing, or on 13 nodes for production. See
      <a href="installation-topologies">Installation Topologies</a> for more.</li>
    <li>On each node in your selected topology, install the Edge <code>apigee-setup</code> utility:
      <ul>
        <li>Download the Edge <code>bootstrap_{{cur_version}}.sh</code> file to
          <code>/tmp/bootstrap_{{cur_version}}.sh</code>.</li>
        <li>Install the Edge <code>apigee-service</code> utility and dependencies.</li>
        <li>Install the Edge <code>apigee-setup</code> utility and dependencies.
          <p>See <a href="install-edge-apigee-setup-utility">Install the Edge apigee-setup utility</a>
          for more.</p>
        </li>
      </ul>
    </li>
    <li>Use the <code>apigee-setup</code> utility to install one or more Edge components on each
      node based on your selected topology.
      <p>See <a href="install-edge-components-node">Install Edge components on a node</a>.</p>
    </li>
    <li>On the Management Server node, use the apigee-setup utility to install apigee-provision,
      the utilities that you use to create and manage Edge organizations.
      <p>See <a href="onboard-organization">Onboard an organization</a> for more.</p>
    </li>
    <li>Restart the Edge UI component after the installation is complete.</li>
  </ol>

  <h2 id="whocanperformtheinstall">Who can perform the install</h2>

  <p>The Apigee Edge distribution files are installed as a set of RPMs and dependencies. To
  install, uninstall, and update Edge RPMs, the commands must be run by the root user or by a user
  that has full sudo access. For full sudo access, that means the user has sudo access to perform
  the same operations as root.</p>

  <p>Any user who wants to run the following commands or scripts must either be root, or be a user
  with full sudo access:</p>

  <ul>
    <li><strong>apigee-service</strong> utility:
      <ul>
        <li><strong>apigee-service</strong> commands: <code>install, uninstall, update</code>.</li>
        <li><strong>apigee-all</strong> commands: <code>install, uninstall, update</code>.</li>
      </ul>
    </li>
    <li><strong>setup.sh</strong> script to install Edge components (Unless you have already used
      "<code>apigee-service install</code>" to install the required RPMs. Then root or full sudo
      access if not required.)</li>
    <li><strong>update.sh</strong> script to update Edge components</li>
  </ul>

  <p>Also, the Edge installer creates a new user on your system, named "apigee". Many Edge commands
  invoke sudo to run as the "apigee" user.</p>

  <p>Any user who wants to run all other commands than the ones shown above must be a user with
  full sudo access to the "apigee" user. These commands include:</p>

  <ul>
    <li>
      <strong>apigee-service</strong> utility commands, including:
      <ul>
        <li><strong>apigee-service</strong> commands such as <code>start, stop, restart,
          configure</code>.</li>
        <li><strong>apigee-all</strong> commands such as <code>start, stop, restart,
          configure</code>.</li>
      </ul>
    </li>
  </ul>

  <h3 id="creating-sudo-user">Creating a user with full sudo access to "apigee" user</h3>

  <aside class="note"><strong>Note:</strong> You cannot perform this step until after you have run
  <code>bootstrap_{{cur_version}}.sh</code> file to create the "apigee" user.</aside>

  <p>To configure a user to have full sudo access to the "apigee" user, use the "visudo" command to
  edit the sudoers file to add:</p>

  <pre class="prettyprint"><var>installUser</var>        ALL=(apigee)      NOPASSWD: ALL</pre>

  <p>Where <var>installUser</var> is the username of the person working with Edge.</p>

  <h3 id="setting-permissions">Setting permissions on configuration files</h3>

  <p>Any files or resources used by the Edge commands must be accessible to the "apigee" user. This
  includes the Edge license file and any config files.</p>

  <aside class="note"><strong>Note:</strong> You can set the <strong>RUN_USER</strong> property for an Edge
  component to specify a different user than "apigee". If you do, then all of the Edge commands for
  that component invoke sudo to run as that user. Files or resources must then be accessible to
  that user.</aside>

  <p>When creating a configuration file, you can change its owner to "apigee:apigee" to ensure that
  it is accessible to Edge commands:</p>

  <ol>
    <li>Create the file in an editor as any user.</li>
    <li><code>chown</code> the owner of the file to "apigee:apigee" or, if you changed the user
      running the Edge service from the "apigee" user, chown the file to the user who is running
      the Edge service.</li>
  </ol>

  <h3 id="separating-tasks">Separating Edge install tasks between root and non-root user</h3>

  <p>While it is simplest to perform the entire Edge install process as root or by a user that
  has full sudo access, that is not always possible. Instead, you can separate the
  process into tasks performed by root and tasks performed by a user with
  full sudo access to the "apigee" user.</p>

  <ol>
    <li>Tasks performed by root:
      <ol>
        <li>Download and run the <code>bootstrap_{{cur_version}}.sh</code> file:
          <pre class="devsite-terminal">curl https://software.apigee.com/bootstrap_{{cur_version}}.sh -o /tmp/bootstrap_{{cur_version}}.sh
<code class="devsite-terminal">sudo bash /tmp/bootstrap_{{cur_version}}.sh apigeeuser=<var>uName</var> apigeepassword=<var>pWord</var></code></pre>
          <p>This step installs the <code>apigee-service</code> utility and creates the "apigee"
          user.</p>
      </li>
        <li>Configure a user to have full sudo access to the "apigee" user as described in
        <a hrf="#creating-sudo-user">Creating a user with full sudo access to "apigee" user</a>.</li>
        <li>Install the <code>apigee-setup</code> utility:
          <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-setup install</pre>
        </li>
        <li>Use the <code>apigee-setup</code> utility to install Edge RPMs on the node:
          <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service <var>compName</var> install</pre>
          <p>The Edge RPMs that you install on the node depend on your topology. The list of
          available components includes: <code>apigee-provision, apigee-validate, apigee-zookeeper,
          apigee-cassandra, apigee-openldap, edge-management-server, edge-ui, edge-router,
          edge-message-processor, apigee-postgresql, apigee-qpidd, edge-postgres-server,
          edge-qpid-server</code>.</p>
        </li>
      </ol>
    </li>
    <li>After the root user installs the Edge RPMs on the node, the user with full sudo access to
      the "apigee" user completes the configuration process:
      <ol>
        <li>Use the <code>setup.sh</code> utility to complete the configuration of the Edge
          components on the node. The form of the command depends on the components that you
          installed on the node. For a complete list, see
          <a href="install-edge-components-node">Install Edge components on a node</a>.
          <p>For example, to complete the installation of ZooKeeper and Cassandra, use the following
          command:</p>
          <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/setup.sh -p ds -f <var>configFile</var></pre>
          <p>Where <var>configFile</var> is the Edge configuration file.</p>
          <p>Or, to perform an all-in-one install, use the following command:</p>
          <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/setup.sh -p aio -f <var>configFile</var></pre>
        </li>
      </ol>
    </li>
  </ol>

  <h2 id="location-config">Location of installation configuration files</h2>

  <p>You must pass a configuration file to the <code>apigee-setup</code> utility that contains the
  information about the Edge installation. The only requirement on silent installations is that the
  configuration file must be accessible or readable by the "apigee" user. For example, put the file
  in the <code>/usr/local/var</code> or <code>/usr/local/share</code> directory on the node and
  <code>chown</code> it to "apigee:apigee".</p>

  <p>All information in the configuration file is required except for the Edge system
  administrator's password. If you omit the password, the <code>apigee-setup</code> utility prompts
  you to enter it on the command line.</p>

  <p>See <a href="install-edge-components-node">Install Edge components on a node</a> for more.</p>

  <h2 id="handlinganinstallationfailure">Handling an installation failure</h2>

  <p>In the case of a failure during the installation of an Edge component, you can try to correct
  the issue, and then run the installer again. The installer is designed to be run repeatedly in
  cases where it detects a failure, or if you later want to change or update a component after
  installation.</p>

  <p>After installing or upgrading, be sure to restart the Edge UI component on each node on which
  it is running.</p>

  <h2 id="internet">Internet or non-Internet installation</h2>

  <p>To install Edge on a node, the node must be able to access the Apigee repository:</p>

  <ul>
    <li><strong>Nodes with an external Internet connection</strong>
      <p>Nodes with an external internet connection access the Apigee repository to install the Edge
      RPMs and dependencies.</p>
    </li>
    <li><strong>Nodes without an external Internet connection</strong>
      <p>Nodes without an external Internet connection can access a mirrored version of the Apigee
      repository that you set up internally. This repository contains all Edge RPMs, but you have to
      ensure that you have all other dependencies available from repos on the internal
      network.</p>
      <aside class="note"><strong>Note</strong>: Apigee does not host all third-party dependencies in
      our public repositories. You must download and install these dependencies from publicly
      accessible repositories.</aside>
      <p>To create the internal Apigee repository, you do require a node with an external internet
      access to be able to download the Edge RPMs and dependencies. Once you have created the
      internal repo, you can then move it to another node or make that node accessible to the Edge
      nodes for installation.</p>
    </li>
  </ul>

  <h2 id="local-repo">Using a local Edge repository to maintain your Edge version</h2>

  <p>One of the reasons to use a local, or mirrored, repository is for installing Edge on nodes
  with no external internet connection, as described in the previous section.</p>

  <aside class="note">
    <strong>Note:</strong> However, there is another advantage to using a local repo, even for nodes with an
    external internet connection. When you install Edge from the Apigee public repository, you
    always install the latest Edge RPMs. Therefore, if you want to download and store Edge
    RPMs for a specific version of Edge, then you should create a local repo for that Edge version.
    You can then use that local repo to perform installations for any version of Edge.

    <p>For example, you first use the local repo to install an Edge development environment. Then,
    when you are ready to move to a production environment, you again install Edge from the local
    repo. By installing from the local repo, you guarantee that your development and production
    environments match.</p>

    <p>A mirrored repo is very flexible. For example, you can create a mirrored repo from the
    latest Edge RPMs or from a specific version of Edge. After you create the repo, you can also
    update it to add RPMs from difference Edge versions. See <a href=
    "install-edge-apigee-setup-utility">Install the Edge apigee-setup utility</a> for
    more.</p>
  </aside>

  <h2 id="resolving-rpm">Resolving RPM installation dependencies</h2>

  <p>The Apigee Edge distribution files are installed as a set of RPM files, each of which can have
  its own chain of installation dependencies. Many of these dependencies are defined by third-party
  components that are outside the control of Apigee and can change at any time. Therefore, the
  documentation does not list the explicit version number of each dependency.</p>

  <p>If you are performing an installation on a machine with internet access, the node can download
  the necessary RPMs and dependencies. However, if you are installing from a node without internet
  access, you typically set up an internal repo containing all necessary dependencies. The only way
  to guarantee that all dependencies are included in your local repo is to attempt an installation,
  identify any missing dependencies, and copy them to the local repo until the installation
  succeeds.</p>

  <h2 id="commonyumcommands">Common Yum commands</h2>

  <p>The Edge installation tools for Linux rely on Yum to install and update components. You might
  have to use several Yum commands to manage an installation on a node.</p>

  <ul>
    <li>Clean all Yum caches:
      <pre class="devsite-terminal">sudo yum clean all</pre>
    </li>
    <li>To update an Edge component:
      <pre class="devsite-terminal">sudo yum update <var>componentName</var></pre>
      <p>For example:</p>
      <pre class="devsite-terminal">sudo yum update apigee-setup
<code class="devsite-terminal">sudo yum update edge-management-server</code></pre>
    </li>
  </ul>

  <h2 id="filesystemstructure">File System Structure</h2>

  <p>Edge installs all files in the <code>/opt/apigee</code> directory.</p>

  <aside class="note"><strong>Note:</strong> You cannot change this directory location. However, you
  can create a symlink to map it to a different location. See
  <a href="install-edge-apigee-setup-utility">Install the Edge apigee-setup utility</a> for
  more.</aside>

  <p>In this guide and in the Edge Operations Guide, the root installation directory is noted as:</p>
  <pre class="prettyprint">/opt/apigee</pre>

  <p>The installation uses the following file system structure to deploy Apigee Edge for Private
  Cloud.</p>

  <h3 id="filesystemstructure-logfiles">Log Files</h3>

  <p>The log file for <code>apigee-setup</code> and the <code>setup.sh</code> script is written to
  <code>/tmp/setup-root.log</code>.</p>

  <p>The log files for each component are contained in the <code>/opt/apigee/var/log</code>
  directory. Each component has its own subdirectory. For example, the logs for the Management
  Server are in the directory:</p>
  <pre class="prettyprint">/opt/apigee/var/log/edge-management-server</pre>

  <p>The following tables lists the location of the log files:</p>

  <table>
    <thead>
      <tr>
        <th>Component</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p>Management Server</p>
        </td>
        <td>
          <code>/opt/apigee/var/log/edge-management-server</code>
        </td>
      </tr>
      <tr>
        <td>
          <p>Router</p>
        </td>
        <td>
          <code>/opt/apigee/var/log/edge-router</code>
          <p>The Edge Router is implemented using Nginx. For additional logs, see:</p>
          <p><code>/opt/apigee/var/log/edge-router/nginx</code><br/>
          <code>/opt/nginx/logs</code></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Message Processor</p>
        </td>
        <td>
          <code>/opt/apigee/var/log/edge-message-processor</code>
        </td>
      </tr>
      <tr>
        <td>
          <p>Apigee Qpid Server</p>
        </td>
        <td>
          <code>/opt/apigee/var/log/edge-qpid-server</code>
        </td>
      </tr>
      <tr>
        <td>Apigee Postgres Server</td>
        <td><code>/opt/apigee/var/log/edge-postgres-server</code></td>
      </tr>
      <tr>
        <td>Edge UI</td>
        <td><code>/opt/apigee/var/log/edge-ui</code></td>
      </tr>
      <tr>
        <td>ZooKeeper</td>
        <td><code>/opt/apigee/var/log/apigee-zookeeper</code></td>
      </tr>
      <tr>
        <td>OpenLDAP</td>
        <td><code>/opt/apigee/var/log/apigee-openldap</code></td>
      </tr>
      <tr>
        <td>Cassandra</td>
        <td><code>/opt/apigee/var/log/apigee-cassandra</code></td>
      </tr>
      <tr>
        <td>Qpidd</td>
        <td><code>/opt/apigee/var/log/apigee-qpidd</code></td>
      </tr>
      <tr>
        <td>PostgreSQL database</td>
        <td><code>/opt/apigee/var/log/apigee-postgresql</code></td>
      </tr>
      <tr>
        <td>{{am}}</td>
        <td><code>/opt/apigee/var/log/apigee-monit</code></td>
      </tr>
    </tbody>
  </table>

  <h3 id="filesystemstructure-data">Data</h3>

  <table>
    <thead>
      <tr>
        <th>Component</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Management Server</td>
        <td><code>/opt/apigee/data/edge-management-server</code></td>
      </tr>
      <tr>
        <td>Router</td>
        <td><code>/opt/apigee/data/edge-router</code></td>
      </tr>
      <tr>
        <td>Message Processor</td>
        <td><code>/opt/apigee/data/edge-message-processor</code></td>
      </tr>
      <tr>
        <td>Apigee Qpid agent</td>
        <td><code>/opt/apigee/data/edge-qpid-server</code></td>
      </tr>
      <tr>
        <td>Apigee Postgres agent</td>
        <td><code>/opt/apigee/data/edge-postgres-server</code></td>
      </tr>
      <tr>
        <td>ZooKeeper</td>
        <td><code>/opt/apigee/data/apigee-zookeeper</code></td>
      </tr>
      <tr>
        <td>OpenLDAP</td>
        <td><code>/opt/apigee/data/apigee-openldap</code></td>
      </tr>
      <tr>
        <td>Cassandra</td>
        <td><code>/opt/apigee/data/apigee-cassandra/data</code></td>
      </tr>
      <tr>
        <td>Qpidd</td>
        <td><code>/opt/apigee/data/apigee-qpid/data</code></td>
      </tr>
      <tr>
        <td>PostgreSQL database</td>
        <td><code>/opt/apigee/data/apigee-postgres/pgdata</code></td>
      </tr>
      <tr>
        <td>{{am}}</td>
        <td><code>/opt/apigee/data/apigee-monit</code></td>
      </tr>
    </tbody>
  </table>

  <h2 id="postinstallationtasks">Post installation tasks</h2>

  <p>After installation completes, you can perform additional actions on Edge components.</p>

  <h3 id="postinstallationtasks-configuringedgecomponentspostinstallation">Restart the Edge UI
  component</h3>

  <p>After the installation is complete, you must restart the Edge UI component on each node:</p>
  <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui restart</pre>

  <h3 id="postinstallationtasks-configuringedgecomponentspostinstallation">Configuring Edge
  components post installation</h3>

  <p>To configure Edge after installation, you use a combination of <code>.properties</code> files
  and Edge utilities. For example, to configure TLS/SSL on the Edge UI, you edit
  <code>.properties</code> files to set the necessary properties. Changes to <code>.properties</code>
  files require you to restart the affected Edge component.</p>

  <p>The <code>.properties</code> files are located in
  the <code>/opt/apigee/customer/application</code> directory.
  Each component has its own <code>.properties</code> file in that directory.
  For example, <code>router.properties</code> and <code>management-server.properties</code>.</p>

  <aside class="note"><strong>Note:</strong> If you have not set any properties for a component, the
  <code>/opt/apigee/customer/application</code>
  directory might not contain a <code>.properties</code> file for the component. In that case,
  create one.</aside>

  <p>To set a property for a component, edit the corresponding <code>.properties</code> file, and
  then restart the component:</p>
  <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service <var>component</var> restart</pre>

  <p>For example:</p>
  <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-router restart</pre>

  <p>When you update Edge, the <code>.properties</code> files in the
  <code>/opt/apigee/customer/application</code> directory are read. That means the update retains
  any properties that you set on the component.</p>

  <p>See <a href="how-configure-edge">How to configure Edge</a> for more information on
  Edge configuration.</p>

  <h3 id="monit">Install apigee-monit on the node</h3>
  <p>After you have completed installing components on a node, you can optionally add the {{am}}
  utility. {{am}} will monitor the components on the node and attempt to restart them if they fail.
  For more information, see <a href="apigee-monit">Self healing with apigee-monit</a>.</p>

  <h3 id="invoke-components">Invoking commands on Edge components</h3>

  <p>Edge installs management utilities under <code>/opt/apigee/apigee-service/bin</code> that you can
  use to manage an Edge installation. For example, you can use the <code>apigee-all</code> utility
  to start, stop, restart, or determine the status of all Edge components on the node:</p>
  <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-all stop|start|restart|status|version</pre>

  <p>Use the <code>apigee-service</code> utility
  to control and configure individual components. The <code>apigee-service</code> utility has the form:</p>
  <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service <var>component_name action</var></pre>

  <p>Where <var>component_name</var> identifies the component. The component must be on the node on
  which you execute <code>apigee-service</code>. Depending on your configuration, values of
  <var>component_name</var> can include:</p>

  {% dynamic include "/includes/___opdk-component-list" %}

  <p>In addition to these components, you can also invoke <code>apigee-service</code> on the
  <code>apigee-provision</code> and <code>apigee-validate</code> components depending on your
  configuration.</p>

  <p>For example, to restart the Edge Router, execute the following command:</p>
  <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-router restart</pre>

  <p>You can determine the list of components installed on the node by examining the
  <code>/opt/apigee</code> directory. That directory contains a subdirectory for every Edge
  component installed on the node. Each subdirectory is prefixed by:</p>

  <ul>
    <li><code>apigee</code>: A third-party component used by Edge. For example,
      <code>apigee-cassandra</code>.</li>
    <li><code>edge</code>: An Edge component from Apigee. For example,
      <code>edge-management-server</code>.</li>
    <li><code>edge-mint</code>: A Monetization component. For example
      <code>edge-mint-management-server</code>.</li>
  </ul>

  <p>The complete list of actions for a component depends on the component itself, but all
  components support the following actions:</p>

  <ul>
    <li><code>start, stop, restart</code></li>
    <li><code>status, version</code></li>
    <li><code>backup, restore</code></li>
    <li><code>install, uninstall</code></li>
  </ul>

  <h2>Enable system check on install</h2>

  <p>The Edge installation configuration file supports the following property:</p>

  <pre class="prettyprint">ENABLE_SYSTEM_CHECK=y</pre>

  <p>If you set this property to "y", the installer checks that the system meets the CPU and
  memory requirements for the component being installed. The default value is "n" to disable the
  check.</p>


{% endblock %}
