  {% extends "private-cloud/v4.18.01/_base.html" %} {% block title %}Installing the Edge for
  Private Cloud Developer Services portal{% endblock %} {% block body %}

  <p>This section contains the installation instructions for Version 4.18.01 of Edge for Private
  Cloud Developer Services portal.  </p>

  <aside class="note"><b>Note:</b> See the release notes here: <a href=
  "/release/notes/41801-edge-private-cloud-release-notes.html">4.18.01 - Edge for Private Cloud
  release notes</a></aside>

  <ul>
    <li>
      <p><a href="developer-services-portal-overview.html">Developer Services Portal
      Overview</a></p>
    </li>

    <li>
      <p><a href="developer-services-portal-requirements.html">Developer Services portal
      requirements</a></p>
    </li>

    <li>
      <p><a href="developer-services-portal-installation.html">Developer Services portal
      installation</a></p>
    </li>

    <li>
      <p>Post installation tasks</p>

      <ul>
        <li>
          <p><a href="set-http-port-used-portal.html">Set the HTTP port used by the portal</a></p>
        </li>

        <li>
          <p><a href="starting-stopping-or-restarting-portal.html">Starting, stopping, or
          restarting the portal</a></p>
        </li>

        <li>
          <p><a href="commonly-used-drush-commands.html">Commonly used Drush commands</a></p>
        </li>

        <li>
          <p><a href="configuring-portal-use-https.html">Configuring the portal to use
          HTTPS</a></p>
        </li>
      </ul>
    </li>

    <li>
      <p><a href="upgrading-developer-services-portal.html">Upgrading the Developer Services
      portal</a></p>
    </li>
  </ul>

  <h2 id="accesstheapigeecommunity">Access the Apigee Community </h2>

  <p>The <a href="https://community.apigee.com/">Apigee Community</a> is a free resource
  where you can contact Apigee as well as other Apigee customers with questions, tips, and other
  issues. Before posting to the community, be sure to first search existing posts to see if your
  question has already been answered. </p>{% endblock %}
