{% extends "private-cloud/v4.19.01/_base.html" %}
{% block title %}Install SmartDocs{% endblock %}
{% block body %}

  <p>SmartDocs is installed automatically when you install and run the installation test scripts
  described in <a href="test-install">Test the install</a>. As part of running the test
  scripts, you run the following commands:</p>
  <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-validate install
<code class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-validate setup -f <var>configFile</var></code></pre>

  <p>Where <var>configFile</var> is the same config file you used to install Edge.
  See <a href="install-edge-components-node">Install Edge components on a node</a> for more.</p>

  <p>This command installs SmartDocs as part of running the tests.</p>

  <p>To test that SmartDocs is installed, confirm that the <code>smartdocs.zip</code> file is
  located in the following directory:</p>

  <pre>/opt/apigee/apigee-validate/bundles/</pre>

  <p>Or run the following API call on the Management Server node:</p>

  <pre class="devsite-terminal">curl -v -u <var>adminEmail:adminPword</var> 0:8080/v1/o/VALIDATE/apis</pre>

  <p>This command should return the following if SmartDocs is installed:</p>

  <pre>[ "smartdocs", "passthrough" ]</pre>
  
{% endblock %}
