  {% extends "private-cloud/v4.18.01/_base.html" %} {% block title %}Managing the Default LDAP
  Password Policy for API Management{% endblock %} {% block body %}

  <p>The Apigee system uses OpenLDAP to authenticate users in your API management environment.
  OpenLDAP makes this LDAP password policy functionality available. </p>

  <p>This section describes how to configure the delivered default LDAP password policy. Use this
  password policy to configure various password authentication options, such as the number of
  consecutive failed login attempts after which a password can no longer be used to authenticate a
  user to the directory.</p>

  <p>This section also describes how to use a couple of APIs to unlock user accounts that have been
  locked according to attributes configured in the default password policy.</p>

  <h2 id="configuringthedefaultldappasswordpolicy">Configuring the Default LDAP Password
  Policy</h2>

  <p>To configure the default LDAP password policy:</p>

  <ol>
    <li>Connect to your LDAP server using an LDAP client, such as Apache Studio or ldapmodify. By
    default OpenLDAP server listens on port 10389 on the OpenLDAP node.<br>
    <br>
    To connect, specify the Bind DN or user of <span style=
    "font-family:courier new,courier,monospace;">cn=manager,dc=apigee,dc=com</span> and the
    OpenLDAP password that you set at the time of Edge installation.</li>

    <li>Use the client to navigate to the password policy attributes for:

      <ul>
        <li>Edge users: <span style=
        "font-family:courier new,courier,monospace;">cn=default,ou=pwpolicies,dc=apigee,dc=com</span></li>

        <li>Edge sysadmin: <span style=
        "font-family:courier new,courier,monospace;">cn=sysadmin,ou=pwpolicies,dc=apigee,dc=com</span></li>
      </ul>
    </li>

    <li>Edit the password policy attribute values as desired.</li>

    <li>Save the configuration.</li>
  </ol>

  <h2 id="defaultldappasswordpolicyattributes">Default LDAP Password Policy Attributes</h2>

  <table>
    <thead>
      <tr>
        <th>
          <p><strong>Attribute</strong></p>
        </th>

        <th>
          <p><strong>Description</strong></p>
        </th>

        <th>
          <p><strong>Default</strong></p>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <p><span style="font-family:courier new,courier,monospace;">pwdExpireWarning</span></p>
        </td>

        <td>
          <p>The maximum number of seconds before a password is due to expire that expiration
          warning messages will be returned to a user who is authenticating to the directory.</p>
        </td>

        <td>
          <p>604800</p>

          <p>(Equivalent to 7 days)</p>
        </td>
      </tr>

      <tr>
        <td>
          <p><span style=
          "font-family:courier new,courier,monospace;">pwdFailureCountInterval</span></p>
        </td>

        <td>
          <p>Number of seconds after which old consecutive failed bind attempts are purged from the
          failure counter.</p>

          <p>In other words, this is the number of seconds after which the count of consecutive
          failed login attempts is reset.</p>

          <p>If <span style=
          "font-family:courier new,courier,monospace;">pwdFailureCountInterval</span> is set to 0,
          only a successful authentication can reset the counter.</p>

          <p>If <span style=
          "font-family:courier new,courier,monospace;">pwdFailureCountInterval</span> is set to
          &gt;0, the attribute defines a duration after which the count of consecutive failed login
          attempts is automatically reset, even if no successful authentication has occurred.</p>

          <p>We suggest that this attribute be set to the same value as the <span style=
          "font-family: 'courier new', courier, monospace;">pwdLockoutDuration</span>
          attribute.</p>
        </td>

        <td>
          <p>300</p>
        </td>
      </tr>

      <tr>
        <td>
          <p><span style="font-family:courier new,courier,monospace;">pwdInHistory</span></p>
        </td>

        <td>
          <p>Maximum number of used, or past, passwords for a user that will be stored in the
          <span style="font-family:courier new,courier,monospace;">pwdHistory</span> attribute.</p>

          <p>When changing her password, the user will be blocked from changing it to any of her
          past passwords.</p>
        </td>

        <td>
          <p>3</p>
        </td>
      </tr>

      <tr>
        <td>
          <p><span style="font-family:courier new,courier,monospace;">pwdLockout</span></p>
        </td>

        <td>
          <p>If <span style="font-family:courier new,courier,monospace;">TRUE</span>, specifies to
          lock out a user when their password expires so that the user can no longer log in.</p>
        </td>

        <td>
          <p>False</p>
        </td>
      </tr>

      <tr>
        <td>
          <p><span style="font-family:courier new,courier,monospace;">pwdLockoutDuration</span></p>
        </td>

        <td>
          <p>Number of seconds during which a password cannot be used to authenticate the user due
          to too many consecutive failed login attempts.</p>

          <p>In other words, this is the length of time during which a user account will remain
          locked due to exceeding the number of consecutive failed login attempts set by the
          <span style="font-family:courier new,courier,monospace;">pwdMaxFailure</span>
          attribute.</p>

          <p>If <span style="font-family:courier new,courier,monospace;">pwdLockoutDuration</span>
          is set to 0, the user account will remain locked until a system administrator unlocks
          it.</p>

          <p>See "Unlocking a User Account" below.</p>

          <p>If <span style="font-family:courier new,courier,monospace;">pwdLockoutDuration</span>
          is set to &gt;0, the attribute defines a duration for which the user account will remain
          locked. When this time period has elapsed, the user account will be automatically
          unlocked.</p>

          <p>We suggest that this attribute be set to the same value as the <span style=
          "font-family:courier new,courier,monospace;">pwdFailureCountInterval</span>
          attribute.</p>
        </td>

        <td>
          <p>300</p>
        </td>
      </tr>

      <tr>
        <td>
          <p><span style="font-family:courier new,courier,monospace;">pwdMaxAge</span></p>
        </td>

        <td>
          <p>Number of seconds after which a user (non-sysadmin) password expires. A value of 0
          means passwords do not expire. The default value of 2592000 corresponds to 30 days from
          the time the password was created.</p>
        </td>

        <td>
          <p>user: 2592000</p>

          <p>sysadmin: 0</p>
        </td>
      </tr>

      <tr>
        <td>
          <p><span style="font-family:courier new,courier,monospace;">pwdMaxFailure</span></p>
        </td>

        <td>
          <p>Number of consecutive failed login attempts after which a password may not be used to
          authenticate a user to the directory.</p>
        </td>

        <td>
          <p>3</p>
        </td>
      </tr>

      <tr>
        <td>
          <p><span style="font-family:courier new,courier,monospace;">pwdMinLength</span></p>
        </td>

        <td>
          <p>Specifies the minimum number of characters required when setting a password.</p>
        </td>

        <td>
          <p>8</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 id="unlockingauseraccount">Unlocking a User Account</h2>

  <p>A user&#8217;s account may be locked due to attributes set in the password policy. A user with
  the sysadmin Apigee role assigned can use the following API call to unlock the user&#8217;s
  account. Replace values in curly braces with actual values.</p>

  <p><strong>To unlock a user:</strong></p>
  <pre class="prettyprint">
/v1/users/{userEmail}/status?action=unlock -X POST -u {adminEmail}:{password} 
</pre>

  <aside class="note">
    <b>Note:</b> To ensure that only system administrators can call this API, the <span style=
    "font-family:courier new,courier,monospace;">/users/*/status</span> path is included in the
    <span style=
    "font-family:courier new,courier,monospace;">conf_security_rbac.restricted.resources</span>
    property for the Management Server: 
    <pre class="prettyprint">
&gt; cd /opt/apigee/edge-management-server
&gt; grep -ri "conf_security_rbac.restricted.resources" *
</pre>

    <p>The output contains the following:</p>
    <pre class="prettyprint">
token/default.properties:conf_security_rbac.restricted.resources=/environments,/environments/*,/environments/*/virtualhosts,/environments/*/virtualhosts/*,/pods,/environments/*/servers,/rebuildindex,<strong>/users/*/status</strong>
</pre>
  </aside>

  {% endblock %}
