{% extends "private-cloud/v4.19.01/_base.html" %}
{% block title %}Recurring Edge Services maintenance tasks{% endblock %}
{% block body %}

  <p>To ensure optimal day-to-day operation of the Apigee system, certain tasks should be
  performed when the system is originally installed and/or on a periodic basis.</p>

  <p>The following tools are used to communicate with, or maintain various components of, the
  Apigee system.</p>

  <table>
    <thead>
      <tr>
        <th>Tool</th>
        <th>Used For</th>
        <th>System Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><code>nodetool</code></p>
        </td>
        <td>
          <p>Apache Cassandra maintenance</p>
        </td>
        <td><code>/opt/apigee/apigee-cassandra/bin</code></td>
      </tr>
      <tr>
        <td>
          <p><code>cassandra&#8209;cli</code></p>
        </td>
        <td>
          <p>Apache Cassandra command line</p>
        </td>
        <td>
          <code>/opt/apigee/apigee-cassandra/bin</code>
        </td>
      </tr>
      <tr>
        <td><code>zkCli.sh</code></td>
        <td>
          <p>Apache ZooKeeper command line utility</p>
        </td>
        <td>
          <code>/opt/apigee/apigee-zookeeper/bin</code>
        </td>
      </tr>
      <tr>
        <td><code>nc</code></td>
        <td>
          <p>Arbitrary TCP/IP and UDP commands; invocation of ZooKeeper "four-letter commands"</p>
        </td>
        <td><code>/usr/bin/nc</code> or another location dependent on your operating system</td>
      </tr>
    </tbody>
  </table>

  <p>In situations where the <code>nc</code> or <code>telnet</code> commands might be
  considered a security risk, the following Python script can be used:</p>
  <pre class="prettyprint">import time
import socket
import sys

if len(sys.argv) &lt;&gt; 4:
    print "Usage: %s address port 4-letter-cmd" % sys.argv[0]
else:
    c = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
    c.connect((sys.argv[1], int(sys.argv[2])))
    c.send(sys.argv[3])
    time.sleep(0.1)
    print c.recv(512)
</pre>

{% endblock %}
