  {% extends "private-cloud/v4.19.01/_base.html" %} {% block title %}Register new Edge users{% endblock %} {% block body %}

  <p>After you enable SAML, the process of adding new users to the Edge UI is:</p>

  <ol>
    <li>The user registers with the SAML identity provider.</li>
    <li>An organization administrator adds the user to an Edge organization and assigns the user a
      role, as described in
      <a href="/api-platform/system-administration/adding-global-users">Adding global users</a>.
      <ol>
        <li>Log in to an organization in the Edge UI.</li>
        <li>Select <strong>Admin &gt; Organization Users</strong> in the Edge UI</li>
        <li>Select <strong>+User</strong>.</li>
        <li>Enter the user's <strong>email address</strong>.</li>
        <li>Enter the <strong>user's role</strong>.</li>
        <li>Select <strong>Save</strong>.</li>
        <li>The user can now log in to the Edge UI and make Edge management API calls. The Edge UI
          login process forwards them to the IDP for authentication.</li>
      </ol>
    </li>
  </ol>{% endblock %}
