  {% extends "private-cloud/v4.18.01/_base.html" %} {% block title %}Resetting Edge Passwords{% endblock %} {% block body %}

  <p>You can reset the OpenLDAP, Apigee Edge system administrator, Edge organization user, and
  Cassandra passwords after the installation is complete.</p>

  <h2 id="resetopenldappassword">Reset OpenLDAP Password</h2>

  <p>Depending on your Edge configuration, OpenLDAP can be installed as:</p>

  <ul>
    <li>A single instance of OpenLDAP installed on the Management Server node. For example, in a
    2-node, 5-node, or 9-node Edge configuration.</li>

    <li>Multiple OpenLDAP instances installed on Management Server nodes, configured with OpenLDAP
    replication. For example, in a 12-node Edge configuration.</li>

    <li>Multiple OpenLDAP instances installed on their own nodes, configured with OpenLDAP
    replication. For example, in a 13-node Edge configuration.</li>
  </ul>

  <p>The way you reset the OpenLDAP password depends on your configuration.</p>

  <p>For a single instance of OpenLDAP installed on the Management Server, perform the
  following:</p>

  <ol>
    <li>On the Management Server node, run the following command to create the new OpenLDAP
    password:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service apigee-openldap change-ldap-password -o oldPword
    -n newPword</span></li>

    <li>Run the following command to store the new password for access by the Management
    Server:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service edge-management-server store_ldap_credentials -p
    newPword</span><br>
    <br>
    This command restarts the Management Server.</li>
  </ol>

  <p>In an <strong>OpenLDAP replication setup with OpenLDAP installed on Management Server
  nodes</strong>, follow the above steps on both Management Server nodes to update the
  password.</p>

  <aside class="note"><b>Note:</b> You must set identical new password on both LDAP servers in
  order to achieve successful OpenLDAP replication.</aside>

  <p>In an <strong>OpenLDAP replication setup with OpenLDAP being on a node other than Management
  Server</strong>, ensure that you first change the password on both OpenLDAP nodes, then on both
  Management Server nodes. </p>

  <h2 id="resetsystemadminpassword">Reset System Admin Password</h2>

  <p>Resetting the system admin password requires you to reset the password in two places:</p>

  <ul>
    <li>Management Server</li>

    <li>UI</li>
  </ul>

  <aside class="note"><b>Note:</b> You cannot reset the system admin password from the Edge UI. You
  must use the procedure below to reset it.</aside>

  <aside class="note"><b>Note:</b> If you have enabled TLS on the Edge UI, you must also re-enable
  it as part of changing the sys admin password.</aside>

  <p><strong>Warning</strong>: You should stop the Edge UI before resetting the system admin
  password. Because you reset the password first on the Management Server, there can be a short
  period of time when the UI is still using the old password. If the UI makes more than three calls
  using the old password, the OpenLDAP server locks out the system admin account for three
  minutes.</p>

  <p>To reset the system admin password: </p>

  <ol>
    <li>On the UI node, stop the Edge UI:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service edge-ui stop</span></li>

    <li>On the Management Server, run the following command to reset the password:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service edge-management-server change_sysadmin_password
    -o <em><strong>currentPW</strong></em> -n <em><strong>newPW</strong></em></span></li>

    <li>Edit the silent config file that you used to install the Edge UI to set the following
    properties:<br>
    <span style=
    "font-family:courier new,courier,monospace;"><strong>APIGEE_ADMINPW=newPW</strong><br>
    SMTPHOST=smtp.gmail.com<br>
    SMTPPORT=465<br>
    SMTPUSER=foo@gmail.com<br>
    SMTPPASSWORD=bar<br>
    SMTPSSL=y<br>
    SMTPMAILFROM="My Company &lt;myco@company.com&gt;"</span><br>
    <br>
    Note that you have to include the SMTP properties when passing the new password because all
    properties on the UI are reset.</li>

    <li>Use the <span style="font-family:courier new,courier,monospace;">apigee-setup</span>
    utility to reset the password on the Edge UI from the config file:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-setup/bin/setup.sh -p ui -f <em><strong>configFile</strong></em></span></li>

    <li><strong>(Only if TLS is enabled on the UI)</strong> Re-enable TLS on the Edge UI as
    described in <a href="configuring-ssl-management-ui.html">Configuring TLS for the management
    UI</a>.</li>
  </ol>

  <p>In an <strong>OpenLDAP replication</strong> environment with multiple Management Servers,
  resetting the password on one Management Server updates the other Management Server
  automatically. However, you have to update all Edge UI nodes separately.</p>

  <h2 id="resetorganizationuserpassword">Reset Organization User Password</h2>

  <p>To reset the password for an organization user, use the apigee-servce utility to invoke
  apigee-setup:</p>
  <pre class="prettyprint">
/opt/apigee/apigee-service/bin/apigee-service apigee-setup reset_user_password
 [-h] 
 [-u USER_EMAIL] 
 [-p USER_PWD]
 [-a ADMIN_EMAIL] 
 [-P APIGEE_ADMINPW] 
 [-f configFile]
</pre>

  <p>For example:</p>
  <pre class="prettyprint">
&gt; /opt/apigee/apigee-service/bin/apigee-service apigee-setup reset_user_password -u user@myCo.com -p foo12345 -a admin@myCo.com -P adminPword 
</pre>

  <aside class="note"><b>Note:</b> If you omit the admin email, then it uses the default admin
  email set at installation time. If you omit the admin password, then the script prompts for it.
  All other parameters must be set on the command line, or in a config file. </aside>

  <p>Shown below is an example config file that you can use with the "-f" option:</p>
  <pre class="prettyprint">
USER_NAME= user@myCo.com
USER_PWD= "foo12345"
APIGEE_ADMINPW= adminPword  
</pre>

  <p>You can also use the <a href="/management/apis/post/users/{user_email}">Update user</a> API to
  change the user password. </p>

  <h2 id="sysadminandorganizationuserpasswordrules">Sys Admin and Organization User Password
  Rules</h2>

  <p>Use this section to enforce a desired level of password length and strength for your API
  management users. The settings use a series of preconfigured (and uniquely numbered) regular
  expressions to check password content (such as uppercase, lowercase, numbers, and special
  characters).  Write these settings to <span style=
  "font-family:courier new,courier,monospace;">/opt/apigee/customer/application/management-server.properties</span>
  file. If that file does not exist, create it.</p>

  <p>After editing <span style=
  "font-family:courier new,courier,monospace;">management-server.properties</span>, restart the
  management server:</p>
  <pre class="prettyprint">
&gt; /opt/apigee/apigee-service/bin/apigee-service edge-management-server restart
</pre>

  <p>You can then set password strength ratings by grouping different combinations of regular
  expressions. For example, you can determine that a password with at least one uppercase and one
  lowercase letter gets a strength rating of "3", but that a password with at least one lowercase
  letter and one number gets a stronger rating of "4".</p>

  <aside class="note"><b>Note:</b> By default, the Edge UI auto generates passwords that are
  compatible with the default password rules defined on the Edge Management Server. If you change
  these rules, you should also update the Edge UI so that it auto generates user passwords
  appropriately. See <a href=
  "configure-rules-used-ti-auto-generate-edge-ui-passwords.html">Configure rules used to auto
  generate Edge UI passwords</a> for more.</aside>

  <table>
    <thead>
      <tr>
        <th style="height:19px;">
          <p><strong>Properties</strong></p>
        </th>

        <th style="height:19px;">
          <p><strong>Description</strong></p>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <p>conf_security_password.validation.minimum.<br>
          password.length=8  </p>

          

          <p>conf_security_password.validation.default.rating=2  </p>

          

          <p>conf_security_password.validation.minimum.<br>
          rating.required=3</p>
        </td>

        <td>
          <p>Use these to determine the overall characteristics of valid passwords. The default
          minimum rating for password strength (described later in the table) is 3.</p>

          <p>Notice that the password.validation.default.rating=2 is lower than the minimum rating
          required, which means that if a password entered falls outside of the rules you
          configure, the password is rated a 2 and is therefore invalid (below the minimum rating
          of 3).</p>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <p><strong>Following are regular expressions that identify password characteristics. Note
          that each one is numbered. For example, "password.validation.regex.5=&#8230;" is
          expression number 5. You&#8217;ll use these numbers in a later section of the file to set
          different combinations that determine overall password strength.</strong></p>
        </td>
      </tr>

      <tr>
        <td>
          <p>conf_security_password.validation.regex.1=^(.)\\1+$</p>
        </td>

        <td>
          <p>1 &#8211; All characters repeat</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>conf_security_password.validation.regex.2=^.*[a-z]+.*$</p>
        </td>

        <td>
          <p>2 &#8211; At least one lowercase letter</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>conf_security_password.validation.regex.3=^.*[A-Z]+.*$</p>
        </td>

        <td>
          <p>3 &#8211; At least one uppercase letter</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>conf_security_password.validation.regex.4=^.*[0-9]+.*$</p>
        </td>

        <td>
          <p>4 &#8211; At least one digit</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>conf_security_password.validation.regex.5=^.*[^a-zA-z0-9]+.*$</p>
        </td>

        <td>
          <p>5 &#8211; At least one special character (not including underscore _)</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>conf_security_password.validation.regex.6=^.*[_]+.*$</p>
        </td>

        <td>
          <p>6 &#8211; At least one underscore</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>conf_security_password.validation.regex.7=^.*[a-z]{2,}.*$</p>
        </td>

        <td>
          <p>7 &#8211; More than one lowercase letter</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>conf_security_password.validation.regex.8=^.*[A-Z]{2,}.*$</p>
        </td>

        <td>
          <p>8 &#8211; More than one uppercase letter</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>conf_security_password.validation.regex.9=^.*[0-9]{2,}.*$</p>
        </td>

        <td>
          <p>9 &#8211; More than one digit</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>conf_security_password.validation.regex.10=^.*[^a-zA-z0-9]{2,}.*$</p>
        </td>

        <td>
          <p>10 &#8211; More than one special character (not including underscore)</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>conf_security_password.validation.regex.11=^.*[_]{2,}.*$</p>
        </td>

        <td>
          <p>11 &#8211; More than one underscore</p>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <p><strong>The following rules determine password strength based on password content.
          Each rule includes one or more regular expressions from the previous section and assigns
          a numeric strength to it. The numeric strength of a password is compared to the
          conf_security_password.validation.minimum.rating.required number at the top of this file
          to determine whether or not a password is valid.</strong></p>
        </td>
      </tr>

      <tr>
        <td>
          <p>conf_security_password.validation.rule.1=1,AND,0</p>

          <p>conf_security_password.validation.rule.2=2,3,4,AND,4</p>

          <p>conf_security_password.validation.rule.3=2,9,AND,4</p>

          <p>conf_security_password.validation.rule.4=3,9,AND,4</p>

          <p>conf_security_password.validation.rule.5=5,6,OR,4</p>

          <p>conf_security_password.validation.rule.6=3,2,AND,3</p>

          <p>conf_security_password.validation.rule.7=2,9,AND,3</p>

          <p>conf_security_password.validation.rule.8=3,9,AND,3</p>
        </td>

        <td>
          <p>Each rule is numbered. For example,
          "password.validation.rule.<strong>3</strong>=&#8230;" is rule number 3.</p>

          <p>Each rule uses the following format (right of the equals sign):</p>

          <p>&lt;regex-index-list&gt;,&lt;AND|OR&gt;,&lt;rating&gt;</p>

          <p><strong>regex-index-list</strong> is the list of regular expressions (by number from
          the previous section), along with an <strong>AND|OR</strong> operator (meaning, consider
          all or any of the expressions listed).</p>

          <p><strong>rating</strong> is the numeric strength rating given to each rule.</p>

          <p>For example, rule 5 means that any password with at least one special character OR one
          underscore gets a strength rating of 4. With password.validation.minimum.<br>
          rating.required=3 at the top of the file, a password with a 4 rating is valid.</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>conf_security_rbac.password.validation.enabled=true</p>
        </td>

        <td>
          <p>Set role-based access control password validation to false when single sign-on (SSO)
          is enabled. Default is true.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 id="resettingcassandrapassword">Resetting Cassandra password</h2>

  <p>By default, Cassandra ships with authentication disabled. If you enable authentication, it
  uses a predefined user named <span style=
  "font-family:courier new,courier,monospace;">'cassandra</span>' with a password of '<span style=
  "font-family:courier new,courier,monospace;">cassandra</span>'.  You can use this account,
  set a different password for this account, or create a new Cassandra user. Add, remove, and
  modify users by using the Cassandra CREATE/ALTER/DROP USER statements. </p>

  <p>For information on how to enable Cassandra authentication, see <a href=
  "enable-cassandra-authentication.html">Enable Cassandra authentication</a>.</p>

  <p>To reset the Cassandra password, you have to:</p>

  <ul>
    <li>Set the password on any one Cassandra node and it will be broadcast to all Cassandra
    nodes in the ring</li>

    <li>Update the Management Server, Message Processors, Routers, Qpid servers, Postgres servers,
    and BaaS Stack on each node with the new password</li>
  </ul>

  <p>For more information, see <a href=
  "https://www.datastax.com/documentation/cql/3.0/cql/cql_reference/cqlCommandsTOC.html">http://www.datastax.com/documentation/cql/3.0/cql/cql_reference/cqlCommandsTOC.html</a>.</p>

  <p>To reset the Cassandra password:</p>

  <ol>
    <li>Log into any one Cassandra node using the <span style=
    "font-family:courier new,courier,monospace;">cqlsh</span> tool and the default
    credentials. ?You only have to change the password on one Cassandra node and it will be
    broadcast to all Cassandra nodes in the ring:<br>
      <span style="font-family:courier new,courier,monospace;">&gt;
      /opt/apigee/apigee-cassandra/bin/cqlsh <em><strong>cassIP 9042</strong></em> -u cassandra -p
      cassandra</span><br>
      <br>
      Where:

      <ul>
        <li><span style="font-family:courier new,courier,monospace;">cassIP</span> is the IP
        address of the Cassandra node.</li>

        <li><em><strong><span style=
        "font-family:courier new,courier,monospace;">9042</span></strong></em> is the Cassandra
        port. </li>

        <li>The default user is <span style=
        "font-family:courier new,courier,monospace;">cassandra</span>. </li>

        <li>The default password is <span style=
        "font-family:courier new,courier,monospace;">cassandra</span>. If you changed the password
        previously, use the current password.</li>
      </ul>
    </li>

    <li>Run the following command as the <span style=
    "font-family:courier new,courier,monospace;">cqlsh&gt;</span> prompt to update the
    password: <br>
    <span style="font-family:courier new,courier,monospace;">cqlsh&gt; ALTER USER cassandra WITH
    PASSWORD '<em><strong>NEW_PASSWORD</strong></em>';</span><br>
    <br>
    If the new password contains a single quote character, escape it by preceding it with a single
    quote character.</li>

    <li>Exit the <span style="font-family:courier new,courier,monospace;">cqlsh</span> tool:<br>
    <span style="font-family:courier new,courier,monospace;">cqlsh&gt; exit</span></li>

    <li>On the Management Server node, run the following command:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service edge-management-server
    store_cassandra_credentials -u <em><strong>CASS_USERNAME</strong></em> -p
    <em><strong>CASS_PASSWORD</strong></em> </span><br>
    <br>
    Optionally, you can pass a file to the command containing the new username and password:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; apigee-service
    edge-management-server store_cassandra_credentials -f
    <em><strong>configFile</strong></em> </span><br>
    <br>
    Where the <em><strong><span style=
    "font-family:courier new,courier,monospace;">configFile</span></strong></em> contains the
    following:<br>
    <span style=
    "font-family:courier new,courier,monospace;">CASS_USERNAME=<em><strong>CASS_USERNAME</strong></em><br>

    CASS_PASSWORD=<em><strong>CASS_PASSWROD</strong></em></span><br>
    <br>
    This command automatically restarts the Management Server.</li>

    <li>Repeat step 4 on:

      <ul>
        <li>All Message Processors </li>

        <li>All Routers</li>

        <li>All Qpid servers (edge-qpid-server)</li>

        <li>Postgres servers  (edge-postgres-server)</li>
      </ul>
    </li>

    <li>On the BaaS Stack node for version 4.16.05.04 and later:

      <ol style="list-style: lower-alpha outside">
        <li>Run the following command to generate an encrypted password:<br>
        <span style="font-family:courier new,courier,monospace;">&gt;
        /opt/apigee/apigee-service/bin/apigee-service baas-usergrid</span> <span style=
        "font-family:courier new,courier,monospace;">secure_password</span><br>
        <br>
        This command prompts you for the plain text password and returns the encrypted password in
        the form:<br>
        <span style=
        "font-family:courier new,courier,monospace;">SECURE:ae1b6dedbf6b26aaab8bee815a910737c1c15b55f3505c239e43bc09f8050</span></li>

        <li>Set the following tokens in <span style=
        "font-family:courier new,courier,monospace;">/opt/apigee/customer/application/usergrid.properties</span>.
        If that file does not exist, create it:<br>
        <span style=
        "font-family:courier new,courier,monospace;">usergrid-deployment_cassandra.username=cassandra<br>

        usergrid-deployment_cassandra.password=SECURE:ae1b6dedbf6b26aaab8bee815a910737c1c15b55f3505c239e43bc09f8050</span><br>

        <br>
        This example uses the default username for Cassandra. If you changed the username, set the
        value of <span style=
        "font-family: &quot;courier new&quot;, courier, monospace;">usergrid-deployment_cassandra.username</span> accordingly.<br>

        <br>
        Ensure that you include the "<span style=
        "font-family:courier new,courier,monospace;">SECURE:</span>" prefix on the password.
        Otherwise, the BaaS Stack interprets the value as unencrypted.<br>
        <br>
        <strong>Note</strong>: Each BaaS Stack node has its own unique key used to encrypt the
        password. Therefore, you must generate the encrypted value on each BaaS Stack node
        separetly.</li>

        <li>Change ownership of the <span style=
        "font-family:courier new,courier,monospace;">usergrid.properties</span> file to the
        'apigee' user:<br>
        <span style="font-family:courier new,courier,monospace;">&gt; chown
        apigee:apigee /opt/apigee/customer/application/usergrid.properties</span></li>

        <li>Configure the Stack node:<br>
        <span style="font-family:courier new,courier,monospace;">&gt;
        /opt/apigee/apigee-service/bin/apigee-service baas-usergrid configure</span></li>

        <li>Restart the BaaS Stack:<br>
        <span style="font-family:courier new,courier,monospace;">&gt;
        /opt/apigee/apigee-service/bin/apigee-service baas-usergrid restart</span></li>

        <li>Repeat these steps for all BaaS Stack nods. </li>
      </ol>
    </li>
  </ol>

  <p> The Cassandra password is now changed. </p>

  <h2 id="resettingpostgresqlpassword">Resetting PostgreSQL password</h2>

  <p>By default, the PostgreSQL database has two users defined: 'postgres' and 'apigee'.
  Both users have a default password of 'postgres'. Use the following procedure to change the
  default password. </p>

  <p>Change the password on all Postgres master nodes. If you have two Postgres servers configured
  in master/standby mode, then you only have to change the Password on the master node.  See
  <a href="set-master-standby-replication-postgres.html">Set up Master-Standby Replication for
  Postgres</a> for more.</p>

  <aside class="note"><b>Note:</b> After you change the 'apigee' and 'postgres' user passwords in
  steps 2 and 3 below, no data is written to the PostgreSQL database until you complete all the
  other steps.</aside>

  <aside class="note"><b>Note:</b> As part of the steps below, you set the password for both the
  'postgres' and 'apigee' PostgreSQL users. While this example sets them both to the same value,
  that is not required.</aside>

  <ol>
    <li>On the Master Postgres node, change directory to <span style=
    "font-family:courier new,courier,monospace;">/opt/apigee/apigee-postgresql/pgsql/bin</span>.</li>

    <li>Set the PostgreSQL 'postgres' user password:

      <ol style="list-style: lower-alpha outside">
        <li>Login to PostgreSQL database using the command: <br>
        <span style="font-family:courier new,courier,monospace;">&gt; psql -h localhost -d apigee
        -U postgres</span></li>

        <li>When prompted, enter the 'postgres' user password as 'postgres'.</li>

        <li>At the PostgreSQL command prompt, enter the following command to change the default
        password:<br>
        <span style="font-family:courier new,courier,monospace;">apigee=&gt; ALTER USER postgres
        WITH PASSWORD 'apigee1234';</span></li>

        <li>Exit PostgreSQL database using the command:<br>
        <span style="font-family:courier new,courier,monospace;">apigee=&gt; \q</span></li>
      </ol>
    </li>

    <li>Set the PostgreSQL 'apigee' user password:

      <ol style="list-style: lower-alpha outside">
        <li>Login to PostgreSQL database using the command: <br>
        <span style="font-family:courier new,courier,monospace;">&gt; psql -h localhost -d apigee
        -U apigee</span></li>

        <li>When prompted, enter the 'apigee' user password as 'postgres'.</li>

        <li>At the PostgreSQL command prompt, enter the following command to change the default
        password:<br>
        <span style="font-family:courier new,courier,monospace;">apigee=&gt; ALTER USER apigee WITH
        PASSWORD 'apigee1234';</span></li>

        <li>Exit PostgreSQL database using the command:<br>
        <span style="font-family:courier new,courier,monospace;">apigee=&gt; \q</span></li>
      </ol>
    </li>

    <li>Set <span style="font-family:courier new,courier,monospace;">APIGEE_HOME</span>: <br>
    <span style="font-family:courier new,courier,monospace;">&gt; export
    APIGEE_HOME=/opt/apigee/edge-postgres-server</span></li>

    <li>Encrypt the new password: <br>
    <span style="font-family:courier new,courier,monospace;">&gt; sh
    /opt/apigee/edge-postgres-server/utils/scripts/utilities/passwordgen.sh apigee1234</span><br>
    <br>
    This command returns the encrypted password as shown below. The encrypted password starts after
    the ":" character and does not include the ":".<br>
    <span style="font-family:courier new,courier,monospace;">Encrypted string
    :WheaR8U4OeMEM11erxA3Cw==</span></li>

    <li>Update the Management Server node with the new <strong>encrypted</strong> passwords for the
    'postgres' and 'apigee' users.

      <ol style="list-style: lower-alpha outside">
        <li>On the Management Server, change directory to <span style=
        "font-family:courier new,courier,monospace;">/opt/apigee/customer/application</span>.</li>

        <li>Edit the <span style=
        "font-family:courier new,courier,monospace;">management-server.properties</span> file to
        set the following properties. If this file does not exist, create it: <br>
          <strong>Note</strong>: Some properties take the <strong>encrypted</strong> 'postgres'
          user password, and some take the <strong>encrypted</strong> 'apigee' user
          password.

          <ul>
            <li><span style=
            "font-family:courier new,courier,monospace;">conf_pg-agent_password=<em>newEncryptedPasswordFor<strong>Postgres</strong>User</em></span></li>

            <li><span style=
            "font-family:courier new,courier,monospace;">conf_pg-ingest_password=<em>newEncryptedPasswordFor<strong>Postgres</strong>User</em></span></li>

            <li><span style=
            "font-family:courier new,courier,monospace;">conf_query-service_pgDefaultPwd=<em>newEncryptedPasswordFor<strong>Apigee</strong>User</em></span></li>

            <li><span style=
            "font-family:courier new,courier,monospace;">conf_query-service_dwDefaultPwd=<em>newEncryptedPasswordFor<strong>Apigee</strong>User</em></span></li>

            <li><span style=
            "font-family:courier new,courier,monospace;">conf_analytics_aries.pg.password=<em>newEncryptedPasswordFor<strong>Postgres</strong>User</em></span></li>
          </ul>
        </li>

        <li>Make sure the file is owned by 'apigee' user:<br>
        <span style="font-family:courier new,courier,monospace;">&gt; chown apigee:apigee
        management-server.properties</span></li>
      </ol>
    </li>

    <li>Update all Postgres Server and Qpid Server nodes with the new encrypted password.

      <ol style="list-style: lower-alpha outside">
        <li>On the Postgres Server or Qpid Server node, change directory to <span style=
        "font-family:courier new,courier,monospace;">/opt/apigee/customer/application</span>.</li>

        <li>Edit the following files. If these files do not exist, create them:

          <ul>
            <li><span style=
            "font-family:courier new,courier,monospace;">postgres-server.properties</span></li>

            <li><span style=
            "font-family:courier new,courier,monospace;">qpid-server.properties</span></li>
          </ul>
        </li>

        <li>Add the following properties to the files:<br>
          <strong>Note</strong>: All of these properties take
          the <strong>encrypted</strong> 'postgres' user password.

          <ul>
            <li><span style=
            "font-family:courier new,courier,monospace;">conf_pg-agent_password=<em>newEncryptedPasswordFor<strong>Postgres</strong>User</em></span></li>

            <li><span style=
            "font-family:courier new,courier,monospace;">conf_pg-ingest_password=<em>newEncryptedPasswordFor<strong>Postgres</strong>User</em></span></li>

            <li><span style=
            "font-family:courier new,courier,monospace;">conf_query-service_pgDefaultPwd=<em>newEncryptedPasswordFor<strong>Postgres</strong>User</em></span></li>

            <li><span style=
            "font-family:courier new,courier,monospace;">conf_query-service_dwDefaultPwd=<em>newEncryptedPasswordFor<strong>Postgres</strong>User</em></span></li>

            <li><span style=
            "font-family:courier new,courier,monospace;">conf_analytics_aries.pg.password=<em>newEncryptedPasswordFor<strong>Postgres</strong>User</em></span></li>
          </ul>
        </li>

        <li>Make sure the files are owned by 'apigee' user:<br>
        <span style="font-family:courier new,courier,monospace;">&gt; chown apigee:apigee
        postgres-server.properties<br>
        &gt; chown apigee:apigee qpid-server.properties</span></li>
      </ol>
    </li>

    <li>Restart the following components in this order:

      <ol style="list-style: lower-alpha outside">
        <li>PostgreSQL database:<br>
        <span style="font-family:courier new,courier,monospace;">&gt;
        /opt/apigee/apigee-service/bin/apigee-service apigee-postgresql restart</span></li>

        <li>Qpid Server:<br>
        <span style="font-family:courier new,courier,monospace;">&gt;
        /opt/apigee/apigee-service/bin/apigee-service edge-qpid-server restart</span></li>

        <li>Postgres Server: <br>
        <span style="font-family:courier new,courier,monospace;">&gt;
        /opt/apigee/apigee-service/bin/apigee-service edge-postgres-server restart</span></li>

        <li>Management Server:<br>
        <span style="font-family:courier new,courier,monospace;">&gt;
        /opt/apigee/apigee-service/bin/apigee-service edge-management-server restart</span></li>
      </ol>
    </li>
  </ol>

  <div>
     
  </div>{% endblock %}
