  {% extends "private-cloud/v4.18.01/_base.html" %} {% block title %}Set the HTTP port used by the
  portal{% endblock %} {% block body %}

  <p>By default, the Nginx server installed with the portal listens for request on port 8079. Use
  the procedure below to configure Nginx to use a different port:</p>

  <ol>
    <li>Ensure that the desired port number is open on the Edge node.</li>

    <li>Open <span style=
    "font-family:courier new,courier,monospace;">/opt/apigee/customer/application/drupal-devportal.properties</span>
    in an editor. If the file and directory does not exist, create it. </li>

    <li>Set the following propertty in <span style=
    "font-family:courier new,courier,monospace;">drupal-devportal.properties</span>:<br>
    <span style=
    "font-family:courier new,courier,monospace;">conf_devportal_nginx_listen_port=<em><strong>PORT</strong></em></span><br>

    <br>
    <span style="font-family:arial,helvetica,sans-serif;">Where
    is <em><strong>PORT</strong></em> is the new port number.</span></li>

    <li>Save the file.</li>

    <li>Restart the portal:<br>
    /<span style=
    "font-family:courier new,courier,monospace;">opt/apigee/apigee-service/bin/apigee-service
    apigee-drupal-devportal restart</span></li>
  </ol>

  <h2 id=""> </h2>{% endblock %}
