{% extends "private-cloud/v4.19.01/_base.html" %}
{% block title %}Set the HTTP port{% endblock %}
{% block body %}

  <p>By default, the Nginx server installed with {{portal_1st_use}} listens for request on port
  8079. Use the procedure below to configure Nginx to use a different port:</p>

  <ol>
    <li>Ensure that the desired port number is open on the Edge node.</li>
    <li>Open <code>/opt/apigee/customer/application/drupal-devportal.properties</code> in an editor.
    If the file and directory does not exist, create it.</li>
    <li>Set the following propertty in <code>drupal-devportal.properties</code>:
      <pre class="prettyprint">conf_devportal_nginx_listen_port=<var>PORT</var></pre>
      <p>Where <var>PORT</var> is the new port number.</p>
    </li>
    <li>Save the file.</li>
    <li>Restart the portal:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-drupal-devportal restart</pre>
    </li>
  </ol>

{% endblock %}
