  {% extends "private-cloud/v4.18.01/_base.html" %} {% block title %}Set the timeout used by the
  Edge UI for Edge API management calls{% endblock %} {% block body %}

  <p>By default, a session in the Edge UI expires one day after login. That means Edge UI users
  have to log in again after the session expires.</p>

  <p>You can configure the session timeout be setting the <span style=
  "font-family:courier new,courier,monospace;">conf_application_session.maxage</span> property in
  the <span style=
  "font-family:courier new,courier,monospace;">/opt/apigee/customer/application/ui.properties</span>
  file.</p>

  <p>To set this property:</p>

  <ol>
    <li>Open the <span style="font-family:courier new,courier,monospace;">ui.properties</span> file
    in an editor. If the file does not exist, create it::<br>
    <span style="font-family:courier new,courier,monospace;">&gt; vi
    /opt/apigee/customer/application/ui.properties</span></li>

    <li>Set <span style=
    "font-family:courier new,courier,monospace;">conf_application_session.maxage</span> as a time
    value and time unit. Time units can be:

      <ul>
        <li><span style="font-family:courier new,courier,monospace;">m</span>, minute, minutes</li>

        <li><span style="font-family:courier new,courier,monospace;">h</span>, hour, hours</li>

        <li>
          <span style="font-family:courier new,courier,monospace;">d</span>, day, days<br>
          <br>
          For example, set <span style=
          "font-family: &quot;courier new&quot;, courier, monospace;">conf_application_session.maxage</span> as:

          <div>
             
          </div><span style=
          "font-family: &quot;courier new&quot;, courier, monospace;">conf_application_session.maxage="2d"</span>
        </li>
      </ul>
    </li>

    <li>Save your changes.</li>

    <li>Restart the Edge UI:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service edge-ui restart</span></li>
  </ol>

  <div>
     
  </div>{% endblock %}
