{% extends "private-cloud/v4.18.05/_base.html" %}
{% block title %}Set the timeout used by the Edge UI for Edge API management calls{% endblock %}
{% block body %}

  <p>By default, a session in the Edge UI expires one day after login. That means Edge UI users
  have to log in again after the session expires.</p>

  <p>You can configure the session timeout be setting the <code>conf_application_session.maxage</code>
  property in the <code>/opt/apigee/customer/application/ui.properties</code> file.</p>

  <p>To set this property:</p>

  <ol>
    <li>Open the <code>ui.properties</code> file in an editor. If the file does not exist, create
    it:
      <pre class="devsite-terminal">vi /opt/apigee/customer/application/ui.properties</pre>
    </li>
    <li>Set <code>conf_application_session.maxage</code> as a time value and time unit. Time units
      can be:
      <ul>
        <li><code>m</code>, minute, minutes</li>
        <li><code>h</code>, hour, hours</li>
        <li><code>d</code>, day, days
          <p>For example, set <code>conf_application_session.maxage</code> as:
          <pre>conf_application_session.maxage="<strong>2d</strong>"</pre>
        </li>
      </ul>
    </li>
    <li>Save your changes.</li>
    <li>Restart the Edge UI:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui restart</pre>
    </li>
  </ol>

{% endblock %}
