  {% extends "private-cloud/v4.18.01/_base.html" %} {% block title %}Set the expiration time for
  user activation links in activation emails{% endblock %} {% block body %}

  <p>When a user registers a new account, or requests to reset a password, they receive an email
  that contain an activation link. By default, that activation link expires after 600 seconds, or
  ten minutes.</p>

  <p>You can configure the expiration time by setting the <span style=
  "font-family:courier new,courier,monospace;">conf_apigee_apigee.forgotpassword.emaillinkexpiryseconds</span>
  token in the ui.properties file.</p>

  <p>To set the expiry time:</p>

  <ol>
    <li>On the Edge UI node, edit <span style=
    "font-family:courier new,courier,monospace;">/opt/apigee/customer/application/ui.properties</span>.
    If that file does not exist, create it.</li>

    <li>Add the following property to the file to set the expiry time in seconds:<br>
    <span style=
    "font-family:courier new,courier,monospace;">conf_apigee_apigee.forgotpassword.emaillinkexpiryseconds=<em><strong>timeInSeconds</strong></em></span></li>

    <li>Restart the Edge UI:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-service edge-ui restart</span></li>
  </ol>

  <div>
     
  </div>{% endblock %}
