{% extends "private-cloud/v4.19.01/_base.html" %}
{% block title %}Setting the port number of the Edge UI{% endblock %}
{% block body %}

  <p>By default, the Edge UI listens on port 9000 of the Edge node on which it is installed. Use
  the following procedure to change the port number:</p>

  <ol>
    <li>Ensure that the desired port number is open on the Edge node.</li>
    <li>Open <code>/opt/apigee/customer/edge-ui.d/ui.sh</code> in an editor. If the file and
      directory does not exist, create it.</li>
    <li>Set the following property in <code>ui.sh</code>:
      <pre class="devsite-terminal">export JAVA_OPTS="-Dhttp.address=<var>IP</var> -Dhttp.port=<var>PORT</var>"</pre>
      <p>Where <var>IP</var> is the IP address of the Edge UI node, and <var>PORT</var> is the new
      port number.</li>
    <li>Save the file.</li>
    <li>Restart the Edge UI:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui restart</pre>
    </li>
  </ol>

  <p>You can now access the Edge UI on the new port number.</p>

{% endblock %}
