{% extends "private-cloud/v4.19.01/_base.html" %}
{% block title %}Setting log file location{% endblock %}
{% block body %}

  <p>By default, the log files for an Edge component are written to the
  <code>/opt/apigee/var/log/<var>component_name</var></code> directory, where
  <var>component_name</var> can be one of the following:

  {% dynamic include "/includes/___opdk-component-list" %}

  <p>In addition to this list, Edge also logs the setup process in the
  <code>/opt/apigee/var/log/apigee-setup</code> directory.</p>

  <p>Use the following procedure to change the default log file location for all Edge components
  except the Edge UI:</p>

  <ol>
    <li>Create the following file:
      <pre class="devsite-terminal">/opt/apigee/etc/<var>component_name</var>.d/APIGEE_APP_LOGDIR.sh</pre>
    </li>
    <li>Add the following property to the file:
      <pre>APIGEE_APP_LOGDIR=<var>/directory/path</var></pre>
      <p>Where <var>/directory/path</var> specifies the directory for the log files.</p>
    </li>
    <li>Make sure the directory is accessible by the "apigee" user:
      <pre class="devsite-terminal">chown apigee:apigee <var>/directory/path</var></pre>
    </li>
    <li>Restart the component:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service <var>component_name</var> restart</pre>
    </li>
  </ol>

{% endblock %}
