{% extends "private-cloud/v4.18.05/_base.html" %}
{% block title %}Setting server autostart{% endblock %}
{% block body %}

  <p>An on-premises installation of Edge Private Cloud does not restart automatically during a
  reboot. You can use the following commands to enable/disable autostart on any node.</p>

  <p>To <em>enable</em> all components on the node:</p>
  <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-all enable_autostart</pre>

  <p>To <em>disable</em> all components on the node:</p>
  <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-all disable_autostart</pre>

  <p>To enable or disable autostart for a specific component on the node:</p>

    <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service <var>component_name</var> enable_autostart
<code class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service <var>component_name</var> disable_autostart</code></pre>

  <p>Where <var>component_name</var> identifies the component. Possible values include:</p>
  {% dynamic include "/includes/___opdk-component-list" %}

  <p>The script only affects the node on which you run it. If you want to configure all nodes for
  autostart, run the script on all nodes.</p>

  <aside class="note"><strong>Note:</strong> If you run into issues where the OpenLDAP server does
  not start automatically on reboot, try disabling SELinux or setting it to permissive mode.</aside>

  <p>Note that the order of starting the components is very important:</p>

  <ol>
    <li>First start ZooKeeper, Cassandra, LDAP (OpenLDAP)
      <p>If ZooKeeper and Cassandra are installed as cluster, the complete cluster must be up and
      running before starting any other Apigee component.</p>
    </li>
    <li>Then, any Apigee component (Management Server, Router, UI, etc.). For Postgres Server
      first start postgresql and for Qpid Server first start qpidd.</li>
  </ol>

  <p><strong>Implications:</strong></p>

  <ul>
    <li>For a complete restart of an Apigee Edge environment, the nodes with ZooKeeper and
      Cassandra need to be booted completely prior to any other node.</li>
    <li>If any other Apigee component is running on one or more ZooKeeper and Cassandra nodes, it
      is not recommended to use autostart. Instead, start the components in the order described
      in <a href="starting-stopping-and-restarting-apigee-edge">Starting, stopping, restarting, and
      checking the status of Apigee Edge</a>.</li>
  </ul>

  <h2 id="troubleshootingautostart">Troubleshooting autostart</h2>

  <p>If you configure autostart, and Edge encounters issues with starting the OpenLDAP server, you
  can try disabling SELinux or setting it to permissive mode on all nodes. To configure
  SELinux:</p>

  <ol>
    <li>Edit the <code>/etc/sysconfig/selinux</code> file:
      <pre class="devsite-terminal">sudo vi /etc/sysconfig/selinux</pre>
    </li>
    <li>Set <code>SELINUX=disabled</code> or <code>SELINUX=permissive</code>.</li>
    <li>Save your edits.</li>
    <li>Restart the machine and then restart Edge:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-all restart</pre>
    </li>
  </ol>
{% endblock %}
