{% extends "private-cloud/v4.18.05/_base.html" %}
{% block title %}Setting the log level for an Edge component{% endblock %}
{% block body %}

  <p>By default, Edge components use a logging level of <code>INFO</code>. However, you can set the
  logging level for each Edge component. For example, you might want to set it to <code>DEBUG</code>
  for the Message Processor, or to <code>ERROR</code> for the Management Server.</p>

  <aside class="note"><strong>Note:</strong> Each component writes log information to its own file.
  See <a href="setting-log-file-location">Setting log file location</a> for information on log
  file locations.</aside>

  <p>The available log levels include:</p>
  <ul>
    <li><code>ALL</code></li>
    <li><code>DEBUG</code></li>
    <li><code>ERROR</code></li>
    <li><code>FATAL</code></li>
    <li><code>INFO</code></li>
    <li><code>OFF</code></li>
    <li><code>TRACE</code></li>
    <li><code>WARN</code></li>
 </ul>

  <p>To set the log level for a component, edit the component's properties file to set a token, then
  restart the component:</p>

  <ul>
    <li>For the Edge UI, the tokens are <code>conf_logger_settings_application_log_level</code>
      and <code>conf_logger_settings_play_log_level</code>. Set them to the same value.</li>
    <li>For all other Edge components, the token is <code>conf_system_log.level</code></li>
  </ul>

  <p>To set the log level for the Edge UI component:</p>

  <ol>
    <li>Open <code>/opt/apigee/customer/application/ui.properties</code> in an editor. If the file
      does not exist, create it.</li>
    <li>Set the following properties in <code>ui.properties</code> to the desired log level. For
      example, to set it to <code>DEBUG</code>:
      <pre>conf_logger_settings_application_log_level=DEBUG
conf_logger_settings_play_log_level=DEBUG</pre>
    </li>
    <li>Save the file.</li>
    <li>Ensure the properties file is owned by the "apigee" user:
      <pre class="devsite-terminal">chown apigee:apigee /opt/apigee/customer/application/ui.properties</pre>
    </li>
    <li>Restart the Edge UI:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui restart</pre>
    </li>
  </ol>

  <p>To set the log level for other components, such as the Message Processor:</p>

  <ol>
    <li>Open <code>/opt/apigee/customer/application/message-processor.properties</code> in an
      editor. If the file does not exist, create it.</li>
    <li>Set the following property in <code>message-processor.properties</code> to the desired
      log level. For example, to set it to <code>DEBUG</code>:
      <pre class="prettyprint">conf_system_log.level=DEBUG</pre>
    </li>
    <li>Save the file.</li>
    <li>Ensure the properties file is owned by the "apigee" user:
      <pre class="devsite-terminal">chown apigee:apigee /opt/apigee/customer/application/message-processor.properties</pre>
    </li>
    <li>Restart the Message Processor:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-message-processor restart</pre>
    </li>
  </ol>

{% endblock %}
