{% extends "private-cloud/v4.18.05/_base.html" %}
{% block title %}Setting the password hint text in the Edge UI{% endblock %}
{% block body %}

  <p>By default, when a user changes password in the Edge UI, a dialog box appears that contains
  fields to set the password and text describing the password requirements:</p>

  <p><img alt="" src="/private-cloud/images/orig_hint.png"></p>

  <p>You can configure the text by setting the <code>conf_apigee-base_apigee.passwordpolicy.pwdhint</code>
  property in the <code>/opt/apigee/customer/application/ui.properties</code> file.</p>

  <p>To set this property:</p>

  <ol>
    <li>Open the <code>ui.properties</code> file in an editor. If the file does not exist, create it:
      <pre class="devsite-terminal">vi /opt/apigee/customer/application/ui.properties</pre>
    </li>
    <li>Set <code>conf_apigee-base_apigee.passwordpolicy.pwdhint.</code> For example, set
      <code>conf_apigee-base_apigee.passwordpolicy.pwdhint</code> as:
      <pre>conf_apigee-base_apigee.passwordpolicy.pwdhint="Password must be 13 characters long and
contain at least on special character."</pre>
    </li>
    <li>Save your changes.</li>
    <li>Restart the Edge UI:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui restart</pre>
    </li>
  </ol>

{% endblock %}
