{% extends "private-cloud/v4.19.01/_base.html" %}
{% block title %}Setting the hostname for links in generated emails{% endblock %}
{% block body %}

  <p>Edge automatically sends emails in response to certain events as described in <a href=
  "customizing-edge-email-templates">Customizing Edge email templates</a>.</p>

  <p>Many of these emails contain a link. For example, when a new user is added to an organization,
  the Edge UI sends the user an email containing a login URL in the form:</p>

  <pre class="prettyprint">https://<var>domain</var>/login</pre>

  <p>The domain is determined automatically by Edge and is typically correct for the organization.
  However, there is a chance that when the Edge UI is behind a load balancer that the automatically
  generated domain name is incorrect. If so, you can use the
  <code>conf_apigee_apigee.emails.hosturl</code> property to explicitly set the domain name portion
  of the generated URL.</p>

  <p>To set the domain:</p>

  <ol>
    <li>Open the <code>ui.properties</code> file in an editor. If the file does not exist, create it:
      <pre class="devsite-terminal">vi /opt/apigee/customer/application/ui.properties</pre>
    </li>
    <li>Set <code>conf_apigee_apigee.emails.hosturl.</code> For example, set
      <code>conf_apigee_apigee.emails.hosturl</code> as:
      <pre class="prettyprint">conf_apigee_apigee.emails.hosturl="http://myCo.com"</pre>
    </li>
    <li>Save your changes.</li>
    <li>Make sure the properties file is owned by the 'apigee' user:
      <pre class="devsite-terminal">chown apigee:apigee /opt/apigee/customer/application/ui.properties</pre>
    </li>
    <li>Restart the Edge UI:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui restart</pre>
    </li>
  </ol>

{% endblock %}
