{% extends "private-cloud/v4.19.01/_base.html" %}
{% block title %}Start, stop, or restart the portal{% endblock %}
{% block body %}

  <p>To start, stop, or restart {{portal_1st_use}} components, use the <code>apigee-service</code>
  command:</p>

  <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service <var>component_name</var> [ stop | start | restart ]</pre>

  <p>Where <var>component_name</var> can be one of the following:
  <ul>
    <li><code>apigee-drupal-devportal</code></li>
    <li><code>apigee-drupal-contrib</code></li>
    <li><code>apigee-drupal</code></li>
    <li><code>apigee-drush</code></li>
    <li><code>apigee-php</code></li>
  </ul>

  <p>The following scripts detect the Apigee components configured to run on the system on which
  the script is executed, and will start or stop only those components in the correct order for
  that node.</p>

  <ul>
    <li>To stop all Apigee components:
    <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-all stop</pre></li>

    <li>To start all Apigee components:
    <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-all start</pre></li>

    <li>To check which components are running:
    <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-all status</pre></li>
  </ul>
{% endblock %}
