{% extends "private-cloud/v4.18.05/_base.html" %}
{% block title %}Supporting SAML on Edge for Private Cloud{% endblock %}
{% block body %}

  <p>The Edge UI and Edge management API operate by making requests to the Edge Management Server,
  where the Management Server supports the following types of authentication:</p>

  <ul>
    <li><strong>Basic Auth</strong> Log in to the Edge UI or make requests to the Edge management
      API by passing your username and password.</li>
    <li><strong>OAuth2</strong> Exchange your Edge Basic Auth credentials for an OAuth2 access
      token and refresh token. Make calls to the Edge management API by passing the OAuth2 access
      token in the Bearer header of an API call.</li>
  </ul>

  <p>Edge also supports Security Assertion Markup Language (SAML) 2.0 as the authentication
  mechanism. With SAML enabled, access to the Edge UI and Edge management API still uses OAuth2
  access tokens. However, now you can generate these tokens from SAML assertions returned by a SAML
  identity provider.</p>

  <aside class="note"><strong>Note</strong>: SAML is supported as the authentication mechanism only. It is not
  supported for authorization. Therefore, you still use the Edge OpenLDAP database to maintain
  authentication information. See <a href="/api-platform/system-administration/understanding-roles">Assigning roles</a>
  for more.</aside>

  <p>SAML supports a single sign-on (SSO) environment. By using SAML with Edge, you can support SSO
  for the Edge UI and API in addition to any other services that you provide and that also support
  SAML.</p>

  <h2 id="supportaddedforoauth2toedgeforprivatecloud">Support added for OAuth2 to Edge for Private Cloud</h2>

  <p>As mentioned above, the Edge implementation of SAML relies on OAuth2 access tokens.Therefore,
  OAuth2 support has been added to Edge for Private Cloud. For more information, see
  <a href="/api-platform/security/oauth/oauth-introduction">Introduction to OAuth 2.0</a>.</p>

  <h2 id="samladvantages">SAML advantages</h2>

  <p>SAML authentication offers several advantages. By using SAML you can:</p>

  <ul>
    <li>Take full control of user management. When users leave your organization and are
      deprovisioned centrally, they are automatically denied access to Edge..</li>
    <li>Control how users authenticate to access Edge. You can choose different authentication
      types for different Edge organizations.</li>
    <li>Control authentication policies. Your SAML provider may support authentication policies
      that are more in line with your enterprise standards.</li>
    <li>You can monitor logins, logouts, unsuccessful login attempts and high risk activities on
      your Edge deployment.</li>
  </ul>

  <h2 id="usingsamlwithedge">Using SAML with Edge</h2>

  <p>To support SAML on Edge, you install <code>apigee-sso</code>, the Edge SSO module. The
  following image shows Edge SSO in an Edge for Private Cloud installation:</p>

  <p><img alt="" src="/private-cloud/images/EdgeSAML.png"></p>

  <p>You can install the Edge SSO module on the same node as the Edge UI and Management Server, or
  on its own node. Ensure that Edge SSO has access to the Management Server over port 8080.</p>

  <p>Port 9099 has to be open on the Edge SSO node to support access to Edge SSO from a browser,
  from the external SAML IDP, and from the Management Server and Edge UI. As part of configuring
  Edge SSO, you can specify that the external connection uses HTTP or the encrypted HTTPS
  protocol.</p>

  <p>Edge SSO uses a Postgres database accessible on port 5432 on the Postgres node. Typically you
  can use the same Postgres server that you installed with Edge, either a standalone Postgres
  server or two Postgres servers configured in master/standby mode. If the load on your Postgres
  server is high, you can also choose to create a separate Postgres node just for Edge SSO.</p>

  <p>With SAML enabled, access to the Edge UI and Edge management API uses OAuth2 access tokens.
  These tokens are generated by the Edge SSO module which accepts SAML assertions returned by the
  your IDP.</p>

  <p>Once generated from a SAML assertion, the OAuth token is valid for 30 minutes and the refresh
  token is valid for 24 hours. Your development environment might support automation for common
  development tasks, such as test automation or Continuous Integration/Continuous Deployment
  (CI/CD), that require tokens with a longer duration. See
  <a href="using-saml-automated-tasks">Using SAML with automated tasks</a> for information on
  creating special tokens for automated tasks.</p>

  <h2 id="edgeuiandapiurls">Edge UI and API URLs</h2>

  <p>The URL that you use to access the Edge UI and Edge management API is the same as used before
  you enabled SAML. For the Edge UI:</p>
  <pre class="prettyprint">http://<var>edge_ui_IP_DNS</var>:9000
https://<var>edge_ui_IP_DNS</var>:9000</pre>

  <p>where <var>edge_ui_IP_DNS</var> is the IP address or DNS name of the machine
  hosting the Edge UI. As part of configuring the Edge UI, you can specify that the connection use
  HTTP or the encrypted HTTPS protocol.</p>

  <p>For the Edge management API:</p>
  <pre class="prettyprint">http://<var>ms_IP_DNS</var>:8080/v1
https://<var>ms_IP_DNS</var>:8080/v1</pre>

  <p>where <var>ms_IP_DNS</var> is the IP address or DNS name of the Management
  Server. As part of configuring the API, you can specify that the connection use HTTP or the
  encrypted HTTPS protocol.</p>

  <h2 id="configuretlsonedgesso">Configure TLS on Edge SSO</h2>

  <p>By default, the connection to Edge SSO uses HTTP over port 9099 on the node hosting
  <code>apigee-sso</code>, the Edge SSO module. Built into <code>apigee-sso</code> is a Tomcat
  instance that handles the HTTP and HTTPS requests.</p>

  <p>Edge SSO and Tomcat support three connection modes:</p>

  <ul>
    <li><strong>DEFAULT</strong> - The default configuration supports HTTP requests on port
      9099.</li>
    <li><strong>SSL_TERMINATION</strong> - Enabled TLS access to Edge SSO on the port of your
      choice. You must specify a TLS key and cert for this mode.</li>
    <li><strong>SSL_PROXY</strong> - Configures Edge SSO in proxy mode, meaning you installed a
      load balancer in front of <code>apigee-sso</code> and terminated TLS on the load
      balancer. You can specify the port used on <code>apigee-sso</code> for requests from the load
      balancer.</li>
  </ul>

  <h2 id="enablesamlsupportforthedeveloperservicesportal">Enable SAML support for the portal</h2>

  <p>After enabling SAML support for Edge, you can optionally enable SAML for {{portal_1st_use}}.
  The portal supports SAML authentication when making requests to Edge. Note that this is
  different from SAML authentication for developer login to the portal. You configure SAML
  authentication for developer login separately. See
  <a href="configuring-developer-services-portal-use-saml-communicate-edge">Configuring the
  portal to use SAML to communicate with Edge</a> for more.</p>

  <p>As part of configuring the portal, you must specify the URL of the Edge SSO
  module that you installed with Edge:</p>

  <p><img alt="" src="/private-cloud/images/EdgeSAMLBaaSPorta.png"></p>

{% endblock %}
