  {% extends "private-cloud/v4.18.01/_base.html" %} {% block title %}Uninstalling Edge{% endblock %} {% block body %}

  <p>To uninstall a component, use the apigee-service utility in the form:</p>
  <pre class="prettyprint">
&gt; /opt/apigee/apigee-service/bin/apigee-service <em><strong>compName</strong></em> uninstall
</pre>

  <p>where <em><strong>compName</strong></em> is one of the following: <span style=
  "font-family:courier new,courier,monospace;">edge-management-server, edge-ui, edge-router,
  edge-message-processor, edge-qpid-server, edge-postgres-server, apigee-zookeeper,
  apigee-cassandra, apigee-openldap, apigee-qpidd, apigee-postgresql.</span></p>

  <p>For example, to uninstall the Edge UI:</p>
  <pre class="prettyprint">
&gt; /opt/apigee/apigee-service/bin/apigee-service edge-ui uninstall
</pre>

  <p>To uninstall all Apigee components on the node, uninstall the apigee-service utility:</p>
  <pre class="prettyprint">
&gt; /opt/apigee/apigee-service/bin/apigee-service apigee-service uninstall
</pre>

  <p>This command does not delete any data or log files. It only deletes the components.</p>

  <p>If you want to completely remove Edge from your system:</p>

  <ol>
    <li>Stop all Edge services running on the machine:<br>
    <span style="font-family:courier new,courier,monospace;">&gt;
    /opt/apigee/apigee-service/bin/apigee-all stop</span></li>

    <li>Clear the yum cache:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; sudo yum clean all</span></li>

    <li>Remove all the Apigee RPMs:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; sudo rpm -e $(rpm -qa | egrep
    "(apigee-|edge-|baas)")</span></li>

    <li>Remove the installation root directory:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; sudo rm -rf
    /opt/apigee</span></li>

    <li>Remove the Nginx directory:<br>
    <span style="font-family:courier new,courier,monospace;">&gt; sudo rm -rf
    /opt/nginx</span></li>
  </ol>{% endblock %}
