{% extends "private-cloud/v4.18.05/_base.html" %}
{% block title %}Update Apigee Edge 4.17.01 to {{cur_version}}{% endblock %}
{% block body %}

  <p>This section describes how to perform the following upgrade:</p>
  <ul>
    <li>From 4.17.01 to 4.18.05</li>
  </ul>

  <section class="expandable">
    <h4 class="showalways">All Upgrade Paths</h4>
    <p>The following table shows you the upgrade paths for version {{cur_version}}:</p>
    {% setvar 41701_alt %}class="alt"{% endsetvar %}
    {% include "___shared-files/opdk-41805-upgrade-paths.html" %}
  </section>

  <p><strong>To upgrade version 4.17.01 to {{cur_version}}:</strong></p>
  <ol>
    <li>First, <a href="/private-cloud/v4.18.01/update-apigee-edge-4170x-41801">upgrade version 4.17.01 to version 4.18.01</a>.</li>
    <li>Then, <a href="update-apigee-edge-41801-41805">upgrade from 4.18.01 to 4.18.05</a>.</li>
  </ol>

  {{multi_version_caution}}

{% endblock %}
