{% extends "private-cloud/v4.19.01/_base.html" %}
{% block title %}Update Apigee Edge 4.18.01 or 4.18.05 to {{cur_version}}{% endblock %}
{% block body %}

  <p>This section describes how to perform the following upgrade:</p>
  <ul>
    <li>From 4.18.01 to {{cur_version}}</li>
    <li>From 4.18.05 to {{cur_version}}</li>
  </ul>

  <section class="expandable">
    <h4 class="showalways">All Upgrade Paths</h4>
    <p>The following table shows you the upgrade paths for version 4.19.01:</p>
    {% setvar version_41801_alt %}class="alt"{% endsetvar %}
    {% setvar version_41805_alt %}class="alt"{% endsetvar %}
    {% include "includes/___opdk-41901-upgrade-paths.html" %}
  </section>

  <h2 id="whocanperformtheupdate">Who can perform the update</h2>

  <p>The user running the update should be the same as the user who originally installed Edge, or a
  user running as root.</p>

  <p>After you install the Edge RPMs, any user can configure them.</p>

  <h2 id="whichcomponentsmustyouupdate">Which components must you update</h2>

  <p>You must update all Edge components. Edge does not support a setup that contains components
  from multiple versions.</p>

  <h2 id="automaticpropagationofpropertysettings">Automatic propagation of property settings</h2>

  <p>If you have set any properties by editing <code>.properties</code> files in
  <code>/opt/apigee/customer/application</code> then these values are retained by the update.</p>

  <h2 id="updateprerequisites">Update prerequisites</h2>

  <p>Take care of following prerequisites before upgrading Apigee Edge:</p>

  <ul>
    <li><strong>Backup all nodes</strong><br/>
      Before you update, it is recommended to perform a complete backup of all nodes for safety
      reasons. Use the procedure for your current version of Edge to perform the backup.
      <p>This allows you to have a backup plan, in case the update to a new version doesn't
      function properly. For more information on backup, see <a href="backup-and-restore">Backup
      and restore</a>.</p>
    </li>
    <li><strong>Ensure Edge is running</strong><br/>
      Ensure that Edge is up and running during update process by using the command:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-all status</pre>
    </li>
  </ul>

  <h2 id="new-ue">Updating the New Edge experience</h2>

  <p>If you installed the Beta version of New Edge experience in 4.18.0x, you must uninstall it and
  do a fresh install of the 4.19.01 version of the New Edge experience. For more information, see
  <a href="new-edge-experience-private-cloud">The New Edge experience for Private Cloud</a>.</p>

  <p>Note that there are installation configuration changes from Edge 4.18.01 (but not 4.18.05).
  The Edge 4.19.01
  release of the New Edge experience contains changes to the configuration file from the
  Edge 4.18.01 release. The new properties are described in
  <a href="installing-new-unified-experience#installation-changes">Installation
  configuration changes from Edge 4.18.01</a>.</p>

  <h2 id="handlingafailedupdate">Handling a failed update</h2>

  <p>In the case of an update failure, you can try to correct the issue, and then run update.sh
  again. You can run the update multiple times and it continues the update from where it last left
  off.</p>

  <p>If the failure requires that you roll back the update to your previous version, see
  <a href="rollback-41901">Roll back 4.19.01</a> for more.</p>

  <aside class="note"><strong>Note:</strong> The Edge all-in-one and 2-node topologies are designed for a
  getting started and prototyping environments, not for production. Therefore, there is no rollback
  procedure for the all-in-one and 2-node topologies. In the situation where the update of these
  topologies fails, and retrying the update does not resolve the issue, the easiest option is to do
  a fresh install of {{cur_version}}.</aside>

  <h2 id="loggingupdateinformation">Logging update information</h2>

  <p>By default, the <code>update.sh</code> utility writes log information to:</p>
  <pre class="prettyprint">/opt/apigee/var/log/apigee-setup/update.log</pre>

  <p>If the user running the <code>update.sh</code> utility does not have access to
  that directory, it writes the log to the <code>/tmp</code> directory as a file named
  <code>update_username.log</code>.</p>

  <p>If the user does not have access to <code>/tmp</code>, the <code>update.sh</code> utility
  fails.</p>

  <h2 id="zerodowntimeupdate">Zero-downtime update</h2>

  <p>A zero-downtime update, or rolling update, lets you update your Edge installation without
  bringing down Edge. </p>

  <p>Zero-downtime update is only possible with a 5-node configuration and larger. </p>

  <p>The key to zero-downtime upgrading is to remove each Router, one at a time, from the load
  balancer. You then update the Router and any other components on the same machine as the Router,
  and then add the Router back to the load balancer.</p>

  <ol>
    <li>Update the machines in the correct order for your installation as described
      <a href="#orderofmachineupdate">Order of machine update</a>.</li>
    <li>When it is time to update the Routers, select any one Router and make it unreachable, as
      described in <a href="enablingdisabling-server-message-processorrouter-reachability">Enabling/Disabling Server
      (Message Processor/Router) Reachability</a>.</li>
    <li>Update the selected Router and all other Edge components on the same machine as the Router.
      All Edge configurations show a Router and Message Processor on the same node. </li>
    <li>Make the Router reachable again.</li>
    <li>Repeat steps 2 through 4 for the remaining Routers.</li>
    <li>Continue the update for any remaining machines in your installation.</li>
  </ol>

  <p>Take care of the following before/after update:</p>

  <ul>
    <li>On combined Router and Message Processor node:
      <ul>
        <li>Before update &#8211; perform the following:
          <ol>
            <li>Make the Router unreachable.</li>
            <li>Make the Message Processor unreachable.</li>
          </ol>
        </li>
        <li>After update - perform the following:
          <ol>
            <li>Make the Message Processor reachable.</li>
            <li>Make the Router reachable.</li>
          </ol>
        </li>
      </ul>
    </li>
    <li>On single Router node:
      <ul>
        <li>Before update, make the Router unreachable.</li>
        <li>After update, make the Router reachable.</li>
      </ul>
    </li>
    <li>On single Message Processor node:
      <ul>
        <li>Before update, make the Message Processor unreachable.</li>
        <li>After update, make the Message Processor reachable.</li>
      </ul>
    </li>
  </ul>

  <h2 id="usingasilentconfigurationfile">Using a silent configuration file</h2>

  <p>You must pass a silent configuration file to the update command. The silent configuration file
  should be the same one you used to install Edge 4.18.0x.</p>

  <h2 id="procedureforupdatingto41805onanodewithanexternalinternetconnection">Update to
  {{cur_version}} on a node with an external internet connection</h2>

  <p>Use the following procedure to update the Edge components on a node:</p>

  <ol>
    <li>If present, disable any CRON jobs configured to perform a repair operation on Cassandra
    until after the update completes.</li>
    <li>Log in to your node as root to install the Edge RPMs.
      <aside class="note"><strong>Note</strong>: While RPM installation requires root access, you can
      perform Edge configuration without root access.</aside>
    </li>
    <li>Install <code>yum-utils</code> and <code>yum-plugin-priorities</code>:
      <pre class="devsite-terminal">sudo yum install yum-utils
<code class="devsite-terminal">sudo yum install yum-plugin-priorities</code></pre>
    </li>
    <li>Disable SELinux as described in <a href="install-edge-apigee-setup-utility">Install
      the Edge apigee-setup utility</a>.</li>
    <li><strong>If you are installing on Oracle 7.x</strong>, run the following command:
      <pre class="devsite-terminal">sudo yum-config-manager --enable ol7_optional_latest</pre>
    </li>
    <li><strong>If you are installing on AWS</strong>, run the following
      <code>yum-configure-manager</code> commands:
      <pre class="devsite-terminal">yum update rh-amazon-rhui-client.noarch
<code class="devsite-terminal">sudo yum-config-manager --enable rhui-REGION-rhel-server-extras rhui-REGION-rhel-server-optional</code></pre>
    </li>
    <li>Download the Edge {{cur_version}} <code>bootstrap_{{cur_version}}.sh</code> file to
      <code>/tmp/bootstrap_{{cur_version}}.sh</code>:
      <pre class="devsite-terminal">curl https://software.apigee.com/bootstrap_{{cur_version}}.sh -o /tmp/bootstrap_{{cur_version}}.sh</pre>
    </li>
    <li>Install the Edge {{cur_version}} <code>apigee-service</code> utility and dependencies:
      <pre class="devsite-terminal">sudo bash /tmp/bootstrap_{{cur_version}}.sh apigeeuser=<var>uName</var> apigeepassword=<var>pWord</var></pre>
      <p>Where <var>uName:pWord</var> are the username and password you received from Apigee. If you
      omit <var>pWord</var>, you will be prompted to enter it.</p>
      <p>By default, the installer checks to see that you have Java 1.8 installed. If you do not, it
      installs it for you. Use the <code>JAVA_FIX</code> option to specify how to handle Java
      installation. <code>JAVA_FIX</code> takes the following values:</p>
      <ul>
        <li><code>I</code>: Install OpenJDK 1.8 (default).</li>
        <li><code>C</code>: Continue without installing Java.</li>
        <li><code>Q</code>: Quit. For this option, you must install Java yourself.</li>
      </ul>
    </li>
    <li>Use <code>apigee-service</code> to update the <code>apigee-setup</code> utility:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-setup update</pre>
    </li>
    <li>Update the <code>apigee-validate</code> utility on the Management Server:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-validate update</pre>
    </li>
    <li>Update the <code>apigee-provision</code> utility:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-provision update</pre>
    </li>
    <li>Run the <code>update</code> utility on your nodes in the order described in
      <a href="#orderofmachineupdate">Order of machine update</a>:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c <var>component</var> -f <var>configFile</var></pre>
      <p>Where <var>component</var> is the Edge component to update. Possible values include:</p>
      <ul>
        <li>"cs": Cassandra</li>
        <li>"edge": All Edge components except Edge UI: Management Server, Message Processor, Router,
          QPID Server, Postgres Server</li>
        <li>"ldap": OpenLDAP</li>
        <li>"ps": postgresql</li>
        <li>"qpid": qpidd</li>
        <li>"sso": Edge SSO (if you installed SSO)</li>
        <li>"ui": Edge UI</li>
        <li>"zk": Zookeeper</li>
      </ul>
      <p>And <var>configFile</var> is the same configuration file that you used to
      <a href="install-edge-components-node#installedgecomponents">define your Edge components</a>
      during the 4.18.0x installation.</p>
      <aside class="note"><strong>NOTE:</strong> The configuration file must be readable by the
        "apigee" user. To change the owner, use the following command:
        <pre class="devsite-terminal">chown apigee:apigee <var>configFile</var></pre>
      </aside>
      <p>You can run <code>update.sh</code> against all components by setting <var>component</var> to "all", but
      only if you have an Edge all-in-one (aio) installation profile. For example:</p>
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh <strong>-c all</strong> -f ./sa_silent_config</pre>
    </li>
    <li>Restart the Edge UI component on all nodes running it, if you haven't done so already:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui restart</pre>
    </li>
    <li>Test the update by running the <code>apigee-validate</code> utility on the Management
      Server, as described in <a href="test-install">Test the install</a>.</li>
  </ol>

  <p>If you later decide to roll back the update, use the procedure described in
  <a href="rollback-41901">Roll back {{cur_version}}</a>.</p>

  <h2 id="procedureforupdatingto41805fromalocalrepo">Update to {{cur_version}} from a local repo</h2>

  <p>If your Edge nodes are behind a firewall, or in some other way are prohibited from accessing
  the Apigee repository over the Internet, then you can perform the update from a local repository,
  or mirror, of the Apigee repo. </p>

  <p>After you create a local Edge repository, you have two options for updating Edge from the
  local repo:</p>

  <ul>
    <li>Create a .tar file of the repo, copy the .tar file to a node, and then update Edge from the
      .tar file.</li>
    <li>Install a webserver on the node with the local repo so that other nodes can access it.
      Apigee provides the Nginx webserver for you to use, or you can use your own
      webserver.</li>
  </ul>

  <p>To update from a local {{cur_version}} repo:</p>

  <ol>
    <li>Create a local {{cur_version}} repo as described in "Create a local Apigee repository" at
      <a href="install-edge-apigee-setup-utility">Install the Edge apigee-setup utility</a>.
      <aside class="note"><strong>Note</strong>: If you already have an existing repo, you
      can add the {{cur_version}} repo to it as described in "Update a local Apigee repository" at
      <a href="install-edge-apigee-setup-utility">Install the Edge apigee-setup utility</a>.</aside>
    </li>
    <li><strong>To install apigee-service from a .tar file</strong>:
      <ol>
        <li>On the node with the local repo, use the following command to package the local repo
          into a single .tar file named <code>/opt/apigee/data/apigee-mirror/apigee-{{cur_version}}.tar.gz</code>:
          <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-mirror package</pre>
        </li>
        <li>Copy the .tar file to the node where you want to update Edge. For example, copy it to
          the <code>/tmp</code> directory on the new node.</li>
        <li>On the new node, untar the file to the <code>/tmp</code> directory:
          <pre class="devsite-terminal">tar -xzf apigee-{{cur_version}}.tar.gz</pre>
          <p>This command creates a new directory, named <code>repos</code>, in the directory
          containing the .tar file. For example <code>/tmp/repos</code>.</p>
        </li>
        <li>Install the Edge <code>apigee-service</code> utility and dependencies from
          <code>/tmp/repos</code>:
          <pre class="devsite-terminal">sudo bash /tmp/repos/bootstrap_{{cur_version}}.sh apigeeprotocol="file://" apigeerepobasepath=/tmp/repos</pre>
          <p>Notice that you include the path to the repos directory in this command.</p>
        </li>
      </ol>
    </li>
    <li><strong>To install apigee-service using the Nginx webserver:</strong>
      <ol>
        <li>Configure the Nginx web server as described in "Install from the repo using the Nginx
          webserver" at <a href="install-edge-apigee-setup-utility">Install the Edge
          apigee-setup utility</a>.</li>
        <li>On the remote node, download the Edge <code>bootstrap_{{cur_version}}.sh</code> file to
          <code>/tmp/bootstrap_{{cur_version}}.sh</code>:
          <pre class="devsite-terminal">/usr/bin/curl http://<var>uName:pWord</var>@<var>remoteRepo</var>:3939/bootstrap_{{cur_version}}.sh -o /tmp/bootstrap_{{cur_version}}.sh</pre>
          <p>Where <var>uName:pWord</var> are the username and password you set previously for
          the repo, and <var>remoteRepo</var> is the IP address or DNS name of the repo node.</p>
        </li>
        <li>On the remote node, install the Edge <code>apigee-setup</code> utility and dependencies:
          <pre class="devsite-terminal">sudo bash /tmp/bootstrap_{{cur_version}}.sh apigeerepohost=<var>remoteRepo</var>:3939 apigeeuser=<var>uName</var> apigeepassword=<var>pWord</var> apigeeprotocol=http://</pre>
          <p>Where <var>uName:pWord</var> are the repo username and password.</p>
        </li>
      </ol>
    </li>
    <li>Use <code>apigee-service</code> to update the <code>apigee-setup</code> utility:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-setup update </pre>
    </li>
    <li>Update the <code>apigee-validate</code> utility on the Management Server.
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-validate update</pre>
    </li>
    <li>Update the <code>apigee-provision</code> utility:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-provision update</pre>
    </li>
    <li>Run the <code>update</code> utility on your nodes in the order described in
      <a href="#orderofmachineupdate">Order of machine update</a>:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c <var>component</var> -f <var>configFile</var></pre>
      <p>Where:
      <ul>
        <li><var>component</var> is the Edge component to update. You typically update the
        following components:
          <ul>
            <li>"cs": Cassandra</li>
            <li>"edge": All Edge components except Edge UI. The "edge" component includes the Management
              Server, Message Processor, Router, QPID Server, and Edge Postgres Server.</li>
            <li>"ldap": OpenLDAP</li>
            <li>"ps": postgresql</li>
            <li>"qpid": qpidd</li>
            <li>"sso": Edge SSO (if you installed SSO)</li>
            <li>"ui": Edge UI</li>
            <li>"zk": Zookeeper</li>
          </ul>
        <li><var>configFile</var> is the same configuration file that you used to
          <a href="install-edge-components-node#installedgecomponents">define your Edge components</a>
          during the 4.18.0x installation.
          <aside class="note"><strong>NOTE:</strong> The configuration file must be readable by the
          "apigee" user. To change the owner, use the following command:
          <pre class="devsite-terminal">chown apigee:apigee <var>configFile</var></pre>
          </aside>
        </li>
      </ul>
      <p>You can run <code>update.sh</code> against all components by setting <var>component</var>
      to "all", but only if you have an Edge all-in-one (AIO) installation profile. For example:</p>
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh <strong>-c all</strong> -f /tmp/sa_silent_config</pre>
    </li>
    <li>Restart the Edge UI component on all nodes running it, if you haven't done so already:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui restart</pre>
    </li>
    <li>Test the update by running the <code>apigee-validate</code> utility on the Management
      Server, as described in <a href="test-install">Test the install</a>.</li>
  </ol>

  <p>If you later decide to roll back the update, use the procedure described in
  <a href="rollback-41901">Roll back {{cur_version}}</a>.</p>

  <h2 id="orderofmachineupdate">Order of machine update</h2>

  <p>The order that you update the machines in an Edge installation is important:</p>

  <ul>
    <li>You must update <strong>all</strong> Cassandra and ZooKeeper nodes before you update any
      other nodes.</li>
    <li>For any machine with multiple Edge components (Management Server, Message Processor,
      Router, QPID Server but not Postgres Server), use the <code>-c edge</code> option to update
      them all at the same time. </li>
    <li>If a step specifies that it should be performed on multiple machines, perform it in the
      specified machine order.</li>
    <li>There is no separate step to update Monetization. It is updated when you specify the
      <code>-c edge</code> option.</li>
  </ul>

  <aside class="note"><strong>Note:</strong> After you update the Edge UI component, you must
  restart the Edge UI service, as described in the update installation instructions.</aside>

  <h3 id="orderofmachineupdate-fora1hoststandaloneinstallation">1-node standalone upgrade</h3>

  <p><strong>To upgrade a 1-node standalone configuration to {{cur_version}}:</strong></p>

  <ol>
    <li>Update all components:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c all -f <var>configFile</var></pre>
    </li>
  </ol>

  <h3 id="orderofmachineupdate-fora2hoststandaloneinstallation">2-node standalone upgrade</h3>

  <p>Update the following components for a 2-node standalone installation:</p>
  <p>See {{topologies}} for the list of Edge topologies and node numbers.</p>

  <ol>
    <li>Update Cassandra and ZooKeeper on machine 1:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c cs,zk -f <var>configFile</var></pre>
    </li>
    <li>Update Qpid and Postgres on machine 2:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c qpid,ps -f <var>configFile</var></pre>
    </li>
    <li>Update LDAP on machine 1:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ldap -f <var>configFile</var></pre>
    </li>
    <li>Update Edge components on machine 2 and 1:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c edge -f <var>configFile</var></pre>
    </li>
    <li>Update UI on machine 1:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ui -f <var>configFile</var></pre>
    </li>
    <li><em>(If you installed Edge SSO)</em> Update Edge SSO on machine 1:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c sso -f <var>sso_config_file</var></pre>
      <p>Where <var>sso_config_file</var> is the configuration file you created when you
      <a href="install-and-configure-edge-sso">installed SSO</a>.</p>
    </li>
    <li>Restart the Edge UI component on machine 1:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui restart</pre>
    </li>
  </ol>

  <h3 id="orderofmachineupdate-fora5hostclusteredinstallation">5-node upgrade</h3>

  <p>Update the following components for a 5-node installation:</p>

  <p>See {{topologies}} for the list of Edge topologies and node numbers.</p>

  <ol>
    <li>Update Cassandra and ZooKeeper on machine 1, 2, and 3:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c cs,zk -f <var>configFile</var></pre>
    </li>
    <li>Update Qpid and Postgres on machine 4:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c qpid, ps -f <var>configFile</var></pre>
    </li>
    <li>Update Qpid and Postgres on machine 5:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c qpid, ps -f <var>configFile</var></pre>
    </li>
    <li>Update LDAP on machine 1:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ldap -f <var>configFile</var></pre>
    </li>
    <li>Update Edge components on machine 4, 5, 1, 2, 3:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c edge -f <var>configFile</var></pre>
    </li>
    <li>Update UI on machine 1:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ui -f <var>configFile</var></pre>
    </li>
    <li><em>(If you installed Edge SSO)</em> Update Edge SSO on machine 1:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c sso -f <var>sso_config_file</var></pre>
      <p>Where <var>sso_config_file</var> is the configuration file you created when you
      <a href="install-and-configure-edge-sso">installed SSO</a>.</p>
    </li>
    <li>Restart the Edge UI component on machine 1:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui restart</pre>
    </li>
  </ol>

  <h3 id="orderofmachineupdate-fora9hostclusteredinstallation">9-node clustered upgrade</h3>

  <p>Update the following components for a 9-node clustered installation:</p>

  <p>See {{topologies}} for the list of Edge topologies and node numbers.</p>

  <ol>
    <li>Update Cassandra and ZooKeeper on machine 1, 2, and 3:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c cs,zk -f <var>configFile</var></pre>
    </li>
    <li>Update Qpid on machines 6 and 7:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c qpid -f <var>configFile</var></pre>
    </li>
    <li>Update Postgres on machine 8:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ps -f <var>configFile</var></pre>
    </li>
    <li>Update Postgres on machine 9:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ps -f <var>configFile</var></pre>
    </li>
    <li>Update LDAP on machine 1:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ldap -f <var>configFile</var></pre>
    </li>
    <li>Update Edge components on machine 6, 7, 8, 9, 1, 4, and 5 in that order:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c edge -f <var>configFile</var></pre>
    </li>
    <li>Update UI on machine 1:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ui -f <var>configFile</var></pre>
    </li>
    <li><em>(If you installed Edge SSO)</em> Update Edge SSO on machine 1:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c sso -f <var>sso_config_file</var></pre>
      <p>Where <var>sso_config_file</var> is the configuration file you created when you
      <a href="install-and-configure-edge-sso">installed SSO</a>.</p>
    </li>
    <li>Restart the Edge UI component on machine 1:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui restart</pre>
    </li>
  </ol>

  <h3 id="orderofmachineupdate-fora13hostclusteredinstallation">13-node clustered upgrade</h3>

  <p>Update the following components for a 13-node clustered installation:</p>

  <p>See {{topologies}} for the list of Edge topologies and node numbers.</p>

  <ol>
    <li>Update Cassandra and ZooKeeper on machines 1, 2, and 3:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c cs,zk -f <var>configFile</var></pre>
    </li>
    <li>Update Qpid on machines 12 and 13:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c qpid -f <var>configFile</var></pre>
    </li>
    <li>Update Postgres on machine 8:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ps -f <var>configFile</var></pre>
    </li>
    <li>Update Postgres on machine 9:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ps -f <var>configFile</var></pre>
    </li>
    <li>Update LDAP on machine 4 and 5:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ldap -f <var>configFile</var></pre>
    </li>
    <li>Update Edge components on machines 12, 13, 8, 9, 6, 7, 10, and 11 in that order:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c edge -f <var>configFile</var></pre>
    </li>
    <li>Update UI on machines 6 and 7:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ui -f <var>configFile</var></pre>
    </li>
    <li><em>(If you installed Edge SSO)</em> Update Edge SSO on machines 6 and 7:
      <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c sso -f <var>sso_config_file</var></pre>
      <p>Where <var>sso_config_file</var> is the configuration file you created when you
      <a href="install-and-configure-edge-sso">installed SSO</a>.</p>
    </li>
    <li>Restart the Edge UI component on machines 6 and 7:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui restart</pre>
    </li>
  </ol>

  <h3 id="orderofmachineupdate-fora12hostclusteredinstallation">12-node clustered upgrade</h3>

  <p>Update the following components for a 12-node clustered installation:</p>

  <p>See {{topologies}} for the list of Edge topologies and node numbers.</p>

  <ol>
    <li>Update Cassandra and ZooKeeper:
      <ol>
        <li>On machines 1, 2 and 3 in Data Center 1:
          <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c cs,zk -f <var>configFile</var></pre>
        </li>
        <li>On machines 7, 8, and 9 in Data Center 2
          <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c cs,zk -f <var>configFile</var></pre>
        </li>
      </ol>
    </li>
    <li>Update qpidd:
      <ol>
        <li>Machines 4, 5 in Data Center 1
          <ol>
            <li>Update <code>qpidd</code> on machine 4:
              <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c qpid -f <var>configFile</var></pre>
            </li>
            <li>Update <code>qpidd</code> on machine 5:
              <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c qpid -f <var>configFile</var></pre>
            </li>
          </ol>
        </li>
        <li>Machines 10, 11 in Data Center 2
          <ol>
            <li>Update <code>qpidd </code>on machine 10:
              <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c qpid -f <var>configFile</var></pre>
            </li>
            <li>Update <code>qpidd </code>on machine 11:
              <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c qpid -f <var>configFile</var></pre>
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li>Update Postgres:
      <ol>
        <li>Machine 6 in Data Center 1
          <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ps -f <var>configFile</var></pre>
        </li>
        <li>Machine 12 in Data Center 2
          <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ps -f <var>configFile</var></pre>
        </li>
      </ol>
    </li>
    <li>Update LDAP:
      <ol>
        <li>Machine 1 in Data Center 1
          <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ldap -f <var>configFile</var></pre>
        </li>
        <li>Machine 7 in Data Center 2
          <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ldap -f <var>configFile</var></pre>
        </li>
      </ol>
    </li>
    <li>Update Edge components:
      <ol>
        <li>Machines 4, 5, 6, 1, 2, 3 in Data Center 1
          <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c edge -f <var>configFile</var></pre>
        </li>
        <li>Machines 10, 11, 12, 7, 8, 9 in Data Center 2
          <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c edge -f <var>configFile</var></pre>
        </li>
      </ol>
    </li>
    <li>Update UI:
      <ol>
        <li>Machine 1 in Data Center 1:
          <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ui -f <var>configFile</var></pre>
        </li>
        <li>Machine 7 in Data Center 2:
          <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c ui -f <var>configFile</var></pre>
        </li>
        <li>Restart the Edge UI component on machines 1 and 7:
          <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service edge-ui restart</pre>
        </li>
      </ol>
    </li>
    <li><em>(If you installed Edge SSO)</em> Update Edge SSO:
      <ol>
        <li>Machine 1 in Data Center 1:
          <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c sso -f <var>sso_config_file</var></pre>
        </li>
        <li>Machine 7 in Data Center 2:
          <pre class="devsite-terminal">/opt/apigee/apigee-setup/bin/update.sh -c sso -f <var>sso_config_file</var></pre>
        </li>
        <p>Where <var>sso_config_file</var> is the configuration file you created when you
        <a href="install-and-configure-edge-sso">installed SSO</a>.</p>
      </ol>
    </li>
  </ol>

  <h3 id="orderofmachineupdate-foranonstandardinstallation">For a non-standard configuration</h3>

  <p>If you have a non-standard configuration, then update Edge components in the following
  order:</p>
  <ol>
    <li>ZooKeeper</li>
    <li>Cassandra</li>
    <li>qpidd, ps</li>
    <li>LDAP</li>
    <li>Edge, meaning the "-c edge" profile on all nodes in the order: nodes with Qpid server,
      Edge Postgres Server, Management Server, Message Processor, and Router.
      <aside class="note"><strong>Note</strong>: If a node has both Qpid server and Edge Postgres
      Server installed, run the "-c edge" profile step.</aside>
    </li>
    <li>Edge UI</li>
    <li>Edge SSO</li>
  </ol>

  <p>After you finish updating, be sure to restart the Edge UI component on all machines running
  it.</p>

{% endblock %}
