{% extends "private-cloud/v4.19.01/_base.html" %}
{% block title %}Using the apigee-adminapi.sh utility{% endblock %}
{% block body %}

  <p>Use the <code>apigee-adminapi.sh</code> utility to perform the same Edge configuration tasks
  that you perform by making calls to the Edge management API. The advantage to the
  <code>apigee-adminapi.sh</code> utility is that it:</p>

  <ul>
    <li>Use a simple command-line interface </li>
    <li>Implements tab-based command completion</li>
    <li>Provides help and usage information</li>
    <li>Can display the corresponding API call if you decide to try the API</li>
  </ul>

  <p>The <code>apigee-adminapi.sh</code> utility is not a replacement for the
  <code>apigee-provision</code> utility. The <code>apigee-provision</code> utility actually uses the
  <code>apigee-adminapi.sh</code> utility to perform its tasks.</p>

  <p>The main differences between the two are:</p>

  <ul>
    <li>The <code>apigee-adminapi.sh</code> utility performs atomic functions that replace
      individual Edge API calls. For example, to create an organization, environment, and virtual
      host requires three separate <code>apigee-adminapi.sh</code> commands corresponding to three
      API calls.</li>
    <li>The <code>apigee-provision</code> utility is designed to perform a complete high-level
      operation in a single command. For example, you can create an organization, environment, and
      virtual host with a single <code>apigee-provision</code> command by passing a config file with
      all necessary information.</li>
  </ul>

  <p>The Edge documentation uses both utilities where appropriate.</p>

  <h2 id="installingapigeeadminapish">Installing apigee-adminapi.sh</h2>

  <p>The <code>apigee-adminapi.sh</code> utility is automatically installed when you install the
  <code>apigee-provision</code> or the <code>apigee-validate</code> utility.</p>

  <p>The utility is installed in the following location:</p>

  <pre class="prettyprint">/opt/apigee/apigee-adminapi/bin/apigee-adminapi.sh</pre>

  <h2 id="apigeeadminapishsyntax">/opt/apigee/apigee-adminapi/bin/apigee-adminapi.sh syntax</h2>

  <p>The <code>apigee-adminapi.sh</code> utility uses a simple command line syntax. At any time, use
  the tab key to display a prompt that lists the available command options.</p>

  <p>To see all possible commands, invoke the utility with no options:</p>
  <pre class="devsite-terminal">/opt/apigee/apigee-adminapi/bin/apigee-adminapi.sh</pre>

  <p>If you press the tab key after typing apigee-adminapi.sh, you will see the list of possible
  options:</p>

  <pre class="prettyprint">analytics  classification  logsessions  regions  securityprofile  userroles
buildinfo  GET             orgs         runtime  servers          users</pre>

  <p>The tab key displays options based on the context of the command. If you enter the tab key
  after typing:</p>

  <pre class="devsite-terminal">/opt/apigee/apigee-adminapi/bin/apigee-adminapi.sh orgs</pre>

  <p>You will see the possible options for completing the <code>orgs</code> command:</p>

  <pre class="prettyprint">add  apis  apps  delete  envs  list  pods  userroles</pre>

  <p>Use the <code>-h</code> option to display help for any command. For example, if you use the
  <code>-h</code> option as shown below:</p>
  <pre class="devsite-terminal">/opt/apigee/apigee-adminapi/bin/apigee-adminapi.sh orgs -h</pre>

  <p>The utility displays complete help information for all possible options to the
  <code>orgs</code> command. The first item in the output shows the help for the
  <code>orgs add</code> command:</p>
  <pre class="prettyprint">+++++++++++++++++++++++++++++++++++++++++++
orgs add
  Required:
    -o ORG Organization name
  Optional:
    -H HEADER add http header in request
    --admin ADMIN_EMAIL admin email address
    --pwd ADMIN_PASSWORD admin password
    --host EDGE_SERVER edge server to make request to
    --port EDGE_PORT port to use for the http request
    --ssl set EDGE_PROTO to https, defaults to http
    --debug ( set in debug mode, turns on verbose in curl )
    -h      Displays Help</pre>

  <h2 id="settingparametersusingcommandlineswitchesandenvironmentvariables">Setting parameters
  using command-line switches and environment variables</h2>

  <p>You must enter all parameters to a command by using either command-line switches, or by using
  environment variables. Prefix the command line switches with a single dash (-) or double dash
  (--) as required.</p>

  <aside class="note"><strong>Note:</strong> If you omit the sys admin password when entering a
  command, the <code>apigee-adminapi.sh</code> utility will prompt you for it. It will not prompt
  you for any other parameters.</aside>

  <p>For example, from the help show above for the the "orgs add" command, you can specify the
  organization name by either:</p>

  <ul>
    <li>Using the <code>-o</code> command line switch:
      <pre class="devsite-terminal">/opt/apigee/apigee-adminapi/bin/apigee-adminapi.sh orgs -o testOrg</pre>
    </li>
    <li>Setting an environment variable named <code>ORG</code>:
      <pre class="devsite-terminal">&gt; export ORG=testOrg
<code class="devsite-terminal">/opt/apigee/apigee-adminapi/bin/apigee-adminapi.sh orgs</code></pre>
    </li>
  </ul>
  <aside class="note"><strong>Note:</strong> You typically use environment variables to set
  <code>ADMIN_EMAIL</code> and <code>EDGE_SERVER</code>, and optionally
  <code>ADMIN_PASSWORD</code>. These parameters are used by most commands. The concern with setting
  other params, such as <code>ORG</code>, by using environment variables is that the setting might
  be correct for one command but could be incorrect for a subsequent command. For
  example, if you forget to reset the environment variable, you might inadvertently pass the wrong
  value to the next command.</aside>

  <p>If you omit any required parameters to the command, the utility displays an error message
  describing the missing parameters. For example, if you omit the <code>--host</code> or
  <code>EDGE_SERVER</code> environment variable specifying the Edge Management Server when creating
  an org, you see the following error message:</p>
  <pre class="prettyprint">Error with required variable or parameter
ADMIN_PASSWORD....OK
ADMIN_EMAIL....OK
<strong>EDGE_SERVER....null</strong></pre>

  <p>Two common parameters that you often set as environment variables are the sys admin email
  address and IP address of the Management Server: </p>
  <pre class="devsite-terminal">export ADMIN_EMAIL=foo@bar.com
<code class="devsite-terminal">export EDGE_SERVER=192.168.56.101</code></pre>

  <h2 id="passingafiletotheapigeeadminapishutility">Passing a file to the apigee-adminapi.sh
  utility</h2>

  <p>Some <code>apigee-adminapi.sh</code> utility commands
  correspond to PUT and POST API calls that take a request body. For example, creating a virtual
  host corresponds to a POST API call that requires information about the virtual host in the
  request body.</p>

  <p>When using the <code>apigee-adminapi.sh</code> utility to
  create a virtual host, or any command that takes a request body, you can pass all of the
  necessary information on the command line as shown below:</p>

  <pre class="devsite-terminal">/opt/apigee/apigee-adminapi/bin/apigee-adminapi.sh orgs envs virtual_hosts add -e prod -o testOrg --host localhost --admin foo@bar.com -v myVHostUtil -p 9005 -a 192.168.56.101:9005</pre>

  <p>Or, you can pass a file containing the same information as would be contained in the request
  body of the POST. For example, the following command takes a file defining the virtual host:</p>
  <pre class="devsite-terminal">/opt/apigee/apigee-adminapi/bin/apigee-adminapi.sh orgs envs virtual_hosts add -e prod -o testOrg --host localhost --admin foo@bar.com -f vhostcreate</pre>

  <p>Where the file <code>vhostcreate</code> contains the POST body of the call. In this example, it
  is a XML-formatted request body:</p>

  <pre class="prettyprint">&lt;VirtualHost name="myVHostUtil"&gt;
   &lt;HostAliases&gt;
     &lt;HostAlias&gt;192.168.56.101:9005&lt;/HostAlias&gt;
   &lt;/HostAliases&gt;
   &lt;Interfaces/&gt;
   &lt;Port&gt;9005&lt;/Port&gt;
&lt;/VirtualHost&gt;</pre>

  <h2 id="displayingdebugandapiinformation">Displaying debug and API information</h2>

  <p>Use the <code>--debug</code> option to the <code>apigee-adminapi.sh</code> utility to display
  detailed information about the command. This infomration includes the curl command generated by
  the <code>apigee-adminapi.sh</code> utility to perform the operation.</p>

  <p>For example, this command uses the <code>--debug</code> option:</p>

  <pre class="devsite-terminal">/opt/apigee/apigee-adminapi/bin/apigee-adminapi.sh orgs add -o testOrg2 --admin foo@bar.com --host localhost --debug</pre>

  <p>And displays the following output, including the generated curl command:</p>
  <pre class="prettyprint"><strong>curl -H Content-Type: application/xml -v -X POST     -s -k -w \n==&gt; %{http_code}
-u ***oo@bar.com:*****     http://localhost:8080/v1/o -d &lt;Organization name="testOrg2" 
type="paid"/&gt;</strong>
* About to connect() to localhost port 8080 (#0)
*   Trying ::1... connected
* Connected to localhost (::1) port 8080 (#0)
* Server auth using Basic with user 'foo@bar.com'
&gt; POST /v1/o HTTP/1.1
&gt; Authorization: Basic c2dp234234NvbkBhcGlnZ2342342342342341Q5
&gt; User-Agent: curl/7.19.7 (x86_64-redhat-linux-gnu) libcurl/7.19.7 NSS/3.19.1
Basic ECC zlib/1.2.3 libidn/1.18 libssh2/1.4.2
&gt; Host: localhost:8080
&gt; Accept: */*
&gt; Content-Type: application/xml
&gt; Content-Length: 43
&gt;
} [data not shown]
&lt; HTTP/1.1 201 Created
&lt; Content-Type: application/json
&lt; Date: Tue, 03 May 2016 02:08:32 GMT
&lt; Content-Length: 291
&lt;
{ [data not shown]
* Connection #0 to host localhost left intact
* Closing connection #0
</pre>

{% endblock %}
