{% extends "private-cloud/v4.19.01/_base.html" %}
{% block title %}Using apigee-ssoadminapi.sh{% endblock %}
{% block body %}

  <p>The Edge SSO module supports two types of accounts:</p>

  <ul>
    <li>administrator</li>
    <li>machine user</li>
  </ul>

  <p>The <code>apigee-ssoadminapi.sh</code> utility lets you manage the adminiatrator and machine
  users associated with the Edge SSO module.</p>

  <p>Use the the <code>apigee-ssoadminapi.sh</code> utility to:</p>
  <ul>
    <li>View the list of admin/machine users</li>
    <li>Add or delete admin/machine users</li>
    <li>Change the password of admin/machine users</li>
  </ul>

  <h2 id="aboutadministratorusers">About administrator users</h2>

  <p>An administrator account on the Edge SSO module is required to manage properties of the
  module.</p>

  <p>By default, when you install the Edge SSO module is creates an administrator account with the
  following credentials:</p>

  <ul>
    <li><strong>username</strong>: defined by the <code>SSO_ADMIN_NAME</code> property in the
      configuration file used to configure the Edge SSO module. The default is <code>ssoadmin.</code></li>
    <li><strong>password</strong>: defined by the <code>SSO_ADMIN_SECRET</code> property in the
      configuration file used to configure the Edge SSO module.</li>
  </ul>

  <h2 id="aboutmachineusers">About machine users</h2>

  <p>A machine user can obtain OAuth2 tokens without having to specify a passcode. That means you
  can completely automate the process of obtaining and refreshing OAuth2 tokens by using the Edge
  management API.</p>

  <p>You typically use machine users for:</p>

  <ul>
    <li>Configuring the {{portal_1st_use}} to communicate with Edge</li>
    <li>When development environment support automation for common development tasks, such as test
      automation or Continuous Integration/Continuous Deployment (CI/CD).</li>
  </ul>

  <p>For more, see <a href="using-saml-automated-tasks">Using SAML with automated tasks</a>.</p>

  <h2 id="installingapigeessoadminapish">Installing apigee-ssoadminapi.sh</h2>

  <p>Install the <code>apigee-ssoadminapi.sh</code> utility on the Edge Management Server node where
  you installed the Edge SSO module. Typically you install the
  <code>apigee-ssoadminapi.sh</code> utility when you install the Edge SSO module.</p>

  <p>If you have not yet installed the <code>apigee-ssoadminapi.sh</code> utility:</p>

  <ol>
    <li>Log in to the Management Server node. That node should already have
      <code>apigee-service</code> installed as described at
      <a href="install-edge-apigee-setup-utility">Install the Edge apigee-setup
      utility</a>.</li>
    <li>Install the <code>apigee-ssoadminapi.sh</code> utility used to manage admin and machine users
      for the Edge SSO module:
      <pre class="devsite-terminal">/opt/apigee/apigee-service/bin/apigee-service apigee-ssoadminapi install</pre>
    </li>
    <li>Log out of the shell, and then log back in again to add the
      <code>apigee-ssoadminapi.sh</code> utility to your path.</li>
  </ol>

  <h2 id="viewinghelpinformationfortheapigeessoadminapish">Viewing help information for the
  apigee-ssoadminapi.sh</h2>

  <p>The available commands for the utility are:</p>

  <ul>
    <li><code>admin add</code></li>
    <li><code>admin delete</code></li>
    <li><code>admin list</code></li>
    <li><code>admin setpassword</code></li>
    <li><code>saml machineuser add</code></li>
    <li><code>saml machineuser delete</code></li>
    <li><code>aaml machineuser list</code></li>
    <li><code>saml machineuser setpassword</code></li>
  </ul>

  <p>You can view information about these commands in the
  <code>/opt/apigee/apigee-ssoadminapi/README.md</code>
  file. Additionally, you can specify the "-h" option to each command to view usage information.</p>

  <p>For example, the following command:</p>

  <pre class="devsite-terminal">apigee-ssoadminapi.sh admin list -h</pre>

  <p>Returns:</p>

  <pre class="prettyprint">
admin list
  --admin SSOADMIN_CLIENT_NAME      Name of the client having administrative privilege on sso
  --secret SSOADMIN_CLIENT_SECRET   Secret/Password for the client
  --host SSO_HOST                   Hostname of SSO server to connect
  --port SSO_PORT                   Port to use during request
  --ssl SSO_URI_SCHEME              Set to https, defaults to http
  --debug                           Set in debug mode, turns on verbose in curl
  -h                                Displays Help
</pre>

  <h2 id="invokingtheapigeessoadminapishutility">Invoking the apigee-ssoadminapi.sh utility</h2>

  <p>You can invoke the <code>apigee-ssoadminapi.sh</code> utility by passing all
  properties as command line arguments, or in interactive mode by responding to prompts.</p>

  <p>For example, to specify all required information on the command line to see the list of admin
  users:</p>

  <pre class="devsite-terminal">apigee-ssoadminapi.sh admin list --admin <var>ssoadmin</var> --secret <var>Secret123</var> --host <var>35.197.94.184</var></pre>

  <p>Returns:</p>

  <pre class="prettyprint">
[
  {
    "client_id": "ssoadmin",
    "access_token_validity": 300
  }
]
</pre>

  <p>If you omit any required information, such as the admin password, you are prompted.</p>

  <p>In this example, you omit the values for <code>--port</code> and <code>--ssl</code> because
  the Edge SSO module uses the default values of 9099 for <code>--port</code> and http for
  <code>--ssl</code>. If your installation does not use these defaults, specify them:</p>

  <pre class="devsite-terminal">apigee-ssoadminapi.sh admin list --admin <var>ssoadmin</var> --secret <var>Secret123</var>
  --host <var>35.197.94.184</var> --port <var>9443</var> --ssl <var>https</var></pre>

  <p>Alternatively, use the interactive form where you are prompted for all information:</p>

  <pre class="devsite-terminal">apigee-ssoadminapi.sh admin list</pre>

  <p>You are then prompted for all required information:</p>
  <pre class="prettyprint">SSO admin name (current): ssoadmin
SSO Admin secret (current):
SSO host: 35.197.94.184
</pre>

{% endblock %}
