{% extends "private-cloud/v4.18.05/_base.html" %}
{% block title %}Viewing pod details{% endblock %}
{% block body %}

  <p>You can use the following API call to view server registration details at the end of the
  installation for each pod. This is a useful monitoring tool.</p>

  <pre class="devsite-terminal">curl -u <var>adminEmail:pword</var> http://<var>ms_IP</var>:8080/v1/servers?pod=<var>podName</var></pre>

  <p>Where <var>ms_IP</var> is the IP address or DNS name of the Management Server, and
  <var>podName</var> is one of the following:</p>
  <ul>
    <li><code>gateway</code></li>
    <li><code>central</code></li>
    <li><code>analytics</code></li>
  </ul>

  <p>For example, for the "gateway" pod:</p>

  <pre class="devsite-terminal">curl -u <var>adminEmail:pword</var> http://<var>ms_IP</var>:8080/v1/servers?pod=gateway</pre>

  <p>You see output in the form:</p>
  <pre class="prettyprint">
[ {
  "externalHostName" : "localhost",
  "externalIP" : "192.168.1.11",
  "internalHostName" : "localhost",
  "internalIP" : "192.168.1.11",
  "isUp" : true,
  "pod" : "gateway",
  "reachable" : true,
  "region" : "dc-1",
  "tags" : {
    "property" : [ {
      "name" : "jmx.rmi.port",
      "value" : "1101"
    }, ... ]
  },
  "type" : [ "message-processor" ],
  "uUID" : "276bc250-7dd0-46a5-a583-fd11eba786f8"
}, 
{
  "internalIP" : "192.168.1.11",
  "isUp" : true,
  "pod" : "gateway",
  "reachable" : true,
  "region" : "dc-1",
  "tags" : {
    "property" : [ ]
  },
  "type" : [ "dc-datastore", "management-server", "cache-datastore", "keyvaluemap-datastore", "counter-datastore", "kms-datastore" ],
  "uUID" : "13cee956-d3a7-4577-8f0f-1694564179e4"
}, 
{
  "externalHostName" : "localhost",
  "externalIP" : "192.168.1.11",
  "internalHostName" : "localhost",
  "internalIP" : "192.168.1.11",
  "isUp" : true,
  "pod" : "gateway",
  "reachable" : true,
  "region" : "dc-1",
  "tags" : {
    "property" : [ {
      "name" : "jmx.rmi.port",
      "value" : "1100"
    }, ... ]
  },
  "type" : [ "router" ],
  "uUID" : "de8a0200-e405-43a3-a5f9-eabafdd990e2"
} ]
</pre>

<p>For more information about pods, see <a href="about-planets-regions-pods-organizations-environments-and-virtual-hosts">About
planets, regions, pods, organizations, environments and virtual hosts</a>.</p>

{% endblock %}
