  {% extends "private-cloud/v4.18.01/_base.html" %} {% block title %}What to Monitor{% endblock %}
  {% block body %}

  <p>Generally in a production setup, there is a need to enable monitoring mechanisms within an
  Apigee Edge for Private Cloud deployment. These monitoring techniques warn the network
  administrators (or operators) of an error or a failure. Every error generated is reported as an
  alert in Apigee Edge. For more information on alerts, see <a href=
  "monitoring-best-practices.html">Monitoring Best Practices</a>.</p>

  <p>For ease, Apigee components are classified mainly into two categories:</p>

  <ul>
    <li><strong>Apigee-specific Java Server Services</strong> &#8211; These include Management
    Server, Message Processor, Qpid Server, and Postgres Server.</li>

    <li><strong>Third-party Services</strong> &#8211; These include Nginx Router, Apache Cassandra,
    Apache ZooKeeper, OpenLDAP, PostgresSQL database, and Qpid.</li>
  </ul>

  <p>In an on-premise deployment of Apigee Edge, the following table provides a quick glance into
  the parameters that you can monitor:</p>

  <table>
    <thead>
      <tr>
        <th colspan="2">
          <p><strong>Component</strong></p>
        </th>

        <th>
          <p><strong>System  Checks</strong></p>
        </th>

        <th>
          <p><strong>Process-Level  Stats</strong></p>
        </th>

        <th>
          <p><strong>API-Level Checks</strong></p>
        </th>

        <th>
          <p><strong>Message Flow Checks</strong></p>
        </th>

        <th>
          <p><strong>Component Specific</strong></p>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td rowspan="4">
          <p>Apigee-specific Java Services</p>
        </td>

        <td>
          <p>Management Server</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td> </td>

        <td> </td>
      </tr>

      <tr>
        <td>
          <p>Message Processor</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td> </td>
      </tr>

      <tr>
        <td>
          <p>Qpid Server</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td> </td>

        <td> </td>
      </tr>

      <tr>
        <td>
          <p>Postgres Server</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td> </td>

        <td> </td>
      </tr>

      <tr>
        <td rowspan="6">
          <p>Third-party Services</p>
        </td>

        <td>
          <p>Apache Cassandra</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td> </td>

        <td> </td>

        <td> </td>

        <td>
          <p>?</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>Apache ZooKeeper</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td> </td>

        <td> </td>

        <td> </td>

        <td>
          <p>?</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>OpenLDAP</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td> </td>

        <td> </td>

        <td> </td>

        <td>
          <p>?</p>
        </td>
      </tr>

      <tr>
        <td>
          <p>PostgreSQL database</p>
        </td>

        <td>
          <p>?</p>
        </td>

        <td> </td>

        <td> </td>

        <td> </td>

        <td>
          <p>?</p>
        </td>
      </tr>

      <tr>
        <td style="height:28px;">
          <p>Qpid</p>
        </td>

        <td style="height:28px;">
          <p>?</p>
        </td>

        <td style="height:28px;"> </td>

        <td style="height:28px;"> </td>

        <td style="height:28px;"> </td>

        <td style="height:28px;">
          <p>?</p>
        </td>
      </tr>

      <tr>
        <td style="height:28px;">
          <p>Nginx Router</p>
        </td>

        <td style="height:28px;">
          <p>?</p>
        </td>

        <td style="height:28px;">
          <p>?</p>
        </td>

        <td style="height:28px;"> </td>

        <td style="height:28px;">
          <p>?</p>
        </td>

        <td style="height:28px;"> </td>
      </tr>
    </tbody>
  </table>

  <p>In general, after Apigee Edge has been installed, you can perform the following monitoring
  tasks to track the performance of an Apigee Edge for Private Cloud installation.</p>

  <p><img alt="" src="/private-cloud/images/whatToMonitor.png"></p>

  <h2 id="systemhealthchecks">System health checks</h2>

  <p>It is very important to measure the system health parameters such as CPU utilization, memory
  utilization and port connectivity at a higher level. You can monitor the following parameters to
  get the basics of system health.</p>

  <ul>
    <li><strong>CPU Utilization</strong> &#8211; Specifies the basic statistics (User/System/IO
    Wait/Idle) about the CPU utilization. For example, total CPU used by the system. </li>

    <li><strong>Free/Used Memory</strong> &#8211; Specifies the system memory utilization as bytes.
    For example, physical memory used by the system.</li>

    <li><strong>Disk Space Usage</strong> &#8211; Specifies the file system information based on
    the current disk usage. For example, hard disk space used by the system.</li>

    <li><strong>Load Average</strong> &#8211; Specifies the number of processes waiting to
    run.</li>

    <li><strong>Network Statistics</strong> &#8211; Network packets and/or bytes transmitted and
    received, along with the transmission errors about a specified component.</li>
  </ul>

  <h2 id="processesapplicationchecks">Processes/Application checks</h2>

  <p>At the process level, you can view important information about all the processes that are
  running. For example, these include memory and CPU usage statistics that a process or application
  utilizes. For processes like qpidd, postgres postmaster, java and so on, you can monitor the
  following:</p>

  <ul>
    <li><strong>Process identification</strong>: Identify a particular Apigee process. For example,
    you can monitor for the existence of an Apigee server java process.</li>

    <li><strong>Thread statistics</strong>: View the underlying threading patterns that a process
    uses. For example, you can monitor peak thread count, thread count for all the processes.</li>

    <li><strong>Memory utilization</strong>: View the memory usage for all the Apigee processes.
    For example, you can monitor the parameters like heap memory usage, non-heap memory usage used
    by a process.</li>
  </ul>

  <h2 id="apilevelchecks">API-level checks</h2>

  <p>At the API level, you can monitor whether server is up and running for frequently used API
  calls proxied by Apigee. For example, you can perform API check on the Management Server, Router,
  and Message Processor by invoking the following cURL command:</p>
  <pre class="prettyprint">
curl http://&lt;host&gt;:&lt;port&gt;/v1/servers/self/up
</pre>

  <p>Where <span style="font-family:courier new,courier,monospace;">&lt;host&gt;</span> is the IP
  address of the Apigee Edge component. The &lt;port&gt; number is specific to each Edge component.
  For example:</p>

  <p>Management Server: 8080</p>

  <ul>
    <li>Router: 8081</li>

    <li>Message Processor: 8082</li>

    <li>etc.</li>
  </ul>

  <p>See the individual sections below for information on running this command for each
  component </p>

  <p>This call returns the "true" and "false". For best results, you can also issue API calls
  directly on the backend (with which Apigee software interacts) in order to quickly determine
  whether an error exists within the Apigee software environment or on the backend. </p>

  <p>Note: To monitor your API proxies, you can also use Apigee's API Health. API Health makes
  scheduled calls to your API proxies and notifies you when they fail and how. When calls succeed,
  API Health shows you response times and can even notify you when response latency is high. API
  Health can make calls from different locations around the world to compare API behavior between
  regions.</p>

  <h2 id="messageflowchecks">Message flow checks</h2>

  <p>You can collect data from Routers and Message Processors about message flow
  pattern/statistics. This allows you to monitor the following:</p>

  <ul>
    <li>Number of active clients</li>

    <li>Number of responses (10X, 20X, 30X, 40X and 50X)</li>

    <li>Connect failures</li>
  </ul>

  <p>This helps you to provide dashboards for the API message flow. For more, see:</p>

  <ul>
    <li><a href="how-monitor.html">How to Monitor</a> for the Message Procesor</li>

    <li><a href="apigee-monitoring-dashboard-overview.html">Apigee Monitoring Dashboard Beta
    Overview</a> for the Router</li>
  </ul>

  <h2 id="routerhealthcheckofthemessageprocesser">Router health check of the Message
  Processer </h2>

  <p>The Router implements a health check mechanism to determine which of the Message Processors
  are working as expected. If a Message Processor is detected as down or slow, the Router can
  automatically take the Message Processor out of rotation. If that happens, the Router writes a
  "Mark Down" messages to the Router log file at <span style=
  "font-family: &quot;courier new&quot;, courier, monospace;">/opt/apigee/var/log/edge-router/logs/system.log</span>. </p>

  <p>You can monitor the Router log file for these messages. For example, if the Router takes a
  Message Processor out of rotation, it writes message to the log in the form:</p>
  <pre class="prettyprint">
2014-05-06 15:51:52,159 org: env: RPCClientClientProtocolChildGroup-RPC-0 INFO CLUSTER - ServerState.setState() : State of 2a8a0e0c-3619-416f-b037-8a42e7ad4577 is now DISCONNECTED. handle = <em><strong>&lt;MP_IP&gt;</strong></em> at 1399409512159

2014-04-17 12:54:48,512 org: env: nioEventLoopGroup-2-2 INFO HEARTBEAT - HBTracker.gotResponse() : No HeartBeat detected from /<em><strong>&lt;MP_IP&gt;:&lt;PORT&gt;</strong></em> Mark Down
</pre>

  <p>where <em><strong>/&lt;MP_IP&gt;:&lt;PORT&gt;</strong></em> is the IP address and
  port number of the Message Processor.</p>

  <p>If later the Router performs a health check and determines that Message Processor is
  functioning properly, the Router automatically puts the Message Processor back into rotation. The
  Router also writes a "Mark Up" message to the log in the form:</p>
  <pre class="prettyprint">
2014-05-06 16:07:29,054 org: env: RPCClientClientProtocolChildGroup-RPC-0 INFO CLUSTER - ServerState.setState() : State of 2a8a0e0c-3619-416f-b037-8a42e7ad4577 is now CONNECTED. handle = &lt;IP&gt; at 1399410449054

2014-04-17 12:55:06,064 org: env: nioEventLoopGroup-4-1 INFO HEARTBEAT - HBTracker.updateHB() : HeartBeat detected from /&lt;IP&gt;:&lt;PORT&gt; Mark Up
</pre>

  

  <div>
     
  </div>{% endblock %}
