  {% extends "_base.html" %} {% block title %}OAuth home{% endblock %} {% block body %}

  <p>Welcome to the home page for OAuth on Apigee Edge. This landing page provides links to
  documentation, samples, and other resources related to using OAuth on Apigee Edge. </p>

  <h2 id="theoauth20framework">The OAuth 2.0 framework</h2>

  <p>Secure your APIs with OAuth 2.0. This section lists resources, sample code, videos, and other
  topics to help you be successful using OAuth 2.0 on Apigee Edge!</p>

  <aside class="note"><b>Note:</b> Apigee recommends choosing the OAuth 2.0 framework rather than
  OAuth 1.0a whenever possible.</aside>

  <h3 id="theoauth20framework-learnaboutoauth20"><a id="orientation" name="orientation"></a>Learn
  about OAuth 2.0</h3>

  <p>This collection of resources will help you get up to speed on OAuth 2.0. </p>

  <ul>
    <li>
      <strong>Apigee Doc Topics:</strong>

      <ul>
        <li><a href="/api-platform/security/oauth/oauth-introduction.html">Introduction to OAuth
        2.0</a> -- Covers basic OAuth 2.0 concepts and terms. Focuses using OAuth on Apigee
        Edge.</li>
        <!-- Pending tutorial update    <li> <a href="/node/8399.html">8399</a> Tutorial: The client credentials grant type == End-to-end tutorial shows how to protect an API with OAuth 2.0.&nbsp;</li>-->
      </ul>
    </li>

    <li>
      <strong>Foundation training</strong>

      <ul>
        <li>Apigee offers free online training for API developers. Simply register
        for <a href="https://academy.apigee.com/courses/elearning">Foundational Training</a>.
        Under Securing Your API section, see the lesson <a href=
        "https://academy.apigee.com/courses/elearning/foundation_training/Foundation_training/security/oauth-client-credentials">OAuthV2
        Client Credentials</a>.  </li>
      </ul>
    </li>

    <li>
      <strong>IETF Specification</strong>

      <ul>
        <li><a href="https://tools.ietf.org/html/draft-ietf-oauth-v2-31">IETF
        Specification</a>  -- Apigee highly recommends that you review this
        specification. It includes a good basic introduction and conceptual overview. </li>
      </ul>
    </li>

    <li>
      <strong>Apigee E-Book and Video</strong>

      <ul>
        <li><a href=
        "https://pages.apigee.com/ebook-oauth-the-big-picture-reg.html?int_source=resources-main&amp;int_medium=website&amp;int_campaign=ebook&amp;int_content=oauth-big-picture">
        OAuth the Big Picture</a>, a free Apigee e-book. </li>

        <li><a href="https://apigee.com/about/resources/webcasts/oauth-big-picture">OAuth the Big
        Picture</a>, a free Apigee webcast. </li>
      </ul>
    </li>
  </ul>
  <hr>

  <h3 id="theoauth20framework-implementthegranttypeflows">Implement the grant type flows</h3>

  <p>Apigee provides working samples of each OAuth 2.0 grant type to help you get started. The
  samples represent best practices and demonstrate how to implement OAuth grant types on Apigee
  Edge. </p>

  <h4>Client credentials</h4>

  <ul>
    <li><a href=
    "/api-platform/security/oauth/oauth-20-client-credentials-grant-type.html">Implementing the
    client credentials grant type</a> - Introduces the grant type, with an emphasis on the steps
    you need to follow to implement this grant type on Apigee Edge. </li>

    <li><a href=
    "https://github.com/apigee/api-platform-samples/tree/master/sample-proxies/oauth-client-credentials">
    Sample implementation</a> -- Check out this sample on our api-samples repo on GitHub.</li>
    <!-- Pending tutorial update            <li><a href="/node/8399.html">8399</a> Tutorial</a> == End-to-end tutorial shows how to protect an API with OAuth 2.0 using out-of-the-box configurations.</li>-->

    <li><a href="https://academy.apigee.com/courses/elearning">Foundation training</a>
    -- Under Securing Your API section, see the lesson <a href=
    "https://academy.apigee.com/courses/elearning/foundation_training/Foundation_training/security/oauth-client-credentials">OAuthV2
    Client Credentials</a>.  </li>
  </ul>

  <h4>Authorization code</h4>

  <ul>
    <li><a href=
    "/api-platform/security/oauth/oauth-v2-policy-authorization-code-grant-type.html">Implementing
    the authorization code grant type</a> -- Introduces the grant type, with an emphasis on
    the steps you need to follow to implement this grant type on Apigee Edge. </li>

    <li><a href=
    "https://github.com/apigee/api-platform-samples/tree/master/sample-proxies/oauth-advanced">Sample
    implementation</a> -- Check out this advanced sample on our api-samples repo on GitHub.
    You can clone the sample, deploy it, and run it. For details, see the <a href=
    "https://github.com/apigee/api-platform-samples/tree/master/sample-proxies/oauth-advanced/README.md">
    README</a> file. It includes a robust login app that authenticates users and communicates
    securely with the authorization server.</li>
  </ul>

  <h4>Implicit</h4>

  <ul>
    <li><a href=
    "/api-platform/security/oauth/access-tokens.html#requestinganaccesstokenpasswordgranttype">Requesting
    tokens: Implicit grant type</a> -- Shows how to request tokens with the implicit grant
    type. </li>
  </ul>

  <h4>Resource owner password credentials</h4>

  <ul>
    <li><a href="/api-platform/security/oauth/implementing-password-grant-type.html">Implementing
    the password grant type</a> -- Introduces the grant type, with an emphasis on the steps you
    need to follow to implement this grant type on Apigee Edge.</li>

    <li>The sample <a href="https://github.com/apigee/streetcarts">StreetCarts application</a> uses
    password grant type.</li>
  </ul>
  <hr>

  <h3 id="theoauth20framework-quickhowtotopics">Quick how-to topics</h3>

  <p>These topics give you quick context and concise steps for handling common OAuth 2.0 tasks:</p>

  <ul>
    <li><a href=
    "/api-platform/security/oauth/understanding-default-oauth-20-configuration.html">Configuring a
    new API proxy</a></li>

    <li><a href="/api-platform/security/registering-client-apps.html">Registering client
    apps</a></li>

    <li><a href="/api-platform/security/oauth/obtaining-developer-keys.html">Obtaining client
    credentials</a></li>

    <li><a href=
    "/api-platform/security/oauth/configuring-oauth-endpoints-and-policies.html">Configuring OAuth
    endpoints and policies</a></li>

    <li><a href="/api-platform/security/oauth/access-tokens.html">Requesting tokens and auth
    codes</a></li>

    <li><a href="/api-platform/security/oauth/customizing-access-tokens.html">Customizing access
    tokens</a></li>

    <li><a href=
    "/api-platform/security/oauth/validating-and-invalidating-access-tokens.html">Approving and
    revoking access tokens</a></li>

    <li><a href="/api-platform/security/oauth/sending-access-token.html">Sending an access
    token</a></li>

    <li><a href="/api-platform/security/oauth/using-access-tokens.html">Verifying access
    tokens</a></li>

    <li><a href="/api-platform/security/oauth/working-scopes.html">Working with scopes</a></li>

    <li><a href="/api-platform/security/oauth/advanced-oauth-20-topics.html">Advanced
    topics</a></li>
  </ul>

  <h3 id="theoauth20framework-policyandapireferences"><a id="reference" name="reference"></a>Policy
  and API references</h3>

  <p>These topics provide detailed reference information on the policies and APIs that directly
  support OAuth 2.0 on Edge.</p>

  <ul>
    <li>
      <strong>OAuthV2 Policies</strong> -- These policies allow you to implement and customize
      the four OAuth 2.0 grant types on Apigee Edge:

      <ul>
        <li><a href="/api-platform/reference/policies/oauthv2-policy.html">OAuthV2
        policy</a> -- The heart of the Apigee Edge OAuth 2.0 implementation. It lets you
        configure OAuth 2.0 "operations" on Apigee Edge that generate access and refresh tokens,
        issue authorization codes, and validate tokens. This topic includes code samples to help
        illustrate how things work. </li>

        <li><a href="/api-platform/reference/policies/get-oauth-v2-info-policy.html">GetOAuthV2Info
        policy</a> -- Gets attributes of tokens and makes them available to policies and
        code executing in an API proxy. This policy type can be useful when you need to configure
        dynamic, conditional behavior based on a value in an access token. See
        also <span style="font-stretch: normal; font-size: 13px; font-family: Arial;"><a href=
        "/api-platform/security/oauth/customizing-access-tokens.html">Customizing access
        tokens</a>.</span></li>

        <li><a href="/api-platform/reference/policies/set-oauth-v2-info-policy.html">SetOAuthV2Info
        policy</a> -- Updates the profile of an access token. For example, you may want
        to embed a tag that is unique to you business. See also <span style=
        "font-stretch: normal; font-size: 13px; font-family: Arial;"><a href=
        "/api-platform/security/oauth/customizing-access-tokens.html">Customizing access
        tokens</a>.</span></li>
      </ul>
    </li>

    <li>
      <strong>OAuth 2.0 error codes</strong>

      <ul>
        <li><a href="/api-platform/reference/policies/oauth-http-status-code-reference.html">OAuth
        HTTP error response reference</a></li>
      </ul>
    </li>

    <li>
      <strong>OAuth 2.0 APIs</strong> -- Apigee provides these APIs for working with OAuth 2.0
      endpoints.

      <ul>
        <li><a href="https://apidocs.apigee.com/management/apis/post/organizations/%7Borg_name%7D/oauth2/accesstokens/%7Baccess_token%7D" class="external">OAuth 2.0 Access tokens</a></li>

        <li><a href="/api/oauth-20-authorization-code" class="external">OAuth 2.0 Request tokens</a></li>

        <li><a href="/api/oauth-20-refresh-tokens" class="external">OAuth 2.0 Refresh tokens</a></li>
      </ul>
    </li>
  </ul>
  <hr>

  <h2 id="theoauth10aframework">The OAuth 1.0a framework</h2>

  <p>OAuth 1.0a defines a standard protocol that enables app users to authorize apps to consume
  APIs on their behalf, without requiring app users to disclose their passwords to the app in the
  process. </p>

  <aside class="note"><b>Note:</b> Apigee recommends choosing the OAuth 2.0 framework rather than
  OAuth 1.0a whenever possible.</aside>

  <h3 id="theoauth10aframework-oauth10apolicyreference">OAuth 1.0a policy reference</h3>

  <p><a href="/api-platform/reference/policies/oauth-10-policy.html">The OAuthV1 policy
  reference</a> explains how to configure an OAuth v1.0a plicy. The OAuthV1 policy type is
  responsible for generating request tokens, generating access tokens, and verifying access tokens
  based on the OAuth 1.0a specification. The OAuth</p>

  <h3 id="theoauth10aframework-oauth10aapis">OAuth 1.0a APIs</h3>

  <p>Apigee provides APIs for working with OAuth 1.0a endpoints. </p>

  <ul>
    <li><a href="/api/oauth-10a-access-tokens">OAuth 1.0a Access tokens</a></li>

    <li><a href="/api/api_resources/31-oauth-1-0a-request-tokens">OAuth 1.0a Request
    tokens</a></li>

    <li><a href="/api/oauth-10a-verifiers">OAuth 1.0a Verifiers</a></li>
  </ul>

  <h3 id="theoauth10aframework-oauth10asampleongithub">OAuth 1.0a sample on GitHub</h3>

  <p>This <a href="https://github.com/apigee/api-platform-samples">sample API proxy on
  GitHub</a> illustrates an OAuth 1.0a three-legged configuration. You can download and
  run this code.</p>

  <table>
    <thead>
      <tr>
        <th>Name</th>

        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><a href=
        "https://github.com/apigee/api-platform-samples/tree/master/sample-proxies/oauth10a-3legged">
        oauth10a-3legged</a></td>

        <td>Demonstrates an OAuth 1.0a three-legged configuration.</td>
      </tr>
    </tbody>
  </table>

  {% endblock %}
