  {% extends "_base.html" %} {% block title %}Activate Google Analytics{% endblock %} {% block body %}

  <p>You can take advantage of the Google Analytics service to generate detailed statistics
  about traffic to your Developer Services portal. To activate the service, you need to enable
  Google Analytics in the developer portal and then add the Google Analytics web-property ID to the
  portal's system configuration.</p>

  <h4>To enable Google Analytics</h4>

  <ol>
    <li>Log in to your portal as a user with admin or content creation privileges.</li>

    <li>Select the Modules entry in the Drupal administration menu. </li>

    <li>Select the Statistics section to expand it.</li>

    <li>Check the Google Analytics checkbox.</li>
  </ol>

  <h4>To add a web-property ID</h4>

  <ol>
    <li><a href="https://www.google.com/analytics/">Sign up for the Google Analytics
    service</a> if you haven't already done so. In response, you'll receive Google Analytics
    tracking code and a web-property ID. The web-property ID takes the form UA-XXXXX-YY, for
    example, UA-10876-11.</li>

    <li>Select Configuration &gt; System &gt; Google Analytics in the Drupal administration
    menu. This opens the Google Analytics page.</li>

    <li>Add the web-property ID after "UA-" in the Web Property ID field.

      <p style="margin-left: 40px;"><img src="/api-platform/images/GoogleAnalytics.png" width=
      "250"></p>
    </li>

    <li>Click Save configuration.</li>
  </ol>

  <p>Learn more about Google Analytics <a href=
  "https://www.google.com/analytics/learn/index.html">here</a>.</p>

  

  {% endblock %}
