  {% extends "_base.html" %} {% block title %}Communicating between the portal and Edge{% endblock %} {% block body %}

  <aside class="warning"><b>Warning:</b> <strong>Do not enable <a href=
  "/api-platform/system-administration/enable-two-factor-auth-your-apigee-account.html">two-factor
  authentication</a> on Apigee Edge</strong> if you publish your APIs using an Apigee developer
  portal. Otherwise, the developer portal will not be able to communicate with Edge.</aside>

  <p>The Developer Services portal acts as a client for Apigee Edge. That means the portal does not
  function as a stand-alone system. Instead, much of the information used by the portal is actually
  stored on Edge. When necessary, the portal makes an HTTP or HTTPS request to retrieve information
  from Edge or to send information to Edge.</p>

  <p><img alt="" src="/api-platform/images/portalEdge_v14_2.png" width="539"></p>

  <p>Edge does not make requests to the portal, it only responds to requests made from the portal.
  Therefore, all interactions between the portal and Edge are initiated by the portal.</p>

<h2 id="configuretheconnectionbetweentheportalandedge">Configure the connection between the
  portal and Edge</h2>

  <p>There are three pieces of information that the portal needs to communicate with Edge, as noted below. </p>
<aside class="note">For Cloud, this information is configured for you when your Drupal portal is provisioned. For Private Cloud, you configure this information when installing the developer portal.</aside>
  <ul>
    <li><strong>URL of the Edge</strong> <strong>endpoint</strong><br>
    <br>
    The default endpoint for the cloud-based version of Edge is <span style=
    "font-family:courier new,courier,monospace;">https://api.enterprise.apigee.com/v1</span>. <br>

    <br>
    For Private Cloud installation, the URL is in the form: <span style=
    "font-family:courier new,courier,monospace;">http://<em>EdgePrivateCloudIp</em>:8080/v1
    <span style=
    "font-family:arial,helvetica,sans-serif;">or </span>https://<em>EdgePrivateCloudIp</em>:<em>TLSport</em>/v1</span>.<br>

    <br>
    Where <em>EdgePrivateCloudIp</em> is the IP address of the Edge Management Server server and
    <em>TLSport</em> is the TLS/SSL port for the Edge management API. For example, 8443. </li>

    <li><strong>Apigee organization name</strong><br>
    <br>
    This is the name of your organization on Edge. You set up the organization when you create your
    account on Edge. </li>

    <li>
      <strong>Username and password of a developer administrator</strong><br>
      <br>
      The calls from the portal to Edge are authenticated and require a user with <strong>Developer
      Administrator</strong> privileges. When a Developer Portal is provisioned for you, the
      Developer Administrator role is added to your organization. This role, which includes a
      single user called <code>devadmin+{org_name}@apigee.com</code>, is solely for the purpose of
      connecting your Developer Portal to your Edge organization. Because the portal displays your
      Edge developer apps, API products, and so on, it must stay in sync with your Edge
      organization by making management API calls that require authentication. The devadmin "user"
      has the necessary permissions.<br>

      <aside class="note"><b>Note:</b> Don't add real users to the Developer Administrator role.
      (In fact, the management UI and API shouldn't let you.) That role should contain only the
      devadmin user.</aside>
    </li>
  </ul>

  <p><strong>To view the connection information:</strong></p>

  <ol>
    <li>In the Drupal administration menu, select <strong>Configuration &gt; Dev Portal &gt;
    Application Settings</strong>.</li>
  </ol>

  <p><strong>To change the configuration:</strong></p>

  <p>How you change the configuration depends on your portal installation and portal version:</p>

  <ul>
    <li><strong>Cloud-based installation of portal version 15.01.06 and later</strong>: You must
    make a request to <a href="https://community.apigee.com/content/apigee-customer-support">Apigee
    Support</a> to change the connection information. For example, if you want to change the name
    of the organization.</li>

    <li><strong>On-premises installation and cloud-based portal previous to version
    15.01.06</strong>: Change the connection information as described below:</li>
  </ul>

  <ol style="margin-left: 40px;">
    <li>In the Drupal administration menu, select <strong>Configuration &gt; Dev Portal
    Settings</strong>.</li>

    <li>Enter your organization name in <strong>Management API Organization</strong>.</li>

    <li>Enter the URL of the Edge endpoint in <strong>Management API Endpoint URL</strong>.</li>

    <li>Enter the organization administrator credentials in <strong>Endpoint Authenticated
    User</strong> and <strong>Authenticated User's Password</strong>.</li>

    <li>Select <strong>Test Connection</strong> to make sure the connection is successful.</li>

    <li>Select <strong>Save Configuration</strong>.</li>
  </ol>

  <h2 id="ensuringaccesstoedgefromtheportal">Ensuring access to Edge from the portal</h2>

  <p>Because much of the information used by the portal is stored on Edge, you must ensure that the
  portal can access Edge. The portal initiates communication with Edge by making REST requests over
  HTTP and HTTPS. For example, when a developer registers a new app on the portal, the portal makes
  a request to Edge to send information about the app to Edge.</p>

  <p>Both Edge and the portal can be deployed in the cloud or on prem, and you can mix deployments
  types. For example, you can deploy both in the cloud, both on prem, or deploy one in the cloud
  and one on prem:</p>

  <ul>
    <li><strong>If both the portal and Edge are deployed by Apigee in the cloud</strong>, then
    there should be no issues in making requests from the portal to Edge.</li>

    <li><strong>If you deploy the portal on prem</strong>, then you must ensure that the portal can
    make requests to Edge, regardless of whether Edge is deployed in the cloud or on prem.</li>

    <li><strong>If you deploy Edge on prem</strong>, then you must ensure that the portal has
    access to Edge. That means your Edge server must accept requests from the portal regardless of
    whether the portal is deployed in the cloud or on prem.</li>
  </ul>

  <aside class="note"><b>Note:</b> If either Edge or the portal is deployed in the cloud, then all
  requests use HTTPS. If both are on-prem, and accessible only over an internal network, then
  requests can use HTTP.</aside>

  <div class="video">
    <p><strong>Video:</strong> Watch a short video to learn more about how the developer portal
    communicates with Apigee Edge and to ensure that the connection is working.</p>

    <div style="text-align: left; margin:15px">
      <iframe allowfullscreen="" frameborder="0" height="315" src=
      "https://www.youtube.com/embed/vuGR_y9sj5E" width="560"></iframe>
    </div>
  </div>



  <h2 id="managingappsandapikeysfromtheportal">Managing apps and API keys from the portal</h2>

  <p>When the developer completes the app registration process on the portal, the portal sends
  information about the app to Edge, including the app name and the API products associated with
  the app.</p>

  <p>If Edge successfully registers the app, Edge returns a single API key to the portal. The
  developer then uses that API key to access the API products associated with the app.</p>

  <p>No information about apps and API keys is actually stored on the portal. Instead, all of that
  information is stored on Edge. Therefore, any time a developer uses the portal to view
  information about an app, the portal makes a request to Edge to access that information. Any time
  the developer modifies an app, the portal automatically sends those modifications to Edge.</p>

  <p>For example, a developer logs in to the portal and navigates to their My Apps page. To
  populate the My Apps page, the portal makes a request to Edge to retrieve information about the
  developer's apps and API keys. That information then appears on the developer's My Apps page in
  the portal:</p>

  <p><img alt="" src="/api-platform/images/myApps_v14.png" width="511"></p>

  <p>If the developer then adds, removes, or modifies an app, the portal sends those modifications
  to Edge.</p>

  <p>Because all information about apps and API keys is stored on Edge, an Edge administrator can
  manipulate that information by using the Edge UI. For example, an administrator can:</p>

  <ul>
    <li>Add, remove, or modify a developer's app</li>

    <li>Revoke or approve an API key for an app</li>
  </ul>

  <p>Shown below is the same app, the 'My Weather App', as it appears to an administrator on the
  Edge UI:</p>

  <p><img src="/api-baas/images/app_regenerate_button.png" width="973"></p>

  

  <h2 id="managingdevelopersfromtheportal">Managing developers from the portal</h2>

  <p>When a developer registers as a new portal user, the developer is created on Edge and on the
  portal. Therefore, unlike apps and API keys, information about developers is actually stored on
  both Edge and the portal.</p>

  <p>The developer information stored on Edge includes:</p>

  <ul>
    <li>First name</li>

    <li>Last name</li>

    <li>Email address</li>

    <li>Optional additional information sent from the portal</li>
  </ul>

  <aside class="note"><b>Note:</b> The email address is the primary key used by Edge to identify
  the developer. Therefore, all developers have a unique email address on Edge.</aside>

  <p>The portal stores the same information as Edge, but it also stores additional information,
  including:</p>

  <ul>
    <li>Portal password</li>

    <li>Portal account status: active or blocked</li>

    <li>Portal role: authenticated user, administrator, other</li>

    <li>Role based permissions: determine the actions the developer is allowed to perform on the
    portal</li>
  </ul>

  <p>When a developer logs in to the portal, it is the portal that is responsible for
  authenticating the developer and for enforcing role-based permissions.</p>

  <p>Because the portal stores all of the information about a developer, consider the portal as the
  system of record for developer information, not Edge. When the developer modifies their
  information on the portal, that information is stored on the portal and, if applicable, sent to
  Edge. For example, if the developer changes their first name, that information is sent to Edge.
  But if the developer changes their password, that information is only stored locally on the
  portal.</p>

  <p>For more information, see <a href=
  "/api-platform/publish/drupal/add-and-manage-user-accounts.html">Add and manage user
  accounts</a>.</p>

  <h2 id="sychronize-portal-edge">
  Synchronizing app developers between the portal and Edge</h2>

  <p>Edge does not initiate communication with the portal. If you, as an Edge administrator,
  manipulate information about a developer in the Edge UI, there is no guarantee when that
  information will be pushed down to the portal. Therefore, use the administration features of the
  portal to create, modify, and delete developers, not Edge.</p>

  <p>A portal administrator can force a sync between the portal and Edge to download information to
  the portal from Edge. However, if you only modify developers on the portal and not on Edge, you
  should never have to perform this sync. Additionally, because Edge does not let you set a
  password when you create a developer, any developer created on Edge has their portal password set
  to a random value. Therefore, the developer must go through the password recovery process before
  they can log in to the portal.  </p>

<p>To synchronize the portal with app developers on Edge</p>:
<ul>
  <li>Log in to your portal as a user with admin or content creation privileges.</li>
  <li>Select <b>People</b> in the Drupal administration menu.</li>
  <li>Select the <b>Dev Portal Developer Sync</b> button at the top of the page to synchronize with the app developers on Edge.</li>
</ul>{% endblock %}
