  {% extends "_base.html" %} {% block title %}Configuring app registration{% endblock %} {% block body %} Developers use the My Apps page on the Developer Services portal to register apps.
  Developers access the My Apps page from the main menu of the portal:<br>

  <p><img alt="" src="/api-platform/images/MyApps_v24_2.png"></p>

  <p>To register a new app, the developer selects the Add a new app button on the My Apps page.</p>

  <p><img alt="" src="/api-platform/images/AddAppButton_v24.png" width="150"></p>

  <p>The portal then displays the default app registration form:</p>

  <p><img alt="" src="/api-platform/images/defaultAddApp_v24.png" width="500"></p>

  <p>By default, the developer only has to specify the app name, callback URL, and the list of API
  products to add to the app.</p>

  <p>As an API provider, you have a complete control over the app registration process. For
  example, you can configure:</p>

  <ul>
    <li>The list of API products available on the portal</li>

    <li>Whether there is a default API product</li>

    <li>Whether the callback URL is required</li>

    <li>Whether the API key is manually or automatically approved for an API product</li>

    <li>Whether any other information is required on the Add App page to register the app</li>
  </ul>

  <p>This topic describes how to configure the app registration process for your portal. However,
  this topic does not describe how to create API products. For more, see:</p>

  <ul>
    <li><a href="/api-platform/publish/create-api-products.html">Create API products</a></li>

    <li><a href="/api-platform/publish/using-edge-management-api-publish-apis.html">Using the Edge
    management API to Publish APIs</a></li>
  </ul>

  <p>You can configure the portal to prohibit developers from being able to create, delete, or edit
  apps based on the role assigned to the developer. For example, you might configure the portal to
  create a single, default app for all developers when the developer registers. Then, you only
  allow some developers to add new apps, possibly based on a fee structure or other characteristics
  of the developer. Use roles and permissions to control which developers can create, delete, and
  edit apps. See <a href="/api-platform/publish/drupal/add-and-manage-user-accounts.html">Add and
  manage user accounts</a> for more.</p>

  <h2 id="specifyingtheapiproductsavailableontheportal">Specifying the API products available on
  the portal</h2>

  <p>There are two ways in which you can specify the API products that are available when a
  developer accesses the portal:</p>

  <ul>
    <li><a href="#apiproductaccesslevel">Specifying the access level when creating an API
    product</a></li>

    <li><a href="#apiproductroles">Restricting access to an API product based on roles</a></li>
  </ul>

  <h3 id="apiproductaccesslevel">Specifying the access level when creating an API product</h3>

  <p>When you create an API product, you specify the access level option of the product, as shown
  below:</p>

  <p><img alt="" src="/api-platform/images/product-environment-create.png"></p>

  <p>Only products marked "Public" are available to developers on the portal. API products marked
  <strong>Internal only</strong> or <strong>Private</strong> are still available for use, but is
  not accessible through the portal. See <a href=
  "/api-platform/publish/create-api-products.html">Create API products</a> for more
  information.</p>

  <h3 id="apiproductroles">Restricting access to an API product based on roles</h3>

  <p>By enabling the API Product Role Access Drupal module, you can specify the roles that can
  access each API product.</p>

  <p><strong>To restrict access to an API product based on the developer roles:</strong></p>

  <ol>
    <li>Log in to your portal as a user with admin or content creation privileges.</li>

    <li>Review the dev portal roles and user assignments:

      <ul>
        <li>Select <strong>People &gt; Permissions &gt; Roles</strong> in the Drupal administration
        menu and add or edit the developer roles and permissions, as required.</li>

        <li>Select <strong>People</strong> in the Drupal administration menu and edit user and role
        assignments, as required.</li>
      </ul>
    </li>

    <li>Select <strong>Configuration &gt; Dev Portal &gt; API Product Role Access</strong> in the
    Drupal administration menu.</li>

    <li>Select the roles that you want to be able to access each API product.</li>

    <li>Click <strong>Save configuration</strong>.</li>
  </ol>

  <h2 id="configuringhowadeveloperassociatesapiproductswithanapp">Configuring how a developer
  associates API products with an app</h2>

  <p>To register a new app, a developer selects the Add a new app button on the My Apps page to
  open the Add App form:</p>

  <p><img alt="" src="/api-platform/images/defaultAddApp_v24.png" width="500"></p>

  <p>Based on how you configure the portal, the developer can select one or more API products to
  associate with the app at the time of app registration. Or, you can specify a default product
  that is assigned to all apps. </p>

  <p>The following configuration options are available on the portal to control API product
  selection when registering an app:</p>

  <ul>
    <li>Do not associate apps with any API Product.</li>

    <li>Associate all apps with one or more Default API Products (configured below). Developers
    cannot add any other API products to the app.</li>

    <li>Allow selection of a single API product, but do not require it.</li>

    <li>Require selection of a single API product.</li>

    <li>Allow selection of multiple API Products, but do not require any.</li>

    <li>Allow selection of multiple API Products, and require at least one.</li>
  </ul>

  <aside class="note"><b>Note:</b> For any option except the first, you can optionally specify a
  default API product added to all apps. If you choose an option that supports the selection of
  multiple API products, then you can specify multiple defaults.</aside>

  <p>You can also control the HTML element that appear on the form that the developer uses to
  select the API product. Options include:</p>

  <ul>
    <li>Dropdown lists.</li>

    <li>Checkboxes or radio buttons. Checkboxes appear when the developer can select multiple API
    products and radio buttons appear when the developer can select only a single API product.</li>
  </ul>

  <p><strong>To set the option for API product selection:</strong></p>

  <ol>
    <li>Log in to your portal as a user with admin or content creation privileges.</li>

    <li>Select <strong>Configuration &gt; Dev Portal Settings &gt;  Application
    Attributes</strong> in the Drupal administration menu.</li>

    <li>On the Application Settings page, expand the <strong>API Product settings</strong>
    area.</li>

    <li>Under <strong>API Product Handling</strong>, select the option that controls API product
    selection.</li>

    <li>If you specify the option "Associate all apps with one or more Default API Products
    (configured below)", set a default product under <strong>Default API Product</strong>.</li>

    <li>Under <strong>API Product Widget</strong>, select the HTML element used by developers to
    select the API products.</li>

    <li>Save the configuration.</li>
  </ol>

  <h2 id="configuringcallbackurlhandling">Configuring callback URL handling</h2>

  <p>If one or more of your API proxies uses "three-legged OAuth" (OAuth's <a href=
  "/api-platform/security/oauth/oauth-v2-policy-authorization-code-grant-type.html">authorization
  code grant type</a>), developers need to specify a callback URL when they register their apps.
  The callback URL points to an external site, such as https://twitter.com. When the app requires
  user credentials, it doesn't ask for a username and password. Instead, it forwards the end user
  to the callback URL site, where they log in, which allows the app to get an OAuth access token to
  use in place of their username and password.</p>

  <p>Configuring a callback URL gives app developers the flexibility to send their end users to a
  specific site to log in, such as Twitter, Facebook, Google, etc.</p>

  <p>You can configure the callback URL requirements on the portal. For example, if at least one or
  the API proxies in a product uses three-legged OAuth, it might be best to require a callback URL
  for all developer apps so that a callback URL is available for the OAuth proxy.</p>

  <p><strong>To control the callback URL for API product selection:</strong></p>

  <ol>
    <li>Log in to your portal as a user with admin or content creation privileges.</li>

    <li>Select <strong>Configuration &gt; Dev Portal Settings &gt;  Application
    Attributes</strong> in the Drupal administration menu.</li>

    <li>On the Application Settings page, expand the <strong>Callback URL settings</strong>
    area.</li>

    <li>Under <strong>Callback URL Handling</strong>, select one of the following options.

      <ul>
        <li>Callback URL is required for all developer apps.</li>

        <li>Callback URL is optional for all developer apps.</li>

        <li>Callback URL is neither required nor displayed.</li>
      </ul>
    </li>

    <li>Save the configuration.</li>
  </ol>

  <h2 id="displayinganalyticsforappusage">Displaying analytics for app usage</h2>

  <p>The portal can display analytical information about app usage. If the display of analytics is
  enabled, app developers can see the analytics on the My Apps page for each app. For example, a
  developer can display the following analytics for an app:</p>

  <ul>
    <li>Throughput</li>

    <li>Max response time</li>

    <li>Min response time</li>

    <li>Message count</li>

    <li>Error count</li>
  </ul>

  <p><strong>To enable analytics on the portal:</strong></p>

  <ol>
    <li>Log in to your portal as a user with admin or content creation privileges.</li>

    <li>Select <strong>Configuration &gt; Dev Portal &gt;  Application Settings</strong> in
    the Drupal administration menu.</li>

    <li>On the Application settings page, expand the <strong>App performance settings</strong>
    area.</li>

    <li>Select the <strong>Show Developer App analytics tab</strong> check box.</li>

    <li>Select either <strong>Test</strong> or <strong>Production</strong> for <strong>Environment
    to query for analytics data</strong>. For a publicly available portal, typically you will
    select <strong>Production</strong>.</li>

    <li>Save the configuration.</li>
  </ol>

  <p><strong>To display analytics on the portal for an app:</strong></p>

  <ol>
    <li>Select the app name on the My Apps page.</li>

    <li>Select the <strong>Analytics</strong> link for the app.</li>

    <li>Select the type of analytics to display and the date range:</li>

    <li>The selected information appears:<br>
    <img alt="" src="/api-platform/images/appAnalytics_v24.png" width="574"></li>
  </ol>

  <aside class="note"><b>Note:</b> When a developer app makes an API call with an API key or OAuth
  token, associations are made in analytics and performance data is collected. However, if an API
  proxy is open and doesn't require an API key, Edge has no way of knowing if there is a developer,
  developer app, or product associated with the API call. In this case, no performance data will be
  available.</aside>

  <h2 id="manuallyapprovingorrevokinganapikeyforanapiproduct">Manually approving or revoking an API
  key for an API product</h2>

  <p>When a developer adds an API product to an app and then registers the app, the portal returns
  back to the developer the API key for that app. The developer then uses that API key to access
  the API proxies bundled by the API product associated with the app.</p>

  <p>You control the key approval process for each API product when you create the API product:</p>

  <p><img alt="" src="/api-platform/images/product_key_quota_scope.png"></p>

  <p>The approval process can be:</p>

  <ul>
    <li><strong>Automatic</strong> - An approved API key is returned by the portal for the API
    product when the developer registers the app. You can later revoke an automatically approved
    key.</li>

    <li><strong>Manual</strong> - An API key is returned by the portal when the developer registers
    the app, but the key is not activated for any API products that use Manual key approval. An
    administrator has to manually approve the API key, either in the Edge management UI or API,
    before it can be used by the developer to access the API product. You can later revoke a
    manually approved key.</li>
  </ul>

  <p>See <a href="/api-platform/publish/create-api-products.html">Create API products</a> for more
  information.</p>

  <p>If your portal lets a developer add multiple API products to an app, the developer might add
  some products with Automatic key approval and some with Manual. The developer can use the
  returned API key for all automatically approved API products immediately while waiting for final
  approval for those products that require Manual approval.</p>

  <aside class="note"><b>Note:</b> The portal assigns a single key to the app for use with all API
  products associated with the app. When an API product is pending approval, it is pending the
  approval of the app's key for use with that product.</aside>

  <p>To see the list of API products for an app, and the status of the key approval for the API
  product, a developer selects the name of the app on the My Apps page and then selects the
  Products link:</p>

  <p><img alt="" src="/api-platform/images/pendingAPIProducts_v24.png" width="532"></p>

  <p>In this example, the Premium Weather API product uses Manual approval, and is waiting for an
  administrator to approve the key. The Free API Product uses Automatic approval and the use of the
  key to access it has been approved.</p>

  <p><strong>To manually approve or revoke a key:</strong></p>

  <ol>
    <li>Log in to the <a href="https://enterprise.apigee.com">Edge management UI</a> as a user with
    administration privileges for your organization.</li>

    <li>Select <strong>API Platform</strong> in the dropdown box in the upper-right corner.</li>

    <li>Select <strong>Publish &gt; Developer apps</strong> to open the list of developer
    apps.</li>

    <li>Select the <strong>Pending</strong> button to see the list of apps with pending key
    requests:<br>

      <p><img alt="" src="/api-platform/images/pendingKeyRequest_v24_2.png"></p>
    </li>

    <li>Select the app name that you want to approve.</li>

    <li>On the app details page, select the <strong>Edit</strong> button in the upper-right
    corner.</li>

    <li>In the list of API products for the app, under <strong>Actions</strong>:

      <ul>
        <li>
          <strong>To approve the key</strong>, select the <strong>Approve</strong> button for each
          API product that requires manual approval.<br>

          <p><img alt="" src="/api-platform/images/approveKeyRequest_v24_2.png"></p>
        </li>

        <li>
          <strong>To revoke an approved the key</strong>, select the <strong>Revoke</strong> button
          under Actions for an API product to revoke access.<br>

          <p><img alt="" src="/api-platform/images/revokeKey_v24.png" width="732"></p>
        </li>
      </ul>
    </li>

    <li>Save the app. The API key is now approved.</li>
  </ol>

  <h2 id="controllingapiproductandappcaching">Controlling API product and app caching</h2>

  <p>Information about API products and developer apps is stored remotely from the portal on Apigee
  Edge. That means changes to API products and apps can be performed from the Edge UI or API,
  without going through the portal. For example, when a backend administrator adds a new API
  product, the portal is not immediately updated with that information.</p>

  <p>To make sure that the portal stays in synch with the Edge backend, you can manually trigger an
  update of the portal cache, update the caches automatically when the portal's cron job runs, or
  both. For example, if you configure the cron job to run frequently, such as every 5 or 10
  minutes, you might not want the overhead of updating the API products and developer app caches
  that frequently. In this situation, you can then trigger the cache update manually. But, if the
  cron job runs every hour or two hours, the time required to update the caches might not have much
  of an impact.</p>

  <aside class="note">
    <b>Note:</b> To set the frequency of the cron job, select <strong>Configuration &gt; System
    &gt; Cron</strong> in the Drupal administration menu.

    <p>To manually trigger the cron job, select the <strong>Home icon &gt; Run cron</strong>.</p>
  </aside>

  <p>By default, the portal is configured to rebuild the API product and developer app caches
  every time cron runs.</p>

  <p><strong>To specify whether or not to rebuild the API product and developer app caches every
  time cron runs:</strong></p>

  <ol>
    <li>Log in to your portal as a user with admin or content creation privileges.</li>

    <li>From the Drupal menu, select <strong>Configuration &gt; Dev Portal Settings &gt;
    Application Settings</strong>.</li>

    <li>Check or uncheck <strong>Rebuild API Product and Developer App caches every time cron
    runs</strong>.</li>

    <li>Save your settings.   </li>
  </ol>

  <p><strong>To update the caches manually:</strong></p>

  <ol>
    <li>Log in to your portal as a user with admin or content creation privileges.</li>

    <li>From the Drupal menu, select the <strong>Home icon &gt; Flush all
    caches.</strong></li>
  </ol>

  <h2 id="customizingtheformfieldsusedtoregisteranapp">Customizing the form fields used to register
  an app</h2>

  <p>When the developer registers an app, the portal display the default form:</p>

  <p><img alt="" src="/api-platform/images/defaultAddApp_v24.png" width="500"></p>

  <p>As an API provider, you might want to modify this form to prompt the developer to provide
  additional information such as a customer ID, the target platform of the app, or other
  information. The portal provides you with a the ability to add new fields to this form. These
  fields can be:</p>

  <ul>
    <li>Required or optional</li>

    <li>Displayed by different HTML elements, such as text boxes, radio buttons, check boxes, and
    more</li>

    <li>Can be set to appear anywhere on the form between the Callback URL field and the Product
    field</li>
  </ul>

  <div class="video">
    <p>To learn how to customize the app registration form that is available from the developer
    portal, watch this video.</p>

    <div style="text-align: left;">
      <iframe allowfullscreen="" frameborder="0" height="315" src=
      "https://www.youtube.com/embed/YCzeKhyM2RE" width="560"></iframe>
    </div>
  </div>

  <p>For example, the following form shows a required field for Customer ID and an optional field
  for target platform:</p>

  <p><img alt="" src="/api-platform/images/newFieldsAddApp_v24_2.png" width="500"></p>

  <p>When you add new fields to the form, the field values are automatically uploaded to Edge,
  along with all the other fields, when the developer submits the form. That means you can view or
  modify those fields on Edge, or use the Edge management API to access those fields from a
  script.</p>

  <p>For example, view the new form fields In the Edge management UI by going to Publish &gt;
  Developer Apps, and then selecting the app name. The new field values appear under the Custom
  Attributes area of the page with a name that corresponds to the field's internal name:</p>

  <p><img alt="" src="/api-platform/images/appCustomAttribs_v24.png"></p>

  <p>The field values are also displayed in the Details area of the app on the developer's My Apps
  page:</p>

  <p><img alt="" src="/api-platform/images/appCustomAttribsDetailsTab_v24.png"></p>

  <p>The developer can also edit the values by selecting the Edit link for the app on the My Apps
  page.</p>

  <p>The procedures below describe how to configure the app creation forms by using the
  administrator interface. A Drupal developer can perform additional customizations, including
  modifying the 'My Apps' page, by using custom hooks. To learn more on how change behaviors
  through code, see the app API examples in the file: <span style=
  "font-family:courier new,courier,monospace;">/profiles/apigee/modules/custom/devconnect/devconnect_developer_apps/devconnect_developer_apps.api.php</span>.</p>

  <p><strong>To add a field to the app registration form:</strong></p>

  <ol>
    <li>Log in to your portal as a user with admin or content creation privileges.</li>

    <li>Ensure that the <strong>DevConnect App Attribute Management</strong> module is
    enabled.</li>

    <li>Select <strong>Configuration &gt; Dev Portal Settings &gt; Dev Portal App
    Attributes</strong> in the Drupal administration menu.</li>

    <li>Select the <strong>Add Dev Portal App Attribute</strong> button at the top of the
    page.</li>

    <li>Configure the field. For example, for the Customer ID field shown above, use the following
    settings:

      <ul>
        <li><strong>Internal Name</strong> = cust_id. This is the name of the variable used to
        store the field value.</li>

        <li><strong>Public Name</strong> = Customer ID</li>

        <li><strong>Description</strong> = Enter your customer ID.</li>

        <li>Select the check box for Require this attribute</li>

        <li>Select the check box for Display this attribute.</li>

        <li><strong>Widget</strong> = Text Box</li>

        <li>Select Save to return to the Dev Portal App Attributes page.</li>
      </ul>
    </li>

    <li>Select <strong>Save Changes</strong>.</li>

    <li>Select the <strong>Home icon &gt; Flush all caches</strong> from the Drupal menu.<br>
    You might have to clear your browser cache before the new field appears on the form.</li>
  </ol>

  <p><strong>To add an optional field for the developer to specify the platform for the app, set
  the field attributes as:</strong></p>

  <ul>
    <li><strong>Internal Name</strong> = intended_platforms</li>

    <li><strong>Public Name</strong> = Platforms</li>

    <li><strong>Description</strong> = Specify one or more platforms for your app.</li>

    <li>Clear the check boxes for Require this attribute</li>

    <li>Select the checkbox for Display this attribute.</li>

    <li><strong>Widget</strong> = List of Checkboxes</li>

    <li>Select Save to return to the Dev Portal App Attributes page.</li>
  </ul>

  <p><strong>To reorder the attributes on the form:</strong></p>

  <ol>
    <li>Log in to your portal as a user with admin or content creation privileges.</li>

    <li>Select <strong>Configuration &gt; Dev Portal Settings &gt; Dev Portal App
    Attributes</strong> in the Drupal administration menu.</li>

    <li>Select the plus, <strong>+</strong>, symbol under the Name column and drag the property to
    the location where you want to display it in the form.</li>

    <li>Save your changes.</li>
  </ol>{% endblock %}
