  {% extends "_base.html" %} {% block title %}Managing role-based access to content on your
  developer portal{% endblock %} {% block body %}

  <p>When creating content on your Apigee Developer Portal, you may want to control the content
  that is displayed based on user role. For example, you may want to limit access to an API to Beta
  participants only. You'll need to remove any access limitations to the API once it is officially
  released.</p>

  <p>You can manage role-based access to content on your developer portal using the following
  Drupal modules:</p>

  <ul>
    <li><a href="https://www.drupal.org/project/content_access" target="_blank">Content Access</a>
    - Manage access to content types by role or author. The developer portal is packaged with the
    Content Access module, though it is disabled by default. There are pros and cons to using the
    content access modules, as described in <a href=
    "https://community.apigee.com/content/kbentry/2386/content-access-control-on-developer-portal-1.html"
    target="_blank">Content Access Control on Dev Portal</a>. This article provides links to more
    information about using each module.</li>

    <li><a href="https://www.drupal.org/project/taxonomy_access" target="_blank">Taxonomy Access
    Control</a> - Manage access to specific nodes (or pages) rather than an entire content type.
    The developer portal is not packaged with the Taxonomy Access Control module by default; you
    will need to download and install it. For steps to add role-based access to the SmartDocs
    content on your developer portal using the Taxonomy Access Control module, see <a href=
    "https://community.apigee.com/content/kbentry/15364/content-access-control-on-developer-portal-smartdo.html"
    target="_blank">Content Access Control on Developer Portal SmartDocs Documentation</a>.</li>

    <li>DevConnect Limit API Product By Role - Manage access to API products by role. The
    developer portal is packaged with the DevConnect Limit API Product by Role module, though it is
    disabled by default.

      <div class="video">
        <p><strong>Video:</strong> To learn about how to use the DevConnect Limit API Product by
        Role module to manage access to API products by role, watch the following video.</p>

        <div style="text-align: left; margin:15px">
          <iframe allowfullscreen="" frameborder="0" height="315" src=
          "https://www.youtube.com/embed/6A4YXXWnMv8" width="560"></iframe>
        </div>
      </div>
    </li>
  </ul>

  {% endblock %}
