  {% extends "_base.html" %} {% block title %}Using federated credentials on the developer portal{% endblock %} {% block body %}

  <p>Federated log in is the process where you use credentials from one identity management system,
  called the system of record, to log in to another system. For example, you use your Google or
  Twitter credentials to log in to the Apigee developer portal. The advantage of federated login is
  that the system you are logging in to does not ever see the password associated with your
  credentials. That means your passwords do not have to be copied to different systems.</p>

  <p>The Developer Services portal supports federated login using credentials from several common
  providers, including:</p>

  <ul>
    <li>GitHub</li>

    <li>Google</li>

    <li>OpenID</li>

    <li>Twitter</li>
  </ul>

  <p>Also, if you already have an Apigee Edge account, you can use those credentials to log in to
  the developer portal.</p>

  <p>Each of the supported credential providers requires a different configuration process, as
  described below.</p>

  <h2 id="usingfederatedcredentialswiththedeveloperportal">Using federated credentials with the
  developer portal</h2>

  <p>To gain access to the portal, a developer registers a new account on the portal and specifies
  a username, email address, and password. The user can then log in to the portal by supplying
  their portal username and password as credentials.</p>

  <p>With federated log in on the portal, you use credentials from a third party to log in to an
  existing portal account. That is, you require an account on the portal before you can log in with
  third party credentials. You can use any of the federated credentials supported by Apigee to log
  in to an existing portal account. Additionally, you can use Google and Apigee credentials to
  register a new account on the portal.</p>

  <h3 id="usingfederatedcredentialswiththedeveloperportal-loggingintoanexistingportalaccount">
  Logging in to an existing portal account</h3>

  <p>Log in to an existing portal account by using any of the supported federated credentials. For
  example, log in by using your Twitter credentials. The first time you log in with your Twitter
  credentials, the portal prompts you to associate your Twitter credentials with an existing portal
  account. You only perform this association once. After that, you can log in with your Twitter
  credentials and the portal retains the association information.</p>

  <h3 id="usingfederatedcredentialswiththedeveloperportal-registeringanewportalaccount">Registering
  a new portal account</h3>

  <p>Register a new account on the portal by using your Google or Apigee credentials. When you
  register as a new developer on the portal using federated credentials, the developer portal
  attempts to obtain information, typically email address, from the system of record. For example,
  you use your Google credentials to create a new developer account on the portal. You are prompted
  to approve information passed back to the portal from Google. Even if the system of record
  returns information to the portal, new registrations are typically required to enter some
  information, such as accepting the terms and conditions.</p>

  <h2 id="registerorloginusingapigeecredentials">Register or log in using Apigee credentials</h2>

  <p>If you already have an Apigee Edge account, you can use those credentials to register an
  account or log in to an existing account on the developer portal. By default, the following
  button appears on both the registration and login pages of the developer portal:</p>

  <p><img alt="" src="/api-platform/images/ApigeeButton_v24.png"></p>

  <p>The button only appears on portals with a URL that ends with apigee.com, meaning portals in
  the Apigee domain. For example, a URL in the form http://myCompany.devportal.apigee.com. If the
  URL does not end with that domain, you cannot use your Apigee Edge credentials to log in or
  register on the portal.</p>

  <aside class="note"><b>Note:</b> With the <a href=
  "/release/notes/17122000-apigee-developer-services-portal-release-notes.html#newfeatures">redirection
  of Pantheon hosted sites from apigee.com to apigee.io</a>, you can no longer authorize with
  Apigee in Dev and Test environments, and you will no longer be able to authorize with Apigee in
  Live environments once this change is fully implemented.</aside>

  <p><strong>To register an existing Apigee Edge user as a new portal developer:</strong></p>

  <p><strong><strong>Note</strong></strong>: The registration process assumes that you have your
  portal configured to allow anyone to register without administrator approval. See <a href=
  "/api-platform/publish/drupal/add-and-manage-user-accounts.html">Add and manage user accounts</a>
  for more information on controlling who can register.</p>

  <ol>
    <li>Ensure that you have an existing Apigee Edge account.</li>

    <li>Select the Register link on the developer portal.</li>

    <li>Select the Authenticate with Apigee button on the registration page.

      <ul>
        <li>If you are not logged in to Apigee Edge, enter your Apigee Edge credentials and select
        Sign in.</li>
      </ul>
    </li>

    <li>If no other information is required to register, you will be logged in to the developer
    portal with your new account.<br>
    You will receive an email to the email address associated with your Apigee account with
    information on completing the registration process, such as setting your password.</li>

    <li>If there is additional information required to complete the registration process, such
    as accepting terms and conditions, then you will be automatically redirected back to the
    Register page with the username and email information from your Apigee Edge account entered
    into the appropriate fields.</li>

    <li>Specify any other required registration information to complete the registration
    process.</li>

    <li>Select Create new account.<br>
    You will receive an email to the email address associated with your Apigee account
    with information on completing the registration process, such as setting your password.</li>
  </ol>

  <p><strong>To log in as an existing portal developer using an Apigee account:</strong></p>

  <ol>
    <li>Select the Login link on the developer portal.</li>

    <li>Select the Authenticate with Apigee button on the login page.

      <ul>
        <li>If you are already logged in to Apigee Edge you will be automatically logged in to the
        developer portal.</li>

        <li>If you are not logged in to Apigee Edge, enter your Apigee Edge credentials and select
        Sign in.</li>
      </ul>
    </li>
  </ol>

  <h2 id="registerorloginusinggooglecredentials">Register or log in using Google credentials</h2>

  <aside class="note">
    <b>Note:</b> As of April 15, 2015 Google will no longer support the OpenID 2.0 API, as
    described at the following link:

    <p><a href=
    "https://developers.google.com/+/api/auth-migration#timetable">https://developers.google.com/+/api/auth-migration#timetable</a></p>

    <p>All portals released before 14.06.11 used Google OpenID 2.0, which enabled users to log in
    to the portal or register as a portal user by using their Google credentials. Because of this
    deprecation, that functionality has been removed from the portal. Therefore, the content in
    this section only applies to portals released prior to version 14.06.11.</p>

    <p>As a replacement, you can instead use the <a href="https://drupal.org/project/gauth">Drupal
    Google Auth</a> module or use the information described in the article: <a href=
    "https://developers.google.com/accounts/docs/OAuth2Login#scopeparameter">Using OAuth 2.0 for
    Login</a>.</p>
  </aside>

  <p>Federated registration and log in using Google credentials is enabled on the developer portal
  by default. On both the registration and login pages, you will see the following button:</p>

  <p><img alt="" src="/api-platform/images/GoogleButton_v24.png"></p>

  <p>You can register as a new developer, or login as an existing developer, by using your Google
  credentials. For example, if you have a Gmail account, you can log in by using your Gmail
  credentials.</p>

  <p>The developer portal associates Google credentials to your portal account by storing a Google
  OpenID in your portal profile. After associating Google credentials with your portal
  account, you can see the OpenID by selecting your email address &gt; Edit Profile from
  the top-level menu in the developer portal, and then selecting Manage
  your OpenIDs. </p>

  <p><strong>To register as a new developer using your Google credentials:</strong></p>

  <p><strong><strong>Note</strong></strong>: The registration process assumes that you have your
  portal configured to allow anyone to register without administrator approval. See <a href=
  "/api-platform/publish/drupal/add-and-manage-user-accounts.html">Add and manage user accounts</a>
  for more information on controlling who can register.</p>

  <ol>
    <li>Ensure that you have an existing Google account, such as a Gmail account.</li>

    <li>Select the Register link on the developer portal</li>

    <li>Select the Authenticate with Google button on the registration page.<br>
    You will be directed to a Google page asking that you accept that the developer portal can
    access your Google email address and basic information.</li>

    <li>Select Accept to approve.<br>
    <img alt="" src="/api-platform/images/GoogleAccept_v24.png"></li>

    <li>You are redirected back to the developer portal's registration page, with the information
    from Google prepopulating the registration fields.</li>

    <li>Specify any missing required information to complete the registration process.</li>

    <li>Select Create new account.<br>
    You will receive an email to your Gmail account with information on completing the registration
    process.</li>
  </ol>

  <p><strong>To log in as an existing developer:</strong></p>

  <ol>
    <li>Select the Login link on the developer portal.</li>

    <li>Select the Authenticate with Google button on the login page.

      <ul>
        <li>If you are already logged in to Google, you will be logged in to the portal.</li>

        <li>If you are not logged in to Google, enter your Google credentials to log in to the
        portal.</li>
      </ul>
    </li>

    <li>If this is the first time that you have logged in using Google credentials, you will be
    redirected to a page on the portal where you have to associate your Google account with an
    existing account on the developer portal:<br>
    <br>
    <img alt="" src="/api-platform/images/GoogleAssociate.png"></li>

    <li>Copy the URL under Your OpenID.</li>

    <li>Select the log in link at the top of the page and log in by using your existing developer
    portal credentials. </li>

    <li>Select your email address &gt; Edit Profile from the top-level menu in the developer
    portal.</li>

    <li>On your profile page, select Manage your OpenIDs.</li>

    <li>Enter the OpenID URL and select Add OpenID.<br>
    You can now login using your Google credentials.</li>
  </ol>

  <h2 id="loginusingtwittercredentials">Log in using Twitter credentials</h2>

  <p>You can log in as an existing developer by using your Twitter credentials but you cannot
  register as a new user.</p>

  <p>Federated  log in using Twitter credentials requires that you enable the <a href=
  "https://drupal.org/project/twitter">Drupal Twitter Signin</a> module on the developer portal.
  After enabling that module, you will see the following button on the log in page:</p>

  <p><img alt="" src="/api-platform/images/Twitter_button_v24.png"></p>

  <p>The connection between the developer portal and Twitter uses OAuth for authentication.
  Therefore, before you can log in to the developer portal with Twitter credentials, you must first
  create a Twitter app. That app then generates the consumer key and consumer secret used by the
  developer portal and Twitter to communicate.</p>

  <p>In the process below, you first enable the Twitter Signin module on the developer portal, then
  create the Twitter app. After creating the app, return to the Twitter Signin module and add the
  required configuration information from the Twitter app.</p>

  <p><strong>To enable the Twitter Signin module:</strong></p>

  <ol>
    <li>Log in to your portal as a user with admin privileges.</li>

    <li>Select Modules in the Drupal administration menu. The list of all installed Drupal modules
    appears.</li>

    <li>Scroll down the page and select the checkbox next to the Twitter Signin module.</li>

    <li>Save your configuration.<br>
    When enabling the Twitter Signin module, you might be notified that other modules also must be
    enabled. Make sure to enable these modules.</li>

    <li>After the Twitter Signin module is enabled, select Configuration &gt; Web Services &gt;
    Twitter in the Drupal menu.<br>
    The Twitter configuration screen appears.</li>

    <li>Select the Settings tab.</li>

    <li>Copy the Callback URL. This us a URL in the form:<br>
    <br>
    <span style=
    "font-family:courier new,courier,monospace;">http://{env}-{org-name}.devportal.apigee.com/twitter/oauth</span><br>

    <br>
    You need this URL to create the Twitter app.</li>
  </ol>

  <p><strong>Create the Twitter app:</strong></p>

  <ol>
    <li>Navigate to this page in a browser: <a href=
    "https://dev.twitter.com/apps/new">https://dev.twitter.com/apps/new</a> and log in to your
    Twitter account.</li>

    <li>Enter the following information about your portal:<br>
    <strong>Name</strong>: for example MyApigeePortal<br>
    <strong>Description</strong>: for example My Apigee Portal<br>
    <strong>Website</strong>: for example <span style=
    "font-family:courier new,courier,monospace;">http://{env}-{org-name}.devportal.apigee.com/</span><br>

    <strong>CallbackURL</strong>: Copy the Callback URL from the Twitter Signin module
    configuration screen.</li>

    <li>Agree to the terms/conditions.<br>
    You will be directed to a Twitter page with the OAuth settings, including the consumer key and
    the consumer secret. You need the key and secret to configure the Drupal Twitter Signin
    module.</li>

    <li>Under the Settings tab, change the Application Type Access to Read and Write.</li>

    <li>Select Update this Twitter application's setting.</li>
  </ol>

  <p><strong>To configure the Twitter Signin module:</strong></p>

  <ol>
    <li>Log in to your portal as a user with admin privileges.</li>

    <li>Select Configuration &gt; Web Services &gt; Twitter in the Drupal menu.<br>
    The Twitter configuration screen appears.</li>

    <li>Select the Settings tab.</li>

    <li>Copy the Consumer Key from the Twitter page to the OAUTH Consumer Key field.</li>

    <li>Copy the Consumer Secret from the Twitter page to the OAUTH Consumer Secret field.</li>

    <li>Select Save Configuration.</li>

    <li>Select the Twitter Tab.</li>

    <li>While still logged in to Twitter with the account that create the Twitter app, select the
    Go to Twitter button to add an authenticated account.</li>

    <li>Select Sign-in tab.</li>

    <li>Select No under Automatically Register New Users.</li>

    <li>Save the configuration.<br>
    Twitter users can now register on the developer portal and log in by using their Twitter
    credentials.</li>
  </ol>

  <p><strong>To log in as an existing developer using a Twitter account:</strong></p>

  <ol>
    <li>Select the Login link on the developer portal.</li>

    <li>Select the Authenticate with Twitter button on the login page.</li>

    <li>You are redirected to a Twitter page.

      <ul>
        <li>If you are already logged in to Twitter, select Authorize app.</li>

        <li>If you are not already logged in to Twitter, enter your Twitter credentials and select
        Authorize app.</li>
      </ul>
    </li>

    <li>If this is the first time that you have logged in using Twitter credentials, you will be
    redirected to a page on the portal where you have to associate your Twitter account with an
    existing account on the developer portal.</li>

    <li>Enter the username and password of the account that you want to associate with your Twitter
    account. You only have to do this once.<br>
    The next time you log in with your Twitter credentials, you will be logged in to the portal
    directly.</li>
  </ol>

  <h2 id="loginusinggithubcredentials">Log in using GitHub credentials</h2>

  <p>You can log in as an existing developer by using your GitHub credentials, but you cannot
  register as a new user.</p>

  <p>Federated log in using GitHub credentials requires that you enable the <a href=
  "https://drupal.org/project/github_connect">Drupal GitHub Connect</a> module on the developer
  portal. After enabling that module, you will see the following button on the log in page:</p>

  <p><img alt="" src="/api-platform/images/Github_button_v24.png"></p>

  <p>The connection between the developer portal and GitHub uses OAuth for authentication.
  Therefore, before you can log in to the developer portal with GitHub credentials, you must first
  create a GitHub app. That app then generates the consumer key and consumer secret used by the
  developer portal and GitHub to communicate.</p>

  <p>In the process below, you first create the GitHub app. After creating the app, enable the
  GitHub Connection module and add the Client ID and Client Secret from the GitHub app.</p>

  <p><strong>Create the GitHub app:</strong></p>

  <ol>
    <li>Navigate to this page in a browser: <a href=
    "https://github.com/settings/applications/new">https://github.com/settings/applications/new</a>
    and, if necessary, log in to your GitHub account.</li>

    <li>Enter the following information about your portal:<br>
    <strong>Application</strong> Name: for example MyApigeePortal<br>
    <strong>Description</strong>: for example My Apigee Portal<br>
    <strong>Website</strong>: for example <span style=
    "font-family:courier new,courier,monospace;">http://{env}-{org-name}.devportal.apigee.com/</span><br>

    <strong>CallbackURL</strong>: The URL of your portal's home page, with the extension
    /github/register/create. For example:<br>
    <br>
    <span style=
    "font-family:courier new,courier,monospace;">http://{env}-{org-name}.devportal.apigee.com/github/register/create</span><br>

     </li>

    <li>Optionally choose an image.</li>

    <li>Select Register application. The GitHub site displays the Client ID and Client Secret that
    you need to configure the GitHub connection module on the developer portal in the form:<br>
    <strong>Client ID</strong>: dbe86111e411d031d8fb<br>
    <strong>Client Secret</strong>: e6bd0f838a288113e8b4e531cb6a9487c27f2d79</li>

    <li>Copy these values to use when configuring the GitHub connection module.</li>
  </ol>

  <p><strong>To enable the Github Connection module:</strong></p>

  <ol>
    <li>Log in to your portal as a user with admin privileges.</li>

    <li>Select Modules in the Drupal administration menu. The list of all installed Drupal modules
    appears.</li>

    <li>Scroll down the page and select the checkbox next to the GitHub Connection module.</li>

    <li>Save your configuration.<br>
    When enabling the GitHub Connection module, you might be notified that other modules also must
    be enabled. These should be enabled automatically.</li>

    <li>After the GitHub Connection module is enabled, select Configuration &gt; People &gt; GitHub
    in the Drupal menu.<br>
    The GitHub configuration screen appears.</li>

    <li>Enter the Client ID and Client Secret from your GitHub application.</li>

    <li>Place the GitHub Connect block where you want it to be displayed.</li>

    <li>Save the configuration.</li>
  </ol>

  <p><strong>To log in as an existing developer using a GitHub account:</strong></p>

  <ol>
    <li>Select the Login link on the developer portal.</li>

    <li>Select the Login with GitHub button on the login page.</li>

    <li>You are redirected to a GitHub page.

      <ul>
        <li>If you are already logged in to GitHub, select Allow access.</li>

        <li>If you are not already logged in to GitHub, enter your GitHub credentials and select
        Authorize app.</li>
      </ul>
    </li>

    <li>If this is the first time that you have logged in using GitHub credentials, you will be
    redirected to a page on the portal where you have to associate your GitHub account with an
    existing account on the developer portal.</li>

    <li>Enter the username and password of the account that you want to associate with your GitHub
    account. You only have to do this once.<br>
    The next time you log in with your GitHub credentials, you will be logged in to the portal
    directly.</li>
  </ol>

  <h2 id="loginusingopenidcredentials">Log in using OpenID credentials</h2>

  <p>OpenID lets you create a single username and password that you can then use to log in to any
  site that supports OpenID. With OpenID, your password is not shared, but resides only with the
  OpenID provider. It is up to the OpenID provider to verify your identity to another website. For
  more information on OpenID, see <a href="https://openid.net/">http://openid.net/</a>.</p>

  <p>If you have an accounts on some of the most popular websites, such as Google or Yahoo, you
  already have an OpenID. For example, a Yahoo email user has an OpenID in the form:</p>

  <p><span style=
  "font-family:courier new,courier,monospace;">https://me.yahoo.com/a/<em>UniqueID</em></span></p>

  <p>where <em>UniqueID</em> is generated by Yahoo. You can use this OpenID to log in to the
  developer portal.</p>

  <p>To support OpenID with the developer portal, you must enable the <a href=
  "https://drupal.org/project/openid">Drupal OpenID</a> module. No other configuration is required
  on the developer portal. After you enable the OpenID module, the following links are
  automatically added to the developer portal login page:</p>

  <p><img alt="" src="/api-platform/images/OpenIDButton_v24.png"></p>

  <p>The developer portal associates an OpenID to your portal account by storing the OpenID in
  your portal profile. After associating an OpenID with your portal account, you can see
  the OpenID by selecting your email address &gt; Edit Profile from the top-level menu in
  the developer portal, and then selecting Manage your OpenIDs. </p>

  <p><strong>To enable the OpenID module:</strong></p>

  <ol>
    <li>Log in to your portal as a user with admin privileges.</li>

    <li>Select Modules in the Drupal administration menu. The list of all installed Drupal modules
    appears.</li>

    <li>Scroll down the page and select the checkbox next to the OpenID module.</li>

    <li>Save your configuration.<br>
    There is no other configuration required on the developer portal.</li>
  </ol>

  <p><strong>To log in as an existing developer using an OpenID:</strong></p>

  <ol>
    <li>Log in to the developer portal by using your <strong>developer</strong> portal
    credentials.</li>

    <li>Select your email address &gt; Edit Profile from the top-level menu in the menu bar.</li>

    <li>On your profile page, select Manage your OpenIDs.</li>

    <li>Enter your OpenID and select Add an OpenID.<br>
    You can now login using your OpenID.</li>

    <li>Log out of the developer portal.</li>

    <li>Select Login.</li>

    <li>On the log in page, select Log in using OpenID.</li>

    <li>Enter your OpenID.</li>

    <li>Select Log in.</li>
  </ol>

  <p>Alternatively, you can log in directly to an existing developer portal account by using your
  OpenID. When you do the first time, you will be asked to log in using your developer portal
  credentials. Logging in for the first time automatically associates your OpenID with the
  developer portal account. You can now log in directly by using your OpenID.</p>

  {% endblock %}
