{% extends "_base.html" %}
{% block title %}Introduction to antipatterns{% endblock %}
{% block body %}

<p>This section is about common antipatterns that are observed as part of the API proxies deployed
on the Apigee Edge platform.</p>

<p>The good news is that each of these antipatterns can be clearly identified and rectified with
appropriate good practices. Consequently, the APIs deployed on Edge would serve their intended
purpose and be more performant.</p>

<h2>Summary of antipatterns</h2>

<p>The following table lists the antipatterns introduced by this section:</p>

  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Antipatterns</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="alt">Policy antipatterns</td>
        <td>
          <ul>
            <li><a href="/api-platform/antipatterns/caching-error">Caching error responses</a></li>
            <li><a href="/api-platform/antipatterns/caching-large">Storing data greater than 512kb
              size in cache</a></li>
            <li><a href="/api-platform/antipatterns/logging-thirdparty-js">Logging data to third
              party servers using the JavaScript policy</a></li>
            <li><a href="/api-platform/antipatterns/non-distributed-quota">Non-distributed quota</a></li>
            <li><a href="/api-platform/antipatterns/reusing-quota">Re-using a Quota policy</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="alt">Performance antipatterns</td>
        <td>
          <ul>
            <li><a href="/api-platform/antipatterns/unused-nodejs">Leaving unused NodeJS API Proxies deployed</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="alt">Generic antipatterns</td>
        <td>
          <ul>
            <li><a href="/api-platform/antipatterns/proxy-within-proxy">Invoking a proxy within proxy using custom code or as a target</a></li>
            <li><a href="/api-platform/antipatterns/payload-with-streaming">Accessing the request/response payload when streaming is enabled</a></li>
            <li><a href="/api-platform/antipatterns/invoking-management">Invoking Management API calls from an API Proxy</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="alt">Backend antipatterns</td>
        <td>
          <ul>
            <li><a href="/api-platform/antipatterns/slow-backend">Slow backend</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

<h2>What is an antipattern?</h2>

<p>Wikipedia defines a software antipattern as:</p>

<blockquote>
{{bigquote}}<p style="text-align: center;"><em>In software engineering, an anti-pattern is a pattern that may be commonly used but
is ineffective and/or counterproductive in practice.</em></p>{{bigquote}}
</blockquote>

<p>Simply put, an antipattern is something that the software allows it’s "user" to do, but is
something that may have adverse functional, serviceable or performance affect.</p>

<p>For example, consider the omnipotent-sounding "God Class/Object".</p>

<p>In objected oriented parlance, a <em>god class</em> is a class that controls too many classes for
a given application.</p>

<p>For example, consider an application with the following reference tree:</p>

<figure>
  <img src="/api-platform/images/antipatterns/godclass.png"/>
  <figcaption><strong>Figure 1</strong>: God class</figcaption>
</figure>

<p>As the image illustrates, the god class uses and references too many classes.</p>

<p>The framework on which the application was developed does not prevent the creation of such a
class, but it has many disadvantages, the primary ones being:</p>
<ul>
  <li>Hard to maintain</li>
  <li>Single point of failure when the application runs</li>
</ul>

<p>Consequently, creation of such a class should be avoided. It is an <em>antipattern</em>.</p>

<h2>Target audience</h2>

<p>This section best serves Apigee Edge developers as they progress through the lifecycle of designing
and developing API proxies for their services. It should ideally be used as a reference guide during
the API development lifecycle and during troubleshooting.</p>

{% endblock %}
