  {% extends "_base.html" %} {% block title %}Download API proxies{% endblock %} {% block body %}

  <p>Reasons to download an API proxy (as a zip file) from Edge:</p>

  <ul>
    <li>You want to <a href=
    "/api-platform/fundamentals/build-simple-api-proxy.html#importinganapiproxyfromanapiproxybundle">
    add the API proxy</a> to another organization.</li>

    <li>You want to unzip the API proxy to your local system. This is useful for setting up
    file-based API proxy development in source control, or for just looking at the file-based
    version of the resources. The extracted .zip creates the required directory structure for API
    proxy deployment.</li>
  </ul>

  <table>
    <thead>
      <tr>
        <th>Download with the management UI</th>

        <th>Download with the management API</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <ol>
            <li>Go to the API proxy editor <strong>Develop</strong> tab.</li>

            <li>Select the proxy <strong>revision</strong> you want to download.</li>

            <li>Select <strong>Project &gt; Download Revision</strong>.</li>
          </ol>

          <p><img alt="" src="/api-platform/images/proxy_download_ui.png"></p>
        </td>

        <td>See <a href=
        "/management/apis/get/organizations/{org_name}/apis/{api_name}/revisions/{revision_number}">
        Export API Proxy</a>.</td>
      </tr>
    </tbody>
  </table>

  <p>For more information, including using scripts, see this Apigee Community post: <a href=
  "https://community.apigee.com/articles/14364/4mv4d-management-api-download-proxy.html">https://community.apigee.com/articles/14364/4mv4d-management-api-download-proxy.html</a>.</p>

  <p>Watch the following videos to learn more about downloading an API proxy.</p>

  <table>
    <thead>
      <tr>
        <th>Video</th>

        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><a href="https://www.youtube.com/watch?v=acVv859BlsM" target="_blank">Download API
        proxy (New Edge)</a></td>

        <td>Download an API proxy using the New Edge UI and Edge Management API.</td>
      </tr>

      <tr>
        <td><a href="https://www.youtube.com/watch?v=gMdyL3wiMkY" target="_blank">Download API
        proxy (Classic Edge)</a></td>

        <td>Download an API proxy using the Classic Edge UI and Edge Management UI.</td>
      </tr>
    </tbody>
  </table>

  {% endblock %}
