  {% extends "_base.html" %} {% block title %}Caching videos{% endblock %} {% block body %}
<p>Watch the following videos to learn more about the Assign Message policy.</p>

  <table>
    <thead>
      <tr>
        <th>Video</th>

        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><a href="https://www.youtube.com/watch?v=hkBRz8jF4fk" target="_blank">Improve API performance using API caching in Apigee Edge</a></td>

        <td>Understand the advantages of using API caching on Apigee Edge.</td>
      </tr>
      <tr>
        <td><a href="https://www.youtube.com/watch?v=SG0nK4sRqY8" target="_blank">Advantages of API caching using Apigee Edge</a></td>

        <td>Understand the advantages of using API caching on Apigee Edge.</td>
      </tr>
      <tr>
        <td><a href="https://www.youtube.com/watch?v=XS93EZYYbTU" target="_blank">Manage data changes on the backend with API caching</a></td>

        <td>Learn how to clear the cached data if data changes on the backend.</td>
      </tr>

      <tr>
        <td><a href="https://www.youtube.com/watch?v=eY32mk4zshA" target="_blank">Skip cache data using Apigee Edge</a></td>
        <td>Learn how to skip cache data based on runtime conditions so that you can selectively cache API response data based on requirements.</td>
      </tr>
      <tr>
        <td><a href="https://www.youtube.com/watch?v=5m7_RVCI6vc" target="_blank">Expire cache data using Response Cache policy</a></td>

        <td>Learn how to expire the cache using cache expiration settings in the policy.</td>
      </tr>

      <tr>
        <td><a href="https://www.youtube.com/watch?v=IbbclMwzOe4" target="_blank">Cache resources using Apigee Edge</a></td>

        <td>Learn how to categorize API cache data into different cache resources so that you can flush all at once or have different expiration settings.</td>
      </tr>
      <tr>
        <td><a href="https://www.youtube.com/watch?v=TCY0otgN3pk" target="_blank">Dynamic API caching using Cache Keys</a></td>

        <td>Learn how to cache API responses dynamically based on API Request variables in Response Cache Policy and Cache Keys.</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
