  {% extends "_base.html" %} {% block title %}Mock Target API{% endblock %} {% block body %}

  <p>Apigee provides a mock target RESTful API. Use the API in your own API-building
  experiments.</p>

  <p>In Edge, you could specify one of these endpoints, passing an API key for security, with
  HTTPTargetConnection element code such as the folowing:</p>
  <pre class="prettyprint">
&lt;TargetEndpoint name="default"&gt;
  &lt;HTTPTargetConnection&gt;
    &lt;URL&gt;http://mocktarget.apigee.net&lt;/URL&gt;
    &lt;Properties&gt;
      &lt;Property name="retain.queryparams"&gt;apikey&lt;/Property&gt;
    &lt;/Properties&gt;
  &lt;/HTTPTargetConnection&gt;
&lt;/TargetEndpoint&gt;
</pre>

  <p>For more about target endpoints, see {{endpoint_properties_reference}}. For information about API keys, see <a href=
  "/api-platform/security/api-keys.html">API keys</a>.</p>

  <p>The following table lists the endpoints in the mock target API.</p>

  <table>
    <thead>
      <tr>
        <th>Task</th>

        <th>Method</th>

        <th>Resource</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><a href="https://apidocs.apigee.com/mocktarget/apis/get/help" target="_blank">Get help</a></td>

        <td><span style="font-family:courier new,courier,monospace;">GET</span></td>

        <td><span style=
        "font-family:courier new,courier,monospace;">http://mocktarget.apigee.net/help</span></td>
      </tr>

      <tr>
        <td><a href="https://apidocs.apigee.com/mocktarget/apis/get" target="_blank">View personalized greeting</a></td>

        <td><span style="font-family:courier new,courier,monospace;">GET</span></td>

        <td><span style=
        "font-family:courier new,courier,monospace;">http://mocktarget.apigee.net</span></td>
      </tr>

      <tr>
        <td><a href="https://apidocs.apigee.com/mocktarget/apis/get/user" target="_blank">View personalized greeting</a></td>

        <td><span style="font-family:courier new,courier,monospace;">GET</span></td>

        <td><span style=
        "font-family:courier new,courier,monospace;">http://mocktarget.apigee.net/user</span></td>
      </tr>

      <tr>
        <td><a href="https://apidocs.apigee.com/mocktarget/apis/get/iloveapis" target="_blank">View API affirmation</a></td>

        <td><span style="font-family:courier new,courier,monospace;">GET</span></td>

        <td><span style=
        "font-family:courier new,courier,monospace;">http://mocktarget.apigee.net/iloveapis</span></td>
      </tr>

      <tr>
        <td><a href="https://apidocs.apigee.com/mocktarget/apis/get/ip" target="_blank">View IP address</a></td>

        <td><span style="font-family:courier new,courier,monospace;">GET</span></td>

        <td><span style=
        "font-family:courier new,courier,monospace;">http://mocktarget.apigee.net/ip</span></td>
      </tr>

      <tr>
        <td><a href="https://apidocs.apigee.com/mocktarget/apis/get/xml" target="_blank">View XML response</a></td>

        <td><span style="font-family:courier new,courier,monospace;">GET</span></td>

        <td><span style=
        "font-family:courier new,courier,monospace;">http://mocktarget.apigee.net/xml</span></td>
      </tr>

      <tr>
        <td><a href="https://apidocs.apigee.com/mocktarget/apis/get/json" target="_blank">View JSON response</a></td>

        <td><span style="font-family:courier new,courier,monospace;">GET</span></td>

        <td><span style=
        "font-family:courier new,courier,monospace;">http://mocktarget.apigee.net/json</span></td>
      </tr>

      <tr>
        <td><a href="https://apidocs.apigee.com/mocktarget/apis/get/echo" target="_blank">View request headers and body</a></td>

        <td><span style="font-family:courier new,courier,monospace;">GET</span></td>

        <td><span style=
        "font-family:courier new,courier,monospace;">http://mocktarget.apigee.net/echo</span></td>
      </tr>

      <tr>
        <td><a href="https://apidocs.apigee.com/mocktarget/apis/post/echo" target="_blank">Send request and view request headers and body</a></td>

        <td><span style="font-family:courier new,courier,monospace;">POST</span></td>

        <td><span style=
        "font-family:courier new,courier,monospace;">http://mocktarget.apigee.net/echo</span></td>
      </tr>

      <tr>
        <td><a href="https://apidocs.apigee.com/mocktarget/apis/get/statuscode/%7Bcode%7D" target="_blank">View status code and message</a></td>

        <td><span style="font-family:courier new,courier,monospace;">GET</span></td>

        <td><span style=
        "font-family:courier new,courier,monospace;">http://mocktarget.apigee.net/statuscode/{code}</span></td>
      </tr>

      <tr>
        <td><a href="https://apidocs.apigee.com/mocktarget/apis/get/auth" target="_blank">Validate access using basic authentication</a></td>

        <td><span style="font-family:courier new,courier,monospace;">GET</span></td>

        <td><span style=
        "font-family:courier new,courier,monospace;">http://mocktarget.apigee.net/auth</span></td>
      </tr>
    </tbody>
  </table>

  <aside class="key-point"><b>Tip:</b> The documentation was built using SmartDocs by importing the
  OpenAPI specification available in GitHub at: <span class="s1"><a href=
  "https://github.com/apigee/api-platform-samples/tree/master/default-proxies/helloworld/openapi/mocktarget.yaml">
  https://github.com/apigee/api-platform-samples/tree/master/default-proxies/helloworld/openapi/mocktarget.yaml</a>.
  For more information about using SmartDocs, see <a href=
  "/api-platform/publish/drupal/using-smartdocs-document-apis.html">Using SmartDocs to document
  APIs</a>.</span></aside>

  {% endblock %}
