  {% extends "_base.html" %} {% block title %}API Proxy Cookbook patterns{% endblock %} {% block body %}

  <p>This topic discusses some of the API proxy development patterns demonstrated in the Apigee
  Edge cookbook samples. As we add more cookbook samples, we plan to add more patterns to this
  topic. </p>

  <h2 id="thejavascripthttpclientpattern">The JavaScript HTTP client pattern</h2>

  <p>The JavaScript HTTP client pattern is one of several patterns that you can use to create
  <strong>server-side mashups</strong> with Apigee Edge. Apigee's JavaScript Object Model allows
  you to wire JavaScript code directly into an API proxy flow. The object
  model's <strong>httpClient</strong> object allows you to make calls to backend services and
  retrieve results using JavaScript. </p>

  <aside class="key-point"><b>Tip:</b> The JavaScript HTTP client pattern is only one of several
  ways to create mashups with Apigee API proxies. If you are prefer editing XML files, policy
  composition may be the best technique for you. If you prefer writing server-side JavaScript code,
  you can develop a JavaScript client application or a Node.js application to achieve the same
  results. </aside>

  <p>The <a href=
  "/api-platform/samples/cookbook/implementing-http-clients-javascript.html">JavaScript HTTP client
  cookbook sample</a> illustrates this API proxy pattern. The sample uses a JavaScript HTTP client
  to call multiple backend services. The returned results are then collected, mashed up, and
  returned as a single JSON object. As you will see, the JavaScript HTTP client is attached as a
  policy to the ProxyEndpoint. This pattern does not require you to use a TargetEndpoint; the
  JavaScript HTTP client handles all communication with the backend targets.</p>

  <p>See <a href=
  "/api-platform/samples/cookbook/implementing-http-clients-javascript.html">Implementing HTTP
  clients in JavaScript</a> for a complete example illustrating the JavaScript HTTP client
  pattern. </p>

  <h2 id="thepolicycompositionpattern">The policy composition pattern</h2>

  <p>Policy composition is an Apigee API proxy pattern that lets you combine results from multiple
  backend targets into a single response using policies. In effect, policy composition lets you
  create mashups using policies.</p>

  <aside class="key-point"><b>Tip:</b> Policy composition is only one of several ways to create
  mashups with Apigee API proxies. If you prefer editing XML files to writing code, then policy
  composition may be the best technique for you. If you prefer writing server-side JavaScript code,
  you can develop a JavaScript client application or a Node.js application to achieve the same
  results. </aside>

  <p>At the heart of the policy composition pattern is the <a href=
  "/api-platform/reference/policies/service-callout-policy.html">ServiceCallout</a> policy.
  The ServiceCallout policy acts as an HTTP client to the backend API or service. To be completely
  functional, however, a ServiceCallout relies on other policies to enable meaningful interaction
  with a remote API or service. Other policies are used to generate the request message that is
  sent by the ServiceCallout and to parse the content in the response message from the remote API
  or service.  </p>

  <div>
    <p>The <a href="/api-platform/samples/cookbook/using-policy-composition.html">policy
    composition cookbook example</a> uses three policies: <a href=
    "/api-platform/reference/policies/assign-message-policy.html">AssignMessage</a>, <a href=
    "/api-platform/reference/policies/service-callout-policy.html">ServiceCallout</a>,
    and <a href=
    "/api-platform/reference/policies/extract-variables-policy.html">ExtractVariables</a>. These
    policies encapsulate the <strong>request</strong> message(s) you wish to send to the
    backend, the <strong>client</strong> that routes the message to the backend, and
    a <strong>message parser</strong> that parses the response from each API and assigns
    variables for the response data. After all the calls have been made, the collected variables
    are combined and returned in a single JSON object.</p>

    <p>Here's a quick summary of these three policies:</p>

    <ul>
      <li><strong>AssignMessage</strong>: Creates a request message, populates HTTP headers and
      query parameters, sets the HTTP verb.</li>

      <li><strong>ServiceCallout</strong>: References a message created by the AssignMessage
      policy, defines a target URL for the external call, and defines a name for the response
      object that the target service returns.</li>

      <li><strong>ExtractVariables</strong>: Typically defines a JSONPath or XPath expression that
      parses the message generated by the preceding ServiceCallout policy. The policy then sets
      variables containing the values parsed from the ServiceCallout response. </li>
    </ul>

    <p>See <a href="/api-platform/samples/cookbook/using-policy-composition.html">Using policy
    composition</a> for a complete example demonstrating the policy composition pattern. </p>

    <h2 id="gethelp">Get Help</h2>

    <p>For help, see <a href="https://community.apigee.com/content/apigee-customer-support">Apigee
    Customer Support</a>.</p>
  </div>

  {% endblock %}
